{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('category') }}">Categories</a></li>
<li><a href="{{ path('category_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<small>Category ID #{{ entity.id }}</small>
	<br/>
    <h1>{{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

{{ form_start(edit_form, {'action': path('category_update', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-10">
				    {{ form_errors(edit_form) }}
					{{ form_row(edit_form.name) }}
					{{ form_row(edit_form.parent) }}
					{{ form_row(edit_form.description) }}
					
					<div class="form-group form-actions">
					    <div class="col-lg-offset-4 col-lg-10">
						    {{ form_widget(edit_form.save) }}
	            			<a href="{{ path('category_show', { 'id': entity.id }) }}" class="btn btn-outline">Back</a>
		            	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}