{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li class="active">Categories</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <h1>{{ FAIcon('sitemap') }} Categories</h1>
            <div class="pull-right">
				{% if is_expr_granted("hasAnyRole('ROLE_CATEGORY_CREATE')") %}
        			<a class="btn btn-success btn-labeled btn-sm" href="{{ path('category_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
        		{% endif %}
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('category') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
            </div>
	    </div>
	    
	    <!-- search form -->
	    {{ macros.searchFilter(search_form, 'category') }}
	    <!-- end of search form -->
	    
	    {% if pagination.getPaginationData['totalCount'] > 0 %}
	         <div id="display-count" class="pull-right">
	             {{ macros.paginationCount(pagination) }}
    		</div>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
					<tr>
						<th class="col-md-1">Action</th>
						<th class="col-md-3">{% if pagination.isSorted('c.name') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'Name', 'c.name') }}{% if pagination.isSorted('c.name') %}</em>{%  endif %}</th>
						<th class="col-md-3">Description</th>
						<th class="col-md-5">Hierarchy</th>
					</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('category_show', {'id':entity.id}) }}">{{ FAIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('category_edit', { 'id': entity.id }) }}">{{ FAIcon('pencil') }} Edit</a></li>
										{% if is_expr_granted("hasAnyRole('ROLE_SUPPLIER_CHANGE_STATUS')") %}
											{{ macros.changeStatus('category_confirm_change_status', entity) }}
										{% endif %}
									</ul>
								</div>
							</td>
							<td><a href="{{ path('category_show', { 'id' : entity.id }) }}">{{ entity.name }}</a>{{ entity|renderTags }}</td>
							<td>{{ entity.description|nl2br }}</td>
							<td>
								{% if entity.parent %}
					            	<ul><li>{{ entity.parent.name }}</li>
					            {% endif %}
					            <ul><strong><li>{{ entity.name }}</li></strong>
					            {% if entity.children %}
					            	{% for child in entity.children %}
					            		<ul>
					            			<li>{{ child.name }}</li>
					            		</ul>
					            	{% endfor %}
				            		</ul>
					            {% endif %}
					            </ul>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
		    {{ knp_pagination_render(pagination) }}
		    </div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}