{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('category') }}">Categories</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>New Category</h1>
</div>

{{ form_start(form, {'action': path('category_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-9">
		    <div class="row">
		        <div class="col-md-10">
					{{ form_row(form.name) }}
					{{ form_row(form.parent) }}
					{{ form_row(form.description) }}
    				
    				<div class="form-group form-actions">
    				    <div class="col-lg-offset-4 col-lg-10">
    					    {{ form_widget(form.save) }}
                		    <a href="{{ path('category') }}" class="btn btn-outline">Back</a>
    	            	</div>
    				</div>
    			</div>
    		</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock content %}