{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('category') }}">Categories</a></li>
<li class="active">{{ entity.name }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="btn-group pull-right btn-group-sm">
		{% if is_expr_granted("hasRole('ROLE_CATEGORY_UPDATE')") %}
	        <a href="{{ path('category_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAListIcon('pencil') }} Edit</a>
	        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">		
					<li><a href="{{ path('category_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
					{{ macros.changeStatus('category_confirm_change_status', entity) }}			
				<li><a href="{{ path('category_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
			</ul>
		{% endif %}
	</div>
	<small>Category ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row">
	<div class="col-md-4">
		<table class="table table-no-border profile">
			<tbody>
				<tr>
					<th class="col-md-5">Name</th>
					<td>{{ entity.name }}</td>
				</tr>
				<tr>
					<th>Parent Category</th>
					<td>{{ entity.parent.name|default('None') }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ entity.description|nl2br }}</td>
				</tr>
	        </tbody>
		</table>
	</div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock content %}