{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Sales by Item & by Supplier Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <div class="row">
	            <div class="col-xs-6 col-sm-6">
    	        <h1>{{ FAIcon('file', 'page-header-icon') }} Sales by Item & by Supplier Report</h1>
    	        </div>
    	        
    	        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
    	        	{% if params %}
						{% set exportParams = [] %}
						
						{% if params.product %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesitemsupplierreportfiltertype[product]' : params.product.id }) %}
						{% endif %}
						
						{% if params.supplier %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesitemsupplierreportfiltertype[supplier]' : params.supplier.id }) %}
						{% endif %}
					
						<div class="pull-right">
						    <a class="btn btn-default btn-labeled btn-sm" href="{{ path('get_sales_item_supplier_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
                </div>
            </div>
	    </div>
	   
	    
		<div class="row search-filters">
            {{ form_start(search_form, { 'action' : path('get_sales_item_supplier'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
		 	    {{ bootstrap_set_style('horizontal') }}
		 		<div class="col-md-5">
					{{ form_row(search_form.product) }}
					{{ form_row(search_form.supplier) }}
					{{ form_row(search_form.search) }}
				</div>
            {{ form_end(search_form) }}
		</div>
		
		{% if params %}
		    {% if pagination.getPaginationData['totalCount'] > 0 %}
		        <div id="display-count" class="pull-right">
	             	{{ macros.paginationCount(pagination) }}
    			</div>      		
	    		<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
							    <th class="col-md-4">{{ utils.sortableTableHeader(pagination, 'p.sku', 'Product') }}</th>
							    <th class="col-md-4">{{ utils.sortableTableHeader(pagination, 's.shortName', 'Supplier') }}</th>
							    <th class="col-md-4 text-right">{{ utils.sortableTableHeader(pagination, 'totalSales', 'Total Sales') }}</th>
							</tr>
				        </thead>
				        <tbody>
				        {% for entity in pagination %}
							<tr>
								<td>{{ entity.sku }}</td>
								<td>{{ entity.shortName }}</td>
								<td class="text-right">{{ entity.totalSales|number_format(2) }}</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
							<tr class="text-bold text-bg">
								<td colspan="2">Grand Total</td>
								<td class="text-right">{{ total.totalSales|default(0)|number_format(2) }}</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="pull-right">
				    {{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}