{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Receiving Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <div class="row">
	            <div class="col-xs-6 col-sm-6">
    	        <h1>{{ FAIcon('file', 'page-header-icon') }} Receiving Report</h1>
    	        </div>
    	        
    	        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
    	        	{% if params %}
						{% set exportParams = [] %}
						
						{% if params.roNo %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_receiveorderitemreceivingreportfiltertype[roNo]' : params.roNo }) %}
						{% endif %}

						{% if params.lotNumber %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_receiveorderitemreceivingreportfiltertype[lotNumber]' : params.lotNumber }) %}
						{% endif %}

						{% if params.poId %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_receiveorderitemreceivingreportfiltertype[poId]' : params.poId }) %}
						{% endif %}

						{% if params.product %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_receiveorderitemreceivingreportfiltertype[product]' : params.product.id }) %}
						{% endif %}

						{% if params.dateFrom %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_receiveorderitemreceivingreportfiltertype[dateFrom]' : params.dateFrom|date('m/d/Y') }) %}
						{% endif %}

						{% if params.dateTo %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_receiveorderitemreceivingreportfiltertype[dateTo]' : params.dateTo|date('m/d/Y') }) %}
						{% endif %}
					
						<div class="pull-right">
						    <a class="btn btn-default btn-labeled btn-sm" href="{{ path('get_receive_order_item_receiving_list_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
                </div>
            </div>
	    </div>
	   
	    
		<div class="row search-filters">
            {{ form_start(search_form, { 'action' : path('get_receive_order_item_receiving_list'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
		 	    {{ bootstrap_set_style('horizontal') }}
		 		<div class="col-md-6">
					{{ form_row(search_form.roNo) }}
					{{ form_row(search_form.lotNumber) }}
					{{ form_row(search_form.poId) }}
					{{ form_row(search_form.product) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
            {{ form_end(search_form) }}
		</div>
		
		{% if params %}
		    {% if pagination.getPaginationData['totalCount'] > 0 %}
		        <div id="display-count" class="pull-right">
	             	{{ macros.paginationCount(pagination) }}
    			</div>      		
	    		<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'ro.id', 'RO #') }}</th>
							    <th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'ro.dateReceived', 'RO Date') }}</th>
							    <th class="col-md-2">{{ utils.sortableTableHeader(pagination, 's.name', 'Supplier') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'po.poId', 'PO #') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.barcode', 'Barcode') }}</th>
							    <th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'p.sku', 'Item Description') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.lotNumber', 'Lot #') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.productionDate', 'Production Date') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.quantity', 'Quantity') }}</th>
							</tr>
				        </thead>
				        <tbody>
				        {% for item in pagination %}
							<tr>
								<td><a href="{{ path('receiveorder_show', { 'id' : item.receiveOrder.id }) }}">{{ item.receiveOrder.id }}</a></td>
								<td>{{ utils.formatDate(item.receiveOrder.dateReceived) }}</td>
								<td>{{ item.receiveOrder.supplierName }}</td>
								<td>{{ item.receiveOrder.purchaseOrder.poId }}</td>
								<td>{{ item.barcode }}</td>
								<td>{{ item.purchaseOrderItem.product.sku }} {{ item.purchaseOrderItem.product.name }}</td>
								<td>{{ item.lotNumber }}</td>
								<td>{{ utils.formatDate(item.productionDate) }}</td>
								<td>{{ item.quantity }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
				    {{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}