{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:PurchaseOrder:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li><a href="{{ path('purchaseorder') }}">Purchase Orders</a></li>
<li><a href="{{ path('purchaseorder_show', { 'id' : entity.id }) }}">{{ entity.poId }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('credit-card', 'page-header-icon') }} Purchase Order # {{ entity.poId }}</h1>
	{{ entity|renderStatusTag }}

	{% if entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_APPROVED') %}
		{{ entity.shippingStatus|renderStatusTag }}
	{% endif %}
</div>

{% if form_errors(edit_form) is not empty %}
	{{ form_errors(edit_form) }}<br/>
{% endif %}

{{ form_start(edit_form, {'action': path('purchaseorder_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate', 'ng-controller' : 'PurchaseOrderController' } }) }}
	<div class="row">
		{{ bootstrap_set_style('horizontal') }}
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-5">
					{{ form_row(edit_form.poId) }}
					{{ form_row(edit_form.supplier) }}
					{{ form_row(edit_form.currency) }}
					{{ form_row(edit_form.warehouse) }}
					{{ form_row(edit_form.poDate) }}
				</div>

				<div class="col-sm-5 col-sm-offset-1">
					{{ form_row(edit_form.deliveryDate) }}
					{{ form_row(edit_form.terms) }}
					{{ form_row(edit_form.memo) }}
				</div>
			</div>

			<br/>

			<div class="row">
				<div class="col-sm-12">

					<ul class="nav nav-tabs">
			        	<li class="active"><a href="#items" data-toggle="tab">Items</a></li>
			            <li><a href="#adjustments" data-toggle="tab">Adjustments</a></li>
			        </ul>

			        <div class="tab-content">
			        	<div class="tab-pane fade in active" id="items">
			        		<div class="table-responsive">
			        			<table class="table table-primary table-collection">
									<thead>
										<tr>
											<th class="col-sm-4">Product</th>
											<th class="col-sm-2 text-center">Quantity</th>
											<th class="col-sm-1 text-center">Contract No. <small>(optional)</small></th>
											<th class="col-sm-2 text-center">Unit Cost</th>
											<th class="col-sm-2 text-right">Line Total</th>
											<th class="col-sm-1"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="(key, item) in form.items" ng-cloak>
											{{ macro.item(edit_form.items.vars.prototype) }}
										</tr>
									</tbody>
								</table>

								<btn class="btn btn-outline" ng-click="addItem()" ng-disabled="!form.supplier || form.supplier == 'Choose a supplier'" ng-cloak>{{ FAIcon('plus', 'btn-label') }} Add Item</btn>
			        		</div>
			        	</div>

			        	<div class="tab-pane fade" id="adjustments">
            				<div class="table-responsive">
			        			<table class="table table-primary table-collection">
									<thead>
										<tr>
											<th class="col-sm-7">Description</th>
											<th class="col-sm-4 text-center">Amount</th>
											<th class="col-sm-1"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="(key, adjustment) in form.adjustments" ng-cloak>
											{{ macro.adjustment(edit_form.adjustments.vars.prototype) }}
										</tr>
									</tbody>
								</table>

								<btn class="btn btn-outline" ng-click="addAdjustment()" ng-cloak>{{ FAIcon('plus', 'btn-label') }} Add Adjustment</btn>
			        		</div>
            			</div>
			        </div>
				</div>
			</div>

	    	<div class="row">
				<div class="col-sm-4 col-sm-offset-8">
					<ul class="totals">
						<li>
							<span class="descr">Subtotal</span>
							<span class="amount" ng-bind="form.subtotal|number:2"></span>
						</li>
						<li class="text-danger">
							<span class="descr">Adjustments</span>
							<span class="amount" ng-bind="form.adjustmentTotal|number:2"></span>
						</li>
						<li class="divider">
							<span class="descr">Total</span>
							<span class="amount grand-total" ng-bind="currency + ' ' + (form.total|number:2)"></span>
						</li>
					</ul>
    			</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(edit_form.saveAsDraft) }}
						{% if is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_APPROVE')") %}
							{{ form_widget(edit_form.saveAsApproved) }}
						{% endif %}
						<a href="{{ path('purchaseorder_show', { 'id' : entity.id }) }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
	    </div>
    </div>
    {{ form_widget(edit_form._token) }}
</form>

{% include 'CIInventoryBundle:Misc:typeahead.template.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ macro.generateValues(edit_form) }}
	<script src="{{ asset('assets/js/angular/purchase_order_form.js') }}"></script>
{% endblock %}
