{% import 'CICoreBundle::utils.html.twig' as utils %}
{% include 'CIInventoryBundle:PDF:reportPdfStyles.html.twig' %}

<html>
	<body>
		<h1 class="text-center">PURCHASE ORDER</h1>
		<p class="pull-right"><b>DATE:</b> {{ utils.formatDate(rows.poDate) }}</p>
		<br/>
		<br/>
		<table>
			<tbody>
				<tr>
					<th width="20%">PO #: </th>
					<td class="text-bold">{{ rows.poId }}</td>
					<th>CN/PF #: </th>
					<td class="text-bold">{{ rows.cnPf }}</td>
				</tr>
				<tr>
					<th width="20%">SUPPLIER: </th>
					<td class="text-bold">
						{{ rows.supplier.name }} <br/>
						{{ rows.supplier.address }}
					</td>
					<th>INVOICE #: </th>
					<td class="text-bold">{{ rows.cnPf }}</td>
				</tr>
				<tr>
					<th>CURRENCY: </th>
					<td class="text-bold">{{ rows.currency.currencyName }}</td>
				</tr>
				<tr>
					<th width="20%">DELIVERY DATE: </th>
					<td class="text-bold">{{ utils.formatDate(rows.deliveryDate) }}</td>
					<th>CONTAINER #: </th>
					<td class="text-bold">{{ rows.containerNumber }}</td>
				</tr>
				<tr>
					<th width="20%">TERMS: </th>
					<td class="text-bold">{{ rows.terms }} days</td>
					<th>SEAL #: </th>
					<td class="text-bold">{{ rows.sealNumber }}</td>
				</tr>
				<tr>
					<th width="20%">MEMO: </th>
					<td class="text-bold">{{ rows.memo|nl2br }}</td>
					<th>SHIPMENT ADVICE: </th>
					<td class="text-bold">{{ rows.shipmentAdvice|nl2br }}</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<br/>
		<br/>
		<table class="table-report">
			<tbody>
				<tr>
					{% if is_granted('ROLE_INVENTORY_CLERK') %}
						<th width="25%">QUANTITY</th>
						<th width="50%">PRODUCT</th>
						<th width="25%">CONTRACT #</th>
					{% else %}
						<th width="15%">QUANTITY</th>
						<th width="40%">PRODUCT</th>
						<th width="15%">CONTRACT #</th>
						<th width="15%">UNIT COST</th>
						<th width="15%">LINE TOTAL</th>
					{% endif %}
				</tr>
				{% for item in rows.items %}
					<tr>
						<td class="pull-right">{{ item.quantity|number_format(2) }} kg</td>
						<td class="text-center">{% if item.product.supplierProductName and item.product.supplierProductCode %} {{ item.product.supplierProductName }} {{ item.product.supplierProductCode }} {% else %} {{ item.product.sku }} {{ item.product.name }} {% endif %}</td>
						<td class="text-center">{{ item.contractNumber }}</td>
						{% if not is_granted('ROLE_INVENTORY_CLERK') %}
							<td class="pull-right">{{ item.unitCost|number_format(2) }}</td>
							<td class="pull-right">{{ item.lineTotal|number_format(2) }}</td>
						{% endif %}
					</tr>
				{% endfor %}
				{% if not is_granted('ROLE_INVENTORY_CLERK') %}
					<tr>
						<td class="text-bold pull-right" width="75%">SUBTOTAL</td>
						<td class="pull-right" width="25%">{{ rows.subtotal|number_format(2) }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
		{% if not is_granted('ROLE_INVENTORY_CLERK') %}
			{% if rows.adjustments|length > 0 %}
				<br/>
				<h2>Adjustments</h2>
				<table class="table-report">
					<tbody>
						<tr>
							<th width="75%">DESCRIPTION</th>
							<th width="25%">AMOUNT</th>
						</tr>
						{% for adj in rows.adjustments %}
							<tr>
								<td class="text-center">{{ adj.description }}</td>
								<td class="pull-right">{{ adj.amount|number_format(2) }}</td>
							</tr>
						{% endfor %}
						<tr>
							<td class="text-bold pull-right" colspan="1">ADJUSTMENT TOTAL</td>
							<td class="pull-right">{{ rows.adjustmentTotal|number_format(2) }}</td>
						</tr>
					</tbody>
				</table>
			{% endif %}
		{% endif %}
		<br/>
		<br/>
		<br/>
		{% if not is_granted('ROLE_INVENTORY_CLERK') %}
			<table class="totals">
				<tbody>
					<tr>
						<th width="75%">TOTAL</th>
						<td width="25%">{{ rows.currency.currencyCode }} {{ rows.total|number_format(2) }}</td>
					</tr>
				</tbody>
			</table>
		{% endif %}
	</body>
</html>