{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li class="active">Purchase Orders</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h1>{{ FAIcon('credit-card', 'page-header-icon') }} Purchase Orders</h1>
				</div>
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					<div class="pull-right">
						{% if is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_CREATE')") %}
							<a class="btn btn-success btn-labeled btn-sm" href="{{ path('purchaseorder_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>	
						{% endif %}
						<a class="btn btn-default btn-labeled btn-sm" href="{{ path('purchaseorder') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('purchaseorder'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.poId) }}
					{{ form_row(search_form.supplier) }}
					{{ form_row(search_form.status) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}

					<div class="form-group row">
						<label class="control-label col-lg-4" for="ci_inventorybundle_purchaseorderfilter_isOpen_tooltip">Open Purchase Orders Only
							<span id="ci_inventorybundle_purchaseorderfilter_isOpen_tooltip" data-toggle="tooltip" data-placement="bottom" title="Display only open purchase orders. Open purchase orders include draft or approved Purchase Orders that have not yet been fully received or not voided.">
								<i class="fa fa-info-circle"></i>
							</span>
						</label>
						<div class="col-lg-4">
							{{ form_widget(search_form.isOpen) }}
						</div>
					</div>
				</div>
			{{ form_end(search_form) }}
		</div>
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="bulk-actions" class="pull-left hidden">
				<span id="bulk-indicator" class="text-bg">Bulk Actions:</span>
				{% if is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_APPROVE')") %}
				<div class="btn-group btn-group-md padding-sm-hr">
					<a id="bulk-action-approve" class="btn btn-success btn-sm" data-status="{{ constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_APPROVED') }}">Approve <i class="fa fa-check"></i></a>
				</div>
				{% endif %}
			</div>
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-2">
								<input type="checkbox" id="checkbox-all">
								Actions
							</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'po.poId', 'PO #') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'po.poDate', 'PO Date') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'po.deliveryDate', 'Delivery Date') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 's.shortName', 'Supplier') }}</th>
							<th class="col-md-1">Received</th>
							{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}
								<th class="col-md-2 text-right">{{ utils.sortableTableHeader(pagination, 'po.total', 'Total') }}</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
					{% for entity in pagination %}
						<tr>
							<td>
								<input type="checkbox" id="checkbox-{{ entity.id }}" data-purchase-order-id="{{ entity.id}}" class="bulk-checkbox">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('purchaseorder_show', { 'id': entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
										{% if entity.isEditable %}
											<li><a href="{{ path('purchaseorder_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
											{% if entity.isDeletable %}
												<li class="divider"></li>
												<li><a href="{{ path('purchaseorder_confirm_delete', { 'id': entity.id }) }}">{{ FAListIcon('trash-o') }} Delete</a></li>
											{% endif %}
										{% endif %}				
									</ul>
								</div>
								<span class="purchase-order-tooltip text-danger padding-xs-hr tooltip-danger text-bg hidden" data-purchase-order-id="{{ entity.id }}" data-toggle="tooltip" data-placement="bottom" title="">
									<i class="fa fa-warning"></i>
								</span>
							</td>
							<td><a href="{{ path('purchaseorder_show', { 'id': entity.id }) }}">{{ entity.poId }}</a>{{ entity|renderTags }}</td>
							<td>{{ utils.formatDate(entity.poDate) }}</td>
							<td>{{ utils.formatDate(entity.deliveryDate) }}</td>
							<td>{{ entity.supplier.shortName }}</td>
							<td>
								{% set pct = 0|number_format(2) ~ '%' %}
								{% if entity.qtyOrdered != 0 %}
									{% set pct = ((entity.qtyReceived / entity.qtyOrdered) * 100)|number_format(2) ~ '%' %}
								{% endif %}
								<div class="progress progress-striped" title="{{ pct }}"><div class="progress-bar progress-bar-success" style="width: {{ pct }};">{{ pct }}</div></div>
							</td>
							{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}
								<td class="text-right">{{ entity.currency.currencyCode }} {{ entity.total|number_format(2) }}</td>
							{% endif %}
								
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>
		{% else %}
		<div class="alert">
			No results found.
		</div>
		{% endif %}
		
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/purchase_order.js') }}"></script>
{% endblock %}