{% macro item(item) %}
<td ng-init="form.indexes.item=$last==true?key:-1">
	<div ng-show="!item.hasProduct" ng-class="{'has-error': item.errors.product.length > 0}">
		{{ form_widget(item.product) }}
		<ul class="help-block text-left" ng-show="item.errors.product">
			<li class="text-danger" ng-repeat="error in item.errors.product">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
	
	<p class="form-control-static" ng-bind="item.productName"></p>
</td>
<td>
	<div ng-hide="!item.hasProduct" ng-class="{'has-error': item.errors.quantity.length > 0}">
		{{ form_widget(item.quantity) }}
		<div class="form-control-static">
			<small>kg</small>
		</div> 
		
		<br ng-if="item.errors.quantity"/>
		<ul class="help-block text-left" ng-show="item.errors.quantity">
			<li class="text-danger" ng-repeat="error in item.errors.quantity">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
</td>
<td>
	<div ng-hide="!item.hasProduct" ng-class="{'has-error': item.errors.contactNumber.length > 0}">
		{{ form_widget(item.contractNumber) }}
		
		<ul class="help-block text-left" ng-show="item.errors.contractNumber">
			<li class="text-danger" ng-repeat="error in item.errors.contractNumber">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
</td>
<td>
	<div ng-hide="!item.hasProduct" ng-class="{'has-error': item.errors.unitCost.length > 0}">
		{{ form_widget(item.unitCost) }}
		
		<ul class="help-block text-left" ng-show="item.errors.unitCost">
			<li class="text-danger" ng-repeat="error in item.errors.unitCost">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
</td>
<td>
	<p ng-init="form.subtotal = form.subtotal + (item.quantity * item.unitCost)" ng-hide="!item.hasProduct" class="form-control-static text-right" ng-bind="(item.quantity * item.unitCost)|number:2"></p>
</td>
<td class="text-right">
	<p class="form-control-static">
		<delete-button ng-click="removeItem(key)"></delete-button>
	</p>
</td>
{% endmacro %}

{% macro generateValues(form) %}
<script>
	var items = {};
	var adjustments = {};
	var supplier = "{{ form.vars.value.supplier.id|default }}";
	var terms = "{{ form.vars.value.terms|default(0) }}";
	var currency = {
		id: "{{ form.vars.value.currency.id|default }}",
		currencyCode: "{{ form.vars.value.currency.currencyCode|default('') }}"
	};

	var warehouse = "{{ form.vars.value.warehouse.id|default }}";

	{% for key, item in form.items %}
		var errors = {
			product: [
				{%- if item.product.vars.errors|length > 0 -%}
					{%- for error in item.product.vars.errors -%}
						"{{ error.message }}",
					{%- endfor -%}
				{%- endif -%}
			],
			quantity: [
				{%- if item.quantity.vars.errors|length > 0 -%}
					{%- for error in item.quantity.vars.errors -%}
						"{{ error.message }}",
					{%- endfor -%}
				{%- endif -%}
			],
			contractNumber: [
				{%- if item.contractNumber.vars.errors|length > 0 -%}
					{%- for error in item.contractNumber.vars.errors -%}
						"{{ error.message }}",
					{%- endfor -%}
				{%- endif -%}
			],
			unitCost: [
				{%- if item.unitCost.vars.errors|length > 0 -%}
					{%- for error in item.unitCost.vars.errors -%}
						"{{ error.message }}",
					{%- endfor -%}
				{%- endif -%}
			]
		};
		
		items[{{ key }}] = {
			productId: "{{ item.vars.value.product.id|default(item.vars.value.product) }}",
			productName: "{{ (item.vars.value.product.sku|default ~ ' ' ~ item.vars.value.product.name|default) }}",
			quantity: "{{ item.vars.value.quantity }}",
			contractNumber: "{{ item.vars.value.contractNumber }}",
			unitCost: "{{ item.vars.value.unitCost }}",
			hasProduct: "{{ item.vars.value.product.id|default ? true : false }}",
			noResults: false,
			errors: errors
		};
	{% endfor %}

	{% for key, adj in form.adjustments %}
		var errors = {
			description: [
				{%- if adj.description.vars.errors|length > 0 -%}
					{%- for error in adj.description.vars.errors -%}
						"{{ error.message }}",
					{%- endfor -%}
				{%- endif -%}
			],
			amount: [
				{%- if adj.amount.vars.errors|length > 0 -%}
					{%- for error in adj.amount.vars.errors -%}
						"{{ error.message }}",
					{%- endfor -%}
				{%- endif -%}
			]
		};
	
		adjustments[{{ key }}] = {
			description: "{{ adj.vars.value.description }}",
			amount: "{{ adj.vars.value.amount }}",
			errors: errors
		};
	{% endfor %}
</script>
{% endmacro %}

{% macro adjustment(adj) %}
<td ng-init="form.indexes.adjustment=$last==true?key:-1">
	{{ form_widget(adj.description) }}
	<ul class="help-block text-left" ng-show="adjustment.errors.description" ng-class="{'has-error': adjustment.errors.description.length > 0}">
		<li class="text-danger" ng-repeat="error in adjustment.errors.description">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>
<td ng-init="form.adjustmentTotal = form.adjustmentTotal + (adjustment.amount * 1)">	
	{{ form_widget(adj.amount) }}
	<ul class="help-block text-left" ng-show="adjustment.errors.amount" ng-class="{'has-error': adjustment.errors.amount.length > 0}">
		<li class="text-danger" ng-repeat="error in adjustment.errors.amount">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>
<td class="text-right">
	<p class="form-control-static">
		<delete-button ng-click="removeAdjustment(key)"></delete-button>
	</p>
</td>
{% endmacro %}