<form name="sform" ng-submit="sform.$valid && update()" class="form-horizontal" novalidate="novalidate">
	<input type="hidden" name="_method" value="PUT" />
	<div class="modal-header">
    	<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    	<h4 class="modal-title">Update Shipping Information</h4>
  	</div>
  	<div class="modal-body">
  		<div id="messages" ng-show="message" ng-bind="message" class="alert alert-warning"></div>
  		
    	<div class="row">
    		<div class="col-xs-12">
    		{{ bootstrap_set_style('horizontal') }}
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.cnPf || sform['ci_inventorybundle_purchaseordershipping[cnPf]'].$dirty && sform['ci_inventorybundle_purchaseordershipping[cnPf]'].$invalid }">
    			{{ form_label(form.cnPf) }}
    			<div class="col-lg-5">
    				{{ form_widget(form.cnPf) }}
    				<span class="help-block text-sm" ng-show="errors.cnPf" ng-bind="errors.cnPf"></span> 
    			</div>
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.invoiceNumber || sform['ci_inventorybundle_purchaseordershipping[invoiceNumber]'].$dirty && sform['ci_inventorybundle_purchaseordershipping[invoiceNumber]'].$invalid }">
    			{{ form_label(form.invoiceNumber) }}
    			<div class="col-lg-5">
    				{{ form_widget(form.invoiceNumber) }}
    				<span class="help-block text-sm" ng-show="errors.invoiceNumber" ng-bind="errors.invoiceNumber"></span> 
    			</div>
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.invoiceNumber || sform['ci_inventorybundle_purchaseordershipping[containerNumber]'].$dirty && sform['ci_inventorybundle_purchaseordershipping[containerNumber]'].$invalid }">
    			{{ form_label(form.containerNumber) }}
    			<div class="col-lg-5">
    				{{ form_widget(form.containerNumber) }}
    				<span class="help-block text-sm" ng-show="errors.containerNumber" ng-bind="errors.containerNumber"></span> 
    			</div>
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.sealNumber || sform['ci_inventorybundle_purchaseordershipping[sealNumber]'].$dirty && sform['ci_inventorybundle_purchaseordershipping[sealNumber]'].$invalid }">
    			{{ form_label(form.sealNumber) }}
    			<div class="col-lg-5">
    				{{ form_widget(form.sealNumber) }}
    				<span class="help-block text-sm" ng-show="errors.sealNumber" ng-bind="errors.sealNumber"></span> 
    			</div>
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.shipmentAdvice || sform['ci_inventorybundle_purchaseordershipping[shipmentAdvice]'].$dirty && sform['ci_inventorybundle_purchaseordershipping[shipmentAdvice]'].$invalid }">
    			{{ form_label(form.shipmentAdvice) }}
    			<div class="col-lg-8">
    				{{ form_widget(form.shipmentAdvice) }}
    				<span class="help-block text-sm" ng-show="errors.shipmentAdvice" ng-bind="errors.shipmentAdvice"></span> 
    			</div>
    		</div>
    		
    		</div>
    	</div>
  	</div>
  	<div class="modal-footer">
  		{{ form_widget(form.save) }}
    	<button type="button" class="btn btn-outline" ng-click="close()">Close</button>
    </div>
    {{ form_widget(form._token) }}
</form>