{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li><a href="{{ path('purchaseorder') }}">Purchase Orders</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}
{% if entity.receiveOrders|length > 0 %}
	{% set hasReceived = true %}
{% else %}
	{% set hasReceived = false %}
{% endif %}

<div class="page-header">
	<div class="row">
		<div class="col-sm-5">
			<h1>{{ FAIcon('credit-card') }} Purchase Order # {{ entity.poId }}</h1>
			{{ entity|renderStatusTag }}

			{% if entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_APPROVED') %}
				{{ entity.shippingStatus|renderStatusTag }}
			{% endif %}
		</div>

		<div class="col-sm-7">
			<div class="pull-right btn-toolbar">
				<div class="btn-group">
					{% if entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_DRAFT') and is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_APPROVE')") %}
						<a class="btn btn-outline btn-success" href="{{ path("purchaseorder_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_APPROVED')}) }}">{{ FAIcon('check') }} Approve</a>
					{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_APPROVED') and entity.activeReceiveOrders|length == 0  and is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_APPROVE')") %}
						<a class="btn btn-outline btn-danger" href="{{ path("purchaseorder_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_DRAFT')}) }}">{{ FAIcon('thumbs-down') }} Unapprove</a>
					{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_APPROVED') %}
						<a class="btn btn-outline disabled" href="#">{{ FAIcon('check') }} Approved</a>
					{% endif %}
				</div>

				{% if entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_APPROVED') %}
					<div class="btn-group">
						<a href="#" ng-controller="PurchaseOrderShippingController" ng-click="edit()" class="btn btn-default">{{ FAIcon('cube') }} Shipping Information</a>
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">{{ FAIcon('caret-down') }}</a>
						<ul class="dropdown-menu">
							{% if entity.shippingStatus != constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::SHIPPING_STATUS_PENDING') %}
								<li><a href="{{ path("purchaseorder_change_shipping_status", { 'id' : entity.id, 'status' : constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::SHIPPING_STATUS_PENDING') }) }}">{{ FAIcon('clock-o') }} Pending</a></li>
							{% endif %}
							{% if entity.shippingStatus != constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::SHIPPING_STATUS_ON_PROCESS') %}
								<li><a href="{{ path("purchaseorder_change_shipping_status", { 'id' : entity.id, 'status' : constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::SHIPPING_STATUS_ON_PROCESS') }) }}">{{ FAIcon('cogs') }} On Process</a></li>
							{% endif %}
							{% if entity.shippingStatus != constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::SHIPPING_STATUS_RECEIVING') %}
								<li><a href="{{ path("purchaseorder_change_shipping_status", { 'id' : entity.id, 'status' : constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::SHIPPING_STATUS_RECEIVING') }) }}">{{ FAIcon('cubes') }} Receiving</a></li>
							{% endif %}
						</ul>
					</div>
				{% endif %}

				<div class="btn-group btn-group-md">
					{% if entity.isEditable and is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_UPDATE')") %}			
						<a href="{{ path('purchaseorder_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
					{% endif %}
					<a href="{{ path('purchaseorder_export', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('print') }} Print</a>
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More {{ FAIcon('caret-down') }}</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('purchaseorder_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
							{% if entity.status < constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_VOID') %}
								<li class="divider"></li>
								{% if entity.isDeletable and is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_DELETE')") %}
									<li><a href="{{ path('purchaseorder_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
								{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_APPROVED') %}
									{% if entity.activeReceiveOrders|length == 0 and is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_VOID')") %}
										<li><a href="{{ path("purchaseorder_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_VOID')}) }}">{{ FAIcon('warning ') }} Void</a></li>
									{% endif %}
									{% if is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_CLOSE')") %}
										<li><a href="{{ path("purchaseorder_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_CLOSED')}) }}">{{ FAIcon('lock') }} Close</a></li>
									{% endif %}								
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>

				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('purchaseorder') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border table-cascade profile">
					<tr>
						<th class="col-xs-4">Supplier</th>
						<td>
							{{ entity.supplier.name }}<br/>
							{{ entity.supplier.address|nl2br }}
						</td>
					</tr>
					<tr>
						<th>Currency</th>
						<td>{{ entity.currency.currencyName }}</td>
					</tr>
					<tr>
						<th>Warehouse</th>
						<td>{{ entity.warehouse.name|default }}</td>
					</tr>
					<tr>
						<th>PO Date</th>
						<td>{{ utils.formatDate(entity.poDate) }}</td>
					</tr>
					<tr>
						<th>Delivery Date</th>
						<td>{{ utils.formatDate(entity.deliveryDate) }}</td>
					</tr>
					<tr>
						<th>Terms</th>
						<td>{{ entity.terms ~ ' days' }}</td>
					</tr>
				</table>
			</div>

			{% if entity.status > constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_DRAFT') %}
				<div class="col-md-6 col-xs-12">
					<table class="table table-no-border profile" ng-controller="PurchaseOrderShippingController">
						<tr>
							<th class="col-xs-4">CN/PF #</th>
							<td ng-bind="shippingInformation.cnPf">{{ entity.cnPf }}</td>
						</tr>
						<tr>
							<th>Invoice #</th>
							<td ng-bind="shippingInformation.invoiceNumber">{{ entity.invoiceNumber|nl2br }}</td>
						</tr>
						<tr>
							<th>Container #</th>
							<td ng-bind="shippingInformation.containerNumber">{{ entity.containerNumber|nl2br }}</td>
						</tr>
						<tr>
							<th>Seal #</th>
							<td ng-bind="shippingInformation.sealNumber">{{ entity.sealNumber|nl2br }}</td>
						</tr>
						<tr>
							<th>Shipment Advice</th>
							<td ng-bind-html="shippingInformation.shipmentAdvice | nl2br">{{ entity.shipmentAdvice|nl2br }}</td>
						</tr>
					</table>
				</div>
			{% endif %}
		</div>

		<br/>

		<div class="row">
			<div class="col-md-12">

				<ul class="nav nav-tabs">
		        	<li class="active"><a href="#items" data-toggle="tab">Items</a></li>
		            <li><a href="#adjustments" data-toggle="tab">Adjustments</a></li>
		        </ul>

			    <div class="tab-content">
			    	<div class="tab-pane fade in active" id="items">
						<div class="table-responsive">
							<table class="table table-light">
								<thead>
									<tr>
										<th class="col-sm-4">Product</th>
										<th class="col-sm-2 text-right">Quantity</th>
										<th class="col-sm-2">Contract No.</th>
										{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}
											<th class="col-sm-2 text-right">Unit Cost</th>
											<th class="col-sm-2 text-right">Line Total</th>
										{% endif %}										
									</tr>
								</thead>
								<tbody>
									{% for item in entity.items %}
										<tr>
											<td>
												<a href="{{ path('product_show', { 'id' : item.product.id }) }}">{% if item.product.supplierProductName and item.product.supplierProductCode %} {{ item.product.supplierProductName }} {{ item.product.supplierProductCode }} {% else %} {{ item.product.sku }} {{ item.product.name }} {% endif %}</a>
												{% if hasReceived %}
													<br/>
													<small class="text-muted">Total Received: {{ item.totalReceived|number_format(2) }} of {{ item.quantity|number_format(2) }}</small>
												{% endif %}
											</td>
											<td class="text-right">{{ item.quantity|decimal }} <small class="text-muted">kg</small></td>
											<td>{{ item.contractNumber }}</td>
											{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}
												<td class="text-right">{{ item.unitCost|number_format(2) }}</td>
												<td class="text-right">{{ item.lineTotal|number_format(2) }}</td>
											{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					<div class="tab-pane fade" id="adjustments">
            			<div class="table-responsive">
            				{% if entity.adjustments|length > 0 %}
			        		<table class="table table-light">
								<thead>
									<tr>
										<th class="col-sm-7">Description</th>
										<th class="col-sm-5 text-right">Amount</th>
									</tr>
								</thead>
								<tbody>
									{% for adj in entity.adjustments %}
									<tr>
										<td>{{ adj.description }}</td>
										<td class="text-right">{{ adj.amount|number_format(2) }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% else %}
								<em>No adjustments found.</em>
							{% endif %}
			        	</div>
            		</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-xs-offset-1">
				{% if entity.memo %}
					<div class="well">
						<p>
							<strong>Memo</strong><br/>
							{{ entity.memo|nl2br }}
						</p>
					</div>
				{% endif %}
			</div>
			{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}
			<div class="col-xs-4 col-xs-offset-1">		
					<ul class="totals">
						<li>
							<span class="descr">Subtotal</span>
							<span id="total" class="amount">{{ entity.subtotal|number_format(2) }}</span>
						</li>
						<li class="text-danger">
							<span class="descr">Adjustments</span>
							<span id="total" class="amount">{{ entity.adjustmentTotal|number_format(2) }}</span>
						</li>
						<li class="divider">
							<span class="descr">Total</span>
							<span id="total" class="amount grand-total">{{ entity.currency.currencyCode }} {{ entity.total|number_format(2) }}</span>
						</li>
					</ul>				
			</div>
			{% endif %}
		</div>

		{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>

	<div class="col-sm-3">
		<div class="row">
			<div class="panel panel-default custom-panel">
				<div class="panel-heading">
					<span class="panel-title">{{ FAIcon('plus-square', 'panel-title-icon') }}Receive Order Status</span>
				</div> <!-- / .panel-heading -->
				<div class="panel-body">
					<div class="panel-padding no-padding-vr">
						{% if hasReceived %}
							<div class="item">
								{% set totalPct = ((entity.qtyReceived / entity.qtyOrdered) *100)|number_format(2, '.', '') %}
								<span class="item-text2">Total Received:</span>
								<span class="pull-right">
									<small>{{ totalPct|number_format(2) }}%</small>
									{% if totalPct >= 100 %}
										<span class="text-success">{{ FAIcon('check-circle') }}</span>
									{% endif %}
								</span>
								<div class="progress progress-striped" title="{{ totalPct }}%"><div class="progress-bar progress-bar-success" style="width: {{ totalPct }}%;"></div></div>
								<span class="item-text1">{{ entity.qtyReceived|number_format(3) }} / {{  entity.qtyOrdered|number_format(3) }}</span>
							</div>
						{% else %}
							<div class="item">
								<span>
									{% if entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_DRAFT') %}
										Approve this purchase order to start receiving orders.
									{% else %}
										There are no receive orders found for this purchase order.
									{% endif %}
								</span>
							</div>
						{% endif %}

						{% for receiveOrder in entity.receiveOrders %}
							<div class="item">
								 {{ receiveOrder|renderStatusTag('item-status') }}
								<a class="item-link" href="{{ path('receiveorder_show', { 'id' : receiveOrder.id }) }}">{{ utils.formatDate(receiveOrder.dateReceived) }}</a>
								<span class="small">{{ receiveOrder.referenceNumber }}</span><br/>
								<span class="item-text2">{{ receiveOrder.memo|nl2br }}</span>
							</div>
						{% endfor %}
					</div>
				</div> <!-- / .panel-body -->

				{% if entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_APPROVED') %}
				<div class="panel-footer">
					{% if is_expr_granted("hasAnyRole('ROLE_RECEIVEORDER_CREATE')") %}
						<a class="btn btn-primary btn-sm btn-block" href="{{ path('receiveorder_new', { 'poId' : entity.id }) }}">{{ FAIcon('plus') }} Add New</a>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>

		{% if is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_FILE_DOWNLOAD')") %}
			<div class="row">
				<div class="panel panel-default custom-panel">
					<div class="panel-heading">
						<span class="panel-title">{{ FAIcon('paperclip', 'panel-title-icon') }}Attachments</span>
					</div>

					<div class="panel-body">
						<div class="panel-padding no-padding-vr">
						{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}
						{% if entity.files|length > 0 %}
							{% for file in entity.files %}
								{% set fileName = file.name|split('.') %}
								<div class="item">
									<a href="{{ path('purchaseorder_file_download', { 'id': file.id }) }}" class="thumbnail">
										{% if (fileName|last)|lower in imageExtensions %}
											<img src="{{ asset(file.webFilePath) | imagine_filter('image_thumbnail') }}" />
										{% else %}
											{{ file.name }}
										{% endif %}
									</a>
									<span class="item-text1">{{ file.name }}</span><br/>
									<span class="item-text2"></span>
								</div>
							{% endfor %}
						{% else %}
							<div class="item">
								No attachments yet.
							</div>
						{% endif %}
						</div>
					</div>
					{% if is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_FILE_UPLOAD')") %}
						<div class="panel-footer">
							<a class="btn btn-primary btn-sm btn-block" href="{{ path('purchaseorder_file', { 'id' :entity.id }) }}">{{ FAIcon('upload') }} Upload</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
	<script src="{{ asset('assets/js/angular/purchase_order_shipping.js') }}"></script>
	<script>
		shippingCtrl.poId = {{- entity.id -}};
		shippingCtrl.shippingInformation = {
			cnPf: "{{ entity.cnPf }}",
			invoiceNumber: "{{ entity.invoiceNumber }}",
			containerNumber: "{{ entity.containerNumber }}",
			sealNumber: "{{ entity.sealNumber }}",
			shipmentAdvice: "{{ entity.shipmentAdvice|e('js') }}"
		};
	</script>
{% endblock %}
