{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:SalesOrder:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('salesorder') }}">Sales Orders</a></li>
<li><a href="{{ path('salesorder_show', { 'id' : entity.id }) }}">Current Sales Order</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('money', 'page-header-icon') }} Sales Order # {{ entity.refCode }}</h1>
	{{ entity|renderStatusTag }}
</div>

{% if form_errors(edit_form) %}
	{{ form_errors(edit_form) }}
	<br>
{% endif %}

{{ form_start(edit_form, {'action': path('salesorder_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {
	'id':'so-ctrl',
	'class': 'form-horizontal',
	'novalidate' : 'novalidate',
	'ng-controller' : 'SalesOrderController'
} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-5">
			{{ form_row(edit_form.refCode) }}
			{{ form_row(edit_form.customer) }}
			{{ form_row(edit_form.warehouse) }}
			{{ form_row(edit_form.poRefCode) }}
		</div>

		<div class="col-md-5">
			{{ form_row(edit_form.date) }}
			{{ form_row(edit_form.terms) }}
			{{ form_row(edit_form.memo) }}
		</div>
	</div>

	<br/>

	<div class="row">
		<div class="col-sm-12">
			<table class="table table-primary table-collection">
				<thead>
					<tr>
						<th class="col-sm-2">Quotation No.</th>
						<th class="col-sm-2">Product</th>
						<th class="col-sm-1">End Date</th>
						<th class="col-sm-1 text-center">Quantity <small>(KG)</small></th>
						<th class="col-sm-1 text-center">Unit Price</th>
						<th class="col-sm-1 amount">Line Total</th>
						<th class="col-sm-1 action"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, item) in form.items" ng-cloak>
						{{ macro.item(edit_form.items.vars.prototype) }}
					</tr>
				</tbody>
			</table>
			<btn class="btn btn-outline" ng-click="addItem()" ng-disabled="!form.customer.id" ng-cloak>{{ FAIcon('plus', 'btn-label') }} Add Item</btn>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 col-sm-offset-8">
			<ul class="totals">
				<li>
					<span class="descr">SUBTOTAL</span>
					<span ng-bind="form.subtotal|number:2" class="amount"></span>
				</li>
				<li>
					<span class="descr">VAT Amount</span>
					<div class="col-md-6 pull-right">
						<div class="form-group row{% if edit_form.vatAmount.vars.errors|length > 0 %} has-error{% endif %}">
							{{ form_widget(edit_form.vatAmount) }}
							{{ form_errors(edit_form.vatAmount) }}
						</div>
					</div>
				</li>
				<li class="text-danger">
					<span class="descr">EWT <small class="text-muted" ng-bind="form.customer.ewtLabel"></small></span>
					<span ng-bind="form.ewtAmount|number:2" class="amount"></span>
				</li>
				<li class="divider"></li>
				<li>
					<span class="descr">TOTAL</span>
					<span ng-bind="form.total|number:2" class="amount grand-total"></span>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(edit_form.saveDraft) }}
				{% if is_expr_granted("hasAnyRole('ROLE_SALESORDER_APPROVE')") %}
					{{ form_widget(edit_form.saveApproved) }}
				{% endif %}
				<a href="{{ path('salesorder_show', { 'id' : entity.id }) }}" class="btn btn-default">Back</a>
			</div>
		</div>
	</div>
{{ form_widget(edit_form._token) }}
</form>

{% include 'CIInventoryBundle:Misc:typeahead.template.html.twig' %}
{% endblock content %}

{% block javascripts %}
{{ macro.initScript(edit_form) }}
<script src="{{ asset('assets/js/angular/sales_order.js') }}"></script>
{% endblock %}
