{% import 'CICoreBundle::utils.html.twig' as utils %}
{% include 'CIInventoryBundle:PDF:reportPdfStyles.html.twig' %}

<html>
    <body>
        <h1 class="text-center">SALES ORDER</h1>
        <p class="pull-right"><b>DATE:</b> {{ utils.formatDate(rows.date) }}</p>
        <br/>
        <br/>
        <table>
            <tbody>
                <tr>
                    <th width="5%">SO #: </th>
                    <td class="text-bold">{{ rows.refCode }}</td>
                </tr>
                <tr>
                    <th width="8%">Customer: </th>
                    <td class="text-bold">[{{ rows.customer.shortName }}] ({{ rows.customer.name }})</td>
                </tr>
                {% if not rows.poRefCode is empty %}
                    <tr>
                        <th width="5%">PO #: </th>
                        <td>{{ rows.poRefCode }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th width="6%">Terms:</th>
                    <td class="text-bold">{{ rows.terms }} days</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <br/>
        <br/>
        <table class="table-report">
            <tbody>
                <tr>
                    {% if is_granted('ROLE_INVENTORY_CLERK') %}
                        <th width="15%">QUOTATION NO.</th>
                        <th width="11%">END DATE</th>
                        <th width="20%">QUANTITY</th>
                        <th width="54%">PRODUCT</th>
                    {% else %}
                        <th width="15%">QUOTATION NO.</th>
                        <th width="10%">END DATE</th>
                        <th width="13%">QUANTITY</th>
                        <th width="36%">PRODUCT</th>
                        <th width="12%">UNIT PRICE</th>
                        <th width="14%">LINE TOTAL</th>
                    {% endif %}
                </tr>
                {% for item in rows.items %}
                    <tr>
                        <td class="text-center">{{ item.quotation.referenceNumber }}</td>
                        <td>{{ utils.formatDate(item.quotation.validityEndDate) }}</td>
                        <td class="text-right">{{ item.quantity|decimal(2) }} kg</td>
                        <td class="text-left">{% if item.quotation.product.supplierProductName and item.quotation.product.supplierProductCode %} {{ item.quotation.product.supplierProductName }} {{ item.quotation.product.supplierProductCode }} {% else %} {{ item.quotation.product.sku }} {{ item.quotation.product.name }} {% endif %}</td>
                        {% if not is_granted('ROLE_INVENTORY_CLERK') %}
                            <td class="text-right">{{ item.unitPrice|decimal(2) }}</td>
                            <td class="text-right">{{ item.lineTotal|decimal(2) }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <br/>
                {% if not rows.memo is empty%}
                <tr class="pull-left">
                    <td><strong>MEMO: </strong></td>
                    <td>{{ rows.memo|nl2br }}</td>
                </tr>
                {% endif %}
                {% if not is_granted('ROLE_INVENTORY_CLERK') %}
                    <tr>
                        <td class="text-bold pull-right" colspan="4">SUBTOTAL</td>
                        <td class="pull-right" colspan="2">{{ rows.subtotal|decimal(2) }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold pull-right" colspan="4">VAT Amount</td>
                        <td class="pull-right" colspan="2">{{ rows.vatAmount|decimal(2) }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold pull-right" colspan="4">EWT <small>{{ rows.customer.translateEwt(rows.ewt) }}</small></td>
                        <td class="pull-right" colspan="2">{{ (rows.subtotal / 1.12 * rows.ewt)|decimal(2) }}</td>
                    </tr>
                    <tr>
                        <td class="totals" colspan="4">TOTAL</td>
                        <td class="totals" colspan="2">{{ rows.total|decimal(2) }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </body>
</html>
