{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Sales</li>
<li class="active">Sales Orders</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('money', 'page-header-icon') }} Sales Orders</h1>
			<div class="pull-right">
				{% if is_expr_granted("hasAnyRole('ROLE_SALESORDER_CREATE')") %}
					<a class="btn btn-success btn-labeled btn-sm" href="{{ path('salesorder_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
				{% endif %}
					
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('salesorder') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('salesorder'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.refCode) }}
					{{ form_row(search_form.poRefCode) }}
					{{ form_row(search_form.customer) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
					{{ form_row(search_form.status) }}
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'so.status', 'Status') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'so.refCode', 'SO #') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'so.date', 'Date') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'c.shortName', 'Customer') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'so.poRefCode', 'PO #') }}</th>			
							{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}
								<th class="col-md-1 amount">{{ utils.sortableTableHeader(pagination, 'so.total', 'Total') }}</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('salesorder_show', { 'id':entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('salesorder_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
									</ul>
								</div>
							</td>
							<td>{{ entity|renderStatusTag }}</td>
							<td><a href="{{ path('salesorder_show', { 'id':entity.id }) }}">{{ entity.refCode }}</a></td>
							<td>{{ utils.formatDate(entity.date, 'm/d/Y') }}</td>
							<td>{{ entity.customer.shortName }}</td>
							<td>{{ entity.poRefCode }}</td>
							{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}
								<td class="amount">{{ entity.total|number_format(2) }}</td>
							{% endif %}						
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}