{% macro item(item) %}
<td ng-init="form.indexes.item=$last==true?key:-1">
	<div ng-show="!item.hasQuotation" ng-class="{'has-error': item.errors.quotation.length > 0}">
		{{ form_widget(item.quotation) }}
		<ul class="help-block text-left" ng-show="item.errors.quotation">
			<li class="text-danger" ng-repeat="error in item.errors.quotation">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
	
	<p class="form-control-static" ng-bind="item.quotation.refNum"></p>
</td>
<td>
	<div ng-hide="!item.hasQuotation">
		<p class="form-control-static" ng-bind="item.quotation.productName"></p>
		<small class="text-muted">Quantity: <span ng-bind="item.quotation.quantity|number:2"></span></small><br>
		<small class="text-muted">Price: <span ng-bind="item.quotation.price|number:2"></span></small><br>
		<small class="text-muted">On Hand: <span ng-bind="item.quotation.onHand|number:2"></span></small>
	</div>
</td>
<td>
	<div ng-hide="!item.hasQuotation">
		<p class="form-control-static" ng-bind="item.quotation.endDate"></p>
	</div>
</td>
<td>
	<div ng-hide="!item.hasQuotation" ng-class="{'has-error': item.errors.quantity.length > 0}">
		{{ form_widget(item.quantity) }}
	    
	    <ul class="help-block text-left" ng-show="item.errors.quantity">
			<li class="text-danger" ng-repeat="error in item.errors.quantity">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
</td>
<td>
	<div ng-hide="!item.hasQuotation" ng-class="{'has-error': item.errors.unitPrice.length > 0}">
		{{ form_widget(item.unitPrice) }}
		
		<ul class="help-block text-left" ng-show="item.errors.unitPrice">
			<li class="text-danger" ng-repeat="error in item.errors.unitPrice">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
</td>
<td>
	<p ng-hide="!item.hasQuotation" class="form-control-static text-right" ng-bind="displayLineTotal(item.quantity, item.unitPrice)|number:2"></p>
</td>
<td class="text-right">
	<p class="form-control-static">
		<delete-button ng-click="removeItem(key)"></delete-button>
	</p>
</td>
{% endmacro %}

{% macro initScript(form) %}
{% import 'CICoreBundle::utils.html.twig' as utils %}
<script type="text/javascript">
var items = {};
var included = [];
var customer = "{{ form.vars.value.customer.id|default }}";
var ewtLabel = "{{ form.vars.value.customer.translateEwt|default }}";
var ewt = "{{ form.vars.value.customer.ewt|default(0) }}";
var terms = "{{ form.vars.value.terms }}";
var vatAmount = "{{ form.vars.value.vatAmount|default(0) }}";

{% for key, item in form.items %}
	var errors = {
		quotation: [
			{%- if item.quotation.vars.errors|length > 0 -%}
				{%- for error in item.quotation.vars.errors -%}
					"{{ error.message }}",
				{%- endfor -%}
			{%- endif -%}
		],
		quantity: [
			{%- if item.quantity.vars.errors|length > 0 -%}
				{%- for error in item.quantity.vars.errors -%}
					"{{ error.message }}",
				{%- endfor -%}
			{%- endif -%}
		],
		unitPrice: [
			{%- if item.unitPrice.vars.errors|length > 0 -%}
				{%- for error in item.unitPrice.vars.errors -%}
					"{{ error.message }}",
				{%- endfor -%}
			{%- endif -%}
		]
	};

	{% if item.vars.value.quotation is not empty -%}
		included.push("{{ item.vars.value.quotation.id|default(item.vars.value.quotation) }}");
	{% endif %}
	
	items[{{ key }}] = {
		quotation: {
			id : "{{ item.vars.value.quotation.id|default(item.vars.value.quotation) }}",
			refNum: "{{ (item.vars.value.quotation.referenceNumber|default) }}",
			endDate: "{{ item.vars.value.quotation ? utils.formatDate(item.vars.value.quotation.date) : '' }}",
			productName: "{{ (item.vars.value.quotation.product.sku|default ~ ' ' ~ item.vars.value.quotation.product.name|default) }}",
			quantity: "{{ item.vars.value.quotation.quantity|default(0) }}",
			onHand: "{{ item.vars.value.quotation.product.qtyOnHand|default(0) }}",
			price: "{{ item.vars.value.quotation.price|default(0) }}",
			noResults: false,
		},
		quantity: "{{ item.vars.value.quantity }}",
		unitPrice: "{{ item.vars.value.unitPrice }}",
		hasQuotation: "{{ item.vars.value.quotation.id|default ? true : false }}",
		errors: errors
	};
{% endfor %}
</script>
{% endmacro %}