{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('salesorder') }}">Sales Orders</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}
{% set hasDelivered = false %}
{% if entity.shippings|length > 0 %}
    {% set hasDelivered = true %}
{% endif %}

<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>{{ FAIcon('money', 'page-header-icon') }} Sales Order #{{ entity.refCode }}</h1>
			{{ entity|renderStatusTag }}
		</div>

		<div class="col-sm-6">
			<div class="pull-right btn-toolbar">		
				<div class="btn-group">
					{% if entity.status == constant('CI\\InventoryBundle\\Entity\\SalesOrder::STATUS_DRAFT') and is_expr_granted("hasAnyRole('ROLE_SALESORDER_APPROVE')") %}
						<a class="btn btn-outline btn-success" href="{{ path("salesorder_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\SalesOrder::STATUS_APPROVED')}) }}">{{ FAIcon('check') }} Approve</a>
					{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\SalesOrder::STATUS_APPROVED') %}
						<a class="btn btn-outline btn-danger" href="{{ path("salesorder_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\SalesOrder::STATUS_DRAFT')}) }}">{{ FAIcon('thumbs-down') }} Unapprove</a>
					{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\SalesOrder::STATUS_APPROVED') %}
						<a class="btn btn-outline disabled" href="#" class="btn btn-success">{{ FAIcon('check') }} Approved</a>
					{% endif %}
				</div>
				
				<div class="btn-group btn-group-md">	
					{% if entity.isEditable and is_expr_granted("hasAnyRole('ROLE_SALESORDER_UPDATE')") %}
						<a href="{{ path('salesorder_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
					{% endif %}				
					<a href="{{ path('salesorder_export', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('print') }} Print</a>
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('salesorder_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
							{% if entity.status < constant('CI\\InventoryBundle\\Entity\\SalesOrder::STATUS_VOID') %}
								<li class="divider"></li>
								{% if entity.isDeletable and is_expr_granted("hasAnyRole('ROLE_SALESORDER_DELETE')") %}
									<li><a href="{{ path('salesorder_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
								{% else %}
									{% if entity.activeShipping|length > 0 and  is_expr_granted("hasAnyRole('ROLE_SALESORDER_CLOSE')") %}
										<li><a href="{{ path("salesorder_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\SalesOrder::STATUS_CLOSED')}) }}">{{ FAIcon('close') }} Close</a></li>
									{% else %}						
										{% if is_expr_granted("hasAnyRole('ROLE_SALESORDER_VOID')") %}
											<li><a href="{{ path("salesorder_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\SalesOrder::STATUS_VOID')}) }}">{{ FAIcon('warning') }} Void</a></li>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>

				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('salesorder') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-5 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">SO #</th>
						<td>{{ entity.refCode }}</td>
					</tr>
					<tr>
						<th>Customer</th>
						<td>[{{ entity.customer.shortName }}] ({{ entity.customer.name }})</td>
					</tr>
					<tr>
						<th>Warehouse</th>
						<td>{{ entity.warehouse.name|default }}</td>
					</tr>
					<tr>
						<th>PO #</th>
						<td>{{ entity.poRefCode }}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">SO Date</th>
						<td>{{ utils.formatDate(entity.date) }}</td>
					</tr>
					{% if entity.terms > 1 %}
						{% set days = 'days' %}
					{% else %}
						{% set days = 'day' %}
					{% endif %}
					<tr>
						<th>Terms</th>
						<td>{{ entity.terms }} {{ days }}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-light">
						<thead>
							<tr>
								<th class="col-sm-2">Quotation No.</th>
								<th class="col-sm-2">Product</th>
								<th class="col-sm-2 text-center">End Date</th>
								<th class="col-sm-2 text-right">Quantity</th>
								{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}							
									<th class="col-sm-2 text-right">Unit Price</th>
									<th class="col-sm-2 text-right">Line Total</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for item in entity.items %}
								<tr>
									<td>
										<a href="{{ path('quotation_show', { 'id' : item.quotation.id }) }}">{{ item.quotation.referenceNumber }}</a>
									</td>
									<td>
										{% set product = item.quotation.product %}
											<a href="{{ path('product_show', { 'id' : product.id }) }}"><strong>{{ product.sku }}</strong></a> {{ product.name }}
											<br/>
											<small class="text-muted">On Hand: {{ product.totalOnHand|decimal(2) }}</small>
										{% if hasDelivered %}
											<br/>
											<small class="text-muted">Total Delivered: {{ item.totalDelivered|decimal(2) }} of {{ item.quantity|decimal(2) }}</small>
										{% endif %}
									</td>
									<td class="text-center">{{ utils.formatDate(item.quotation.validityEndDate) }}</td>
									<td class="text-right">{{ item.quantity|decimal(2) }} kg</td>
									{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}							
										<td class="text-right">{{ item.unitPrice|decimal(2) }}</td>
										<td class="text-right">{{ item.lineTotal|decimal(2) }}</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-xs-offset-1">
				{% if entity.memo %}
					<div class="well">
						<p>
							<strong>Memo</strong><br/>
							{{ entity.memo|nl2br }}
						</p>
					</div>
				{% endif %}
			</div>
			{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}
			<div class="col-xs-4 col-xs-offset-1">
				<ul class="totals">
					<li>
						<span class="descr">SUBTOTAL</span>
						<span class="amount">{{ entity.subtotal|decimal(2) }}</span>
					</li>
					<li>
						<span class="descr">VAT Amount</span>
						<span class="amount">{{ entity.vatAmount|decimal(2) }}</span>
					</li>
					<li class="text-danger">
						<span class="descr">EWT <small class="text-muted">{{ entity.customer.translateEwt(entity.ewt) }}</small></span>
						<span class="amount">{{ (entity.subtotal / 1.12 * entity.ewt)|decimal(2) }}</span>
					</li>
					<li class="divider"></li>
					<li>
						<span class="descr">TOTAL</span>
						<span class="amount grand-total">{{ entity.total|decimal(2) }}</span>
					</li>
				</ul>
			</div>
			{% endif %}
		</div>

		{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>
	
	<div class="col-md-3">
		<div class="row">
			<div class="panel panel-default custom-panel">
				<div class="panel-heading">
					<span class="panel-title">{{ FAIcon('truck', 'panel-title-icon') }}Delivery Status</span>
				</div>

				<div class="panel-body">
					<div class="panel-padding no-padding-vr">
						{% if hasDelivered %}
							<div class="item">
								{% set totalPct = ((entity.qtyDelivered / entity.qtyOrdered) * 100)|decimal %}
								<span class="item-text2">Total Delivered:</span>
								<span class="pull-right">
									<small>{{ totalPct|decimal(2) }}%</small>
									{% if totalPct >= 100 %}
										<span class="text-success">{{ FAIcon('check-circle') }}</span>
									{% endif %}
								</span>
								<div class="progress progress-striped" title="{{ totalPct }}%"><div class="progress-bar progress-bar-success" style="width: {{ totalPct }}%;"></div></div>
								<span class="item-text1">{{ entity.qtyDelivered|decimal }} / {{  entity.qtyOrdered|decimal }}</span>
							</div>
						{% else %}
							<div class="item">
								<span>
									{% if entity.status == constant('CI\\InventoryBundle\\Entity\\SalesOrder::STATUS_DRAFT') %}
										Approve this sales order to start delivering orders.
									{% else %}
										No deliveries.
									{% endif %}
								</span>
							</div>
						{% endif %}

						{% for dr in entity.shippings %}
							<div class="item">
								{{ dr|renderStatusTag('item-status') }}
								<a class="item-link" href="{{ path('shipping_show', { 'id' : dr.id }) }}">{{ utils.formatDate(dr.deliveryDate) }}</a>
								<span class="small">{{ dr.drId }}</span><br/>
								<span class="item-text2">{{ dr.memo|nl2br }}</span>
							</div>
						{% endfor %}
					</div>
				</div>

				{% if entity.status == constant('CI\\InventoryBundle\\Entity\\SalesOrder::STATUS_APPROVED') %}
					{% if is_expr_granted("hasAnyRole('ROLE_SHIPPING_CREATE')") %}
						<div class="panel-footer">
							<a class="btn btn-primary btn-sm btn-block" href="{{ path('shipping_new', { 'soId' : entity.id }) }}">{{ FAIcon('plus') }} Add New</a>
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
		{% if is_expr_granted("hasAnyRole('ROLE_SALESORDER_FILE_DOWNLOAD')") %}
			<div class="row">
				<div class="panel panel-default custom-panel">
					<div class="panel-heading">
						<span class="panel-title">{{ FAIcon('paperclip', 'panel-title-icon') }}Attachments</span>
					</div>

					<div class="panel-body">
						<div class="panel-padding no-padding-vr">
						{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}
						{% if entity.files|length > 0 %}
							{% for file in entity.files %}
								{% set fileName = file.name|split('.') %}
								<div class="item">
									<a href="{{ path('salesorder_file_download', { 'id': file.id }) }}" class="thumbnail">
										{% if (fileName|last)|lower in imageExtensions %}
											<img src="{{ asset(file.webFilePath) | imagine_filter('image_thumbnail') }}" />
										{% else %}
											{{ file.name }}
										{% endif %}
									</a>
									<span class="item-text1">{{ file.name }}</span><br/>
									<span class="item-text2"></span>
								</div>
							{% endfor %}
						{% else %}
							<div class="item">
								No attachments yet.
							</div>
						{% endif %}
						</div>
					</div>
					{% if is_expr_granted("hasAnyRole('ROLE_SALESORDER_FILE_UPLOAD')") %}
						<div class="panel-footer">
							<a class="btn btn-primary btn-sm btn-block" href="{{ path('salesorder_file', { 'id' :entity.id }) }}">{{ FAIcon('upload') }} Upload</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
