#main-content {
	padding: 0 5px 20px 15px;
}

.document {
	padding: 30px;
	background: #fff;
	-webkit-box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.5);
}

.table.table-no-border tbody th,
	.table.table-no-border tbody tr,
	.table.table-no-border tbody td {
	border: 0;
}