{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</a></li>
<li class="active">Packagings</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <h1>{{ FAIcon('archive', 'page-header-icon') }} Packagings</h1>
            <div class="pull-right">
				{% if is_expr_granted("hasAnyRole('ROLE_PACKAGING_CREATE')") %}
        			<a class="btn btn-success btn-labeled btn-sm" href="{{ path('packaging_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
        		{% endif %}
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('packaging') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
            </div>
	    </div>
	    
	    <!-- search form -->
	    {{ macros.searchFilter(search_form, 'packaging') }}
	    <!-- end of search form -->
	    
	    {% if pagination.getPaginationData['totalCount'] > 0 %}
	         <div id="display-count" class="pull-right">
	             {{ macros.paginationCount(pagination) }}
    		</div>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
					<tr>
						<th class="col-md-1">Actions</th>
						<th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'p.name', 'Name') }}</th>
						<th class="col-md-3">Description</th>
						<th class="col-md-4">Kgs/Unit</th>
					</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('packaging_show', {'id':entity.id}) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('packaging_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{% if is_expr_granted("hasRole('ROLE_PACKAGING_CHANGE_STATUS')") %}
											{{ macros.changeStatus('packaging_confirm_change_status', entity) }}
										{% endif %}
									</ul>
								</div>
							</td>
							<td><a href="{{ path('packaging_show', { 'id' : entity.id }) }}">{{ entity.name }}</a>{{ entity|renderTags }}</td>
							<td>{{ entity.description|nl2br }}</td>
							<td>{{ entity.kgsUnit }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
		    	{{ knp_pagination_render(pagination) }}
		    </div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}