<form name="form" ng-submit="create()" id="packaging-modal" class="form-horizontal" novalidate="novalidate">
	<div class="modal-header">
    	<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    	<h4 class="modal-title">Add New Packaging</h4>
  	</div>
  	
  	<div class="modal-body">
  		<div id="messages" ng-show="message" ng-bind="message" class="alert alert-warning"></div>
  		
  		<div class="row">
    		<div class="col-xs-12">
    		{{ bootstrap_set_style('horizontal') }}
	    		<div class="form-group" ng-class="{ 'has-error' : errors.name || form['ci_inventorybundle_packaging[name]'].$dirty && form['ci_inventorybundle_packaging[name]'].$invalid }">
	    			{{ form_label(form.name) }}
	    			<div class="col-lg-7">
	    				{{ form_widget(form.name, { 'attr' : { 'ng-model' : 'form.name' } }) }}
	    				<span class="help-block text-sm" ng-show="errors.name" ng-bind="errors.name"></span> 
	    			</div>
	    		</div>
	    		
	    		<div class="form-group" ng-class="{ 'has-error' : errors.description || form['ci_inventorybundle_packaging[description]'].$dirty && form['ci_inventorybundle_packaging[description]'].$invalid }">
	    			{{ form_label(form.description) }}
	    			<div class="col-lg-7">
	    				{{ form_widget(form.description, { 'attr' : { 'ng-model' : 'form.description' } }) }}
	    				<span class="help-block text-sm" ng-show="errors.description" ng-bind="errors.description"></span> 
	    			</div>
	    		</div>
	    		
	    		<div class="form-group" ng-class="{ 'has-error' : errors.kgsUnit || form['ci_inventorybundle_packaging[kgsUnit]'].$dirty && form['ci_inventorybundle_packaging[kgsUnit]'].$invalid }">
	    			{{ form_label(form.kgsUnit) }}
	    			<div class="col-lg-3">
	    				{{ form_widget(form.kgsUnit, { 'attr' : { 'ng-model' : 'form.kgsUnit' } }) }}
	    				<span class="help-block text-sm" ng-show="errors.kgsUnit" ng-bind="errors.kgsUnit"></span>
	    			</div>
	    		</div>
    		</div>
    	</div>
  	</div>
  	
  	<div class="modal-footer">
  		{{ form_widget(form._token) }}
  		{{ form_widget(form.save) }}
    	<button type="button" class="btn btn-outline" ng-click="close()">Close</button>
    </div>
</form>