{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('packaging') }}">Packagings</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('archive', 'page-header-icon') }} New Packaging</h1>
</div>

{{ form_start(form, {'action': path('packaging_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-7">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.kgsUnit) }}
    			
    		<div class="form-group form-actions">
    			<div class="col-lg-offset-4 col-lg-10">
    				{{ form_widget(form.save) }}
                	<a href="{{ path('packaging') }}" class="btn btn-outline">Back</a>
    	        </div>
    		</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock content %}