{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('packaging') }}">Packagings</a></li>
<li class="active">{{ entity.name }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="btn-group pull-right btn-group-sm">
		{% if is_expr_granted("hasRole('ROLE_PACKAGING_UPDATE')") %}
	        <a href="{{ path('packaging_edit', { 'id': entity.id }) }}" class="btn">{{ FAListIcon('pencil') }} Edit</a>
	        <button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="{{ path('packaging_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
				<li><a href="{{ path('packaging_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
				{{ macros.changeStatus('packaging_confirm_change_status', entity) }}
			</ul>
		{% endif %}
	</div>
	<small>Packaging ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ FAIcon('archive', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row profile">
	<div class="col-md-4">
		<table class="table table-no-border">
			<tbody>
				<tr>
		            <th>Name</th>
		            <td>{{ entity.name }}</td>
		        </tr>
		        <tr>
		            <th>Printed Description</th>
		            <td>{{ entity.description|nl2br }}</td>
		        </tr>
		        <tr>
		            <th>Kgs/Unit</th>
		            <td>{{ entity.kgsUnit }}</td>
		        </tr>
	        </tbody>
		</table>
	</div>
</div>
{% endblock content %}
