{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active"> Sales Order Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <div class="row">
	            <div class="col-xs-6 col-sm-6">
    	        <h1>{{ FAIcon('file', 'page-header-icon') }} Sales Order Report</h1>
    	        </div>
    	        
    	        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
    	        	{% if params %}
						{% set exportParams = [] %}
						
						{% if params.soId %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesorderreportfiltertype[soId]' : params.soId }) %}
						{% endif %}
						
						{% if params.poId %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesorderreportfiltertype[poId]' : params.poId }) %}
						{% endif %}
						
						{% if params.dateFrom %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesorderreportfiltertype[dateFrom]' : params.dateFrom|date('m/d/Y') }) %}
						{% endif %}
						
						{% if params.dateTo %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesorderreportfiltertype[dateTo]' : params.dateTo|date('m/d/Y') }) %}
						{% endif %}

						{% if params.customer %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesorderreportfiltertype[customer]' : params.customer.id }) %}
						{% endif %}
					
						<div class="pull-right">
						    <a class="btn btn-default btn-labeled btn-sm" href="{{ path('get_sales_order_list_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
                </div>
            </div>
	    </div>
	   
	    
		<div class="row search-filters">
            {{ form_start(search_form, { 'action' : path('get_sales_order_list'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
		 	    {{ bootstrap_set_style('horizontal') }}
		 		<div class="col-md-5">
					{{ form_row(search_form.soId) }}
					{{ form_row(search_form.poId) }}
					{{ form_row(search_form.customer) }}
				</div>
				<div class="col-md-4">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
					{{ form_row(search_form.search) }}
				</div>
            {{ form_end(search_form) }}
		</div>
		
		{% if params %}
		    {% if pagination.getPaginationData['totalCount'] > 0 %}
		        <div id="display-count" class="pull-right">
	             	{{ macros.paginationCount(pagination) }}
    			</div>      		
	    		<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'so.refCode', 'SO #') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'so.date', 'SO Date') }}</th>
							    <th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'c.name', 'Customer') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'so.poRefCode', 'PO #') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'deliveryDate', 'Delivery Date') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'productName', 'Product') }}</th>
							    <th class="col-md-1 text-right">{{ utils.sortableTableHeader(pagination, 'balance', 'Balance') }}</th>
							    <th class="col-md-2 text-right">{{ utils.sortableTableHeader(pagination, 'soi.unitPrice', 'Unit Price') }}</th>
							    <th class="col-md-2 text-right">{{ utils.sortableTableHeader(pagination, 'soi.lineTotal', 'Amount') }}</th>
							</tr>
				        </thead>
				        <tbody>
				        {% for entity in pagination %}
							<tr>
								<td>{{ entity.refCode }}</td>
								<td>{{ utils.formatDate(entity.date) }}</td>
								<td>{{ entity.name }}</td>
								<td>{{ entity.poRefCode }}</td>
								<td>{{ entity.deliveryDate }}</td>
								<td>{{ entity.productName }}</td>
								<td class="text-right">{{ entity.balance }}</td>
								<td class="text-right">{{ entity.unitPrice|decimal(2) }}</td>
								<td class="text-right">{{ entity.lineTotal|decimal(2) }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
				    {{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}