{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active"> Sales by Customer & by Sales Agent Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <div class="row">
	            <div class="col-xs-8 col-sm-8">
    	        <h1>{{ FAIcon('file', 'page-header-icon') }} Sales by Customer & by Sales Agent Report</h1>
    	        </div>
    	        
    	        <div class="col-xs-10 col-sm-10 col-sm-offset-2">
    	        	{% if params %}
						{% set exportParams = [] %}
						
						{% if params.customer %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesbycustomerandsalesagentreportfilter[customer]' : params.customer.id }) %}
						{% endif %}
						
						{% if params.agent %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesbycustomerandsalesagentreportfilter[agent]' : params.agent.id }) %}
						{% endif %}

						<div class="pull-right">
						    <a class="btn btn-default btn-labeled btn-sm" href="{{ path('get_sales_by_customer_and_sales_agent_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
                </div>
    	        
			</div>
		</div>
		
		<div class="row search-filters">
            {{ form_start(search_form, { 'action' : path('get_sales_by_customer_and_sales_agent_report'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
		 	    {{ bootstrap_set_style('horizontal') }}
		 		<div class="col-md-5">
					{{ form_row(search_form.customer) }}
					{{ form_row(search_form.agent) }}
					{{ form_row(search_form.search) }}
				</div>
            {{ form_end(search_form) }}
		</div>
		
		{% if params %}
		    {% if pagination.getPaginationData['totalCount'] > 0 %}
		        <div id="display-count" class="pull-right">
	             	{{ macros.paginationCount(pagination) }}
    			</div>      		
	    		<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
							    <th class="col-md-4">{{ utils.sortableTableHeader(pagination, 'customerShortName', 'Customer') }}</th>
							    <th class="col-md-5">{{ utils.sortableTableHeader(pagination, 'agentName', 'Sales Agent') }}</th>
							    <th class="col-md-3 text-right">{{ utils.sortableTableHeader(pagination, 'soTotal', 'Total Sales') }}</th>
							</tr>
				        </thead>
				        <tbody>
				        {% for entity in pagination %}
							<tr>
								<td>{{ entity.customerShortName }}</td>
								<td>{{ entity.agentName }}</td>
								<td class="text-right">{{ entity.soTotal|decimal(2) }}</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
							<tr class="text-bold text-bg">
								<td colspan="2">Grand Total</td>
								<td class="text-right">{{ totals.grandTotal|number_format(2) }}</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="pull-right">
				    {{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
		
	</div>
</div>
{% endblock %}
    	       