{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Price History Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h1>{{ FAIcon('history', 'page-header-icon') }} Price History Report</h1>
				</div>
				
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
    	        	{% if params %}
						{% set exportParams = [] %}
						
						{% if params.product %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_pricehistoryreportfilter[product]' : params.product.id }) %}
						{% endif %}
					
						<div class="pull-right">
						    <a class="btn btn-default btn-labeled btn-sm" href="{{ path('quotationreport_pricehistory_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
                </div>
			</div>
		</div>
		
		<div class="row search-filters">
            {{ form_start(search_form, { 'action' : path('quotationreport_pricehistory'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
		 	    {{ bootstrap_set_style('horizontal') }}
		 		<div class="col-md-6">
					{{ form_row(search_form.product) }}
					{{ form_row(search_form.search) }}
				</div>
            {{ form_end(search_form) }}
		</div>
		
		{% if params %}
		    {% if pagination.getPaginationData['totalCount'] > 0 %}
		        <div id="display-count" class="pull-right">
	             	{{ macros.paginationCount(pagination) }}
    			</div>      		
	    		<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
							    <th class="col-md-6">{{ utils.sortableTableHeader(pagination, 'p.sku', 'Product Code') }}</th>
							    <th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'q.date', 'Date') }}</th>
							    <th class="col-md-3 text-right">{{ utils.sortableTableHeader(pagination, 'q.price', 'Price') }}</th>
							</tr>
				        </thead>
				        <tbody>
				        {% for row in pagination %}
							<tr>
								<td>{{ row.sku }}</td>
								<td>{{ utils.formatDate(row.date) }}</td>
								<td class="text-right">{{ row.price|number_format(2) }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
				    {{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}