{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Put Away Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
				<h1>{{ FAIcon('file', 'page-header-icon') }} Put Away Report</h1>
				</div>
				
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					{% if params %}
						{% set exportParams = [] %}

						{% if params.pwNo %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_putawayitemputawayreportfiltertype[pwNo]' : params.pwNo }) %}
						{% endif %}

						{% if params.roNo %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_putawayitemputawayreportfiltertype[roNo]' : params.roNo }) %}
						{% endif %}

						{% if params.lotNumber %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_putawayitemputawayreportfiltertype[lotNumber]' : params.lotNumber }) %}
						{% endif %}

						{% if params.product %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_putawayitemputawayreportfiltertype[product]' : params.product.id }) %}
						{% endif %}

						{% if params.dateFrom %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_putawayitemputawayreportfiltertype[dateFrom]' : params.dateFrom|date('m/d/Y') }) %}
						{% endif %}

						{% if params.dateTo %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_putawayitemputawayreportfiltertype[dateTo]' : params.dateTo|date('m/d/Y') }) %}
						{% endif %}
					
						<div class="pull-right">
							<a class="btn btn-default btn-labeled btn-sm" href="{{ path('get_put_away_item_putaway_list_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	   
		
		<div class="row search-filters">
			{{ form_start(search_form, { 'action' : path('get_put_away_item_putaway_list'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-6">
					{{ form_row(search_form.pwNo) }}
					{{ form_row(search_form.roNo) }}
					{{ form_row(search_form.lotNumber) }}
					{{ form_row(search_form.product) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		
		{% if params %}
			{% if pagination.getPaginationData['totalCount'] > 0 %}
				<div id="display-count" class="pull-right">
					{{ macros.paginationCount(pagination) }}
				</div>      		
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'pw.id', 'Put Away #') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'ro.id', 'RO #') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'ro.dateReceived', 'RO Date') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'p.barcode', 'Barcode') }}</th>
								<th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'p.sku', 'Item Description') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.lotNumber', 'Lot #') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.productionDate', 'Production Date') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.quantity', 'Quantity') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'pwi.palletId', 'Pallet ID') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sl.warehouseNumber', 'Storage Location') }}</th>
							</tr>
						</thead>
						<tbody>
						{% for item in pagination %}
							<tr>
								<td><a href="{{ path('putaway_show', { 'id' : item.putAway.id }) }}">{{ item.putAway.id }}</a></td>
								<td><a href="{{ path('receiveorder_show', { 'id' : item.receiveOrderItem.receiveOrder.id }) }}">{{ item.receiveOrderItem.receiveOrder.id }}</a></td>
								<td>{{ utils.formatDate(item.receiveOrderItem.receiveOrder.dateReceived) }}</td>
								<td>{{ item.receiveOrderItem.barcode }}</td>
								<td>{{ item.receiveOrderItem.purchaseOrderItem.product.sku }} {{ item.receiveOrderItem.purchaseOrderItem.product.name }}</td>
								<td>{{ item.lotNumber }}</td>
								<td>{{ utils.formatDate(item.productionDate) }}</td>
								<td>{{ item.quantity }}</td>
								<td>{{ item.palletId }}</td>
								<td>{{ item.storageLocation.fullLocation }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
					{{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}