{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:OrderPicking:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('orderpicking') }}">Order Pickings</a></li>
<li><a href="{{ path('orderpicking_show', { 'id' : entity.id }) }}">{{ entity.id }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>{{ FAIcon('hand-o-right', 'page-header-icon') }} Order Picking # {{ entity.id }}</h1>
	</div>

	{% if form_errors(edit_form) is not empty %}
		{{ form_errors(edit_form) }}<br/>
	{% endif %}

	{{ form_start(edit_form, { 'action' : path('orderpicking_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': { 'class' : 'form-horizontal', 'novalidate' : 'novalidate', 'ng-controller' : 'OrderPickingController', 'ng-init' : 'init()' } }) }}
		{{ bootstrap_set_style('horizontal') }}
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group row">
								{{ form_label(edit_form.shipping) }}
								<div class="col-lg-8">
									{{ form_widget(edit_form.shipping) }}
									<p class="form-control-static"><a href="{{ path('shipping_show', { 'id' : entity.shipping.id }) }}">{{ entity.shipping.id }}</a></p>
								</div>
							</div>

							{{ form_row(edit_form.date) }}
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="table-responsive">
						<table class="table table-primary item-collection">
							<thead>
								<tr>
									<th class="col-md-1 text-right">Quantity</th>
									<th class="col-md-2">Product</th>
									<th class="col-md-2">Lot #</th>
									<th class="col-md-2">Production Date</th>
									<th class="col-md-2">Pallet ID</th>
									<th class="col-md-2">Storage Location</th>
									<th class="col-md-1 action"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-cloak ng-repeat="(key, item) in form.items" ng-init="form.indexes.item = $last == true ? key : -1">
									{{ macro.item(edit_form.items.vars.prototype) }}
								</tr>
							</tbody>
						</table>
						<btn class="btn btn-outline" ng-click="addItem()">{{ FAIcon('plus', 'btn-label') }} Add Item</btn>
					</div>
				</div>
			</div>

			<br/><br/>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(edit_form.save) }}
						<a href="{{ path('orderpicking_show', { 'id' : entity.id }) }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
		{{ form_widget(edit_form._token) }}
	</form>
{% endblock %}

{% block javascripts %}
	{{ macro.initScript(edit_form) }}
	<script src="{{ asset('assets/js/angular/order_picking.js') }}"></script>
{% endblock %}
