{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Sales</li>
<li class="active">Order Pickings</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h1>{{ FAIcon('hand-o-right', 'page-header-icon') }} Order Pickings</h1>
				</div>
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					<div class="pull-right">
						<a class="btn btn-default btn-labeled btn-sm" href="{{ path('orderpicking') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
					</div>
				</div>
			</div>
		</div>

		<div class="row search-filters">
			{{ form_start(search_form, { 'action' : path('orderpicking'), 'method': 'GET', 'attr': { 'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-6">
					{{ form_row(search_form.id) }}
					{{ form_row(search_form.drId) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>

		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'op.id', 'Order Picking #') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 's.id', 'DR #') }}</th>
							<th class="col-md-7">{{ utils.sortableTableHeader(pagination, 'c.name', 'Customer') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'op.date', 'Date') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
							<tr>
								<td class="actions">
									<div class="btn-group btn-group-sm">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
										<ul class="dropdown-menu">
											<li><a href="{{ path('orderpicking_show', { 'id': entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
											<li><a href="{{ path('orderpicking_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>		
										</ul>
									</div>
								</td>
								<td><a href="{{ path('orderpicking_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
								<td><a href="{{ path('shipping_show', { 'id': entity.shipping.id }) }}">{{ entity.shipping.id }}</a></td>
								<td><a href="{{ path('customer_show', { 'id': entity.shipping.salesOrder.customer.id }) }}">{{ entity.shipping.salesOrder.customer.name }}</a></td>
								<td>{{ utils.formatDate(entity.date) }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}