{% macro item(item) %}
	<td>
		<div ng-class="{ 'has-error': item.errors.quantity.length > 0 }">
			{{ form_widget(item.quantity) }}

			<ul class="help-block" ng-show="item.errors.quantity">
				<li class="text-danger" ng-repeat="error in item.errors.quantity">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
	</td>
	<td>
		<div ng-class="{ 'has-error': item.errors.shippingItem.length > 0, 'hide' : item.isPicked }">
			{{ form_widget(item.shippingItem) }}

			<ul class="help-block" ng-show="item.errors.shippingItem">
				<li class="text-danger" ng-repeat="error in item.errors.shippingItem">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
		<span ng-show="item.isPicked" ng-bind="item.product.name"></span>
		<span ng-show="item.isPicked" data-toggle="tooltip" data-placement="right" title="Product has already been picked." class="text-success">{{ FAIcon('check-circle') }}</span>
	</td>
	<td>
		<div ng-class="{ 'has-error': item.errors.lotNumber.length > 0, 'hide' : item.isPicked }">
			{{ form_widget(item.lotNumber) }}

			<ul class="help-block" ng-show="item.errors.lotNumber">
				<li class="text-danger" ng-repeat="error in item.errors.lotNumber">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
		<span ng-show="item.isPicked" ng-bind="item.lotNumber.label"></span>
	</td>
	<td>
		<div ng-class="{ 'has-error': item.errors.productionDate.length > 0 }">
			{{ form_widget(item.productionDate) }}
			<span ng-bind="item.productionDate"></span>

			<ul class="help-block" ng-show="item.errors.productionDate">
				<li class="text-danger" ng-repeat="error in item.errors.productionDate">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
	</td>
	<td>
		<div ng-class="{ 'has-error': item.errors.palletId.length > 0, 'hide' : item.isPicked }">
			{{ form_widget(item.palletId) }}

			<ul class="help-block" ng-show="item.errors.palletId">
				<li class="text-danger" ng-repeat="error in item.errors.palletId">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
		<span ng-show="item.isPicked" ng-bind="item.palletId.label"></span>
	</td>
	<td>
		<div ng-class="{ 'has-error': item.errors.storageLocation.length > 0 }">
			{{ form_widget(item.storageLocation) }}
			<span ng-bind="item.storageLocation.fullLocation"></span>

			<ul class="help-block" ng-show="item.errors.storageLocation">
				<li class="text-danger" ng-repeat="error in item.errors.storageLocation">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
	</td>
	<td class="text-right">
		<p ng-show="!item.isPicked" class="form-control-static">
			<delete-button ng-click="removeItem(key)"></delete-button>
		</p>
	</td>
{% endmacro %}

{% macro initScript(form) %}
	{% import 'CICoreBundle::utils.html.twig' as utils %}

	<script type="text/javascript">
		var items = {};

		{% for key, item in form.items %}
			{% if item.vars.value.storageLocation.active %}
				var errors = {
					quantity: [
						{%- if item.quantity.vars.errors|length > 0 -%}
							{%- for error in item.quantity.vars.errors -%}
								"{{ error.message }}",
							{%- endfor -%}
						{%- endif -%}
					],
					shippingItem: [
						{%- if item.shippingItem.vars.errors|length > 0 -%}
							{%- for error in item.shippingItem.vars.errors -%}
								"{{ error.message }}",
							{%- endfor -%}
						{%- endif -%}
					],
					productionDate: [
						{%- if item.productionDate.vars.errors|length > 0 -%}
							{%- for error in item.productionDate.vars.errors -%}
								"{{ error.message }}",
							{%- endfor -%}
						{%- endif -%}
					],
					lotNumber: [
						{%- if item.lotNumber.vars.errors|length > 0 -%}
							{%- for error in item.lotNumber.vars.errors -%}
								"{{ error.message }}",
							{%- endfor -%}
						{%- endif -%}
					],
					palletId: [
						{%- if item.palletId.vars.errors|length > 0 -%}
							{%- for error in item.palletId.vars.errors -%}
								"{{ error.message }}",
							{%- endfor -%}
						{%- endif -%}
					],
					storageLocation: [
						{%- if item.storageLocation.vars.errors|length > 0 -%}
							{%- for error in item.storageLocation.vars.errors -%}
								"{{ error.message }}",
							{%- endfor -%}
						{%- endif -%}
					]
				};

				items[{{ key }}] = {
					quantity: "{{ item.vars.value.quantity }}",
					isPicked: {{ item.vars.value.isPicked|default(0) }},
					shippingItem: {
						id: "{{ item.vars.value.shippingItem.id|default }}",
					},
					lotNumber: {
						label: "{{ item.vars.value.lotNumber }}"
					},
					lotNumbers: {
						{% for key, choice in item.lotNumber.vars.choices %}
							{{ key }} : {  label: "{{ choice.label }}", },
						{% endfor %}
					},
					palletId: {
						label: "{{ item.vars.value.palletId }}"
					},
					palletIds: {
						{% for key, choice in item.palletId.vars.choices %}
							{{ key }} : {  label: "{{ choice.label }}", },
						{% endfor %}
					},
					product: {
						id: "{{ item.vars.value.shippingItem.salesOrderItem.quotation.product.id|default }}",
						name: "{{ item.vars.value.shippingItem.salesOrderItem.quotation.product.displayName|default }}",
					},
					productionDate: "{{ utils.formatDate(item.vars.value.productionDate|default, 'Y-m-d') }}",
					storageLocation: {
						id: "{{ item.vars.value.storageLocation.id|default }}",
						fullLocation: "{{ item.vars.value.storageLocation.fullLocation|default }}"
					},
					errors: errors
				};
			{% endif %}
		{% endfor %}
	</script>
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
{% endmacro %}