{% extends 'CICoreBundle::layout.html.twig' %}

{% set warehouse = entity.shipping.salesOrder.warehouse.name|lower %}

{% block breadcrumbs %}
	<li>Sales</li>
	<li><a href="{{ path('orderpicking') }}">Order Pickings</a></li>
	<li class="active">View</li>
{% endblock %}

{% block content %}
	<div ng-controller="BarCodeUploadController">
		<div class="page-header">
			<div class="row">
				<div class="col-sm-6">
					<h1>{{ FAIcon('hand-o-right', 'page-header-icon') }} Order Picking # {{ entity.id }}</h1>
				</div>

				<div class="col-sm-6">
					<div class="pull-right btn-toolbar">
						{% if entity.isEditable %}
							<div class="btn-group btn-group-md">
								<a href="{{ path('orderpicking_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
							</div>
							<div class="btn-group btn-group-md">
								<button ng-click="onClickUpload()" class="btn btn-default" href="#">{{ FAIcon('barcode') }} Upload Barcode File</button>
							</div>
						{% endif %}

						<div class="btn-group btn-group-md">
							<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">{{ FAIcon('print') }} Print {{ FAIcon('caret-down') }}</a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('orderpicking_export', { 'id': entity.id }) }}">{{ FAIcon('file') }} Order Picking List</a></li>
								<li><a class="imagelink hide" href="#">{{ FAIcon('map') }} Warehouse Map</a></li>
							</ul>
						</div>

						<div class="btn-group btn-group-md">
							<div class="btn-group">
								<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More {{ FAIcon('caret-down') }}</a>
								<ul class="dropdown-menu">
									<li><a href="{{ path('orderpicking_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
									{% if entity.isDeletable and is_expr_granted("hasAnyRole('ROLE_ORDERPICKING_DELETE')") %}
										<li><a href="{{ path('orderpicking_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
									{% endif %}
								</ul>
							</div>
							<div class="btn-group">
								<a class="btn btn-default" href="{{ path('orderpicking') }}">{{ FAIcon('th-large') }} List All</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<table class="table table-no-border profile">
							<tr>
								<th class="col-xs-4">Delivery #</th>
								<td><a href="{{ path('shipping_show', { 'id' : entity.shipping.id }) }}">{{ entity.shipping.id }}</a></td>
							</tr>
							<tr>
								<th>Date</th>
								<td>{{ utils.formatDate(entity.date) }}</td>
							</tr>
							<tr>
								<th></th>
								<td>
									<input class="hide" type="file" id="scannerFileUpload" accept=".txt" on-read-file="parseScannerText($fileContent)">
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-light">
								<thead>
									<tr>
										<th class="col-md-1 text-right">Quantity</th>
										<th class="col-md-3">Product</th>
										<th class="col-md-2">Lot #</th>
										<th class="col-md-2">Production Date</th>
										<th class="col-md-2">Pallet ID</th>
										<th class="col-md-2">Storage Location</th>
									</tr>
								</thead>
								<tbody>
									{% for item in entity.items %}
										<tr>
											<td class="text-right">{{ item.quantity|decimal(2) }}</td>
											<td>
												<a href="{{ path('product_show', { 'id' : item.shippingItem.salesOrderItem.quotation.product.id }) }}">
													{{ item.shippingItem.productName }}
												</a>
												{% if item.isPicked %}
													<span data-toggle="tooltip" data-placement="right" title="Product has already been picked." class="text-success">{{ FAIcon('check-circle') }}</span>
												{% endif %}
											</td>
											<td>{{ item.lotNumber }}</td>
											<td>{{ utils.formatDate(item.productionDate) }}</td>
											<td>{{ item.palletId }}</td>
											<td>{{ item.storageLocation.fullLocation }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<svg class="{{ warehouse }} hide" width="1250" height="900" viewbox="0 0 1250 900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		var orderPickingId = "{{ entity.id }}";
	</script>
	<script type="text/javascript" src="{{ asset('assets/js/svg_todataurl.js') }}"></script>
	<script src="{{ asset('assets/js/angular/order_picking_barcode_upload.js') }}"></script>
	<script src="{{ asset('assets/js/warehouse_dashboard/' ~ warehouse ~ '.js') }}"></script>
	<script>
		dashboardControl.clickable = false;
		{% for item in entity.items %}
			{% set location = item.storageLocation.fullLocation|slice(0, 8) %}

			if ( $.inArray("{{ location }}", dashboardControl.selected) == -1 ) {
				dashboardControl.selected.push("{{ location }}");
			}
		{% endfor %}
	</script>
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
			dashboardControl.init();
		});
	</script>
{% endblock %}