{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Report</li>
<li class="active">Sales Activity Customer Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="col-xs-6 col-sm-6">
				<h1>{{ FAIcon('tasks', 'page-header-icon') }} Sales Activity Customer Report</h1>
			</div>

			<div class="col-xs-6 col-sm-4 col-sm-offset-2">
				{% if params %}
					{% set exportParams = {
						'ci_inventorybundle_salesactivitycustomerreportfilter[dateFrom]' : params.dateFrom|date('m/d/Y'),
						'ci_inventorybundle_salesactivitycustomerreportfilter[dateTo]' : params.dateTo|date('m/d/Y'),
					} %}
					
					{% if params.inOffice %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesactivitycustomerreportfilter[inOffice]' : params.inOffice }) %}
					{% endif %}
					
					{% if params.customer %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesactivitycustomerreportfilter[customer]' : params.customer.id }) %}
					{% endif %}

					<div class="pull-right">
						<a class="btn btn-default btn-labeled btn-sm" href="{{ path('salesactivity_report_customer_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
					</div>
				{% endif %}
			</div>
		</div>

		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('salesactivity_report_customer'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.inOffice) }}
					{% if search_form.inOffice.vars.data %}
						{{ form_row(search_form.customer, {'attr': {'disabled': 'disabled'}}) }}
					{% else %}
						{{ form_row(search_form.customer) }}
					{% endif %}
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		{% if params %}
			{% if pagination.getPaginationData['totalCount'] > 0 %}
				<div id="display-count" class="pull-right">
					{{ macros.paginationCount(pagination) }}
				</div>

				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sa.date', 'Date') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sa.dayType', 'Day Type') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sai.startTime', 'Start') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sai.endTime', 'End') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sa.agent', 'Agent') }}</th>
								<th class="col-md-1 text-center">{{ utils.sortableTableHeader(pagination, 'sa.readFlag', 'Read?') }}</th>
								<th class="col-md-2">Contact</th>
								<th class="col-md-2">Description</th>
								<th class="col-md-2">Comments</th>
							</tr>
						</thead>
						<tbody>
							{% for entity in pagination %}
							<tr>
								<td>{{ utils.formatDate(entity.salesActivity.date, 'm/d/Y') }}</td>
								<td>{{ entity.salesActivity.dayType }}</td>
								<td>{{ utils.formatDate(entity.startTime, 'g:i A') }}</td>
								<td>{{ utils.formatDate(entity.endTime, 'g:i A') }}</td>
								<td>{{ entity.salesActivity.agent.name }}</td>
								<td class="text-center">
									{% if entity.salesActivity.readFlag %}
										{{ FAIcon('check') }}
									{% else %}
										{{ FAIcon('close') }}
									{% endif %}
								</td>
								<td>{{ entity.contact }}</td>
								<td>{{ entity.description|nl2br }}</td>
								<td>{{ entity.comments|nl2br }}</td>
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="8">
								{% for year, cnt in count %}
									{% for month, num in cnt %}
										{{ month }} {{ year }} = {{ num }}{% if not loop.last %}, {% endif %}
									{% endfor %}
								{% endfor %}
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="pull-right">
					{{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
				<div class="alert">
					No results found.
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
	$( ".in-office" ).click( function() {
		toggleCustomer( $( this ) );
	});

	var toggleCustomer = function( $checkbox ) {
		$customer = $( "select.customer" );
		$customer.attr( "disabled", true );
		
		if ( !$checkbox.is( ":checked" ) ) {
			$customer.attr( "disabled", false );
		}
	};
});
</script>
{% endblock %}
