{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:SalesActivity:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>{{ entity.agent.name }}</li>
<li><a href="{{ path('salesactivity') }}">Sales Activities</a></li>
<li><a href="{{ path('salesactivity_show', { 'id' : entity.id }) }}">{{ utils.formatDate(entity.date, 'm/d/Y') }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('tasks', 'page-header-icon') }} Edit Sales Activity</h1>
</div>

{{ form_start(edit_form, {'action': path('salesactivity_update', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-5">
			{{ form_row(edit_form.dayType) }}
			{% if edit_form.date is defined %}
				{{ form_row(edit_form.date) }}
			{% else %}
				<div class="form-group">
					<label class="control-label col-lg-4">Date</label>
					<div class="col-lg-8">
						<p class="form-control-static">{{ utils.formatDate(entity.date, 'm/d/Y') }}</p>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	
	<br/>
	
	{% set isAuth, isSelf = false, false %}
	{% if entity.agent == app.user %}
		{% set isSelf = true %}
	{% endif %}
	{% if is_granted('ROLE_SALES_MANAGER') %}
		{% set isAuth = true %}
	{% endif %}
	
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-primary table-collection" {% if isSelf == true %}data-prototype="{{ macro.activityItem(edit_form.items.vars.prototype, null, isSelf, isAuth)|e }}"{% endif %}>
				<thead>
					<tr>
						<th class="col-sm-1">In Office</th>
						<th class="col-sm-1">Start Time</th>
						<th class="col-sm-1">End Time</th>
						<th class="col-sm-2">Customer</th>
						<th class="col-sm-2">Contact Person</th>
						<th class="col-sm-3">Description</th>
						{% if isAuth == true %}
						<th class="col-sm-3">Comments</th>
						{% endif %}
						{% if isAuth == true and isSelf == true %}
						<th class="col-sm-1 action"></th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for key, item in edit_form.items %}
						{{ macro.activityItem(item, key, isSelf, isAuth) }}
					{% endfor %}
				</tbody>
			</table>
			{% if isSelf == true %}
				<btn class="btn btn-outline btn-add-item">{{ FAIcon('plus', 'btn-label') }} Add Item</btn>
			{% endif %}
		</div>
	</div>
	
	<br/>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(edit_form.saveAsDraft) }}
				{{ form_widget(edit_form.saveAsApproved) }}
				<a href="{{ path('salesactivity_show', { 'id': entity.id }) }}" class="btn btn-outline">Back</a>
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}

{% block javascripts %}
<script src="{{ asset('assets/js/sales_activity.js') }}"></script>
{% endblock %}