{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:SalesActivity:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>{{ app.user.name }}</li>
<li><a href="{{ path('salesactivity') }}">Sales Activities</a></li>
<li><a href="{{ path('salesactivity_show', { "id" : entity.id }) }}">{{ utils.formatDate(entity.date, 'm/d/Y') }}</a></li>
<li class="active">Upload</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('upload', 'page-header-icon') }} Manage Files <small class="text-muted">({{ utils.formatDate(entity.date, 'm/d/Y') }})</small></h1>
	<br/><small class="text-muted"><em>The maximum file size is 10MB.</em></small>
</div>

{{ form_start(form, {'action': path('salesactivity_file_upload', { "id" : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal'} }) }}
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-primary table-collection" data-prototype="{{ macro.filePrototype(form.files.vars.prototype)|e }}">
				<thead>
					<tr>
						<th class="col-sm-1 action"></th>
						<th class="col-sm-5">File</th>
						<th class="col-sm-6"></th>
					</tr>
				</thead>
				<tbody>
					{% for key, file in form.files %}
						{{ macro.existingFile(file, key) }}
					{% endfor %}
				</tbody>
			</table>
			<btn class="btn btn-outline btn-add-item">{{ FAIcon('plus', 'btn-label') }} Add File</btn>
		</div>
	</div>
	
	<br/>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(form.save) }}
				<a href="{{ path('salesactivity_show', { 'id' : entity.id }) }}" class="btn btn-default">Back</a>
			</div>
		</div>
	</div>
	{{ form_widget(form._token) }}
</form>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var itemPrototype = $( ".table-collection" ).attr( "data-prototype" );
	</script>
	<script src="{{ asset('assets/js/alternate_file.js') }}"></script>
{% endblock %}