{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>{{ app.user.name }}</li>
<li class="active">Sales Activities</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('tasks', 'page-header-icon') }} My Sales Activities</h1>
			<div class="pull-right">
				{% if is_expr_granted("hasAnyRole('ROLE_SALESACTIVITY_CREATE')") %}
					<a class="btn btn-success btn-labeled btn-sm" href="{{ path('salesactivity_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
				{% endif %}				
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('salesactivity') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('salesactivity'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.status) }}
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
					{{ form_row(search_form.search) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'sa.status', 'Status') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'sa.date', 'Date') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'sa.dayType', 'Day Type') }}</th>
							<th class="col-md-1 text-center">{{ utils.sortableTableHeader(pagination, 'sa.readFlag', 'Read?') }}</th>
							<th class="col-md-3"></th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('salesactivity_show', { 'id':entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
										{% if entity.isEditable %}
											<li><a href="{{ path('salesactivity_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{% endif %}
										{{ macros.delete('salesactivity_confirm_delete', entity) }}
									</ul>
								</div>
							</td>
							<td>
								{{ utils.formatDate(entity.date, 'm/d/Y') }} 
								{{ entity|renderStatusTag }}
								{% if entity.hasComments %}
									<span class="label label-warning }}"> Comments</span>
								{% endif %}
							</td>
							<td>{{ utils.formatDate(entity.date, 'm/d/Y') }}</td>
							<td>{{ entity.dayType }}</td>
							<td class="text-center">
								{% if entity.readFlag %}
									{{ FAIcon('check') }}
								{% else %}
									{{ FAIcon('close') }}
								{% endif %}
							</td>
							<td></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}