{% macro activityItem(item, key, isSelf, isAuth) %}
{% import 'CICoreBundle::utils.html.twig' as utils %}

<tr{% if key is defined and key is not empty %} data-key="{{ key }}"{% endif %}>
	{% if isSelf %}
		<td{% if form_errors(item.inOffice) %} class="has-errors"{% endif %}>
			{{ form_widget(item.inOffice) }}
			{{ form_errors(item.inOffice) }}
		</td>
		<td{% if form_errors(item.startTime) %} class="has-errors"{% endif %}>
			{{ form_widget(item.startTime) }}
			{{ form_errors(item.startTime) }}
		</td>
		<td{% if form_errors(item.endTime) %} class="has-errors"{% endif %}>
			{{ form_widget(item.endTime) }}
			{{ form_errors(item.endTime) }}
		</td>
		<td{% if form_errors(item.customer) %} class="has-errors"{% endif %}>
			{% if item.inOffice.vars.data %}
				{{ form_widget(item.customer, {'attr': {'disabled': 'disabled' }}) }}
			{% else %}
				{{ form_widget(item.customer) }}
			{% endif %}
			{{ form_errors(item.customer) }}
		</td>
		<td{% if form_errors(item.contact) %} class="has-errors"{% endif %}>
			{{ form_widget(item.contact) }}
			{{ form_errors(item.contact) }}
		</td>
		<td{% if form_errors(item.description) %} class="has-errors"{% endif %}>
			{{ form_widget(item.description) }}
			{{ form_errors(item.description) }}
		</td>
	{% else %}
		{% set var = item.vars.value %}
		<td>{{ var.inOffice ? label_success('Yes') : label_danger('No') }}</td>
		<td>{{ utils.formatDate(item.vars.value.startTime, 'g:i A') }}</td>
		<td>{{ utils.formatDate(var.endTime, 'g:i A') }}</td>
		<td>{{ var.customer.name|default('None') }}</td>
		<td>{{ var.contact|default('None') }}</td>
		<td>{{ var.description|nl2br }}</td>
	{% endif %}
	
	{% if isAuth %}
		<td{% if form_errors(item.comments) %} class="has-errors"{% endif %}>
			{{ form_widget(item.comments) }}
			{{ form_errors(item.comments) }}
		</td>
	{% endif %}
	
	{% if isSelf and isAuth %}
	<td class="text-right">
		<p class="form-control-static"><a href="#" class="btn btn-default btn-sm delete-btn">{{ icon('trash') }}</a></p>
	</td>
	{% endif %}
</tr>
{% endmacro %}

{% macro filePrototype(file) %}
<tr>
	<td><p class="form-control-static"><a href="#" class="btn btn-default btn-sm delete-btn">{{ icon('trash') }}</a></p></td>
	<td>{{ form_widget(file.file_actual) }}</td>
	<td></td>
</tr>
{% endmacro %}

{% macro existingFile(file, key) %}
	{% if file.vars.data.id != null %}
		<tr{% if key is defined %} data-key="{{ key }}"{% endif %}>
			<td><p class="form-control-static"><a href="#" class="btn btn-default btn-sm delete-btn">{{ icon('trash') }}</a></p></td>
			<td>
				<p class="form-control-static">{{ file.vars.value.name }}</p>
				<span class="hide">
					{{ form_widget(file.file_actual, { 'attr' : { 'class' : 'existing-file-input' },'required': false }) }}
				</span>
			</td>
			<td></td>
		</tr>
	{% else %}
		<tr {% if key is defined %}data-key="{{ key }}"{% endif %}>
			<td><p class="form-control-static"><a href="#" class="btn btn-default btn-sm delete-btn">{{ icon('trash') }}</a></p></td>
			<td>{{ form_widget(file.file_actual) }}</td>
			<td>{{ form_errors(file.file_actual) }}</td>
		</tr>
	{% endif %}
{% endmacro %}