{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:SalesActivity:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>{{ app.user.name }}</li>
<li><a href="{{ path('salesactivity') }}">Sales Activities</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('tasks', 'page-header-icon') }} New Sales Activity</h1>
</div>

{{ form_start(form, {'action': path('salesactivity_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-5">
			{{ form_row(form.dayType) }}
			{{ form_row(form.date) }}
		</div>
	</div>
	
	<br/>
	
	{% set isAuth, isSelf = false, true %}
	{% if is_granted('ROLE_SALES_MANAGER') %}
		{% set isAuth = true %}
	{% endif %}
	
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-primary table-collection" data-prototype="{{ macro.activityItem(form.items.vars.prototype, null, isSelf, isAuth)|e }}">
				<thead>
					<tr>
						<th class="col-sm-1">In Office</th>
						<th class="col-sm-1">Start Time</th>
						<th class="col-sm-1">End Time</th>
						<th class="col-sm-2">Customer</th>
						<th class="col-sm-2">Contact Person</th>
						<th class="col-sm-3">Description</th>
						{% if isAuth == true %}
						<th class="col-sm-3">Comments</th>
						{% endif %}
						<th class="col-sm-1 action"></th>
					</tr>
				</thead>
				<tbody>
					{% for key, item in form.items %}
						{{ macro.activityItem(item, key, isSelf, isAuth) }}
					{% endfor %}
				</tbody>
			</table>
			<btn class="btn btn-outline btn-add-item">{{ FAIcon('plus', 'btn-label') }} Add Item</btn>
		</div>
	</div>
	
	<br/>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(form.saveAsDraft) }}
				{{ form_widget(form.saveAsApproved) }}
				<a href="{{ path('salesactivity') }}" class="btn btn-default">Back</a>
			</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock content %}

{% block javascripts %}
<script src="{{ asset('assets/js/sales_activity.js') }}"></script>
<script>
$(document).ready(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true,
		todayHighlight: true,
		endDate: new Date()
	});
});
</script>
{% endblock %}