{% import 'CICoreBundle::utils.html.twig' as utils %}
{% include 'CIInventoryBundle:PDF:reportPdfStyles.html.twig' %}

<html>
    <body>
        <h1 class="text-center">SALES ACTIVITY</h1>
        <p class="pull-right"><b>DATE:</b> {{ utils.formatDate(rows.date, 'm/d/Y') }}</p>
        <br/>
        <br/>
        <table>
            <tbody>
            	 <tr>
                    <th width="15%">Sales Agent:</th>
                    <td class="text-bold">{{ rows.agent.name }}</td>
                </tr>
                <tr>
                    <th width="15%">Day Type:</th>
                    <td class="text-bold">{{ rows.dayType }}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <br/>
        <br/>
        <table class="table-report">
            <tbody>
                <tr>
                    <th width="14%">START TIME</th>
                    <th width="12%">END TIME</th>
                    <th width="15%">CUSTOMER</th>
                    <th width="25%">CONTACT PERSON</th>
                    <th width="17%">DESCRIPTION</th>
                    <th width="17%">COMMENTS</th>
                </tr>
                {% for item in rows.items %}
                    <tr>
                        <td>{{ utils.formatDate(item.startTime, 'g:i A') }}</td>
                        <td>{{ utils.formatDate(item.endTime, 'g:i A') }}</td>
                        <td>{{ item.customer.name|default }}</td>
                        <td>{{ item.contact }}</td>
                        <td>{{ item.description|nl2br }}</td>
                        <td>{{ item.comments|nl2br }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
