{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Report</li>
<li class="active">Sales Activity Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="col-xs-6 col-sm-6">
				<h1>{{ FAIcon('tasks', 'page-header-icon') }} Sales Activity Report</h1>
			</div>
			
			<div class="col-xs-6 col-sm-4 col-sm-offset-2">
				{% if params %}
					{% set exportParams = {
						'ci_inventorybundle_salesactivityreportfilter[dateFrom]' : params.dateFrom|date('m/d/Y'),
						'ci_inventorybundle_salesactivityreportfilter[dateTo]' : params.dateTo|date('m/d/Y'),	
					} %}	
								
					{% if params.agent.id is defined %}
						{% set exportParams = exportParams|merge({'ci_inventorybundle_salesactivityreportfilter[agent]' : params.agent.id }) %}
					{% endif %}
						
					<div class="pull-right">
						<a class="btn btn-default btn-labeled btn-sm" href="{{ path('salesactivity_list_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
					</div>
				{% endif %}
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('salesactivity_report'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{% if search_form.agent is defined %}
						{{ form_row(search_form.agent) }}
					{% endif %}			
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		{% if params %}
			{% if pagination.getPaginationData['totalCount'] > 0 %}
				<div id="display-count" class="pull-right">
					{{ macros.paginationCount(pagination) }}
				</div>
				
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-md-1">Actions</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sa.date', 'Date') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sa.status', 'Status') }}</th>
								<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'sa.dayType', 'Day Type') }}</th>
								<th class="col-md-1 text-center">{{ utils.sortableTableHeader(pagination, 'sa.readFlag', 'Read?') }}</th>
								<th class="col-md-6"></th>
							</tr>
						</thead>
						<tbody>
							{% for data in pagination %}
							<tr>
								<td class="actions">
									<div class="btn-group btn-group-sm">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
										<ul class="dropdown-menu">
											<li><a href="{{ path('salesactivity_show', { 'id': data.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
											<li><a href="{{ path('salesactivity_edit', { 'id': data.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										</ul>
									</div>
								</td>
								<td>{{ utils.formatDate(data.date, 'm/d/Y') }}</td>
								<td>{{ data.status|renderStatusTag }}</td>
								<td>{{ data.dayType }}</td>
								<td class="text-center">
									{% if data.readFlag %}
										{{ FAIcon('check') }}
									{% else %}
										{{ FAIcon('close') }}
									{% endif %}
								</td>
								<td></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
					{{ knp_pagination_render(pagination) }}
				</div>	
			{% else %}
				<div class="alert">
					No results found.
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{{ asset('assets/js/index.js') }}"></script>
<script>
$(document).ready(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true,
		todayHighlight: true
	});
});
</script>
{% endblock %}