{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>{{ entity.agent.name }}</li>
<li><a href="{{ path('salesactivity') }}">Sales Activities</a></li>
<li class="active">{{ utils.formatDate(entity.date, 'm/d/Y') }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>{{ FAIcon('tasks', 'page-header-icon') }} Sales Activity</h1>
			{{ entity|renderStatusTag }}
		</div>
		
		{% set isSelf = false %}
		{% if entity.agent == app.user %}
			{% set isSelf = true %}
		{% endif %}

		<div class="col-sm-6">
			<div class="pull-right btn-toolbar">
				<div class="btn-group">
					{% if entity.status == constant('CI\\InventoryBundle\\Entity\\SalesActivity::STATUS_DRAFT') %}
						<a class="btn btn-outline btn-success" href="{{ path("salesactivity_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\SalesActivity::STATUS_SUBMITTED')}) }}">{{ FAIcon('check') }} Submit</a>
					{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\SalesActivity::STATUS_SUBMITTED') and not entity.hasComments %}
						<a class="btn btn-outline btn-danger" href="{{ path("salesactivity_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\SalesActivity::STATUS_DRAFT')}) }}">{{ FAIcon('thumbs-down') }} Withdraw Submission</a>
					{% endif %}
				</div>
				
				<div class="btn-group btn-group-md">
					{% if entity.isEditable or is_granted('ROLE_SALESACTIVITY_UPDATE') %}
						<a href="{{ path('salesactivity_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
					{% endif %}
					{% if is_granted('ROLE_SALES_MANAGER') and not isSelf %}
						<a href="{{ path("salesactivity_toggle_read", {'id':entity.id, 'previousUrl':previousUrl }) }}" class="btn btn-default">
							{% if entity.readFlag %}
								{{ FAIcon('close') }}
							{% else %}
								{{ FAIcon('check') }}
							{% endif %}
							Read?
						</a>
					{% endif %}
					<a href="{{ path('salesactivity_export', { 'id' : entity.id }) }}" class="btn btn-default">{{ FAIcon('print') }} Print</a>
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('salesactivity_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
							{% if is_granted('ROLE_SALESACTIVITY_DELETE') %}
								{{ macros.delete('salesactivity_confirm_delete', entity) }}
							{% endif %}			
						</ul>
					</div>
				</div>
				
				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('salesactivity') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row profile">
	<div class="col-md-4">
		<table class="table table-no-border">
			<tbody>
				<tr>
		            <th class="col-xs-4">Day Type</th>
		            <td>{{ entity.dayType }}</td>
		        </tr>
		        <tr>
		        	<th>Date</th>
		        	<td>{{ utils.formatDate(entity.date, 'm/d/Y') }}</td>
		        </tr>
	        </tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		{% if entity.dayType not in [constant('CI\\InventoryBundle\\Entity\\SalesActivity::VL'), constant('CI\\InventoryBundle\\Entity\\SalesActivity::SL')] %}
			<table class="table table-primary">
				<thead>
					<tr>
						<th class="col-sm-1">In Office</th>
						<th class="col-sm-1">Start Time</th>
						<th class="col-sm-1">End Time</th>
						<th class="col-sm-2">Customer</th>
						<th class="col-sm-2">Contact Person</th>
						<th class="col-sm-3">Description</th>
						<th class="col-sm-3">Comments</th>
					</tr>
				</thead>
				<tbody>
				{% for item in entity.items %}
					<tr>
						<td>{{ item.inOffice ? label_success('Yes') : label_danger('No') }}</td>
						<td>{{ utils.formatDate(item.startTime, 'g:i A') }}</td>
						<td>{{ utils.formatDate(item.endTime, 'g:i A') }}</td>
						<td>{{ item.inOffice ? '---' : item.customer.name }}</td>
						<td>{{ item.contact }}</td>
						<td>{{ item.description|nl2br }}</td>
						<td>{{ item.comments|nl2br }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
</div>

<hr>

{% if is_expr_granted("hasAnyRole('ROLE_SALESACTIVITY_FILE_DOWNLOAD')") %}
	<h4>
		Files 
		{% if entity.files|length > 0 and is_expr_granted("hasAnyRole('ROLE_SALESACTIVITY_FILE_UPLOAD')") %}
			<a href="{{ path('salesactivity_file', {'id':entity.id}) }}" class="btn btn-outline btn-primary btn-xs">{{ FAIcon('plus') }}</a>
		{% endif %}
	</h4>
	{% if entity.files|length > 0 %}
		<div class="row">
			<div class="col-md-12">
				<table class="table table-primar file-table">
					<thead>
						<tr>
							<th class="col-sm-1 action"></th>
							<th class="col-sm-5">File</th>
							<th class="col-sm-6"></th>
						</tr>
					</thead>
					<tbody>
					{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}
					{% for file in entity.files %}
						<tr>
							<td>
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										{% set fileName = file.name|split('.') %}
										{% if (fileName|last)|lower in imageExtensions %}
				    						<li><a href="#" class="preview" data-toggle="modal" data-target=".pic-preview-modal" data-field="{{ file.id }}">{{ FAListIcon('search-plus') }} Preview</a></li>
				    					{% endif %}
										<li><a href="{{ path('salesactivity_file_download', { 'id': file.id }) }}">{{ FAListIcon('download') }} Download</a></li>
									</ul>
								</div>
							</td>
							<td><span class="file-name">{{ file.name }}</span></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class="alert alert-info">
			<p>No files uploaded yet for this day. 
			{% if is_expr_granted("hasAnyRole('ROLE_SALESACTIVITY_FILE_UPLOAD')") %}
				Would you like to <a href="{{ path('salesactivity_file', {'id':entity.id}) }}" class="alert-link">add</a> some?
			{% endif %}
			</p>
		</div>
	{% endif %}
{% endif %}

<div class="modal fade pic-preview-modal" tabindex="-1" role="dialog" aria-labelledby="picPreviewName" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="picPreviewName"></h4>
			</div>
			<div class="modal-body">
			</div>
		</div>
	</div>
</div>
{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock content %}

{% block stylesheets %}
<style type="text/css">
div.pic-preview-modal div.modal-body {
	width: 896px;
	height: 504px;
}

div#loader {
	position: absolute;
	top: 35%;
	left: 44%;
}

h3#preview-unavailable {
	position: absolute;
	top: 35%;
	left: 37%;
}

img.img-polaroid {
	position: absolute;
	top: 7%;
	left: 7%;
}
</style>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/canvasloader-min-0.9.1.js') }}"></script>
<script src="{{ asset('assets/js/sales_activity_show.js') }}"></script>
{% endblock %}