{% import 'CICoreBundle::utils.html.twig' as utils %}
{% include 'CIInventoryBundle:PDF:reportPdfStyles.html.twig' %}

<html>
    <body>
        <h1 class="text-center">SALES RETURN</h1>
        <p class="pull-right"><b>DATE:</b> {{ utils.formatDate(rows.returnDate) }}</p>
        <br/>
        <br/>
        <table>
            <tbody>
                <tr>
                    <th width="10%">SR #: </th>
                    <td class="text-bold">{{ rows.id }}</td>
                </tr>
                <tr>
                    <th>SO #: </th>
                    <td class="text-bold">{{ rows.shipping.salesOrder.refCode }}</td>
                </tr>
                <tr>
                    <th>DR #: </th>
                    <td class="text-bold">{{ rows.shipping.drId }}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <br/>
        <br/>
        <table class="table-report">
            <tbody>
                <tr>
                    <th width="15%">QUANTITY</th>
                    <th width="45%">PRODUCT</th>
                    <th width="20%">PRICE</th>
                    <th width="20%">LINE TOTAL</th>
                </tr>
                {% for item in rows.items %}
                    {% set product = item.shippingItem.ISProduct %}
                    <tr>
                        <td class="pull-right">{{ item.quantity|decimal(2) }} kg</td>
                        <td class="text-center">{% if product.supplierProductName and product.supplierProductCode %} {{ product.supplierProductName }} {{ product.supplierProductCode }} {% else %} {{ product.sku }} {{ product.name }} {% endif %}</td>
                        <td class="text-right">{{ item.shippingItem.salesOrderItem.unitPrice|decimal(2) }}</td>
                        <td class="text-right">{{ (item.quantity * item.shippingItem.salesOrderItem.unitPrice)|decimal(2) }}</td>
                    </tr>
                {% endfor %}
                <br/>
                <tr class="pull-left">
                    <td><strong>MEMO: </strong></td>
                    <td>{{ rows.memo|nl2br }}</td>
                </tr>
                <tr>
                    <td class="totals" colspan="3">TOTAL</td>
                    <td class="totals">{{ rows.total|decimal(2) }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
