{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Sales</li>
<li class="active">Sales Returns</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('undo', 'page-header-icon') }} Sales Returns</h1>
			<div class="pull-right">
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('salesreturn') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('salesreturn'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.salesOrder) }}
					{{ form_row(search_form.shipping) }}
					{{ form_row(search_form.status) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sr.status', 'Status') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'so.id', 'SO #') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 's.drId', 'DR #') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sr.returnDate', 'Return Date') }}</th>
							<th class="col-md-1 amount">{{ utils.sortableTableHeader(pagination, 'sr.total', 'Total') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('salesreturn_show', { 'id':entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
										{% if entity.isEditable %}
											<li><a href="{{ path('salesreturn_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{% endif %}
									</ul>
								</div>
							</td>
							<td>{{ entity|renderStatusTag }}</td>
							<td><a href="{{ path('salesorder_show', { 'id':entity.shipping.salesOrder.id }) }}">{{ entity.shipping.salesOrder.id }}</a></td>
							<td><a href="{{ path('shipping_show', { 'id':entity.shipping.id }) }}">{{ entity.shipping.drId }}</a></td>
							<td>{{ utils.formatDate(entity.returnDate) }}</td>
							<td class="amount">{{ entity.total|decimal(2) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}