{% macro panelItems() %}
<div class="list-group-item panel-item" ng-repeat="(key, item) in form.panelItems|filter:filterPanelItems" ng-click="addItem(key)" ng-class="{'alert-success': isSelected(item.id) }">
	<span class="text-muted">Product: </span><span ng-bind="item.product"></span><br>
	<span class="text-muted">Balance: </span><span ng-bind="item.balance|number:2"></span> <small>kg</small><br>
	<span class="text-muted">Price: </span><span ng-bind="item.unitPrice|number:2"></span><br>
</div>
{% endmacro %}

{% macro item(item) %}
<td ng-init="form.indexes.item=$last==true?key:-1">
	<div ng-class="{'has-error': item.errors.sItem.length > 0}">
		{{ form_widget(item.shippingItem) }}
		<p class="form-control-static" ng-bind="item.sItem.product"></p>
		<ul class="help-block text-left" ng-show="item.errors.sItem">
			<li class="text-danger" ng-repeat="error in item.errors.sItem">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
</td>
<td>
	<div ng-class="{'has-error': item.errors.quantity.length > 0}">
		{{ form_widget(item.quantity) }}
	    <ul class="help-block text-left" ng-show="item.errors.quantity">
			<li class="text-danger" ng-repeat="error in item.errors.quantity">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
	
	<p class="form-control-static text-right">
		<small class="text-muted">Balance: <span ng-bind="item.sItem.balance|number:2"></span> kg</small>
	</p>
</td>
<td>
	<p class="form-control-static text-right" ng-bind="item.sItem.unitPrice|number:2"></p>
</td>
<td>
	<p class="form-control-static text-right" ng-bind="displayLineTotal(item.quantity, item.sItem.unitPrice)|number:2"></p>
</td>
<td class="text-right">
	<p class="form-control-static">
		<delete-button ng-click="removeItem(key)"></delete-button>
	</p>
</td>
{% endmacro %}

{% macro initScript(entity, form) %}
<script type="text/javascript">
{% autoescape 'js' %}
var items = {};
var included = [];

{% set added = [] %}
var panelItems = [
	{% for item in entity.items %}
		{% set added = added|merge([item.shippingItem.id]) %}
		{
			id: "{{ item.shippingItem.id }}",
			product: "{{ item.shippingItem.ISProduct.sku ~ ' ' ~ item.shippingItem.ISProduct.name }}",
			balance: "{{ item.shippingItem.quantity - item.shippingItem.totalReturned(item) }}",
			quantity: "{{ item.shippingItem.quantity }}",
			unitPrice: "{{ item.shippingItem.salesOrderItem.unitPrice }}",
		},
	{% endfor -%}
	{% for item in entity.shipping.items %}
		{% set balance = item.quantity - item.totalReturned %}
		{% if item.id not in added and balance > 0 %}
			{
				id: "{{ item.id }}",
				product: "{{ item.ISProduct.sku ~ ' ' ~ item.ISProduct.name }}",
				balance: "{{ balance }}",
				quantity: "{{ item.quantity }}",
				unitPrice: "{{ item.salesOrderItem.unitPrice }}",
			},
		{% endif %}
	{% endfor -%}
];

{% for key, item in form.items %}
	var errors = {
		sItem: [
			{%- if item.shippingItem is defined and item.shippingItem.vars.errors|length > 0 -%}
				{%- for error in item.shippingItem.vars.errors -%}
					"{{ error.message }}",
				{%- endfor -%}
			{%- endif -%}
		],
		quantity: [
			{%- if item.quantity is defined and item.quantity.vars.errors|length > 0 -%}
				{%- for error in item.quantity.vars.errors -%}
					"{{ error.message }}",
				{%- endfor -%}
			{%- endif -%}
		]
	};

	{% if item.vars.value.shippingItem is not empty -%}
		included.push("{{ item.vars.value.shippingItem.id|default(item.vars.value.shippingItem) }}");
	{% endif %}
	
	items[{{ key }}] = {
		sItem: {
			id : "{{ item.vars.value.shippingItem.id|default(item.vars.value.shippingItem) }}",
			product: "{{ item.vars.value.shippingItem.ISProduct.sku|default ~ ' ' ~ item.vars.value.shippingItem.ISProduct.name|default }}",
			balance: "{{ item.vars.value.shippingItem.quantity|default(0) - item.vars.value.shippingItem.totalReturned(item.vars.value)|default(0) }}",
			quantity: "{{ item.vars.value.shippingItem.quantity|default(0) }}",
			unitPrice: "{{ item.vars.value.shippingItem.salesOrderItem.unitPrice|default(0) }}"
		},
		quantity: "{{ item.vars.value.quantity }}",
		errors: errors
	};
{% endfor %}
{% endautoescape %}
</script>
{% endmacro %}