{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('salesreturn') }}">Sales Returns</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}

<div class="page-header">
	<div class="row">
		<div class="col-sm-5">
			<h1>{{ FAIcon('undo', 'page-header-icon') }} Sales Return #{{ entity.id }}</h1>
			{{ entity|renderStatusTag }}
		</div>

		<div class="col-sm-7">
			<div class="pull-right btn-toolbar">
				<div class="btn-group">
					{% if constant('CI\\InventoryBundle\\Entity\\SalesReturn::STATUS_DRAFT') == entity.status %}
						<a class="btn btn-outline btn-success" href="{{ path("salesreturn_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\SalesReturn::STATUS_RETURNED')}) }}">{{ FAIcon('check') }} Return</a>
					{% elseif constant('CI\\InventoryBundle\\Entity\\SalesReturn::STATUS_RETURNED') == entity.status %}
						<a class="btn btn-outline disabled" href="#" class="btn btn-success">{{ FAIcon('check') }} Returned</a>
					{% endif %}
				</div>

				<div class="btn-group btn-group-md">
					{% if entity.isEditable %}
						<a href="{{ path('salesreturn_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
					{% endif %}
					<a href="{{ path('salesreturn_export', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('print') }} Print</a>
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('salesreturn_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
							{% if entity.status < constant('CI\\InventoryBundle\\Entity\\PurchaseReturn::STATUS_VOID') %}
								<li class="divider"></li>
								{% if entity.isDeletable %}
									<li><a href="{{ path('salesreturn_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
								{% else %}
									<li><a href="{{ path("salesreturn_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\SalesReturn::STATUS_VOID')}) }}">{{ FAIcon('warning') }} Void</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('salesreturn') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">SO#</th>
						<td><a href="{{ path('salesorder_show', { 'id':entity.shipping.salesOrder.id }) }}">{{ entity.shipping.salesOrder.id }}</a></td>
					</tr>
					<tr>
						<th>DR#</th>
						<td><a href="{{ path('shipping_show', { 'id':entity.shipping.id }) }}">{{ entity.shipping.drId }}</a></td>
					</tr>
				</table>
			</div>
			<div class="col-md-4 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">Return Date</th>
						<td>{{ utils.formatDate(entity.returnDate) }}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-light">
						<thead>
							<tr>
								<th class="col-sm-4">Product</th>
								<th class="col-sm-2 text-right">Quantity <small>(KG)</small></th>
								<th class="col-sm-2 text-right">Price</th>
								<th class="col-sm-2 text-right">Line Total</th>
							</tr>
						</thead>
						<tbody>
							{% for item in entity.items %}
								{% set product = item.shippingItem.ISProduct %}
								<tr>
									<td><a href="{{ path('product_show', { 'id' : product.id }) }}">{{ product.sku }} {{ product.name }}</a></td>
									<td class="text-right">{{ item.quantity|decimal(2) }} kg</td>
									<td class="text-right">{{ item.shippingItem.salesOrderItem.unitPrice|decimal(2) }}</td>
									<td class="text-right">{{ (item.quantity * item.shippingItem.salesOrderItem.unitPrice)|decimal(2) }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-xs-offset-1">
				{% if entity.memo %}
					<div class="well">
						<p>
							<strong>Memo</strong><br/>
							{{ entity.memo|nl2br }}
						</p>
					</div>
				{% endif %}
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<ul class="totals">
					<li>
						<span class="descr">TOTAL</span>
						<span class="amount grand-total">{{ entity.total|decimal(2) }}</span>
					</li>
				</ul>
			</div>
		</div>

		{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>
	<div class="col-md-3">
		{% if is_expr_granted("hasAnyRole('ROLE_SALESRETURN_FILE_DOWNLOAD')") %}
			<div class="row">
				<div class="panel panel-default custom-panel">
					<div class="panel-heading">
						<span class="panel-title">{{ FAIcon('paperclip', 'panel-title-icon') }}Attachments</span>
					</div>

					<div class="panel-body">
						<div class="panel-padding no-padding-vr">
						{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}
						{% if entity.files|length > 0 %}
							{% for file in entity.files %}
								{% set fileName = file.name|split('.') %}
								<div class="item">
									<a href="{{ path('salesreturn_file_download', { 'id': file.id }) }}" class="thumbnail">
										{% if (fileName|last)|lower in imageExtensions %}
											<img src="{{ asset(file.webFilePath) | imagine_filter('image_thumbnail') }}" />
										{% else %}
											{{ file.name }}
										{% endif %}
									</a>
									<span class="item-text1">{{ file.name }}</span><br/>
									<span class="item-text2"></span>
								</div>
							{% endfor %}
						{% else %}
							<div class="item">
								No attachments yet.
							</div>
						{% endif %}
						</div>
					</div>
					{% if is_expr_granted("hasAnyRole('ROLE_SALESRETURN_FILE_UPLOAD')") %}
						<div class="panel-footer">
							<a class="btn btn-primary btn-sm btn-block" href="{{ path('salesreturn_file', { 'id' :entity.id }) }}">{{ FAIcon('upload') }} Upload</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
