{% extends 'CICoreBundle::login_layout.html.twig' %}

{% block right_side %}
<div class="signin-form">
	{% if error %}
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">×</button>
		{{ error.messageKey|trans(error.messageData, 'security') }}
	</div>
	{% endif %}
	
	<!-- Form -->
	<form action="{{ path("fos_user_security_check") }}" id="signin-form_id" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<div class="signin-text">
			<span>Sign In to your account</span>
		</div> <!-- / .signin-text -->
		
		<div class="form-group w-icon">
			<input type="text" name="_username" id="username" class="form-control input-lg" value="{{ last_username }}" placeholder="Username or email" />
			<span class="fa fa-user signin-form-icon"></span>
		</div> <!-- / Username -->
		
		<div class="form-group w-icon">
			<input type="password" name="_password" id="password" class="form-control input-lg" placeholder="Password">
			<span class="fa fa-lock signin-form-icon"></span>
		</div> <!-- / Password -->
		
		<div class="form-actions">
			<button type="submit" class="signin-btn bg-primary">SIGN IN</button>
			<a href="{{ path('fos_user_resetting_request') }}" class="forgot-password" id="forgot-password-link">Forgot your password?</a>
		</div> <!-- / .form-actions -->
	</form>
	<!-- / Form -->	
</div>
{% endblock right_side %}

{% block javascripts %}
<script type="text/javascript">
$(function() {
	$( "#signin-form_id" ).validate({ focusInvalid: true, errorPlacement: function () {} });
	
	// Validate username
	$( "#username" ).rules( "add", {
		required: true,
		minlength: 3
	});
	
	// Validate password
	$( "#password" ).rules( "add", {
		required: true,
		minlength: 3
	});
});
</script>
{% endblock %}