<form action="#" method="POST" {{ form_enctype(edit_form) }} class="form-horizontal" id="editFormModal">
	<input type="hidden" name="_method" value="PUT" />
	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h4 class="modal-title" id="edit-contact-modal">Edit Contact</h4>
  	</div>
  	<div class="modal-body">
    	<div class="row">
    		<div class="col-xs-12">
    		{{ bootstrap_set_style('horizontal') }}
    		{{ form_row(edit_form.firstName) }}
    		{{ form_row(edit_form.lastName) }}
    		{{ form_row(edit_form.position) }}
    		{{ form_row(edit_form.contactNumber) }}
    		{{ form_row(edit_form.email) }}
    		{{ form_widget(edit_form.supplier) }}
    		</div>
    	</div>
  	</div>
  	<div class="modal-footer">
  		<button type="submit" class="btn btn-success" data-loading-text="Saving....">Save</button>
    	<button type="button" class="btn" data-dismiss="modal">Cancel</button>
    </div>
    {{ form_widget(edit_form._token) }}
</form>