<form name="eform" ng-submit="eform.$valid && update()" class="form-horizontal" novalidate="novalidate">
	<input type="hidden" name="_method" value="PUT" />
	<div class="modal-header">
    	<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    	<h4 class="modal-title">Edit Branch</h4>
  	</div>
  	<div class="modal-body">
  		<div id="messages" ng-show="message" ng-bind="message" class="alert alert-warning"></div>
  		
    	<div class="row">
    		<div class="col-xs-12">
    		{{ bootstrap_set_style('horizontal') }}
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.isMain || eform['ci_inventorybundle_branch[isMain]'].$dirty && eform['ci_inventorybundle_branch[isMain]'].$invalid }">
    			{{ form_label(edit_form.isMain) }}
    			<div class="col-lg-4">
    				<label class="checkbox">
						{{ form_widget(edit_form.isMain, { 'attr' : { 'ng-model' : 'form.isMain' } }) }}
						<span class="lbl">&nbsp;</span>
					</label>
    				<span class="help-block text-sm" ng-show="errors.isMain" ng-bind="errors.isMain"></span> 
    			</div>
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.name || eform['ci_inventorybundle_branch[name]'].$dirty && eform['ci_inventorybundle_branch[name]'].$invalid }">
    			{{ form_label(edit_form.name) }}
    			<div class="col-lg-4">
    				{{ form_widget(edit_form.name, { 'attr' : { 'ng-model' : 'form.name' } }) }}
    				<span class="help-block text-sm" ng-show="errors.name" ng-bind="errors.name"></span> 
    			</div>
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.address || eform['ci_inventorybundle_branch[address]'].$dirty && eform['ci_inventorybundle_branch[address]'].$invalid }">
    			{{ form_label(edit_form.address) }}
    			<div class="col-lg-8">
    				{{ form_widget(edit_form.address, { 'attr' : { 'ng-model' : 'form.address', 'rows' : 4 } }) }}
    				<span class="help-block text-sm" ng-show="errors.address" ng-bind="errors.address"></span> 
    			</div>
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.area }">
    			{{ form_label(edit_form.area) }}
    			<div class="col-lg-4">
    				{{ form_widget(edit_form.area, { 'attr' : { 'ng-model' : 'form.area' } }) }}
    				<span class="help-block text-sm" ng-show="errors.area" ng-bind="errors.area"></span>
    			</div> 			 
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.contactDetails }">
    			{{ form_label(edit_form.contactDetails) }}
    			<div class="col-lg-8">
    				{{ form_widget(edit_form.contactDetails, { 'attr' : { 'ng-model' : 'form.contactDetails', 'rows' : 4 } }) }}
    				<span class="help-block text-sm" ng-show="errors.contactDetails" ng-bind="errors.contactDetails"></span> 
    			</div>
    		</div>
    		
    		{{ form_row(edit_form.customer) }}
    		
    		</div>
    	</div>
  	</div>
  	<div class="modal-footer">
  		{{ form_widget(edit_form.save) }}
    	<button type="button" class="btn btn-outline" ng-click="close()">Close</button>
    </div>
    {{ form_widget(edit_form._token) }}
</form>