{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:PurchaseReturn:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li><a href="{{ path('purchasereturn') }}">Shipment Discrepancy Notices</a></li>
<li><a href="{{ path('purchasereturn_show', { 'id' : entity.id }) }}">Current Shipment Discrepancy Notice</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('undo', 'page-header-icon') }} Shipment Discrepancy Notice # {{ entity.id }}</h1>
	{{ entity|renderStatusTag }}
</div>

{% if form_errors(edit_form) %}
	{{ form_errors(edit_form) }}
	<br>
{% endif %}

{{ form_start(edit_form, {'action': path('purchasereturn_update', {'id':entity.id}), 'method': 'PUT', 'attr': {
	'id':'pr-ctrl',
	'class': 'form-horizontal',
	'novalidate' : 'novalidate',
	'ng-controller' : 'PurchaseReturnController'
} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label class="control-label col-lg-4">PO #</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ entity.receiveOrder.purchaseOrder.poId }}</p>
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-lg-4">RO #</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ entity.receiveOrder.referenceNumber ? entity.receiveOrder.referenceNumber : entity.receiveOrder.id }}</p>
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-lg-4">Supplier</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ entity.supplier.name }}</p>
						</div>
					</div>
					{{ form_row(edit_form.invoiceNumber) }}
					{{ form_row(edit_form.returnDate) }}
					{{ form_row(edit_form.datePrepared) }}
					<div class="form-group row">
						<label class="control-label col-lg-4">Date Received</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ utils.formatDate(entity.receiveOrder.dateReceived) }}</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-6">
					{{ form_row(edit_form.actionTaken) }}
					{{ form_row(edit_form.particular) }}
					<b>Nature(s) of Discrepancy:</b>
					{{ form_row(edit_form.natureIsQuantity) }}
					{{ form_row(edit_form.natureIsQuality) }}
					{{ form_row(edit_form.natureIsOther) }}
				</div>
			</div>
			
			<br/>
			
			<div class="row" ng-cloak>
				<div class="col-sm-12">
					<table class="table table-primary table-collection">
						<thead>
							<tr>
								<th class="col-sm-2">Product</th>
								<th class="col-sm-2 text-center">Quantity <small>(KG)</small></th>
								<th class="col-sm-1 amount">Pallet ID</th>
								<th class="col-sm-1 amount">Lot Number</th>
								<th class="col-sm-2 amount">Cost</th>
								<th class="col-sm-2 amount">Line Total</th>
								<th class="col-sm-2 amount">Remarks</th>
								<th class="col-sm-1 action"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(key, item) in form.items">
								{{ macro.item(edit_form.items.vars.prototype) }}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4 col-sm-offset-8">
					<ul class="totals">
						<li>
							<span class="descr">TOTAL</span> 
							<span ng-bind="form.total|number:2" class="amount grand-total"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
{# 		<div id="panel-item-collection" class="col-sm-3" data-spy="affix" data-offset-top="150">#}
		<div id="panel-item-collection" class="col-sm-3">
			<div class="panel panel-info panel-dark">
				<div class="panel-heading">
					<span class="panel-title"><strong>Items</strong></span>
				</div>
				<input type="text" placeholder="Search products" class="form-control input-md panel-input" ng-model="itemSearchText">
				<div id="panel-items-container" class="list-group" ng-cloak>
					{{ macro.panelItems() }}
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(edit_form.saveDraft) }}
				{{ form_widget(edit_form.saveReturned) }}
				<a href="{{ path('purchasereturn_show', {'id':entity.id}) }}" class="btn btn-default">Back</a>
			</div>
		</div>
	</div>
{{ form_widget(edit_form._token) }}
</form>
{% endblock content %}

{% block javascripts %}
{{ macro.initScript(entity, edit_form) }}
<script src="{{ asset('assets/js/angular/purchase_return.js') }}"></script>
<script type="text/javascript">
$( "#panel-items-container" ).slimScroll({
	height: "320px"
});
</script>
{% endblock %}