{% import 'CICoreBundle::utils.html.twig' as utils %}
{% include 'CIInventoryBundle:PDF:reportPdfStyles.html.twig' %}
<style>
table.footer {
	text-align: left;
}

.border {
	border: 1px solid black;
}
</style>
<html>
	<body>
		<h1 class="text-center">SHIPMENT DISCREPANCY NOTICE</h1>
		<p class="pull-right"><b>RETURN DATE:</b> {{ utils.formatDate(rows.returnDate) }}</p>
		<p class="pull-right"><b>DATE PREPARED:</b> {{ utils.formatDate(rows.datePrepared) }}</p>
		<br/>
		<br/>
		<table>
			<tbody>
				<tr>
					<th width="30%">Supplier: </th>
					<td class="text-bold">{{ rows.supplier.name }}</td>
				</tr>
				<tr>
					<th width="30%">Invoice Number: </th>
					<td class="text-bold">{{ rows.invoiceNumber }}</td>
				</tr>
				<tr>
					<th width="30%">RO #: </th>
					<td class="text-bold">{{ rows.receiveOrder.referenceNumber ? rows.receiveOrder.referenceNumber : rows.receiveOrder.id }}</td>
				</tr>
				<tr>
					<th width="30%">PO Number: </th>
					<td class="text-bold">{{ rows.receiveOrder.purchaseOrder.poId }}</td>
				</tr>
				<tr>
					<th width="30%">Date Received: </th>
					<td class="text-bold">{{ utils.formatDate(rows.receiveOrder.dateReceived) }}</td>
				</tr>
				<tr>
					<th width="30%">Nature of Discrepancy: </th>
					<td class="text-bold">
						{% if rows.natureIsQuantity == true %}&#9745;{% else %}&#9744;{% endif %} Quantity 
						{% if rows.natureIsQuality == true %}&#9745;{% else %}&#9744;{% endif %} Quality 
						{% if rows.natureIsOther == true %}&#9745;{% else %}&#9744;{% endif %} Others 
					</td>
				</tr>
				<tr>
					<th width="30%">Particular: </th>
					<td class="text-bold">{{ rows.particular|default('') }}</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<br/>
		<br/>
		<table class="table-report">
			<tbody>
				<tr>
					<th width="15%">QUANTITY</th>
					<th width="25%">PRODUCT</th>
					<th width="20%">COST</th>
					<th width="20%">LINE TOTAL</th>
					<th width="20%">REMARKS</th>
				</tr>
				{% for item in rows.items %}
					{% set product = item.receiveOrderItem.purchaseOrderItem.product %}
					<tr>
						<td class="pull-right">{{ item.quantity|number_format(2) }} kg</td>
						<td class="text-center">{% if product.supplierProductName and product.supplierProductCode %} {{ product.supplierProductName }} {{ product.supplierProductCode }} {% else %} {{ product.sku }} {{ product.name }} {% endif %}</td>
						<td class="pull-right">{{ item.receiveOrderItem.purchaseOrderItem.unitCost|number_format(2) }}</td>
						<td class="pull-right">{{ (item.quantity * item.receiveOrderItem.purchaseOrderItem.unitCost)|number_format(2) }}</td>
						<td>
							{{ item.remarks|default('')|nl2br }}
						</td>
					</tr>
				{% endfor %}
				<br/>
				<tr class="totals">
					<td colspan="3">TOTAL</td>
					<td>{{ rows.total|number_format(2) }}</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<br/>

		
		<table class="footer" cellpadding="5">
			<tbody>
				<tr>
					<td height="20"  width="15%">Prepared By:</td>
					<td class="border" width="35%"></td>
					<td  width="15%">Noted By:</td>
					<td class="border" width="35%"></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td height="40"  width="15%">Action Taken:</td>
					<td colspan="3" class="border">{{ rows.actionTaken }}</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td height="20"  width="15%">Noted By:</td>
					<td class="border" width="35%"></td>
					<td  width="15%">Date:</td>
					<td class="border" width="35%"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>