{% macro panelItems() %}
<div class="list-group-item panel-item" ng-repeat="(key, item) in form.panelItems|filter:filterPanelItems" ng-click="addItem(key)" ng-class="{'alert-success': isSelected(item.id) }">
	<span class="text-muted">Product: </span><span ng-bind="item.product"></span><br>
	<span class="text-muted">Pallet ID: </span><span ng-bind="item.palletId"></span><br>
	<span class="text-muted">Lot Number: </span><span ng-bind="item.lotNumber"></span><br>
	<span class="text-muted">Balance: </span><span ng-bind="item.balance|number:2"></span> <small>kg</small><br>
	<span class="text-muted">Cost: </span><span ng-bind="item.unitCost|number:2"></span><br>
</div>
{% endmacro %}

{% macro item(item) %}
<td ng-init="form.indexes.item=$last==true?key:-1">
	<div ng-class="{'has-error': item.errors.roItem.length > 0}">
		{{ form_widget(item.receiveOrderItem) }}
		<p class="form-control-static" ng-bind="item.roItem.product"></p>
		<small class="text-muted">Lot No: <p class="form-control-static" ng-bind="item.roItem.lotNumber"></p></small>
		<ul class="help-block text-left" ng-show="item.errors.roItem">
			<li class="text-danger" ng-repeat="error in item.errors.roItem">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
</td>
<td>
	<div ng-class="{'has-error': item.errors.quantity.length > 0}">
		{{ form_widget(item.quantity) }}
	    <ul class="help-block text-left" ng-show="item.errors.quantity">
			<li class="text-danger" ng-repeat="error in item.errors.quantity">
				<small ng-bind="error"></small>
			</li>
		</ul>
	</div>
	
	<p class="form-control-static text-right">
		<small class="text-muted">Balance: <span ng-bind="item.roItem.balance|number:2"></span> kg</small>
	</p>
</td>
<td>
	<p class="form-control-static text-right" ng-bind="item.roItem.palletId"></p>
</td>
<td>
	<p class="form-control-static text-right" ng-bind="item.roItem.lotNumber"></p>
</td>
<td>
	<p class="form-control-static text-right" ng-bind="item.roItem.unitCost|number:2"></p>
</td>
<td>
	<p class="form-control-static text-right" ng-bind="displayLineTotal(item.quantity, item.roItem.unitCost)|number:2"></p>
</td>
<td>
	{{ form_widget(item.remarks) }}
</td>
<td class="text-right">
	<p class="form-control-static">
		<delete-button ng-click="removeItem(key)"></delete-button>
	</p>
</td>
{% endmacro %}

{% macro initScript(entity, form) %}
<script type="text/javascript">
var items = {};
var included = [];

{% set added = [] %}
var panelItems = [
	{% for item in entity.items if item.receiveOrderItem.totalPutAway == 0 %}
		{% set added = added|merge([item.receiveOrderItem.id]) %}
		{
			id: "{{ item.receiveOrderItem.id }}",
			product: "{{ item.receiveOrderItem.product.sku ~ ' ' ~ item.receiveOrderItem.product.name }}",
			balance: "{{ item.receiveOrderItem.quantity - item.receiveOrderItem.totalReturned(item) }}",
			quantity: "{{ item.receiveOrderItem.quantity }}",
			unitCost: "{{ item.receiveOrderItem.purchaseOrderItem.unitCost }}",
			palletId: "{{ item.receiveOrderItem.palletId }}",
			lotNumber: "{{ item.receiveOrderItem.lotNumber }}",
		},
	{% endfor -%}
	{% for item in entity.receiveOrder.items if item.totalPutAway == 0 %}
		{% set balance = item.quantity - item.totalReturned %}
		{% if item.id not in added and balance > 0 %}
			{
				id: "{{ item.id }}",
				product: "{{ item.product.sku ~ ' ' ~ item.product.name }}",
				balance: "{{ balance }}",
				quantity: "{{ item.quantity }}",
				unitCost: "{{ item.purchaseOrderItem.unitCost }}",
				palletId: "{{ item.palletId }}",
				lotNumber: "{{ item.lotNumber }}",
			},
		{% endif %}
	{% endfor -%}
];

{% for key, item in form.items %}
	var errors = {
		roItem: [
			{%- if item.receiveOrderItem is defined and item.receiveOrderItem.vars.errors|length > 0 -%}
				{%- for error in item.receiveOrderItem.vars.errors -%}
					"{{ error.message }}",
				{%- endfor -%}
			{%- endif -%}
		],
		quantity: [
			{%- if item.quantity is defined and item.quantity.vars.errors|length > 0 -%}
				{%- for error in item.quantity.vars.errors -%}
					"{{ error.message }}",
				{%- endfor -%}
			{%- endif -%}
		]
	};

	{% if item.vars.value.receiveOrderItem is not empty -%}
		included.push("{{ item.vars.value.receiveOrderItem.id|default(item.vars.value.receiveOrderItem) }}");
	{% endif %}
	
	items[{{ key }}] = {
		roItem: {
			id : "{{ item.vars.value.receiveOrderItem.id|default(item.vars.value.receiveOrderItem) }}",
			product: "{{ item.vars.value.receiveOrderItem.product.sku|default ~ ' ' ~ item.vars.value.receiveOrderItem.product.name|default }}",
			balance: "{{ item.vars.value.receiveOrderItem.quantity|default(0) - item.vars.value.receiveOrderItem.totalReturned(item.vars.value)|default(0) }}",
			quantity: "{{ item.vars.value.receiveOrderItem.quantity|default(0) }}",
			unitCost: "{{ item.vars.value.receiveOrderItem.purchaseOrderItem.unitCost|default(0) }}",
			palletId: "{{ item.vars.value.receiveOrderItem.palletId|default(0) }}",
			lotNumber: "{{ item.vars.value.receiveOrderItem.lotNumber|default(0) }}",
		},
		quantity: "{{ item.vars.value.quantity }}",
		remarks: "{{ item.vars.value.remarks }}",
		errors: errors
	};
{% endfor %}
</script>
{% endmacro %}