{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li><a href="{{ path('purchasereturn') }}">Shipment Discrepancy Notices</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}

<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>{{ FAIcon('undo', 'page-header-icon') }} Shipment Discrepancy Notice #{{ entity.id }}</h1>
			{{ entity|renderStatusTag }}
		</div>
		
		<div class="col-sm-6">
			<div class="pull-right btn-toolbar">
				<div class="btn-group">
					{% if entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseReturn::STATUS_DRAFT') %}
						<a class="btn btn-outline btn-success" href="{{ path("purchasereturn_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\PurchaseReturn::STATUS_RETURNED')}) }}">{{ FAIcon('check') }} Return</a>	
					{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\PurchaseReturn::STATUS_RETURNED') %}
						<a class="btn btn-outline disabled" href="#" class="btn btn-success">{{ FAIcon('check') }} Returned</a>
					{% endif %}
				</div>
				
				<div class="btn-group btn-group-md">
					{% if entity.isEditable and is_expr_granted("hasAnyRole('ROLE_PURCHASERETURN_UPDATE')") %}				
						<a href="{{ path('purchasereturn_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>	
					{% endif %}
		
					<a href="{{ path('purchasereturn_export', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('print') }} Print</a>
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('purchasereturn_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
							{% if is_expr_granted("hasAnyRole('ROLE_PURCHASERETURN_DELETE')") %}
								{% if entity.status < constant('CI\\InventoryBundle\\Entity\\PurchaseReturn::STATUS_VOID') %}
									<li class="divider"></li>
									{% if entity.isDeletable %}
										<li><a href="{{ path('purchasereturn_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
									{% else %}
										<li><a href="{{ path("purchasereturn_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\PurchaseReturn::STATUS_VOID')}) }}">{{ FAIcon('warning') }} Void</a></li>
									{% endif %}
								{% endif %}
							{% endif %}				
						</ul>
					</div>
				</div>
				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('purchasereturn') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">PO#</th>
						<td><a href="{{ path('purchaseorder_show', { 'id':entity.receiveOrder.purchaseOrder.id }) }}">{{ entity.receiveOrder.purchaseOrder.poId }}</a></td>
					</tr>
					<tr>
						<th>RO#</th>
						<td><a href="{{ path('receiveorder_show', { 'id':entity.receiveOrder.id }) }}">{{ entity.receiveOrder.referenceNumber ? entity.receiveOrder.referenceNumber : entity.receiveOrder.id }}</a></td>
					</tr>
					<tr>
						<th class="col-xs-4">Supplier</th>
						<td><a href="{{ path('supplier_show', { 'id':entity.supplier.id }) }}">{{ entity.supplier.name }}</a></td>
					</tr>
					<tr>
						<th class="col-xs-4">Invoice Number</th>
						<td>{{ entity.invoiceNumber }}</td>
					</tr>
					<tr>
						<th class="col-xs-4">Return Date</th>
						<td>{{ utils.formatDate(entity.returnDate) }}</td>
					</tr>
					<tr>
						<th class="col-xs-4">Date Prepared</th>
						<td>{{ utils.formatDate(entity.datePrepared) }}</td>
					</tr>
					<tr>
						<th class="col-xs-4">Date Received</th>
						<td>{{ utils.formatDate(entity.receiveOrder.dateReceived) }}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">Particular</th>
						<td>{{ entity.particular|default('') }}</td>
					</tr>
					<tr>
						<th class="col-xs-4">Natures of Discrepancy</th>
						<td>
							{{ entity.translateNature }}
						</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-light">
						<thead>
							<tr>
								<th class="col-sm-2">Product</th>
								<th class="col-sm-2 text-right">Quantity <small>(KG)</small></th>
								<th class="col-sm-1 text-right">Pallet ID</th>
								<th class="col-sm-1 text-right">Lot Number</th>
								<th class="col-sm-2 text-right">Cost</th>
								<th class="col-sm-2 text-right">Line Total</th>
								<th class="col-sm-2 text-right">Remarks</th>
							</tr>
						</thead>
						<tbody>
							{% for item in entity.items %}
								{% set product = item.receiveOrderItem.purchaseOrderItem.product %}
								<tr>
									<td><a href="{{ path('product_show', { 'id' : product.id }) }}">{{ product.sku }} {{ product.name }}</a></td>
									<td class="text-right">{{ item.quantity|decimal(2) }} kg</td>
									<td class="text-right">{{ item.palletId }}</td>
									<td class="text-right">{{ item.lotNumber }}</td>
									<td class="text-right">{{ item.receiveOrderItem.purchaseOrderItem.unitCost|decimal(2) }}</td>
									<td class="text-right">{{ (item.quantity * item.receiveOrderItem.purchaseOrderItem.unitCost)|decimal(2) }}</td>
									<td class="text-right">{{ item.remarks|default('')|nl2br }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6 col-xs-offset-1">
				{% if entity.actionTaken %}
					<div class="well">
						<p>
							<strong>Action Taken</strong><br/>
							{{ entity.actionTaken|nl2br }}
						</p>
					</div>
				{% endif %}
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<ul class="totals">
					<li>
						<span class="descr">TOTAL</span>
						<span class="amount grand-total">{{ entity.total|decimal(2) }}</span>
					</li>
				</ul>
			</div>
		</div>
		
		{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>

	<div class="col-md-3">
		{% if is_expr_granted("hasAnyRole('ROLE_PURCHASERETURN_FILE_DOWNLOAD')") %}
			<div class="row">
				<div class="panel panel-default custom-panel">
					<div class="panel-heading">
						<span class="panel-title">{{ FAIcon('paperclip', 'panel-title-icon') }}Attachments</span>
					</div>

					<div class="panel-body">
						<div class="panel-padding no-padding-vr">
						{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}
						{% if entity.files|length > 0 %}
							{% for file in entity.files %}
								{% set fileName = file.name|split('.') %}
								<div class="item">
									<a href="{{ path('purchasereturn_file_download', { 'id': file.id }) }}" class="thumbnail">
										{% if (fileName|last)|lower in imageExtensions %}
											<img src="{{ asset(file.webFilePath) | imagine_filter('image_thumbnail') }}" />
										{% else %}
											{{ file.name }}
										{% endif %}
									</a>
									<span class="item-text1">{{ file.name }}</span><br/>
									<span class="item-text2"></span>
								</div>
							{% endfor %}
						{% else %}
							<div class="item">
								No attachments yet.
							</div>
						{% endif %}
						</div>
					</div>
					{% if is_expr_granted("hasAnyRole('ROLE_PURCHASERETURN_FILE_UPLOAD')") %}
						<div class="panel-footer">
							<a class="btn btn-primary btn-sm btn-block" href="{{ path('purchasereturn_file', { 'id' :entity.id }) }}">{{ FAIcon('upload') }} Upload</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
</div>
{% endblock content %}