{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active"> Staging Inventory Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
				<h1>{{ FAIcon('file', 'page-header-icon') }} Staging Inventory Report</h1>
				</div>
				
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					{% if params %}
						{% set exportParams = [] %}
						
						{% if params.poId %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_staginginventoryreportfiltertype[poId]' : params.poId }) %}
						{% endif %}
						
						{% if params.roId %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_staginginventoryreportfiltertype[roId]' : params.roId }) %}
						{% endif %}
						
						{% if params.dateFrom %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_staginginventoryreportfiltertype[dateFrom]' : params.dateFrom|date('m/d/Y') }) %}
						{% endif %}
						
						{% if params.dateTo %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_staginginventoryreportfiltertype[dateTo]' : params.dateTo|date('m/d/Y') }) %}
						{% endif %}
					
						<div class="pull-right">
							<a class="btn btn-default btn-labeled btn-sm" href="{{ path('get_staging_inventory_list_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	   
		
		<div class="row search-filters">
			{{ form_start(search_form, { 'action' : path('get_staging_inventory_list'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.poId) }}
					{{ form_row(search_form.roId) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		
		{% if params %}
			{% if pagination.getPaginationData['totalCount'] > 0 %}
				<div id="display-count" class="pull-right">
					{{ macros.paginationCount(pagination) }}
				</div>      		
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'po.poId', 'PO #') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'ro.id', 'RO #') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.quantity', 'Quantity') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'p.name', 'Product') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.lotNumber', 'Lot #') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.productionDate', 'Production Date') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'roi.palletId', 'Pallet ID') }}</th>
							</tr>
						</thead>
						<tbody>
						{% for data in pagination %}
							{% set entity = data[0] %}
							<tr>
								<td>{{ entity.purchaseOrderItem.purchaseOrder.poId }}</td>
								<td>{{ entity.receiveOrder.id }}</td>
								<td>{{ data.quantity }}</td>
								<td>{{ entity.purchaseOrderItem.product.name }}</td>
								<td>{{ data.lotNumber }}</td>
								<td>{{ utils.formatDate(data.productionDate) }}</td>
								<td>{{ data.palletId }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
					{{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}