{% form_theme form 'CICoreBundle::custom_fos_form.html.twig' %}
<div class="page-header">
		<h1>Change Password</h1>
</div>
{{ form_errors(form) }}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
	<div class="row">
		<div class="col-md-5">
			{{ form_row(form.current_password) }}
			{{ form_row(form.plainPassword) }}
		</div>
    	{{ form_rest(form) }}
  	</div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary submit-button" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" >{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>    
    	<a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">Back</a>
    </div>
</form>
