{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li class="active"><a href="{{ path('fos_user_group_list') }}">Roles</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
				<h1>{{ FAIcon('users') }} Roles</h1>
				</div>
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					<div class="pull-right">
						<a class="btn btn-success btn-labeled btn-sm" href="{{ path('fos_user_group_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
						<a class="btn btn-default btn-labeled btn-sm" href="{{ path('fos_user_group_list') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
					</div>
				</div>
			</div>
		</div>

		<div class="row search-filters">
			{{ form_start(search_form, { 'action': path('fos_user_group_list'), 'method': 'GET', 'attr': { 'class': 'form-horizontal' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-5">
							{{ form_row(search_form.name) }}
						</div>
						<div class="col-md-6">
							<button type="submit" class="btn btn-outline submit-button" data-loading-text="Searching...">Search</button>
						</div>
					</div>
				</div>
				
			{{ form_end(search_form) }}
		</div>
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			 <div id="display-count" class="pull-right">
				 {{ macros.paginationCount(pagination) }}
			</div>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
					<tr>
						<th class="col-md-1">Action</th>
						<th class="col-md-10">{% if pagination.isSorted('g.name') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'Name', 'c.name') }}{% if pagination.isSorted('c.name') %}</em>{%  endif %}</th>
					</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('fos_user_group_show', { 'id' :entity.id }) }}">{{ FAIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('fos_user_group_edit', { 'id' : entity.id }) }}">{{ FAIcon('pencil') }} Edit</a></li>
									</ul>
								</div>
							</td>
							<td><a href="{{ path('fos_user_group_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
			{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}
