{% macro role(form, label, firstIndex, lastIndex, isAutoToggle = true) %}
	<div class="form-group row">
		<label class="control-label col-lg-4 required">{{ label }}</label>
		<div class="col-lg-8">
			{% for key, role in form %}
				{% if key >= firstIndex and key <= lastIndex %}
					<div class="checkbox{% if isAutoToggle != true %} no-auto-toggle{% endif %}">
						{{ form_widget(role, { 'attr' : { 'class' : 'switcher-square' } }) }}
						<span class="lbl checkbox-label-align">{{ role.vars.label }}</span>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endmacro %}