{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CICoreBundle:Group:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('fos_user_group_list') }}">Roles</a></li>
<li class="active">Add</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>New Role</h1>
</div>

{{ form_start(form, {'action': path('fos_user_group_create'), 'method': 'POST', 'attr': { 'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.name) }}
				</div>
			</div>
			<div class="row">				
				<div class="col-md-12">
					<h3 class="text-center">Set Permissions</h3>
					{{ form_errors(form.roles) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 well">
					<h3>Accounts</h3>
					<div class="row">
						<div class="col-md-6">
        					{{ macro.role(form.roles, 'Supplier', 0, 7) }}
        				</div>
        				<div class="col-md-6">
        					{{ macro.role(form.roles, 'Customer', 8, 15) }}
        				</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 well">
					<h3>Inventory</h3>
					<div class="row">
						<div class="col-md-6">
        					{{ macro.role(form.roles, 'Product', 16, 24) }}
        				</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1 well">
					<h3>Purchasing</h3>
					<div class="row">
						<div class="col-md-6">
        					{{ macro.role(form.roles, 'Purchase Order', 25, 35) }}
        					{{ macro.role(form.roles, 'Receive Order', 36, 43) }}
        				</div>
        				<div class="col-md-6">
        				    {{ macro.role(form.roles, 'Put Away', 44, 49) }}
        				    {{ macro.role(form.roles, 'Shipment Discrepancy Notice', 50, 58) }}
        				</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1 well">
					<h3>Sales</h3>
					<div class="row">
						<div class="col-md-6">
        					{{ macro.role(form.roles, 'Quotation', 59, 70) }}
        					{{ macro.role(form.roles, 'Sales Order', 71, 83) }}
        					{{ macro.role(form.roles, 'Delivery', 84, 95) }}
        					{{ macro.role(form.roles, 'Order Picking', 96, 100) }}
        				</div>
        				<div class="col-md-6">
        					{{ macro.role(form.roles, 'Backload', 101, 106) }}
        					{{ macro.role(form.roles, 'Sales Return', 107, 114) }}
        					{{ macro.role(form.roles, 'Sales Forecast', 115, 121) }}
        				</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1 well">
					<h3>Reports</h3>
					<div class="row">
						<div class="col-md-8">
        					{{ macro.role(form.roles, 'Reports', 122, 138, false) }}
        				</div>
					</div>
				</div>				
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1 well">
					<h3>Settings</h3>
					<div class="row">
						<div class="col-md-6">
        					{{ macro.role(form.roles, 'Category', 139, 144) }}
        					{{ macro.role(form.roles, 'Packaging', 145, 150) }}
        					{{ macro.role(form.roles, 'Currency', 151, 156) }}
        				</div>
        				<div class="col-md-6">
        					{{ macro.role(form.roles, 'Industry', 157, 162) }}
        					{{ macro.role(form.roles, 'Warehouse', 163, 167) }}
        					{{ macro.role(form.roles, 'Storage Location', 168, 172) }}
        				</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1 well">
					<h3>Miscellaneous</h3>
					<div class="row">
						<div class="col-md-6">
        				    {{ macro.role(form.roles, 'Sales Activity', 173, 180) }}
        				</div>
        				<div class="col-md-6">
        					{{ macro.role(form.roles, 'Dashboard', 181, 184, false) }}
        				</div>
					</div>
				</div>
			</div>

			<div class="form-group form-actions">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-success submit-button" data-loading-text="Saving...">Save</button>
					<a href="{{ path('fos_user_group_list') }}" class="btn btn-outline">Back</a>
				</div>
			</div>

		</div>
	</div>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	<script>
		$('.switcher-square').switcher({
			theme: 'square',
			on_state_content: '<span class="fa fa-check"></span>',
			off_state_content: '<span class="fa fa-times"></span>'
		});

		$('.switcher-square').click(function() {
			var checkbox = $(this).parent().parent().parent();
			var container = $(this).parent().parent();

			if (!container.hasClass('no-auto-toggle') && $(this).is(':checked')) {
				if ($(this).val().indexOf("READ") == -1 && $(this).val().indexOf("LIST") == -1) {
					checkbox.find("[value*='READ']").switcher('on');
					checkbox.find("[value*='LIST']").switcher('on');
				} else if ($(this).val().indexOf("READ") > -1) {
					checkbox.find("[value*='LIST']").switcher('on');
				} else if ($(this).val().indexOf("LIST") > -1) {
					checkbox.find("[value*='READ']").switcher('on');
				}
			}
		});
	</script>
{% endblock %}