{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('fos_user_group_list') }}">Roles</a></li>
<li class="active"><a href="{{ path('fos_user_group_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="btn-group pull-right">
		<a class="btn btn-primary" href="{{ path('fos_user_group_edit', { 'id': entity.id }) }}">{{ FAIcon('pencil', 'btn-label') }} Edit</a>
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="{{ path('fos_user_group_edit', { 'id': entity.id }) }}">{{ icon('edit') }} Edit</a></li>
			{% if entity.isDeletable %}
				<li class="divider"></li>
				<li><a href="{{ path('fos_user_group_confirm_delete', { 'id': entity.id }) }}">{{ icon('trash') }} Delete</a></li>
			{% endif %}
		</ul>
	</div>
	<small>Role ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ entity.name }}</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<table class="table table-no-border profile">
			<tbody>
				<tr>
					<th class="col-md-5">Name</th>
					<td>{{ entity.name }}</td>
				</tr>
				 <tr>
					<th>Permissions</th>
					<td>
						{% for role in entity.translatedPermissions %}
							{{ role }}
							{% if not loop.last %}
								<br/>
							{% endif %}
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<br/>

<div class="row">
	<div class="col-md-10">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#users" data-toggle="tab">Assigned Users</a></li>
		</ul>
		<div class="tab-content">
			<div id="users" class="tab-pane fade active in">
				{% if entity.users|length > 0 %}
					<div class="table-responsive">
						<table class="table table-light table-striped single-table-collection">
							<thead>
								<tr>
									<th class="col-sm-6">Username</th>
									<th class="col-sm-6">Full Name</th>
								</tr>
							</thead>
							<tbody>
								{% for user in entity.users %}
									{% if not user.expired %}
									<tr>
										<td> 
											{% if is_expr_granted("hasRole('ROLE_ADMIN')") %}
												<a href="{{ path('user_show', { 'id' : user.id }) }}">
											{% endif %}
											{{ user.username }}
											{% if is_expr_granted("hasRole('ROLE_ADMIN')") %}
												</a>
											{% endif %}
										</td>
										<td>{{ user.name }}</td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<div class="alert">
						No users assigned.
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
