{% extends 'CICoreBundle::login_layout.html.twig' %}

{% block right_side %}
<div class="signin-form">
	{% trans_default_domain "FOSUserBundle" %}
	{% if error is defined %}
		<div class="alert {% if error %}alert-danger{% else %}alert-success{% endif %}">
			<button type="button" class="close" data-dismiss="alert">×</button>
			{% if invalid_username is defined %}
				{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
			{% endif %}
			{% if already_requested is defined and already_requested %}
				{{ 'resetting.password_already_requested'|trans }}
			{% endif %}
		</div>
	{% endif %}
	
	<!-- Password reset form -->
	<div class="password-reset-form" id="password-reset-form">
		<div class="signin-text">
			<span>Password Reset</span>
		</div> 
		
		{% if check_email is defined %}
			<p>{{ 'resetting.check_email'|trans({'%email%': email})|raw }}</p>
		{% else %}
			<!-- Form -->
			<form action="{{ path('fos_user_resetting_send_email') }}" id="password-reset-form_id" method="POST">
				<div class="form-group w-icon">
					<input type="text" name="username" id="p_email_id" class="form-control input-lg" placeholder="Enter your username or email">
					<span class="fa fa-envelope signin-form-icon"></span>
				</div> <!-- / Email -->
				
				<div class="form-actions">
					<input type="submit" value="SEND PASSWORD RESET LINK" class="signin-btn bg-primary">
					<a href="{{ path('welcome') }}" class="forgot-password">Cancel</a>
				</div> <!-- / .form-actions -->
			</form>
			<!-- / Form -->
		{% endif %}
	</div>
	<!-- / Password reset form -->
</div>
{% endblock right_side %}

{% block javascripts %}
<script type="text/javascript">
$(function() {
	// Setup Password Reset form validation
	$( "#password-reset-form_id" ).validate({ focusInvalid: true, errorPlacement: function () {} });

	// Validate email
	$( "#p_email_id" ).rules( "add", {
		required: true,
// 		email: true
	});
});
</script>
{% endblock %}