{% extends 'CICoreBundle::login_layout.html.twig' %}

{% block right_side %}
<div class="signin-form">
	{% trans_default_domain "FOSUserBundle" %}
	{% if form.plainPassword.first.vars.errors|length > 0 %}
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
			{% for error in form.plainPassword.first.vars.errors %}
				{{ error.message }}
			{% endfor %}
		</div>
	{% endif %}
	
	<!-- Form -->
	<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" id="signin-form_id" method="post">
		<input type="hidden" name="fos_user_resetting_form[_token]" value="{{ form._token.vars.value }}">
		<div class="signin-text">
			<span>Change your forgotten password</span>
		</div> <!-- / .signin-text -->
		
		<div class="form-group w-icon">
			<input type="password" name="fos_user_resetting_form[plainPassword][first]" id="first_pw" class="form-control input-lg" placeholder="{{ 'fos_user_resetting_form_new_first'|trans }}" />
			<span class="fa fa-unlock-alt signin-form-icon"></span>
		</div> <!-- / First -->
		
		<div class="form-group w-icon">
			<input type="password" name="fos_user_resetting_form[plainPassword][second]" id="second_pw" class="form-control input-lg" placeholder="{{ 'fos_user_resetting_form_new_second'|trans }}">
			<span class="fa fa-lock signin-form-icon"></span>
		</div> <!-- / Second -->
		
		<div class="form-actions">
			<button type="submit" class="signin-btn bg-primary">CHANGE PASSWORD</button>
			<a href="{{ path('welcome') }}" class="forgot-password">Cancel</a>
		</div> <!-- / .form-actions -->
	</form>
	<!-- / Form -->	
</div>
{% endblock right_side %}

{% block javascripts %}
<script type="text/javascript">
$(function() {
	$( "#signin-form_id" ).validate({ focusInvalid: true, errorPlacement: function () {} });
	
	// Validate username
	$( "#first_pw" ).rules( "add", {
		required: true,
		minlength: 6
	});
	
	// Validate password
	$( "#second_pw" ).rules( "add", {
		required: true,
		minlength: 6
	});
});
</script>
{% endblock %}