{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Inventory Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <div class="row">
	            <div class="col-xs-6 col-sm-6">
    	        <h1>{{ FAIcon('file', 'page-header-icon') }} Inventory Report</h1>
    	        </div>
    	        
    	        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
    	        	{% if params %}
						{% set exportParams = [] %}
						
						{% if params.sku %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[sku]' : params.sku }) %}
						{% endif %}
					
						<div class="pull-right">
						    <a class="btn btn-default btn-labeled btn-sm" href="{{ path('get_inventory_list_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
                </div>
            </div>
	    </div>
	   
	    
		<div class="row search-filters">
            {{ form_start(search_form, { 'action' : path('get_inventory_list'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
		 	    {{ bootstrap_set_style('horizontal') }}
		 		<div class="col-md-6">
					{{ form_row(search_form.sku) }}
					{{ form_row(search_form.search) }}
				</div>
            {{ form_end(search_form) }}
		</div>
		
		{% if params %}
		    {% if pagination.getPaginationData['totalCount'] > 0 %}
		        <div id="display-count" class="pull-right">
	             	{{ macros.paginationCount(pagination) }}
    			</div>      		
	    		<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
							
							    <th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'p.sku', 'SKU') }}</th>
							    <th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'p.name', 'Product Name') }}</th>
							    <th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'cat.name', 'Category') }}</th>
							</tr>
				        </thead>
				        <tbody>
				        {% for entity in pagination %}
							<tr>
								<td>{{ entity.sku }}</td>
								<td>{{ entity.name }}</td>
								<td>{{ entity.category }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
				    {{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}