{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Warehouse Inventory Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
				<h1>{{ FAIcon('file', 'page-header-icon') }} Warehouse Inventory Report</h1>
				</div>
				
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					{% if params %}
						{% set exportParams = [] %}
						
						{% if params.warehouse %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_warehouseinventoryreportfilter[warehouse]' : params.warehouse.id }) %}
						{% endif %}

						{% if params.supplier %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_warehouseinventoryreportfilter[supplier]' : params.supplier.id }) %}
						{% endif %}

						{% if params.product %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_warehouseinventoryreportfilter[product]' : params.product.id }) %}
						{% endif %}

						{% if params.lotNumber %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_warehouseinventoryreportfilter[lotNumber]' : params.lotNumber }) %}
						{% endif %}

						{% if params.productionDate %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_warehouseinventoryreportfilter[productionDate]' : params.productionDate|date('m/d/Y') }) %}
						{% endif %}
						
						<div class="pull-right">
							<a class="btn btn-default btn-labeled btn-sm" href="{{ path('get_warehouse_inventory_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>							
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	   
		
		<div class="row search-filters">
			{{ form_start(search_form, { 'action' : path('get_warehouse_inventory'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-6">
					{{ form_row(search_form.warehouse) }}
					{{ form_row(search_form.supplier) }}
					{{ form_row(search_form.product) }}
					{{ form_row(search_form.lotNumber) }}
					{{ form_row(search_form.productionDate) }}
					{{ form_row(search_form.search) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		
		{% if params %}
			{% if pagination.getPaginationData['totalCount'] > 0 %}
				<div id="display-count" class="pull-right">
					{{ macros.paginationCount(pagination) }}
				</div>      		
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 's.name', 'Supplier') }}</th>
								<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'p.name', 'Product') }}</th>
								<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'w.name', 'Warehouse') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'p.barcode', 'Barcode') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'i.lotNumber', 'Lot Number') }}</th>
								<th class="col-md-1 text-right">{{ utils.sortableTableHeader(pagination, 'i.qtyOnHand', 'Actual Stock') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'i.productionDate', 'Production Date') }}</th>
								<th class="col-md-1 text-right">Total Count per Item</th>
								<th class="col-md-1 text-right">Total Count per Lot Number</th>
							</tr>
						</thead>
						<tbody>
						{% for row in pagination %}
							<tr>
								<td><a href="{{ path('supplier_show', {'id':row.product.supplier.id}) }}">{{ row.product.supplier.name }}</a></td>
								<td><a href="{{ path('product_show', {'id':row.product.id}) }}">{{ row.product.sku }} {{ row.product.name }}</a></td>
								<td><a href="{{ path('warehouse_show', {'id':row.storageLocation.warehouse.id}) }}">{{ row.storageLocation.warehouse.name }}</a></td>
								<td>{{ row.product.barcode }}</td>
								<td>{{ row.lotNumber|default('') }}</td>
								<td class="text-right">{{ row.qtyOnHand|number_format(2) }}</td>
								<td>{{ utils.formatDate(row.productionDate) }}</td>
								<td class="text-right">{{ productTotalsResult[row.product.id] }}</td>
								<td class="text-right">{{ lotNumberTotalsResult[row.lotNumber] }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
					{{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}