<form name="eform" ng-submit="eform.$valid && update()" class="form-horizontal" novalidate="novalidate">
	<input type="hidden" name="_method" value="PUT" />
	<div class="modal-header">
    	<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    	<h4 class="modal-title">Edit Code</h4>
  	</div>
  	<div class="modal-body">
  		<div id="messages" ng-show="message" ng-bind="message" class="alert alert-warning"></div>
  		
    	<div class="row">
    		<div class="col-xs-12">
    		{{ bootstrap_set_style('horizontal') }}
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.customer || eform['ci_inventorybundle_productcode[customer]'].$dirty && eform['ci_inventorybundle_productcode[customer]'].$invalid }">
    			{{ form_label(edit_form.customer) }}
    			<div class="col-lg-8">
    				{{ form_widget(edit_form.customer, { 'attr' : { 'ng-model' : 'form.customer' } }) }}
    				<span class="help-block text-sm" ng-show="errors.customer" ng-bind="errors.customer"></span> 
    			</div>
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.code || eform['ci_inventorybundle_productcode[code]'].$dirty && eform['ci_inventorybundle_productcode[code]'].$invalid }">
    			{{ form_label(edit_form.code) }}
    			<div class="col-lg-5">
    				{{ form_widget(edit_form.code, { 'attr' : { 'ng-model' : 'form.code' } }) }}
    				<span class="help-block text-sm" ng-show="errors.code" ng-bind="errors.code"></span> 
    			</div>
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.alias }">
    			{{ form_label(edit_form.alias) }}
    			<div class="col-lg-8">
    				{{ form_widget(edit_form.alias, { 'attr' : { 'ng-model' : 'form.alias' } }) }}
    				<span class="help-block text-sm" ng-show="errors.alias" ng-bind="errors.alias"></span>
    			</div> 			 
    		</div>
    		
    		{{ form_row(edit_form.product) }}
    		
    		</div>
    	</div>
  	</div>
  	<div class="modal-footer">
  		{{ form_widget(edit_form.save) }}
    	<button type="button" class="btn btn-outline" ng-click="close()">Close</button>
    </div>
    {{ form_widget(edit_form._token) }}
</form>