{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:ReceiveOrder:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li><a href="{{ path('receiveorder') }}">Receive Orders</a></li>
<li><a href="{{ path('receiveorder_show', { 'id' : entity.id }) }}">{{ entity.id }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('credit-card', 'page-header-icon') }} Receive Order # {{ entity.id }}</h1>
	{{ entity|renderStatusTag }}
</div>

{% if form_errors(edit_form) is not empty %}
	{{ form_errors(edit_form) }}<br/>
{% endif %}

{% if form_errors(edit_form.items) is not empty %}
	{{ form_errors(edit_form.items) }}<br/>
{% endif %}
{{ form_start(edit_form, {'action': path('receiveorder_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate', 'ng-controller' : 'ReceiveOrderController' } }) }}
	<div class="row">
		{{ bootstrap_set_style('horizontal') }}
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">	
					<div class="form-group row">
						{{ form_label(edit_form.purchaseOrder) }}
						<div class="col-lg-8">
							{{ form_widget(edit_form.purchaseOrder) }}
							<p class="form-control-static">{{ entity.purchaseOrder.poId }}</p>
						</div>
					</div>
					{{ form_row(edit_form.receivedFrom) }}
					<div class="form-group row">
						<label class="control-label col-lg-4 required">
							Supplier
						</label>
						<div class="col-lg-5">
							<p class="form-control-static">{{ entity.supplierName }}</p>
						</div>
					</div>
					{{ form_row(edit_form.supplierName) }}
					{{ form_row(edit_form.drNo) }}
					{{ form_row(edit_form.invoiceNumber) }}
					{{ form_row(edit_form.soNo) }}
					{{ form_row(edit_form.referenceNumber) }}
				</div>
				
				<div class="col-sm-5">
					{{ form_row(edit_form.dateReceived) }}
					{{ form_row(edit_form.containerNumber) }}
					{{ form_row(edit_form.sealNumber) }}
					{{ form_row(edit_form.factoryNumber) }}	
					{{ form_row(edit_form.memo) }}	
				</div>
			</div>
			
			<br>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="table-responsive">
						<table class="table table-primary item-collection">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th class="col-md-2 text-center">Quantity</th>
									<th class="col-md-1 text-center">Total Received</th>
									<th class="col-md-1 text-center">Balance</th>
									<th class="col-md-1">Mode</th>
									<th class="col-md-1">Type</th>
									<th class="col-md-1">Barcode</th>
									<th class="col-md-1">Product</th>
									<th class="col-md-1">Lot No.</th>
									<th class="col-md-1">Production Date</th>
									<th class="col-md-1">Pallet ID</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(key, item) in form.items" ng-class="{% verbatim %}{ success: item.isIncluded }{% endverbatim %}">
									{{ macro.item(edit_form.items.vars.prototype) }}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(edit_form.save) }}
						<a href="{{ path('receiveorder_show', { 'id' : entity.id }) }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
	    </div>
    </div>
    {{ form_widget(edit_form._token) }}
</form>
{% include 'CIInventoryBundle:Misc:typeahead.template.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ macro.generateValues(edit_form, entity) }}
	<script src="{{ asset('assets/js/angular/receive_order.js') }}"></script>
{% endblock %}