{% import 'CICoreBundle::utils.html.twig' as utils %}
{% include 'CIInventoryBundle:PDF:reportPdfStyles.html.twig' %}
<style>
table.footer {
	text-align: left;
}

.border {
	border: 1px solid black;
}
</style>
<html>
	<body>
		<h1 class="text-center">RECEIVE ORDER</h1>
		<p class="pull-right"><b>DATE:</b> {{ utils.formatDate(rows.dateReceived) }}</p>
		<br/>
		<br/>
		<table>
			<tbody>
				<tr>
					<th width="15%">RO #: </th>
					<td width="35%" class="text-bold">{{ rows.id }}</td>
					<th>DR #: </th>
					<td class="text-bold">{{ rows.drNo|default('') }}</td>
				</tr>
				<tr>
					<th>PO #: </th>
					<td class="text-bold">{{ rows.purchaseOrder.poId }}</td>
					<th>Factory #: </th>
					<td class="text-bold">{{ rows.factoryNumber|default('') }}</td>
				</tr>
				<tr>
					<th>Received From: </th>
					<td class="text-bold">{{ rows.receivedFrom|default('') }}</td>
					<th>Invoice #: </th>
					<td class="text-bold">{{ rows.invoiceNumber|default('') }}</td>
				</tr>
				<tr>
					<th>Container #: </th>
					<td class="text-bold">{{ rows.containerNumber|default('') }}</td>
					<th>SO #: </th>
					<td class="text-bold">{{ rows.soNo|default('') }}</td>
				</tr>
				<tr>
					<th>Supplier Name: </th>
					<td class="text-bold">{{ rows.supplierName|default('') }}</td>
					<th>Reference #: </th>
					<td class="text-bold">{{ rows.referenceNumber|default('') }}</td>
				</tr>
				<tr>
					<th>Seal #: </th>
					<td class="text-bold">{{ rows.sealNumber|default('') }}</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<br/>
		<br/>
		<table class="table-report">
			<tbody>
				<tr>
					<th width="14%">QUANTITY</th>
					<th width="15%">TOTAL RECEIVED</th>
					<th width="12%">BALANCE</th>
					<th width="6%">MODE</th>
					<th width="5%">TYPE</th>
					<th width="15%">BARCODE</th>
					<th width="21%">PRODUCT</th>
					<th width="12%">LOT NO.</th>
				</tr>
				{% for item in rows.items %}
					<tr>
						<td class="pull-right">{{ item.quantity|number_format(2) }} kg</td>
						<td class="pull-right">{{ item.purchaseorderitem.totalReceived|decimal }}</td>
						<td class="pull-right">{{ item.purchaseorderitem.getMaxQtyAllowedToReceive|decimal }}</td>
						<td class="text-center">{{ item.mode }}</td>
						<td class="text-center">{{ item.type }}</td>
						<td class="text-center">{{ item.barcode }}</td>
						<td>{% if item.product.supplierProductName and item.product.supplierProductCode %} {{ item.product.supplierProductName }} {{ item.product.supplierProductCode }} {% else %} {{ item.product.sku }} {{ item.product.name }} {% endif %}</td>
						<td class="text-center">{{ item.lotNumber }}</td>
					</tr>
				{% endfor %}
				<tr class="pull-left">
					<td><strong>MEMO: </strong></td>
					<td>{{ rows.memo|nl2br }}</td>
				</tr>
			</tbody>
		</table>

		<br/>
		<br/>

		
		<table class="footer" cellpadding="5">
			<tbody>
				<tr>
					<td height="20"  width="15%">Prepared By:</td>
					<td class="border" width="35%"></td>
					<td width="15%">Date:</td>
					<td class="border" width="35%"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
