{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li class="active">Receive Orders</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h1>{{ FAIcon('plus-square', 'page-header-icon') }} Receive Orders</h1>
				</div>
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					<div class="pull-right">
						<a class="btn btn-default btn-labeled btn-sm" href="{{ path('receiveorder') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('receiveorder'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-6">
					{{ form_row(search_form.roId) }}
					{{ form_row(search_form.poId) }}
					{{ form_row(search_form.referenceNumber) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
					{{ form_row(search_form.status) }}
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'ro.id', 'RO #') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'ro.referenceNumber', 'Reference #') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'po.poId', 'PO #') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'ro.dateReceived', 'Date Received') }}</th>
							<th class="col-md-3">Memo</th>
						</tr>
					</thead>
					<tbody>
					{% for entity in pagination %}
						<tr>
							<td>
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('receiveorder_show', { 'id': entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
										{% if entity.isEditable %}
											<li><a href="{{ path('receiveorder_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{% endif %}				
			            			</ul>
								</div>
							</td>
							<td><a href="{{ path('receiveorder_show', { 'id': entity.id }) }}">{{ entity.id }}</a>{{ entity|renderTags }}</td>
							<td>{{ entity.referenceNumber }}</td>
							<td>{{ entity.purchaseOrder.poId }}</td>
							<td>{{ utils.formatDate(entity.dateReceived) }}</td>
							<td>{{ entity.memo|nl2br }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>
		{% else %}
		<div class="alert">
			No results found.
		</div>
		{% endif %}
		
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}