{% macro item(item) %}
<td>
	<label class="checkbox">
		{{ form_widget(item.isIncluded) }}
		<span class="lbl">&nbsp;</span>
	</label>
</td>
<td>
	{{ form_widget(item.quantity) }}
	<div class="form-control-static text-center">
		<small>kg</small>
	</div> 
	
	<br ng-if="item.errors.quantity"/>
	<ul class="help-block text-left" ng-show="item.errors.quantity">
		<li class="text-danger" ng-repeat="error in item.errors.quantity">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>
<td class="text-center">
	<p class="form-control-static">
		<span class="badge badge-success" ng-bind="item.totalReceived|number:2"></span>
	</p>
</td>
<td class="text-center">
	<p class="form-control-static">
		<span class="badge badge-warning" ng-bind="item.maxQty|number:2"></span>
	</p>
</td>
<td>
	{{ form_widget(item.mode) }}
	
	<br ng-if="item.errors.mode"/>
	<ul class="help-block text-left" ng-show="item.errors.mode">
		<li class="text-danger" ng-repeat="error in item.errors.mode">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>
<td>
	{{ form_widget(item.type) }}
	
	<br ng-if="item.errors.type"/>
	<ul class="help-block text-left" ng-show="item.errors.type">
		<li class="text-danger" ng-repeat="error in item.errors.type">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>
<td>
	{{ form_widget(item.barcode) }}
	<p class="form-control-static" ng-bind="item.barcode"></p>
	
	<br ng-if="item.errors.barcode"/>
	<ul class="help-block text-left" ng-show="item.errors.barcode">
		<li class="text-danger" ng-repeat="error in item.errors.barcode">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>
<td>
	{{ form_widget(item.purchaseOrderItem) }}
	<p class="form-control-static">
		<span ng-bind="item.product.sku"></span>&nbsp;
		<span ng-bind="item.product.name"></span>
	</p>
</td>
<td>
	{{ form_widget(item.lotNumber) }}
	
	<br ng-if="item.errors.lotNumber"/>
	<ul class="help-block text-left" ng-show="item.errors.lotNumber">
		<li class="text-danger" ng-repeat="error in item.errors.lotNumber">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>
<td>
	{{ form_widget(item.productionDateFromScan) }}
	
	<br ng-if="item.errors.productionDateFromScan"/>
	<ul class="help-block text-left" ng-show="item.errors.productionDateFromScan || (item.productionDateFromScan.length > 0 && !isValidProductionDate(item.productionDateFromScan))">
		<li class="text-danger" ng-repeat="error in item.errors.productionDateFromScan">
			<small ng-bind="error"></small>
		</li>
		<li class="text-danger" ng-show="(item.productionDateFromScan.length > 0 && !isValidProductionDate(item.productionDateFromScan))">
			<small>
				This must be MM/DD/YYYY with leading zeroes and the year must be four digits.
			</small>
		</li>
	</ul>
</td>
<td>
	{{ form_widget(item.palletId) }}
	
	<br ng-if="item.errors.palletId"/>
	<ul class="help-block text-left" ng-show="item.errors.palletId">
		<li class="text-danger" ng-repeat="error in item.errors.palletId">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>
{% endmacro %}

{% macro generateValues(form, entity, receivedPalletIds) %}
<script>
	{% autoescape 'js' %}
	var items = {};
	var poItems = {};
	var poNo = "{{ entity.purchaseOrder.poId }}";
	var receivedPalletIds = [];

	{% for key, item in entity.purchaseOrder.items %}
		poItems[{{ key }}] = {
			id: "{{ item.id }}",
			product: {
				id: "{{ item.product.id }}",
				sku: "{{ item.product.sku }}",
				name: "{{ item.product.name }}",
				barcode: "{{ item.product.barcode }}",
			},
			maxQty: "{{ item.getMaxQtyAllowedToReceiveFromRO(entity) }}",
			totalReceived: "{{ item.totalReceivedFromRO(entity) }}"
		};
	{% endfor %}
	
	{% for key, item in form.items %}
		var errors = {
			quantity: [
				{% if item.quantity.vars.errors|length > 0 %}
					{% for error in item.quantity.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			],
			lotNumber: [
				{% if item.lotNumber.vars.errors|length > 0 %}
					{% for error in item.lotNumber.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			],
			mode: [
				{% if item.mode.vars.errors|length > 0 %}
					{% for error in item.mode.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			],
			type: [
				{% if item.type.vars.errors|length > 0 %}
					{% for error in item.type.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			],
			barcode: [
				{% if item.barcode.vars.errors|length > 0 %}
					{% for error in item.barcode.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			],
			palletId: [
				{% if item.palletId.vars.errors|length > 0 %}
					{% for error in item.palletId.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			],
			productionDateFromScan: [
				{% if item.productionDateFromScan.vars.errors|length > 0 %}
					{% for error in item.productionDateFromScan.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			]
		};

		items[{{ key }}] = {
				poItem: "{{ item.vars.value.purchaseOrderItem.id }}",
				isIncluded: {% if item.vars.value.isIncluded %}true{% else %}false{% endif %},
				quantity: "{{ item.vars.value.quantity }}",
				maxQty: "{{ item.vars.value.purchaseOrderItem.getMaxQtyAllowedToReceiveFromRO(entity) }}",
				totalReceived: "{{ item.vars.value.purchaseOrderItem.totalReceivedFromRO(entity) }}",
				product: {
					id: "{{ item.vars.value.purchaseOrderItem.product.id }}",
					sku: "{{ item.vars.value.purchaseOrderItem.product.sku }}",
					name: "{{ item.vars.value.purchaseOrderItem.product.name }}",
					barcode: "{{ item.vars.value.purchaseOrderItem.product.barcode }}",
				},
				lotNumber: "{{ item.vars.value.lotNumber }}",
				mode: "{{ item.vars.value.mode }}",
				type: "{{ item.vars.value.type }}",
				barcode: "{{ item.vars.value.barcode }}",
				palletId: "{{ item.vars.value.palletId }}",
				productionDateFromScan: "{{ item.vars.value.productionDateFromScan }}",
				errors: errors
		};
	{% endfor %}
	var Warehouse = "{{ entity.purchaseOrder.warehouse.id|default }}";

	{% for palletId in receivedPalletIds %}
		receivedPalletIds.push("{{ palletId }}");
	{% endfor %}
	{% endautoescape %}
</script>
{% endmacro %}