{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:ReceiveOrder:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li><a href="{{ path('receiveorder') }}">Receive Orders</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('plus-square', 'page-header-icon') }} New Receive Order</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}
{% endif %}

{{ form_start(form, { 'action' : path('receiveorder_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate', 'ng-controller' : 'ReceiveOrderController' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">	
					<div class="form-group row">
						{{ form_label(form.purchaseOrder) }}
						<div class="col-lg-8">
							{{ form_widget(form.purchaseOrder) }}
							<p class="form-control-static">{{ entity.purchaseOrder.poId }}</p>
						</div>
					</div>
					{{ form_row(form.receivedFrom) }}
					<div class="form-group row">
						<label class="control-label col-lg-4 required">
							Supplier
						</label>
						<div class="col-lg-5">
							<p class="form-control-static">{{ entity.supplierName }}</p>
						</div>
					</div>
					{{ form_row(form.supplierName) }}
					{{ form_row(form.drNo) }}
					{{ form_row(form.invoiceNumber) }}
					{{ form_row(form.soNo) }}
					{{ form_row(form.referenceNumber) }}
				</div>
				
				<div class="col-sm-5">
					{{ form_row(form.dateReceived) }}
					{{ form_row(form.containerNumber) }}
					{{ form_row(form.sealNumber) }}
					{{ form_row(form.factoryNumber) }}	
					{{ form_row(form.memo) }}	
				</div>
			</div>
			
			<br>
			<input type="file" id="scannerFileUpload" accept=".txt" class="hidden" on-read-file="parseScannerText($fileContent)">
			<a href="#" id="scannerFileUploadLink">Upload Barcode Data (Received)</a>​
			<br>
			<br>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="table-responsive">
						{% if form.items.vars.errors|length %}
						<div class="alert alert-danger">
						{{ form_errors(form.items) }}
						</div>
						{% endif %}
						<table class="table table-primary item-collection">
							<thead>
								<tr>
									<th></th>
									<th class="text-center">Quantity</th>
									<th class="text-center">Total Received</th>
									<th class="text-center">Balance</th>
									<th>Mode</th>
									<th>Type</th>
									<th>Barcode</th>
									<th>Product</th>
									<th>Lot No.</th>
									<th>Production Date</th>
									<th>Pallet ID</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(key, item) in form.items" ng-class="{% verbatim %}{ success: item.isIncluded }{% endverbatim %}">
									{{ macro.item(form.items.vars.prototype) }}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(form.save) }}
						<a href="{{ path('purchaseorder_show', { 'id' : entity.purchaseOrder.id }) }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_widget(form._token) }}
</form>
{% include 'CIInventoryBundle:Misc:typeahead.template.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ macro.generateValues(form, entity, receivedPalletIds) }}
	<script src="{{ asset('assets/js/angular/receive_order.js') }}"></script>
	<script>
		$(document).ready(function(){
			$("#scannerFileUploadLink").on('click', function(e){
				e.preventDefault();
				$("#scannerFileUpload").trigger('click');
			});
		});
	</script>
{% endblock %}