{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li><a href="{{ path('receiveorder') }}">Receive Orders</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}
{% if entity.putAways|length > 0 %}
	{% set hasPutAway = true %}
{% else %}
	{% set hasPutAway = false %}
{% endif %}
<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>{{ FAIcon('plus-square', 'page-header-icon') }} Receive Order # {{ entity.id }}</h1>
			{{ entity|renderStatusTag }}
		</div>

		<div class="col-sm-5">
			<div class="pull-right btn-toolbar">
				<div class="btn-group">
					{% if entity.active %}
						{% if entity.purchaseOrder.status == constant('CI\\InventoryBundle\\Entity\\PurchaseOrder::STATUS_APPROVED') and entity.activePurchaseReturns|length == 0 %}
							{% if is_expr_granted("hasAnyRole('ROLE_RECEIVEDORDER_CHANGE_STATUS')") %}
								<a class="btn btn-outline btn-danger" href="{{ path("receiveorder_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\ReceiveOrder::STATUS_INACTIVE')}) }}">{{ FAIcon('warning') }} Void</a>
							{% endif %}
						{% endif %}
					{% else %}
						<a class="btn btn-outline btn-default disabled" href="#">{{ FAIcon('ban') }} Voided</a>
					{% endif %}
				</div>

				<div class="btn-group btn-group-md">
					{% if entity.isEditable and is_expr_granted("hasAnyRole('ROLE_RECEIVEORDER_UPDATE')") %}
						<a href="{{ path('receiveorder_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
					{% endif %}
					<a href="{{ path('receiveorder_export', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('print') }} Print</a>
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More {{ FAIcon('caret-down') }}</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('receiveorder_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
						</ul>
					</div>
				</div>

				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('receiveorder') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-md-4">PO #</th>
						<td><a href="{{ path('purchaseorder_show', { 'id' : entity.purchaseOrder.id }) }}">{{ entity.purchaseOrder.poId }}</a></td>
					</tr>
					<tr>
						<th>Received From</th>
						<td>{{ entity.receivedFrom }}</td>
					</tr>
					<tr>
						<th>Supplier Name</th>
						<td>{{ entity.supplierName }}</td>
					</tr>
					<tr>
						<th>DR #</th>
						<td>{{ entity.drNo }}</td>
					</tr>
					<tr>
						<th>Invoice #</th>
						<td>{{ entity.invoiceNumber }}</td>
					</tr>
					<tr>
						<th>SO No.</th>
						<td>{{ entity.soNo|default('') }}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th>Date Received</th>
						<td>{{ utils.formatDate(entity.dateReceived) }}</td>
					</tr>
					<tr>
						<th class="col-md-4">Container #</th>
						<td>{{ entity.containerNumber }}</td>
					</tr>
					<tr>
						<th class="col-md-4">Seal #</th>
						<td>{{ entity.sealNumber }}</td>
					</tr>
					<tr>
						<th class="col-md-4">Factory #</th>
						<td>{{ entity.factoryNumber|default('') }}</td>
					</tr>
					<tr>
						<th>Reference #</th>
						<td>{{ entity.referenceNumber }}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-light">
						<thead>
							<tr>
								<th class="col-md-1 text-right">Quantity</th>
								<th class="col-md-1 text-right">Total Received</th>
								<th class="col-md-1 text-right">Balance</th>
								<th class="col-md-1">Mode</th>
								<th class="col-md-1">Type</th>
								<th class="col-md-1">Barcode</th>
								<th class="col-md-2">Product</th>
								<th class="col-md-1">Lot No.</th>
								<th class="col-md-1">Production Date</th>
								<th class="col-md-1">Pallet ID</th>
							</tr>
						</thead>
						<tbody>
							{% for item in entity.items %}
								<tr>
									<td class="text-right">{{ item.quantity|decimal }} <small class="text-muted">kg</small></td>
									<td class="text-right">{{ item.purchaseorderitem.totalReceived|decimal }}</td>
									<td class="text-right">{{ item.purchaseorderitem.getMaxQtyAllowedToReceive|decimal }}</td>
									<td>{{ item.mode }}</td>
									<td>{{ item.type }}</td>
									<td>{{ item.barcode }}</td>
									<td><a href="{{ path('product_show', { 'id' : item.product.id }) }}">{{ item.product.sku }} {{ item.product.name }}</a></td>
									<td>{{ item.lotNumber }}</td>
									<td>{{ utils.formatDate(item.productionDate) }}</td>
									<td>{{ item.palletId }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-1">
				{% if entity.memo %}
					<div class="well">
						<p>
							<strong>Memo</strong><br/>
							{{ entity.memo|nl2br }}
						</p>
					</div>
				{% endif %}
			</div>
		</div>

		{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>

	<div class="col-sm-3">
		{% if is_expr_granted("hasAnyRole('ROLE_RECEIVEDORDER_FILE_DOWNLOAD')") %}
			<div class="row">
				<div class="panel panel-default custom-panel">
					<div class="panel-heading">
						<span class="panel-title">{{ FAIcon('paperclip', 'panel-title-icon') }}Attachments</span>
					</div>

					<div class="panel-body">
						<div class="panel-padding no-padding-vr">
						{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}
						{% if entity.files|length > 0 %}
							{% for file in entity.files %}
								{% set fileName = file.name|split('.') %}
								<div class="item">
									<a href="{{ path('receiveorder_file_download', { 'id': file.id }) }}" class="thumbnail">
										{% if (fileName|last)|lower in imageExtensions %}
											<img src="{{ asset(file.webFilePath) | imagine_filter('image_thumbnail') }}" />
										{% else %}
											{{ file.name }}
										{% endif %}
									</a>
									<span class="item-text1">{{ file.name }}</span><br/>
									<span class="item-text2"></span>
								</div>
							{% endfor %}
						{% else %}
							<div class="item">
								No attachments yet.
							</div>
						{% endif %}
						</div>
					</div>
					{% if is_expr_granted("hasAnyRole('ROLE_RECEIVEDORDER_FILE_UPLOAD')") %}
						<div class="panel-footer">
							<a class="btn btn-primary btn-sm btn-block" href="{{ path('receiveorder_file', { 'id' :entity.id }) }}">{{ FAIcon('upload') }} Upload</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="panel panel-default custom-panel">
				<div class="panel-heading">
					<span class="panel-title">{{ FAIcon('undo', 'panel-title-icon') }}Shipment Discrepancy Notice Status</span>
				</div> <!-- / .panel-heading -->
				<div class="panel-body">
					<div class="panel-padding no-padding-vr">
						{% if entity.purchaseReturns|length == 0 %}
							<div class="item">
								<span>
									There are no shipment discrepancy notices found for this receive order.
								</span>
							</div>
						{% endif %}

						{% for pr in entity.purchaseReturns %}
							<div class="item">
								{{ pr|renderStatusTag('item-status') }}
								<a class="item-link" href="{{ path('purchasereturn_show', { 'id' : pr.id }) }}">{{ utils.formatDate(pr.returnDate) }}</a>
								<span class="small">{{ pr.id }}</span><br/>
								<span class="item-text2">{{ pr.actionTaken|nl2br }}</span>
							</div>
						{% endfor %}
					</div>
				</div> <!-- / .panel-body -->

				{% if entity.active %}
				<div class="panel-footer">
					{% if is_expr_granted("hasAnyRole('ROLE_PURCHASERETURN_CREATE')") %}
						<a class="btn btn-primary btn-sm btn-block" href="{{ path('purchasereturn_new', { 'receiveOrderId' : entity.id }) }}">{{ FAIcon('plus') }} Add New</a>			
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default custom-panel">
				<div class="panel-heading">
					<span class="panel-title">{{ FAIcon('archive', 'panel-title-icon') }}Put Away Status</span>
				</div> <!-- / .panel-heading -->
				<div class="panel-body">
					<div class="panel-padding no-padding-vr">
						{% if hasPutAway %}
							<div class="item">
								{% set totalPct = ((entity.qtyPutAway / entity.qtyReceived) *100)|number_format(2, '.', '') %}
								<span class="item-text2">Total Put Away:</span>
								<span class="pull-right">
									<small>{{ totalPct|number_format(2) }}%</small>
									{% if totalPct >= 100 %}
										<span class="text-success">{{ FAIcon('check-circle') }}</span>
									{% endif %}
								</span>
								<div class="progress progress-striped" title="{{ totalPct }}%"><div class="progress-bar progress-bar-success" style="width: {{ totalPct }}%;"></div></div>
								<span class="item-text1">{{ entity.qtyPutAway|number_format(3) }} / {{  entity.qtyReceived|number_format(3) }}</span>
							</div>
						{% else %}
							<div class="item">
								<span>
									{% if entity.active %}
										There are no put aways found for this receive order.
									{% else %}
										Approve this receive order to start putting the items in the designated storage locations in the warehouse.
									{% endif %}
								</span>
							</div>
						{% endif %}

						{% for putAway in entity.putAways %}
							<div class="item">
								 {{ putAway|renderStatusTag('item-status') }}
								<a class="item-link" href="{{ path('putaway_show', { 'id' : putAway.id }) }}">{{ utils.formatDate(putAway.date) }}</a>
								<span class="small">{{ putAway.id }}</span>
								{% for item in putAway.items %}
									<br/><span class="item-text2">{{ item.palletId }} - {{ item.storageLocation.fullLocation }}</span>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div> <!-- / .panel-body -->

				{% if entity.active %}
				<div class="panel-footer">
					{% if is_expr_granted("hasAnyRole('ROLE_PUTAWAY_CREATE')") %}
						<a class="btn btn-primary btn-sm btn-block" href="{{ path('putaway_new', { 'transactionId' : entity.id, 'type' : constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') }) }}">{{ FAIcon('plus') }} Add New</a>			
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}
