{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Delivery Schedule Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h1>{{ FAIcon('truck', 'page-header-icon') }} Delivery Schedule Report</h1>
				</div>
				
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					{% if params %}
						{% set exportParams = {
							'ci_inventorybundle_deliveryschedulereportfilter[dateFrom]' : params.dateFrom|date('m/d/Y'),
							'ci_inventorybundle_deliveryschedulereportfilter[dateTo]' : params.dateTo|date('m/d/Y'),
						} %}
						
						{% if params.customer %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_deliveryschedulereportfilter[customer]' : params.customer.id }) %}
						{% endif %}
						
						{% if params.product %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_deliveryschedulereportfilter[product]' : params.product.id }) %}
						{% endif %}
						
						<div class="pull-right">
							<a class="btn btn-default btn-labeled btn-sm" href="{{ path('salesreport_deliveryschedule_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		
		<div class="row search-filters">
			{{ form_start(search_form, { 'action' : path('salesreport_deliveryschedule'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
					{{ form_row(search_form.customer) }}
					{{ form_row(search_form.product) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		
		{% if params %}
			{% if pagination.getPaginationData['totalCount'] > 0 %}
				<div id="display-count" class="pull-right">
					{{ macros.paginationCount(pagination) }}
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 's.deliveryDate', 'Date') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 's.drId', 'DR#') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 's.siRefCode', 'SI#') }}</th>
								<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'c.name', 'Delivered To') }}</th>
								<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'productName', 'Item') }}</th>
								<th class="col-md-2">Description</th>
								<th class="col-md-1 text-right">Qty <small class="text-muted">(kg)</small></th>
								<th class="col-md-1 text-right">Price</th>
								<th class="col-md-1 text-right">Line Total</th>
							</tr>
						</thead>
						<tbody>
							{% for row in pagination %}
								<tr>
									<td>{{ utils.formatDate(row.deliveryDate, 'm/d/Y') }}</td>
									<td><a href="{{ path('shipping_show', {'id':row.shippingId}) }}">{{ row.drRefCode }}</a></td>
									<td>{{ row.siRefCode }}</td>
									<td>{{ row.customerName }}</td>
									<td>{{ row.productName }}</td>
									<td>{{ row.quantity }} kg ({{ row.quantity / row.kgsUnit }} {{ row.kgsName }})</td>
									<td class="text-right">{{ row.quantity|decimal(2) }}</td>
									<td class="text-right">{{ row.unitPrice|decimal(4) }}</td>
									<td class="text-right">{{ (row.quantity * row.unitPrice)|decimal(2) }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
					{{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
				<br/>
				<div class="alert">
					No results found.
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}