{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Sales Forecast Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h1>{{ FAIcon('line-chart', 'page-header-icon') }} Sales Forecast Report</h1>
				</div>
				
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					{% if params %}
						{% set exportParams = { 'ci_inventorybundle_salesforecastreportfilter[year]' : params.year } %}
						
						{% if params.month %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesforecastreportfilter[month]' : params.month }) %}
						{% endif %}
						
						{% if params.customer %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesforecastreportfilter[customer]' : params.customer.id }) %}
						{% endif %}
						
						{% if params.product %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_salesforecastreportfilter[product]' : params.product.id }) %}
						{% endif %}
						
						<div class="pull-right">
							<a class="btn btn-default btn-labeled btn-sm" href="{{ path('salesreport_salesforecast_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		
		<div class="row search-filters">
			{{ form_start(search_form, { 'action' : path('salesreport_salesforecast'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.year) }}
					{{ form_row(search_form.month) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
					{{ form_row(search_form.customer) }}
					{{ form_row(search_form.product) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		
		{% if params %}
			{% if data|length > 0 %}
				<div class="page-header">
					<h4>YEAR: {{ params.year }}</h4>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-md-1">Month</th>
								<th class="col-md-2">Customer</th>
								<th class="col-md-2">Product</th>
								<th class="col-md-1 text-right">Qty <small class="text-muted">(KG)</small></th>
								<th class="col-md-1 text-right">Amount <small class="text-muted">(PHP)</small></th>
							</tr>
						</thead>
						<tbody>
							{% set totalQty, totalAmt = 0, 0 %}
							{% for month in months if params.month is empty or month == params.month %}
								{% set monthQty, monthAmt = 0, 0 %}
								{% for row in data %}
									{% set monthValue = row.monthValue(month) %}
									{% set monthQty = monthQty + monthValue.qty %}
									{% set monthAmt = monthAmt + monthValue.amt %}
									<tr>
										<td>{{ month }}</td>
										<td><a href="{{ path('customer_show', {'id':row.customer.id}) }}">{{ row.customer.shortName }}</a></td>
										<td><a href="{{ path('product_show', {'id':row.product.id}) }}">{{ row.product.sku }}</a></td>
										<td class="text-right">{{ monthValue.qty|decimal(2) }}</td>
										<td class="text-right">{{ monthValue.amt|decimal(2) }}</td>
									</tr>
								{% endfor %}
								{% set totalQty = totalQty + monthQty %}
								{% set totalAmt = totalAmt + monthAmt %}
								<tr>
									<td colspan="3" class="text-right"><strong>SUBTOTAL</strong></td>
									<td class="text-right">{{ monthQty|decimal(2) }}</td>
									<td class="text-right">{{ monthAmt|decimal(2) }}</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3" class="text-right"><strong>TOTAL</strong></td>
								<td class="text-right">{{ totalQty|decimal(2) }}</td>
								<td class="text-right">{{ totalAmt|decimal(2) }}</td>
							</tr>
						</tfoot>
					</table>
				</div>
			{% else %}
				<br/>
				<div class="alert">
					No results found.
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}