{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('quotation') }}">Quotations</a></li>
<li><a href="{{ path('quotation_show', { 'id' : entity.id }) }}">{{ entity.referenceNumber }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ FAIcon('pencil-square-o', 'page-header-icon') }} Quotation # {{ entity.referenceNumber }}</h1>
     {{ entity.translateStatus|renderStatusTag }}
</div>

{{ form_errors(edit_form) }}

{{ form_start(edit_form, {'action': path('quotation_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-7">
			{% if entity.status == constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_PENDING')%}
				{{ form_row(edit_form.date) }}
				{{ form_row(edit_form.contactPerson) }}
				{{ form_row(edit_form.position) }}
				{{ form_row(edit_form.customer) }}
				{{ form_row(edit_form.product) }}
				{{ form_row(edit_form.origin) }}
				{{ form_row(edit_form.quantity) }}
				{{ form_row(edit_form.price) }}
				{{ form_row(edit_form.currency) }}
				{{ form_row(edit_form.exchangeRate) }}
				{{ form_row(edit_form.terms) }}
				{{ form_row(edit_form.deliveryNotes) }}
			{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_APPROVED')%}
				<label class="control-label col-lg-4">Date</label>
				<div class="col-lg-8">
					<p class="form-control-static">{{ utils.formatDate(entity.date) }}</p>
					<br>
				</div>
				<label class="control-label col-lg-4">Contact Person</label>
				<div class="col-lg-8">
					<p class="form-control-static">{{ entity.contactPerson }}</p>
					<br>
				</div>
				<label class="control-label col-lg-4">Position</label>
				<div class="col-lg-8">
					<p class="form-control-static">{{ entity.position }}&nbsp</p>
					<br>
				</div>
				<label class="control-label col-lg-4">Customer</label>
				<div class="col-lg-8">
					<p class="form-control-static">{{ entity.customer.name }}</p>
					<br>
				</div>
				<label class="control-label col-lg-4">Product</label>
				<div class="col-lg-8">
					<p class="form-control-static">{{ entity.product.name }}</p>
					<br>
				</div>
				<label class="control-label col-lg-4">Origin</label>
				<div class="col-lg-8">
					<p class="form-control-static">{{ entity.origin }}&nbsp</p>
					<br>
				</div>
				<label class="control-label col-lg-4">Quantity</label>
				<div class="col-lg-8">
					<p class="form-control-static">{{ entity.quantity }}</p>
					<br>
				</div>
				<label class="control-label col-lg-4">Price</label>
				<div class="col-lg-8">
					<p class="form-control-static">{{ entity.price }}</p>
					<br>
				</div>
				<label class="control-label col-lg-4">Terms</label>
				<div class="col-lg-8">
					<p class="form-control-static">{{ entity.terms }}</p>
					<br>
				</div>
				{% if entity.deliveryNotes %}
					<label class="control-label col-lg-4">Delivery Notes</label>
					<div class="col-lg-8">
						<div class="well">
							<p>
								{{ entity.deliveryNotes|nl2br }}
							</p>
							<br>
						</div>
					</div>
				{% endif %}
			{% endif %}
			{% if edit_form.memo is defined %}
				{{ form_row(edit_form.memo) }}
			{% else %}
				<label class="control-label col-lg-4">Memo</label>
				<div class="col-lg-8">
					<div class="well">
						<p>
							{{ entity.memo|nl2br }}
						</p>
						<br>
					</div>
				</div>
			{% endif %}

			{% if entity.status == constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_PENDING')%}
				<div class="form-group">
					<label class="control-label col-lg-4">Price Validity</label>
				</div>
				
				{{ form_row(edit_form.validityStartDate) }}
				{{ form_row(edit_form.validityEndDate) }}
			{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_APPROVED')%}
				<label class="control-label col-lg-4">Price Validity</label>
				<div class="col-lg-8">
					<p class="form-control-static">Price is effective from <strong>{{ utils.formatDate(entity.validityStartDate) }}</strong> to <strong>{{ utils.formatDate(entity.validityEndDate) }}</strong></p>
					<br>
				</div>
			{% endif %}
			
			<div class="form-group form-actions">
				<div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(edit_form.saveAsPendingForApproval) }}
					<a href="{{ path('quotation_show', { 'id': entity.id }) }}" class="btn btn-outline">Back</a>
				</div>
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}