{% import 'CICoreBundle::utils.html.twig' as utils %}
{% include 'CIInventoryBundle:PDF:reportPdfStyles.html.twig' %}
<html>
	<body>
		<p>
			{{ utils.formatDate(rows.date) }}<br/>
			Ref. No. {{ rows.referenceNumber }}
		</p>

		<table>
			<tr>
				<td style="font-size: 20px; font-weight: bold;" align="center">QUOTATION</td>
			</tr>
		</table>

		<p>
			<strong>{{ rows.contactPerson }}</strong><br/>
			{{ rows.position }}<br/>
			{{ rows.customer.name }}<br/>
			{% set mainBranch = '' %}
			{% if rows.customer.main|length > 0 %}
				{% set mainBranch = rows.customer.main[0] %}
			{% else %}
				{% set mainBranch = rows.customer.firstBranch[0] %}
			{% endif %}
			{{ mainBranch.address|nl2br }}<br/>
			{{ mainBranch.contactDetails|nl2br }}
		</p>

		<p>Dear {{ rows.contactPerson }},</p>

		<p>Please find below our offer for your consideration:</p>

		<table cellpadding="4">
			<tr>
				<td width="20%" class="text-bold">ITEM</td>
				<td width="5%" class="text-bold">:</td>
				<td class="text-bold" width="75%">{{ rows.productName }}</td>
			</tr>
			<tr>
				<td width="20%" class="text-bold">ORIGIN</td>
				<td width="5%" class="text-bold">:</td>
				<td width="75%">{{ rows.origin }}</td>
			</tr>
			<tr>
				<td width="20%" class="text-bold">QUANTITY</td>
				<td width="5%" class="text-bold">:</td>
				<td width="75%">{{ rows.quantity|decimal }} kg</td>
			</tr>
			<tr>
				<td width="20%" class="text-bold">PRICE</td>
				<td width="5%" class="text-bold">:</td>
				<td width="75%">
					{% if rows.exchangeRate > 0 and rows.currency and rows.currency.isForeign == true %}
						<span class="text-underline text-bold">PHP</span> {{ rows.convertedPrice|number_format(2) }}/kg
					{% else %}
						<span class="text-underline text-bold">{{ rows.currency.currencyCode|default('PHP') }}</span> {{ rows.price|number_format(2) }}/kg
					{% endif %}
				</td>
			</tr>
			<tr>
				<td width="20%" class="text-bold">PACKING SIZE</td>
				<td width="5%" class="text-bold">:</td>
				<td width="75%">{{ rows.product.packaging.name }}</td>
			</tr>
			<tr>
				<td width="20%" class="text-bold">TERMS</td>
				<td width="5%" class="text-bold">:</td>
				<td width="75%">{{ rows.terms }} days</td>
			</tr>
			<tr>
				<td width="20%" class="text-bold">DELIVERY</td>
				<td width="5%" class="text-bold">:</td>
				<td width="75%">{{ rows.deliveryNotes }}</td>
			</tr>
			<tr>
				<td width="20%" class="text-bold">PRICE VALIDITY</td>
				<td width="5%" class="text-bold">:</td>
				<td width="75%">Price is effective <strong>starting {{ utils.formatDate(rows.validityStartDate) }} - {{ utils.formatDate(rows.validityEndDate) }}</strong></td>
			</tr>
		</table>

		<br/>
		<hr/>

		<p class="text-italic text-bold">NOTE</p>
		<ol class="text-italic">
			<li>Above Price is computed based on prevailing US$-PHP exchange rate and may change without prior notice</li>
			<li>Does not include additional surcharge the government may impose anytime on imported products</li>
			<li>Price offered is limited to the aforementioned quantity and period.</li>
			<li>Extension is subject to the approval of the supplier.</li>
		</ol>

		<hr/>
		<p></p>
		<p>We do hope you find everything in order. Thank you.</p>

		<p>Very truly yours,</p>

		<p></p>
		<p></p>

		<table>
			<tr>
				<td class="text-bold" width="50%">{{ app.user.name|upper }}</td>
				{% if rows.status == constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_PENDING') %}
					<td class="text-center text-bold" width="50%">MARTY PANGANIBAN</td>
				{% endif %}
			</tr>
		</table>
	</body>
</html>
