{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Sales</a></li>
<li class="active">Quotations</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <h1>{{ FAIcon('pencil-square-o', 'page-header-icon') }} Quotations</h1>
            <div class="pull-right">
				{% if is_expr_granted("hasAnyRole('ROLE_QUOTATION_CREATE')") %}
        			<a class="btn btn-success btn-labeled btn-sm" href="{{ path('quotation_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
        		{% endif %}
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('quotation') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
            </div>
	    </div>
	    
	    <div class="row search-filters">
			{{ form_start(search_form, { 'action' : path('quotation'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.referenceNumber) }}
					{{ form_row(search_form.status) }}
					{% if search_form.salesAgent is defined %}
						{{ form_row(search_form.salesAgent) }}
					{% endif %}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
	    
	    {% if pagination.getPaginationData['totalCount'] > 0 %}
	    	<div id="bulk-actions" class="pull-left hidden">
				<span id="bulk-indicator" class="text-bg">Bulk Actions:</span>
				{% if is_expr_granted("hasAnyRole('ROLE_QUOTATION_CHANGE_STATUS')") %}
				<div class="btn-group btn-group-md padding-sm-hr">
					<a id="bulk-action-approve" class="btn btn-success btn-sm" data-status="{{ constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_APPROVED') }}">Approve <i class="fa fa-check"></i></a>
				</div>
				{% endif %}
			</div>
	         <div id="display-count" class="pull-right">
	             {{ macros.paginationCount(pagination) }}
    		</div>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
					<tr>
						<th class="col-md-1">
							<input type="checkbox" id="checkbox-all">
							Actions
						</th>
						<th class="col-md-2">Quotation #</th>
						<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'q.date', 'Date') }}</th>
						<th class="col-md-1">Customer</th>
						<th class="col-md-2">Memo</th>
						<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sa.firstName', 'Sales Agent') }}</th>
						<th class="col-md-1">Product</th>
						<th class="col-md-1 text-right">{{ utils.sortableTableHeader(pagination, 'q.price', 'Price') }}</th>
						<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'q.validityStartDate', 'Start Date') }}</th>
						<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'q.validityEndDate', 'End Date') }}</th>
					</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<input type="checkbox" id="checkbox-{{ entity.id }}" data-quotation-id="{{ entity.id}}" class="bulk-checkbox">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('quotation_show', {'id':entity.id}) }}">{{ FAListIcon('search-plus') }} View</a></li>
										{% if entity.isEditable or is_granted('ROLE_QUOTATION_MEMO') %}
											<li><a href="{{ path('quotation_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{% endif %}
										{% if entity.isEditable %}
											{% if entity.isDeletable %}
												<li class="divider"></li>
												{% if is_expr_granted("hasRole('ROLE_QUOTATION_CHANGE_STATUS')") %}
													<li><a href="{{ path('quotation_change_status', { 'id' : entity.id, 'status' : constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_APPROVED')}) }}">{{ FAListIcon('check') }} Approve</a></li>
												{% endif %}
												<li><a href="{{ path('quotation_confirm_delete', { 'id': entity.id }) }}">{{ FAListIcon('trash-o') }} Delete</a></li>
											{% endif %}
										{% endif %}
									</ul>
								</div>
								<span class="quotation-tooltip text-danger padding-xs-hr tooltip-danger text-bg hidden" data-quotation-id="{{ entity.id }}" data-toggle="tooltip" data-placement="right" title="">
									<i class="fa fa-warning"></i>
								</span>
							</td>
							<td>
								<a href="{{ path('quotation_show', { 'id' : entity.id }) }}">
									{{ entity.referenceNumber }}
								</a>
								{{ entity.translateStatus|renderStatusTag }}&nbsp;
								{{ entity|renderNewTag }}&nbsp;
								{{ entity|renderUpdatedTag }}
								{% if entity.readName and entity.readDateTime %}
									<br/>
									<small class="text-default"><i>Read on {{ entity.readDateTime|date('F d, Y \\a\\t g:i:s a') }} by {{ entity.readName }}</i></small>
								{% endif %}
							</td>
							<td>{{ utils.formatDate(entity.date) }}</td>
							<td>{{ entity.customer.name }}</td>
							<td>{{ entity.memo }}</td>
							<td>{{ entity.salesAgent.name }}</td>
							<td>{{ entity.productName }}</td>
							<td class="text-right">{{ entity.price|number_format(2) }}</td>
							<td>{{ utils.formatDate(entity.validityStartDate) }}</td>
							<td>{{ utils.formatDate(entity.validityEndDate) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
		    	{{ knp_pagination_render(pagination) }}
		    </div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
	<script src="{{ asset('assets/js/quotation.js') }}"></script>
{% endblock %}