{% extends 'CICoreBundle::layout.html.twig' %}
{% import _self as selfMacro %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('quotation') }}">Quotations</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('pencil-square-o', 'page-header-icon') }} New Quotation</h1>
</div>

{{ form_errors(form) }}

{{ form_start(form, {'action': path('quotation_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-7">
					{{ form_row(form.date) }}
					{{ form_row(form.contactPerson) }}
					{{ form_row(form.position) }}
					{{ form_row(form.customer) }}
					{{ form_row(form.product) }}
					{{ form_row(form.origin) }}
					{{ form_row(form.quantity) }}
					{{ form_row(form.price) }}
					{{ form_row(form.currency) }}
					{{ form_row(form.exchangeRate) }}
					{{ form_row(form.terms) }}
					{{ form_row(form.deliveryNotes) }}
					{% if form.memo is defined %}
						{{ form_row(form.memo) }}
					{% else %}
						<label class="control-label col-lg-4">Memo</label>
						<div class="col-lg-8">
							<div class="well">
								<p></p>
								<br>
							</div>
						</div>
					{% endif %}
					<div class="form-group">
						<label class="control-label col-lg-4">Price Validity</label>
					</div>
					
					{{ form_row(form.validityStartDate) }}
					{{ form_row(form.validityEndDate) }}
					
					<div class="form-group form-actions">
						<div class="col-lg-offset-4 col-lg-10">
							{{ form_widget(form.saveAsPendingForApproval) }}
							<a href="{{ path('quotation') }}" class="btn btn-outline">Back</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{{ form_widget(form._token) }}
</form>
{% endblock content %}
