{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('quotation') }}">Quotations</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>{{ FAIcon('pencil-square-o', 'peag-header-icon') }} Quotation # {{ entity.referenceNumber }}</h1>
			{{ entity.translateStatus|renderStatusTag }}
		</div>

		<div class="col-sm-6">
			<div class="pull-right btn-toolbar">
				<div class="btn-group">
					{% if entity.status == constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_PENDING') and is_granted('ROLE_QUOTATION_CHANGE_STATUS') %}
						<a class="btn btn-outline btn-success" href="{{ path('quotation_change_status', { 'id' : entity.id, 'status' : constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_APPROVED')}) }}">{{ FAIcon('check') }} Approve</a>
					{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_APPROVED') and entity.activeSalesOrder|length < 1 and is_granted('ROLE_QUOTATION_CHANGE_STATUS') %}
						<a class="btn btn-outline btn-danger" href="{{ path('quotation_change_status', { 'id' : entity.id, 'status' : constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_PENDING')}) }}">{{ FAIcon('thumbs-down') }} Unapprove</a>
					{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_APPROVED') and entity.activeSalesOrder|length >= 1 and is_granted('ROLE_QUOTATION_CHANGE_STATUS') %}
						<a class="btn btn-outline disabled" href="#">{{ FAIcon('thumbs-down') }} Unapprove</a>
					{% endif %}
				</div>

				<div class="btn-group btn-group-md">
					{% if entity.isEditable or is_granted('ROLE_QUOTATION_MEMO') %}
						<a href="{{ path('quotation_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
					{% endif %}
					<a href="{{ path('quotation_export', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('print') }} Print</a>
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More {{ FAIcon('caret-down') }}</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('quotation_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
							{% if entity.status < constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_VOID') %}
								<li class="divider"></li>
								{% if entity.isDeletable %}
									<li><a href="{{ path('quotation_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
								{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_APPROVED') %}
									<li><a href="{{ path("quotation_change_status", { 'id': entity.id, 'status' : constant('CI\\InventoryBundle\\Entity\\Quotation::STATUS_VOID')}) }}">{{ FAIcon('warning ') }} Void</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>

				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('quotation') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border table-cascade profile">
					<tr>
						<th class="col-xs-4">Date</th>
						<td>{{ utils.formatDate(entity.date) }}</td>
					</tr>
					<tr>
						<th>Prepared By</th>
						<td>{{ entity.salesAgent.name }}</td>
					</tr>
					<tr>
						<th>Contact Person</th>
						<td class="text-bold">{{ entity.contactPerson }}</td>
					</tr>
					<tr>
						<th>Position</th>
						<td>{{ entity.position }}</td>
					</tr>
					<tr>
						<th>Customer</th>
						<td>
							{{ entity.customer.name }}<br/>
							{% set mainBranch = '' %}
							{% if entity.customer.main|length > 0 %}
								{% set mainBranch = entity.customer.main[0] %}
							{% else %}
								{% set mainBranch = entity.customer.firstBranch[0] %}
							{% endif %}
							{{ mainBranch.address|nl2br }}<br/>
							{{ mainBranch.contactDetails|nl2br }}
						</td>
					</tr>
					<tr>
						<th>Product</th>
						<td class="text-bold">{{ entity.productName }}</td>
					</tr>
					<tr>
						<th>Origin</th>
						<td>{{ entity.origin }}</td>
					</tr>
					<tr>
						<th>Quantity</th>
						<td>{{ entity.quantity|decimal }} kg</td>
					</tr>
					<tr>
						<th>Price</th>
						<td><strong>{{ entity.currency.currencyCode|default('PHP') }}</strong> {{ entity.price|number_format(2) }}/kg</td>
					</tr>
					{% if entity.exchangeRate > 0 and entity.currency and entity.currency.isForeign == true %}
					<tr>
						<th>Price (PHP)</th>
						<td><strong>PHP</strong> {{ entity.convertedPrice|number_format(2) }}/kg</td>
					</tr>
					{% endif %}
				</table>
			</div>

			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">Packaging Size</th>
						<td>{{ entity.product.packaging.name }}</td>
					</tr>
					<tr>
						<th>Terms</th>
						<td>{{ entity.terms }} days</td>
					</tr>
					<tr>
						<th>Price Validity</th>
						<td>Price is effective starting <strong>{{ utils.formatDate(entity.validityStartDate) }}</strong> - <strong>{{ utils.formatDate(entity.validityEndDate) }}</strong></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-xs-offset-1">
				{% if entity.deliveryNotes %}
					<br/>
					<div class="well">
						<p>
							<strong>Delivery Notes</strong><br/>
							{{ entity.deliveryNotes|nl2br }}
						</p>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-xs-offset-1">
				{% if entity.memo %}
					<br/>
					<div class="well">
						<p>
							<strong>Memo</strong><br/>
							{{ entity.memo|nl2br }}
						</p>
					</div>
				{% endif %}
			</div>
		</div>

		{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}

		{% if entity.readName and entity.readDateTime %}
			<div class="row">
				<div class="col-md-12">
					<small class="text-muted"><i>Read on {{ entity.readDateTime|date('F d, Y \\a\\t g:i:s a') }} by {{ entity.readName }}</i></small>
				</div>
			</div>
		{% endif %}
	</div>

	<div class="col-sm-3">
		{% if is_expr_granted("hasAnyRole('ROLE_QUOTATION_FILE_DOWNLOAD')") %}
			<div class="row">
				<div class="panel panel-default custom-panel">
					<div class="panel-heading">
						<span class="panel-title">{{ FAIcon('paperclip', 'panel-title-icon') }}Attachments</span>
					</div>

					<div class="panel-body">
						<div class="panel-padding no-padding-vr">
						{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}
						{% if entity.files|length > 0 %}
							{% for file in entity.files %}
								{% set fileName = file.name|split('.') %}
								<div class="item">
									<a href="{{ path('quotation_file_download', { 'id': file.id }) }}" class="thumbnail">
										{% if (fileName|last)|lower in imageExtensions %}
											<img src="{{ asset(file.webFilePath) | imagine_filter('image_thumbnail') }}" />
										{% else %}
											{{ file.name }}
										{% endif %}
									</a>
									<span class="item-text1">{{ file.name }}</span><br/>
									<span class="item-text2"></span>
								</div>
							{% endfor %}
						{% else %}
							<div class="item">
								No attachments yet.
							</div>
						{% endif %}
						</div>
					</div>
					{% if is_expr_granted("hasAnyRole('ROLE_QUOTATION_FILE_UPLOAD')") %}
						<div class="panel-footer">
							<a class="btn btn-primary btn-sm btn-block" href="{{ path('quotation_file', { 'id' :entity.id }) }}">{{ FAIcon('upload') }} Upload</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="panel panel-default custom-panel">
				<div class="panel-heading">
					<span class="panel-title">{{ FAIcon('money', 'panel-title-icon') }} Sales Orders</span>
				</div>

				<div class="panel-body">
					<div class="panel-padding no-padding-vr">
					{% if entity.salesOrderItems|length > 0 %}
						{% for so in entity.salesOrderItems %}
							<div class="item">
	    					    {{ so.salesOrder|renderStatusTag('item-status') }}
	    						<a class="item-link" href="{{ path('salesorder_show', { 'id' : so.salesOrder.id }) }}">{{ utils.formatDate(so.salesOrder.date) }}</a>
	    						<span class="small">{{ so.salesOrder.refCode }}</span><br/>
	    						<span class="item-text2">{{ so.salesOrder.memo|nl2br }}</span>
    						</div>
						{% endfor %}
					{% else %}
						<div class="item">
							No Sales Order yet.
						</div>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
