{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Inventory</li>
<li>Warehouse Dashboard</li>
<li>{{ warehouse|capitalize }}</li>
{% endblock %}

{% block content %}
	<div class="page-header">
		<div class="row">
			<div class="col-sm-6">
				<h1>{{ FAIcon('map', 'page-header-icon') }} {{ warehouse|capitalize }} Warehouse Dashboard</h1>
				<a class="btn btn-default btn-labeled btn-sm imagelink hide" href="#">{{ FAIcon('download', 'btn-label') }} Download Map</a>
			</div>

			<div class="col-sm-6">
				<div class="pull-right">
					{% if warehouse == 'antipolo' %}
						{% set viewOne = 'pasig' %}
						{% set viewTwo = 'sucat' %}
					{% elseif warehouse == 'pasig' %}
						{% set viewOne = 'antipolo' %}
						{% set viewTwo = 'sucat' %}
					{% else %}
						{% set viewOne = 'antipolo' %}
						{% set viewTwo = 'pasig' %}
					{% endif %}
					<a class="btn btn-default btn-labeled btn-sm" href="{{ path('warehouse_dashboard', { 'warehouse' : viewOne }) }}">{{ FAIcon('arrow-right', 'btn-label') }} Go to {{ viewOne|capitalize }} Warehouse</a>
					<a class="btn btn-default btn-labeled btn-sm" href="{{ path('warehouse_dashboard', { 'warehouse' : viewTwo }) }}">{{ FAIcon('arrow-right', 'btn-label') }} Go to {{ viewTwo|capitalize }} Warehouse</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<svg class="{{ warehouse }}" width="1250" height="900" viewbox="0 0 1250 900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
		</div>
	</div>

	<div id="inventory-modal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Inventory Information</h4>
				</div>
				<div class="modal-body">
					<strong>Warehouse:</strong> <span class="warehouse"></span>
					<br/><br/>
					<strong>Warehouse Number:</strong> <span class="warehouse-number"></span>
					<br/><br/>
					<strong>Lane:</strong> <span class="lane"></span>
					<br/><br/>
					<strong>Row:</strong> <span class="wh-row"></span>
					<br/><br/>
					<table class="table table-hover inv-table">
						<thead>
							<tr>
								<th class="col-xs-1">High Level #</th>
								<th class="col-xs-3">Product</th>
								<th class="col-xs-1">Lot #</th>
								<th class="col-xs-2">Pallet ID</th>
								<th class="col-xs-2">Production Date</th>
								<th class="col-xs-2">Factory Date</th>
								<th class="col-xs-1 text-right">On Hand Qty.</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('assets/js/svg_todataurl.js') }}"></script>
	<script src="{{ asset('assets/js/warehouse_dashboard/' ~ warehouse ~ '.js') }}"></script>
	<script>
		$(document).ready(function(){
			dashboardControl.init();
		});
	</script>
{% endblock %}