{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('warehouse') }}">Warehouses</a></li>
<li class="active"><a href="{{ path('warehouse_show', { 'id' : entity.id }) }}">Warehouse # {{ entity.id }}</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="btn-group pull-right btn-group-sm">
        <a href="{{ path('warehouse_edit', { 'id': entity.id }) }}" class="btn btn-primary">{{ FAListIcon('pencil') }} Edit</a>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="{{ path('warehouse_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
			{{ macros.changeStatus('warehouse_confirm_change_status', entity) }}	
			<li><a href="{{ path('warehouse_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
			{{ macros.delete('warehouse_confirm_delete', entity) }}
		</ul>
	</div>
	<small>Warehouse ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row">
	<div class="col-md-4">
		<table class="table table-no-border profile">
		    <tbody>
		        <tr>
		            <th>Name</th>
		            <td>{{ entity.name }}</td>
		        </tr>
		        <tr>
		            <th>Address</th>
		            <td>{{ entity.address }}</td>
		        </tr>
	        </tbody>
	     </table>
	 </div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock %}