{% form_theme form 'CICoreBundle::custom_fos_form.html.twig' %}

<div class="page-header">
	<h1>New User</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal" role="form">
	<div class="row">
		<div class="col-md-5">
			{{ bootstrap_set_style('horizontal') }}
			{{ form_row(form.firstName) }}
			{{ form_row(form.lastName) }}
			{{ form_row(form.gender) }}
			{{ form_row(form.birthDate) }}
			{{ form_row(form.contactNumber) }}
		</div>
		
		<div class="col-md-5">
			{{ form_row(form.username) }}
			{{ form_row(form.email) }}
			{{ form_row(form.plainPassword) }}
			{{ form_row(form.roles) }}
			{{ form_row(form.groups) }}
			{{ form_widget(form._token) }}
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-success submit-button" data-loading-text="Saving...">Save</button>
		{% if app.user %}    
    		<a href="{{ path('user') }}" class="btn btn-default">Cancel</a>
    	{% else %}
    		<a href="{{ path('fos_user_security_login') }}" class="btn btn-default">Cancel</a>
    	{% endif %}
	</div>
</form>