{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Accounts</li>
<li><a href="{{ path('supplier') }}">Suppliers</a></li>
<li><a href="{{ path('supplier_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
<li class="active"><a href="{{ path('supplier_edit', { 'id' : entity.id }) }}">Edit</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
	<small>Supplier ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

{{ form_start(edit_form, { 'action' : path('supplier_update', { 'id' : entity.id }), 'method' : 'PUT', 'attr' : { 'class' : 'form-horizontal' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-7">
			
			{{ form_row(edit_form.name) }}
			{{ form_row(edit_form.shortName) }}
			{{ form_row(edit_form.address) }}
			{{ form_row(edit_form.contactDetails) }}
			{{ form_row(edit_form.ewt) }}
			{{ form_row(edit_form.terms) }}
			{{ form_row(edit_form.memo) }}
						
			<div class="form-group form-actions">
			    <div class="col-lg-offset-4 col-lg-10">
				    {{ form_widget(edit_form.save) }}
            	    <a href="{{ path('supplier_show', { 'id' : entity.id }) }}" class="btn btn-outline">Back</a>
            	</div>
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock %}
