{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Accounts</li>
<li class="active"><a href="{{ path('supplier') }}">Suppliers</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <h1>{{ FAIcon('user') }} Suppliers</h1>
            <div class="pull-right">
				{% if is_expr_granted("hasAnyRole('ROLE_SUPPLIER_CREATE')") %}
			    	<a class="btn btn-success btn-labeled btn-sm" href="{{ path('supplier_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
        		{% endif %}
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('supplier') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a>
            </div>
	    </div>
		
		<div class="row search-filters">
			<div class="col-md-12">
				<form class="form-horizontal search-form" action="{{ path('supplier') }}" method="GET" {{ form_enctype(search_form) }} role="form">
			 		{{ bootstrap_set_style('horizontal') }}
			 		<div class="row">
				 		<div class="col-md-5">
				 		    {{ form_row(search_form.query, { 'widget_col' : 8 }) }}
							{{ form_row(search_form.status, { 'widget_col' : 6 }) }}
							{{ form_widget(search_form._token) }}
							<div class="form-group row">
								<div class="col-lg-8 col-lg-offset-4">
									<button type="submit" class="btn btn-outline submit-button" data-loading-text="Searching...">Search</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
	    {% if pagination.getPaginationData['totalCount'] > 0 %}
	        <div id="display-count" class="pull-right">
	            {{ macros.paginationCount(pagination) }}
    		</div>        		
    		<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
						    <th class="col-md-1">Actions</th>
						    <th class="col-md-3">{{ utils.sortableTableHeader(pagination, 's.shortName', 'Short Name') }}</th>
						    <th class="col-md-4">Contact Details</th>
						    <th class="col-md-4">Address</th>
						</tr>
			        </thead>
			        <tbody>
			        {% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('supplier_show', { 'id': entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('supplier_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{% if is_expr_granted("hasRole('ROLE_SUPPLIER_CHANGE_STATUS')") %}
			        						{{ macros.changeStatus('supplier_confirm_change_status', entity) }}
			        					{% endif %}
									</ul>
								</div>
							</td>
							<td><a href="{{ path('supplier_show', { 'id': entity.id }) }}">{{ entity.shortName }}</a>{{ entity|renderTags }}</td>
							<td>{{ entity.contactDetails|nl2br }}</td>
							<td>{{ entity.address|nl2br }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
			    {{ knp_pagination_render(pagination) }}
			</div>
		{% else %}
		<div class="alert">
			No results found.
		</div>
		{% endif %}			
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}