{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Accounts</li>
<li><a href="{{ path('supplier') }}">Suppliers</a></li>
<li class="active"><a href="{{ path('supplier_new') }}">Create</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>New Supplier</h1>
</div>

{{ form_start(form, { 'action' : path('supplier_create'), 'method' : 'POST', 'attr' : { 'class' : 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	<div class="row">
		<div class="col-md-7">
			{{ bootstrap_set_style('horizontal') }}
			
			{{ form_row(form.name) }}
			{{ form_row(form.shortName) }}
			{{ form_row(form.address) }}
			{{ form_row(form.contactDetails) }}
			{{ form_row(form.ewt) }}
			{{ form_row(form.terms) }}
			{{ form_row(form.memo) }}
			
			<div class="form-group form-actions">
			    <div class="col-lg-offset-4 col-lg-10">
			        {{ form_widget(form.save) }}
            	    <a href="{{ path('supplier') }}" class="btn btn-outline">Back</a>
            	</div>
			</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock %}
