{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Accounts</li>
<li><a href="{{ path('supplier') }}">Suppliers</a></li>
<li class="active"><a href="{{ path('supplier_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="btn-group pull-right btn-group-sm">
		{% if is_expr_granted("hasAnyRole('ROLE_SUPPLIER_UPDATE')") %}
        	<a href="{{ path('supplier_edit', { 'id': entity.id }) }}" class="btn btn-primary">{{ FAListIcon('pencil') }} Edit</a>
        {% else %}
			<a href="{{ path('supplier_revision', { 'id': entity.id }) }}" class="btn btn-primary">{{ FAListIcon('info-circle') }} View Logs</a>
		{% endif %}
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">	
			{% if is_expr_granted("hasAnyRole('ROLE_SUPPLIER_UPDATE')") %}
	        	<li><a href="{{ path('supplier_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
			{% endif %}	
			{% if is_expr_granted("hasAnyRole('ROLE_SUPPLIER_CHANGE_STATUS')") %}
				{{ macros.changeStatus('supplier_confirm_change_status', entity) }}
			{% endif %}	
			{% if is_expr_granted("hasAnyRole('ROLE_SUPPLIER_CHANGE_STATUS')") %}
				{{ macros.delete('supplier_confirm_delete', entity) }}
			{% endif %}			
			<li><a href="{{ path('supplier_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
		</ul>
		
	</div>
	<small>Supplier ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row">
	<div class="col-md-4">
		<table class="table table-no-border profile">
		    <tbody>
		        <tr>
		            <th>Short Name</th>
		            <td>{{ entity.shortName }}</td>
		        </tr>
		        <tr>
		            <th>Address</th>
		            <td>{{ entity.address|nl2br }}</td>
		        </tr>
		        <tr>
		            <th>Contact Details</th>
		            <td>{{ entity.contactDetails|nl2br }}</td>
		        </tr>
		       
	        </tbody>
	     </table>
	 </div>
	 <div class="col-md-4">
		<table class="table table-no-border profile">
		    <tbody>
		        <tr>
		            <th class="col-md-4">EWT</th>
		            <td>{{ entity.translateEwt }}</td>
		        </tr>
		        <tr>
		            <th>Terms</th>
		            <td>{{ entity.terms ~ ' days' }}</td>
		        </tr>
		        <tr>
		            <th>Memo</th>
		            <td>{{ entity.memo|nl2br }}</td>
		        </tr>
		     </tbody>
		</table>
	</div>
</div>
{% if is_expr_granted("hasAnyRole('ROLE_SUPPLIER_FILE_DOWNLOAD')") %}
	<div class="row padding-sm">
		<h4>
			Attachments 
			{% if is_expr_granted("hasAnyRole('ROLE_SUPPLIER_FILE_UPLOAD')") %}<a href="{{ path('supplier_file', {'id':entity.id}) }}" class="btn btn-outline btn-primary btn-xs">{{ FAIcon('plus') }}</a>{% endif %}
		</h4>
		{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}

		{% if entity.files|length > 0 %}
			{% set count = 0 %}
			<div class="panel colourable">
				<div class="panel-heading">
					<span class="panel-title"><i class="panel-title-icon fa fa-picture-o"></i>Images</span>
				</div>
				<div class="panel-body">
				{% for file in entity.files if ((file.name|split('.'))|last)|lower in imageExtensions %}
					{% set fileName = file.name|split('.') %}
					{% set count = count + 1 %}
					<div class="padding-sm col-md-2">
						<a href="{{ path('supplier_file_download', { 'id': file.id }) }}" class="thumbnail" data-toggle="tooltip" title="{{ file.name }}" data-placement="bottom">
							<img src="{{ asset(file.webFilePath) | imagine_filter('image_list_thumbnail_square') }}" />
						</a>
					</div>
				{% endfor %}
				{% if count == 0 %}
					<span class="text-bg">No images yet</span>
				{% endif %}
				</div>
			</div>

			{% set count = 0 %}
			<div class="panel colourable">
				<div class="panel-heading">
					<span class="panel-title"><i class="panel-title-icon fa fa-file"></i>Other Files</span>
				</div>
				<div class="panel-body">
				{% for file in entity.files if ((file.name|split('.'))|last)|lower not in imageExtensions %}
					{% set fileName = file.name|split('.') %}
					{% set count = count + 1 %}
					<a href="{{ path('supplier_file_download', { 'id': file.id }) }}" class="col-md-12">
						{{ file.name }}
					</a>
				{% endfor %}
				{% if count == 0 %}
					<span class="text-bg">No non-image files yet</span>
				{% endif %}
				</div>
			</div>
		{% else %}
			<div class="item">
				No attachments yet.
			</div>
		{% endif %}
	</div>
{% endif %}

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
 		$('[data-toggle="tooltip"]').tooltip();
 	</script>
{% endblock %}