<form name="aform" ng-submit="aform.$valid && update()" class="form-horizontal" novalidate="novalidate">
	<div class="modal-header">
    	<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    	<h4 class="modal-title">Inventory Adjustment<span class="tracking"> and Tracking</span></h4>
  	</div>
  	<div class="modal-body">
  		<div id="messages" ng-show="message" ng-bind="message" class="alert alert-warning"></div>
  		
  		<div class="row" ng-if="isExisting">
  			<div class="col-md-12">
    			<div class="stat-panel">
	    			<div class="stat-row">
	    				<div class="stat-cell bg-success">
	    					<i class="fa fa-cube bg-icon" style="font-size: 50px; line-height: 50px; height: 55px;"></i>
	    					<span class="text-bg">On Hand in <b><span ng-bind="storageLocation.fullLocation"></span></b></span>
	    				</div>
	    			</div>
	    			<div  class="stat-row">
	    				<div class="stat-counters bordered text-center">
	    					<div class="stat-cell col-xs-4 padding-sm no-padding-hr">
								<span class="text-bg"><strong ng-bind="form.qtyOnHand | number:2"></strong></span><br>
								<span class="text-xs text-muted">KG</span>
							</div>
							
							<div  class="stat-cell col-xs-4 padding-sm no-padding-hr">
								<span class="text-bg"><strong ng-bind="form.qtyOnHandPackage | number:2"></strong></span><br>
								<span class="text-xs text-muted">PACKAGE</span>
							</div>
	    				</div>
	    			</div>
    			</div>
    		</div>
    	</div>
    		
    	<div class="row">
    		<div class="col-xs-12">
    		{{ bootstrap_set_style('horizontal') }}

        <div class="form-group" ng-show="!isExisting" ng-class="{ 'has-error' : errors.storageLocation || sform['ci_inventorybundle_manualadjustment[storageLocation]'].$dirty && sform['ci_inventorybundle_manualadjustment[storageLocation]'].$invalid }">
          {{ form_label(form.storageLocation) }}
          <div class="col-lg-4">
            {{ form_widget(form.storageLocation) }}
            <span class="help-block text-sm" ng-show="errors.storageLocation" ng-bind="errors.storageLocation"></span> 
          </div>
        </div>

    		<div class="form-group" ng-class="{ 'has-error' : errors.type || sform['ci_inventorybundle_manualadjustment[type]'].$dirty && sform['ci_inventorybundle_manualadjustment[type]'].$invalid }">
    			{{ form_label(form.type) }}
    			<div class="col-lg-5">
    				{{ form_widget(form.type) }}
    				<span class="help-block text-sm" ng-show="errors.type" ng-bind="errors.type"></span> 
    			</div>
    		</div>
    		
    		<div class="form-group" ng-class="{ 'has-error' : errors.quantity || sform['ci_inventorybundle_manualadjustment[quantity]'].$dirty && sform['ci_inventorybundle_manualadjustment[quantity]'].$invalid }">
    			{{ form_label(form.quantity) }}
    			<div class="col-lg-4">
    				{{ form_widget(form.quantity) }}
    				<span class="help-block text-sm" ng-show="errors.quantity" ng-bind="errors.quantity"></span> 
    			</div>
    		</div>

        <div class="form-group" ng-show="isTracked == true" ng-class="{ 'has-error' : errors.lotNumber || sform['ci_inventorybundle_manualadjustment[lotNumber]'].$dirty && sform['ci_inventorybundle_manualadjustment[lotNumber]'].$invalid }">
          {{ form_label(form.lotNumber) }}
          <div class="col-lg-4">
            {{ form_widget(form.lotNumber) }}
            <span class="help-block text-sm" ng-show="errors.lotNumber" ng-bind="errors.lotNumber"></span> 
          </div>
        </div>

        <div class="form-group" ng-show="isTracked == true" ng-class="{ 'has-error' : errors.palletId || sform['ci_inventorybundle_manualadjustment[palletId]'].$dirty && sform['ci_inventorybundle_manualadjustment[palletId]'].$invalid }">
          {{ form_label(form.palletId) }}
          <div class="col-lg-4">
            {{ form_widget(form.palletId) }}
            <span class="help-block text-sm" ng-show="errors.palletId" ng-bind="errors.palletId"></span> 
          </div>
        </div>

        <div class="form-group" ng-show="isTracked == true">
          {{ form_label(form.productionDate) }}
          <div class="col-lg-4">
            <div class="input-group date" ng-class="{ 'has-error' : errors.productionDate || sform['ci_inventorybundle_manualadjustment[productionDate]'].$dirty && sform['ci_inventorybundle_manualadjustment[productionDate]'].$invalid }" datepicker="">
              {{ form_widget(form.productionDate) }}
              <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
              <span class="help-block text-sm" ng-show="errors.productionDate" ng-bind="errors.productionDate"></span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-show="isTracked == true">
          {{ form_label(form.factoryDate) }}
          <div class="col-lg-4">
            <div class="input-group date" ng-class="{ 'has-error' : errors.factoryDate || sform['ci_inventorybundle_manualadjustment[factoryDate]'].$dirty && sform['ci_inventorybundle_manualadjustment[factoryDate]'].$invalid }" datepicker="">
              {{ form_widget(form.factoryDate) }}
              <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
              <span class="help-block text-sm" ng-show="errors.factoryDate" ng-bind="errors.factoryDate"></span>
            </div>
          </div>
        </div>
    		
    		</div>
    	</div>
  	</div>
  	<div class="modal-footer">
  		{{ form_widget(form.save) }}
    	<button type="button" class="btn btn-outline" ng-click="close()">Close</button>
    </div>
    {{ form_widget(form._token) }}
</form>