{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Inventory</li>
<li><a href="{{ path('product') }}">Products</a></li>
<li><a href="{{ path('product_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<small>Product ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ FAIcon('shopping-cart', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

{{ form_errors(edit_form) }}

{{ form_start(edit_form, {'action': path('product_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-7">
			{{ form_row(edit_form.sku) }}
			{{ form_row(edit_form.name) }}
			{{ form_row(edit_form.description) }}
			{{ form_row(edit_form.barcode) }}
			{{ form_row(edit_form.storageTemp) }}
			{{ form_row(edit_form.shelfLife) }}
			{{ form_row(edit_form.otherProductInfo) }}
			{{ form_row(edit_form.category) }}
			{{ form_row(edit_form.supplier) }}
			{{ form_row(edit_form.supplierProductName) }}
			{{ form_row(edit_form.supplierProductCode) }}
			{{ form_row(edit_form.isHalal) }}

			{{ form_row(edit_form.reorderThreshold) }}
			{{ form_row(edit_form.reorderQuantity) }}
			{{ form_row(edit_form.isTracked) }}
			{{ form_row(edit_form.designatedWarehouseNumber) }}

			<div class="form-group row{% if not edit_form.packaging.vars.valid %} has-error{% endif %}">
				{{ form_label(edit_form.packaging) }}
				<div class="col-lg-7">
					{{ form_widget(edit_form.packaging) }}
					{{ form_errors(edit_form.packaging) }}
				</div>
				<button type="button" ng-controller="PackagingController" ng-click="add()" class="btn">{{ FAIcon('plus') }}</button>
			</div>

			{{ form_row(edit_form.industry) }}
			
			<div class="form-group form-actions">
				<div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(edit_form.save) }}
					<a href="{{ path('product_show', { 'id': entity.id }) }}" class="btn btn-outline">Back</a>
				</div>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-4">
			<div class="note note-info">
				<h4 class="note-title">Notes on Reorder Threshold & Reorder Quantity*</h4>
				Setting the <i>Reorder Quantity</i> and <i>Reorder Threshold</i> will enable the automatic generation of Purchase Orders.
				When the Quantity On Hand becomes as low as the Reorder Threshold, a new Purchase Order Draft will be automatically generated. The new Purchase Order will have this product and its quantity will be set to the Reorder Quantity.
				This event will only occur when both these fields are not blank.
			</div>
			<div class="note note-info">
				<h4 class="note-title">Notes on Lot Tracked**</h4>
				<i>Lot Tracked products</i> will be tracked in the inventory by lot numbers and pallet IDs. If this product is tracked, you can view and/or assign the lot numbers and pallet IDs of this product's inventory items in Storage Locations.
			</div>
			<div class="note note-info">
				<h4 class="note-title">Notes on Designated Warehouse Number***</h4>
				The <i>Designated Warehouse Number</i> is an optional assignment of a Warehouse Number to this product's inventory. Storage Locations have a <i>Warehouse Number</i>, it is the second highest unit of the storage location after the location's <i>Warehouse</i>. Assigning a <i>Designated Warehouse Number</i> will cause warnings to appear in the product's show page whenever it is stored in any Storage Locations that do not have this Warehouse Number. To disable this, just leave it blank.
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}

{% block javascripts %}
	<script src="{{ asset('assets/js/angular/product.js') }}"></script>
{% endblock %}