{% extends 'CICoreBundle::layout.html.twig' %}
{% import _self as macro %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('product') }}">Products</a></li>
<li><a href="{{ path('product_show', { 'id' : entity.id }) }}">Product # {{ entity.id }}</a></li>
<li class="active">Upload</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('upload', 'page-header-icon') }} Manage Files <small class="text-muted">(Product # {{ entity.id }})</small></h1>
	<br/><small class="text-muted"><em>The maximum file size is 10MB.</em></small>
</div>

{{ form_start(form, {'action': path('product_file_upload', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal'} }) }}
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-primary table-collection" data-prototype="{{ macro.filePrototype(form.files.vars.prototype)|e }}">
				<thead>
					<tr>
						<th class="col-sm-1 action"></th>
						<th class="col-sm-5">File</th>
						<th class="col-sm-6"></th>
					</tr>
				</thead>
				<tbody>
					{% for key, file in form.files %}
						{{ macro.existingFile(file, key) }}
					{% endfor %}
				</tbody>
			</table>
			<btn class="btn btn-outline btn-add-item">{{ FAIcon('plus', 'btn-label') }} Add File</btn>
		</div>
	</div>
	
	<br/>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(form.save) }}
				<a href="{{ path('product_show', { 'id' : entity.id }) }}" class="btn btn-default">Back</a>
			</div>
		</div>
	</div>
	{{ form_widget(form._token) }}
</form>
{% endblock %}

{% macro filePrototype(file) %}
<tr>
	<td><p class="form-control-static"><a href="#" class="btn btn-default btn-sm delete-btn">{{ icon('trash') }}</a></p></td>
	<td>{{ form_widget(file.file_actual) }}</td>
	<td></td>
</tr>
{% endmacro %}

{% macro existingFile(file, key) %}
	{% if file.vars.data.id != null %}
		<tr{% if key is defined %} data-key="{{ key }}"{% endif %}>
			<td><p class="form-control-static"><a href="#" class="btn btn-default btn-sm delete-btn">{{ icon('trash') }}</a></p></td>
			<td>
				<p class="form-control-static">{{ file.vars.value.name }}</p>
				<span class="hide">
					{{ form_widget(file.file_actual, { 'attr' : { 'class' : 'existing-file-input' },'required': false }) }}
				</span>
			</td>
			<td></td>
		</tr>
	{% else %}
		<tr {% if key is defined %}data-key="{{ key }}"{% endif %}>
			<td><p class="form-control-static"><a href="#" class="btn btn-default btn-sm delete-btn">{{ icon('trash') }}</a></p></td>
			<td>{{ form_widget(file.file_actual) }}</td>
			<td>{{ form_errors(file.file_actual) }}</td>
		</tr>
	{% endif %}
{% endmacro %}

{% block javascripts %}
	<script type="text/javascript">
		var itemPrototype = $( ".table-collection" ).attr( "data-prototype" );
	</script>
	<script src="{{ asset('assets/js/alternate_file.js') }}"></script>
{% endblock %}