{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Inventory</a></li>
<li class="active">Products</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <h1>{{ FAIcon('shopping-cart', 'page-header-icon') }} Products</h1>
            <div class="pull-right">
				{% if is_expr_granted("hasAnyRole('ROLE_PRODUCT_CREATE')") %}
					<a class="btn btn-success btn-labeled btn-sm" href="{{ path('product_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>    	
				{% endif %}
        		<a class="btn btn-default btn-labeled btn-sm" href="{{ path('product') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
            </div>
	    </div>
	    
	    <!-- search form -->
	    {{ macros.searchFilter(search_form, 'product') }}
	    <!-- end of search form -->
	    
	    {% if pagination.getPaginationData['totalCount'] > 0 %}
	         <div id="display-count" class="pull-right">
	             {{ macros.paginationCount(pagination) }}
    		</div>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
					<tr>
						<th class="col-md-1">Actions</th>
						<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'p.sku', 'SKU') }}</th>
						<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'cat.name', 'Category') }}</th>
						<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 's.shortName', 'Supplier') }}</th>
						<th class="col-md-2">Description</th>
						<th class="col-md-1">Packaging</th>
						<th class="col-md-1 text-right">On Hand (kg)</th>
						<th class="col-md-1 text-right">Allocated (kg)</th>
						<th class="col-md-1 text-right">On Hand (Package)</th>
						<th class="col-md-1 text-right">Allocated (Package)</th>
					</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('product_show', {'id':entity.id}) }}">{{ FAListIcon('search-plus') }} View</a></li>
										{% if is_expr_granted("hasRole('ROLE_PRODUCT_UPDATE')") %}
											<li><a href="{{ path('product_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{% endif %}
										{% if is_expr_granted("hasRole('ROLE_PRODUCT_CHANGE_STATUS')") %}
											{{ macros.changeStatus('product_confirm_change_status', entity) }}
										{% endif %}
									</ul>
								</div>
							</td>
							<td><a href="{{ path('product_show', { 'id' : entity.id }) }}">{{ entity.sku }}</a>{{ entity|renderTags }}</td>
							<td>{{ entity.category.name }}</td>
							<td>{{ entity.supplier.shortName }}</td>
							<td>{{ entity.description|nl2br }}</td>
							<td>{{ entity.packaging.name }}</td>
							<td class="text-right">{{ badge_success(entity.totalOnHand|decimal) }}</td>
							<td class="text-right">{{ badge_warning(entity.totalAllocated|decimal) }}</td>
							<td class="text-right">{{ badge_success(entity.qtyOnHandPackage|decimal) }}</td>
							<td class="text-right">{{ badge_warning(entity.qtyAllocatedPackage|decimal) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
		    	{{ knp_pagination_render(pagination) }}
		    </div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}