{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Inventory</li>
<li><a href="{{ path('product') }}">Products</a></li>
<li class="active">{{ entity.name }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="pull-right">
		<div class="btn-group btn-group-sm">
			{% if is_expr_granted("hasAnyRole('ROLE_PRODUCT_UPDATE')") %}
				<a href="{{ path('product_edit', { 'id': entity.id }) }}" class="btn">{{ FAListIcon('pencil') }} Edit</a>
			{% else %}
				<a href="{{ path('product_revision', { 'id': entity.id }) }}" class="btn">{{ FAListIcon('info-circle') }} View Logs</a>
			{% endif %}
		
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				{% if is_expr_granted("hasAnyRole('ROLE_PRODUCT_UPDATE')") %}
					<li><a href="{{ path('product_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
					{{ macros.delete('product_confirm_delete', entity) }}
				{% endif %}
				{% if is_expr_granted("hasAnyRole('ROLE_PRODUCT_CHANGE_STATUS')") %}
					{{ macros.changeStatus('product_confirm_change_status', entity) }}
				{% endif %}
				<li><a href="{{ path('product_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>			
			</ul>
		</div>
	</div>
	
	<small>Product ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ FAIcon('shopping-cart', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row">
	<div class="col-md-9">
		<div class="row profile">
			<div class="col-md-6">
				<table class="table table-no-border">
					<tbody>
						<tr>
							<th class="col-xs-4">SKU</th>
							<td>{{ entity.sku }}</td>
						</tr>
						<tr>
							<th>Name</th>
							<td>{{ entity.name }}</td>
						</tr>
						<tr>
							<th>Description</th>
							<td>{{ entity.description|nl2br }}</td>
						</tr>
						<tr>
							<th>Barcode</th>
							<td>{{ entity.barcode }}</td>
						</tr>
						<tr>
							<th>Storage Temperature</th>
							<td>{{ entity.storageTemp }}</td>
						</tr>
						<tr>
							<th>Shelf Life</th>
							<td>{{ entity.shelfLife }}</td>
						</tr>
						<tr>
							<th>Halal</th>
							<td>{% if entity.isHalal %}Yes{% else %}No{% endif %}</td>
						</tr>
						<tr>
							<th>Other Product Info</th>
							<td>{{ entity.otherProductInfo|nl2br }}</td>
						</tr>
						<tr>
							<th>Industry</th>
							<td>{{ entity.industry.name|default('') }}</td>
						</tr>
					</tbody>
				</table>
			</div>
	
			<div class="col-md-6">
				 <table class="table view-record table-no-border" ng-controller="InventoryAdjustmentController">
					<tbody>
						<tr>
							<th class="col-xs-4">Category</th>
							<td>{{ entity.category.name }}</td>
						</tr>
						<tr>
							<th>Supplier</th>
							<td>{{ entity.supplier.name }}</td>
						</tr>
						<tr>
							<th>Supplier Product Name</th>
							<td>{{ entity.supplierProductName }}</td>
						</tr>
						<tr>
							<th>Supplier Product Code</th>
							<td>{{ entity.supplierProductCode }}</td>
						</tr>
						<tr>
							 <th>Packaging</th>
							<td>{{ entity.packaging.name }}</td>
						</tr>
						<tr>
							<th>Total On Hand (kg)</th>
							<td>
								<label class="badge badge-success" ng-bind="totalOnHand.kg | number:2">{{ entity.totalOnHand }}</label>
							</td>
						</tr>
						<tr>
							<th>Total Allocated (kg)</th>
							<td>{{ badge_warning(entity.totalAllocated|decimal) }}</td>
						</tr>
						<tr>
							<th>Total Staged (kg)</th>
							<td>{{ badge_warning(entity.totalStaged|decimal) }}</td>
						</tr>
						<tr>
							<th>Total On Hand (Package)</th>
							<td>
								<label class="badge badge-success" ng-bind="totalOnHand.packageCount | number:2">{{ entity.qtyOnHandPackage }}</label>
							</td>
						</tr>
						<tr>
							<th>Total Allocated (Package)</th>
							<td>{{ badge_warning(entity.qtyAllocatedPackage|decimal) }}</td>
						</tr>
						<tr>
							<th>Total Staged (Package)</th>
							<td>{{ badge_warning(entity.qtyStagedPackage|decimal) }}</td>
						</tr>
						<tr>
							<th>Reorder Threshold <span class="icon-tooltip" title="When the Quantity On Hand becomes as low as the Reorder Threshold, a new Purchase Order Draft will be automatically generated. The new Purchase Order will have this product and its quantity will be set to the Reorder Quantity. This event will only occur when both these fields are not blank." data-toggle="tooltip" data-placement="top"><i class="fa fa-info-circle" ></i></span></th>
							<td>
								{{ entity.reorderThreshold }}
							</td>
						</tr>
						<tr>
							<th>Reorder Quantity</th>
							<td>
								{{ entity.reorderQuantity }}
							</td>
						</tr>
						<tr>
							<th>Lot Tracked <span class="icon-tooltip" title="Lot Tracked products will be tracked in the inventory by lot numbers and pallet IDs. If this product is tracked, you can view and/or assign the lot numbers and pallet IDs of this product's inventory items in Storage Locations." data-toggle="tooltip" data-placement="top"><i class="fa fa-info-circle" ></i></span></th>
							<td>
								{% if entity.isTracked == true %}
									Yes
								{% else %}
									No
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Designated Warehouse Number <span class="icon-tooltip" title="The Designated Warehouse Number is an optional assignment of a Warehouse Number to this product's inventory. Storage Locations have a Warehouse Number, it is the second highest unit of the storage location after the location's Warehouse. Assigning a Designated Warehouse Number will cause warnings to appear in the product's show page whenever it is stored in any Storage Locations that do not have this Warehouse Number." data-toggle="tooltip" data-placement="top"><i class="fa fa-info-circle" ></i></span></th>
							<td>
								{{ entity.designatedWarehouseNumber }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				
				<ul class="nav nav-tabs">
					<li class="active"><a href="#codes" data-toggle="tab">Customer Product Codes</a></li>
					<li><a href="#inventories" data-toggle="tab">Inventory</a></li>
				</ul>
				
				<div class="tab-content">
					{# codes tab #}
					<div class="tab-pane fade in active" id="codes" ng-controller="CodeController">
						{% if entity.codes|length > 0 %}
						<div class="table-responsive">
							<table class="table table-hover table-collection">
								<thead>
									<tr>
										<th class="col-md-2">Actions</th>
										<th class="col-md-4">Customer</th>
										<th class="col-md-3">Code</th>
										<th class="col-md-3">Alias</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="code in codes" ng-if="codes.length > 0">
										<td class="actions">
											<button ng-click="edit(code.id, $index)" class="btn btn-default btn-xs">{{ FAIcon('pencil') }}</button>
											<a controller-name="CodeController" class="btn btn-xs delete-btn delete-popover" delete-popover entity-id="code.id" index="$index">{{ FAIcon('trash') }}</a>
										</td>
										<td ng-bind="code.customerName"></td>
										<td ng-bind="code.code"></td>
										<td ng-bind="code.alias"></td>
									</tr>
								</tbody>
							</table>
						</div>
						{% endif %}
						
						<div class="pull-left">
							<button ng-click="add()" class="btn btn-sm btn-success btn-labeled">
								{{ FAIcon('plus', 'btn-label') }}Add Code
							</button>
						</div>
						
					</div>
					{# end codes tab #}

					{# inventories tab #}
					<div class="tab-pane fade" id="inventories" ng-controller="InventoryAdjustmentController">
						<div id="mismatch-alert" class="alert">
							<strong>Designated Warehouse Number Mismatch</strong> You have products that are stored in locations with incorrect warehouse numbers.
						</div>
						<h4 ng-if="inventories.length > 0">On Hand</h4>
						<div class="table-responsive" ng-if="inventories.length > 0">
							<table class="table table-hover table-collection">
								<thead>
									<tr>
										<th ng-if="isAuthorizedForInventory" class="col-md-2">Actions</th>
										<th class="col-md-1">Warehouse</th>
										<th class="col-md-1">Storage Location</th>
										<th class="col-md-1">On Hand (kg)</th>
										<th class="col-md-1">On Hand (Package)</th>
										<th class="tracking col-md-1">Lot Number</th>
										<th class="tracking col-md-1">Pallet ID</th>
										<th class="tracking col-md-2">Production Date</th>
										<th class="tracking col-md-2">Factory Date</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="inventory in inventories">
										<td ng-if="isAuthorizedForInventory" class="actions">
											<button ng-click="adjust(inventory)" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" onmouseenter="$(this).tooltip('show')" title="Adjust Inventory">{{ FAIcon('exchange') }}</button>
											<button ng-click="launchTransferModal(inventory)" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" onmouseenter="$(this).tooltip('show')" title="Transfer Inventory">{{ FAIcon('arrows') }}</button>
											<a controller-name="InventoryAdjustmentController" class="btn btn-xs delete-btn delete-popover" delete-popover entity-id="inventory.id" index="$index" data-toggle="tooltip" data-placement="top" onmouseenter="$(this).tooltip('show')" title="Delete Inventory">{{ FAIcon('trash') }}</a>
										</td>
										<td ng-bind="inventory.storageLocation.warehouse.name"></td>
										<td>
											<span ng-bind="inventory.storageLocation.fullLocation"></span>
											<span ng-show="inventory.isMismatched" class="label label-warning">Mismatched</span>
										</td>
										<td>
											<span ng-bind="inventory.qtyOnHand | number:2"></span>
										</td>
										<td>
											<span ng-bind="inventory.qtyOnHandPackage | number:2"></span>
										</td>
										<td class="tracking" ng-bind="inventory.lotNumber"></td>
										<td class="tracking" ng-bind="inventory.palletId"></td>
										<td class="tracking" ng-bind="inventory.productionDate"></td>
										<td class="tracking" ng-bind="inventory.factoryDate"></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div ng-if="isAuthorizedForInventory" class="pull-left">
							<button ng-click="add()" class="btn btn-sm btn-success btn-labeled">
								{{ FAIcon('plus', 'btn-label') }}Add Inventory
							</button>
						</div><br><br>

						<h4 ng-if="allocations.length > 0">Allocated for Sales Orders</h4>
						<div class="table-responsive" ng-if="allocations.length > 0">
							<table class="table table-hover table-collection">
								<thead>
									<tr>
										<th class="col-md-6">Warehouse</th>
										<th class="col-md-3">Allocated (kg)</th>
										<th class="col-md-3">Allocated (Package)</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="allocation in allocations">
										<td ng-bind="allocation.warehouse.name"></td>
										<td>
											<span ng-bind="allocation.qtyAllocated | number:2"></span>
										</td>
										<td>
											<span ng-bind="allocation.qtyAllocatedPackage | number:2"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<h4 ng-if="stagings.length > 0">Staged from Receive Orders</h4>
						<div class="table-responsive" ng-if="stagings.length > 0">
							<table class="table table-hover table-collection">
								<thead>
									<tr>
										<th class="col-md-6">Warehouse</th>
										<th class="col-md-3">Staged (kg)</th>
										<th class="col-md-3">Staged (Package)</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="staging in stagings">
										<td ng-bind="staging.warehouse.name"></td>
										<td>
											<span ng-bind="staging.qtyStaged | number:2"></span>
										</td>
										<td>
											<span ng-bind="staging.qtyStagedPackage | number:2"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="modal-transfer-storage-location" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" ng-click="hideTransferModal()" aria-hidden="true">&times;</button>
										<h4 class="modal-title">Transfer Inventory to Another Storage Location</span></h4>
									</div>
									<div class="modal-body">
										<div id="messages" ng-show="message" ng-bind="message" class="alert alert-warning"></div>
									
										<div class="row">
											<div class="col-md-12">
												<div class="stat-panel">
													<div class="stat-row">
														<div class="stat-cell bg-success">
															<i class="fa fa-cube bg-icon" style="font-size: 50px; line-height: 50px; height: 55px;"></i>
															<span class="text-bg">On Hand in <b><span ng-bind="transferOriginInventory.storageLocation.fullLocation"></span></b></span>
														</div>
													</div>
													<div  class="stat-row">
														<div class="stat-counters bordered text-center">
															<div class="stat-cell col-xs-4 padding-sm no-padding-hr">
																<span class="text-bg"><strong ng-bind="transferOriginInventory.qtyOnHand | number:2"></strong></span><br>
																<span class="text-xs text-muted">KG</span>
															</div>
															<div  class="stat-cell col-xs-4 padding-sm no-padding-hr">
																<span class="text-bg"><strong ng-bind="transferOriginInventory.qtyOnHandPackage | number:2"></strong></span><br>
																<span class="text-xs text-muted">PACKAGE</span>
															</div>
															<div  class="stat-cell col-xs-4 padding-sm no-padding-hr" ng-show="transferOriginInventory.palletId != ''">
																<span class="text-bg"><strong ng-bind="transferOriginInventory.palletId"></strong></span><br>
																<span class="text-xs text-muted">PALLET ID*</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
								
										<div class="row">
											<div class="col-xs-12">
											{{ bootstrap_set_style('horizontal') }}

												<div class="form-group">
													<label class="control-label col-lg-4 required" for="select-transfer-storage-location">Target Storage Location</label>
													<div class="col-lg-4">
														<input type="text" id="select-transfer-storage-location" ng-model="transferStorageLocationId" class="form-control">
													</div>
												</div>

												<div class="form-group" ng-show="transferOriginInventory.palletId == ''" ng-class="{'has-error': (transferQuantity == 0) }">
													<label class="control-label col-lg-4" for="input-transfer-storage-location-quantity">Quantity</label>
													<div class="col-lg-4">
														<input type="text" id="input-transfer-storage-location-quantity" name="input-transfer-storage-location-quantity" widget_col="4" ng-model="transferQuantity" class="form-control">
														<span class="help-block text-sm" ng-show="transferQuantity == 0">Quantity must be greater than 0.</span>
													</div>
												</div>
												
												<span class="text-muted" ng-show="transferOriginInventory.palletId != ''">* The whole pallet with its unique pallet ID as well as the its entire contents, will be transferred to the new location and the original inventory entry will be deleted, this is because pallets are supposed to unique.</span>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success submit-button" ng-click="transferStorageLocation()">Transfer</button>
										<button type="button" class="btn btn-outline" ng-click="hideTransferModal()">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					{# end inventories tab #}
				</div>
			</div>
		</div>

		{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>
	
	{% if is_expr_granted("hasAnyRole('ROLE_PRODUCT_FILE_DOWNLOAD')") %}
		<div class="col-md-3">
			<div class="row">
				<div class="panel panel-default custom-panel">
					<div class="panel-heading">
						<span class="panel-title">{{ FAIcon('paperclip', 'panel-title-icon') }}Attachments</span>
					</div>
						
					<div class="panel-body">
						<div class="panel-padding no-padding-vr">
						{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}
						{% if entity.files|length > 0 %}
							{% for file in entity.files %}
								{% set fileName = file.name|split('.') %}
								<div class="item">
									<a href="{{ path('product_file_download', { 'id': file.id }) }}" class="thumbnail">
										{% if (fileName|last)|lower in imageExtensions %}
											<img src="{{ asset(file.webFilePath) | imagine_filter('image_thumbnail') }}" />
										{% else %}
											{{ file.name }}
										{% endif %}
									</a>
									<span class="item-text1">{{ file.name }}</span><br/>
									<span class="item-text2"></span>
								</div>
							{% endfor %}
						{% else %}
							<div class="item">
								No attachments yet.
							</div>
						{% endif %}
						</div>
					</div>
					{% if is_expr_granted("hasAnyRole('ROLE_PRODUCT_FILE_UPLOAD')") %}
						<div class="panel-footer">
							<a class="btn btn-primary btn-sm btn-block" href="{{ path('product_file', { 'id' :entity.id }) }}">{{ FAIcon('upload') }} Upload</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
</div>
{% endblock content %}

{% block javascripts %}
	<script src="{{ asset('assets/js/angular/code.js') }}"></script>
	<script src="{{ asset('assets/js/angular/product_inventory_adjustment.js') }}"></script>
	<script>
		{% autoescape 'js' %}
			$('.icon-tooltip').tooltip();	
			codeCtrl.codes = [];
			codeCtrl.productId = {{- entity.id -}};
			invCtrl.productId = {{- entity.id -}};
			invCtrl.productName = "{{- entity.name -}}";
			invCtrl.designatedWarehouseNumber = "{{- entity.designatedWarehouseNumber|default('') -}}"
			invCtrl.hasMismatch = false;

			invCtrl.totalAllocated = {
				kg: {{- entity.totalAllocated -}},
				packageCount: {{- entity.qtyAllocatedPackage -}} 
			};

			invCtrl.totalStaged = {
				kg: {{- entity.totalStaged -}},
				packageCount: {{- entity.qtyStagedPackage -}} 
			};

			invCtrl.totalOnHand = {
				kg: {{- entity.totalOnHand -}},
				packageCount: {{- entity.qtyOnHandPackage -}} 
			};

			invCtrl.allocations = [];
			invCtrl.stagings = [];
			invCtrl.inventories = [];

			{%- if is_expr_granted("hasAnyRole('ROLE_PRODUCT_ADJUST_INVENTORY_STOCKS')") -%}
				invCtrl.isAuthorizedForInventory = true;
			{%- endif -%}

			{%- for allocation in entity.warehouseInventories if allocation.qtyAllocated != 0 -%}
				invCtrl.allocations.push({
					id: {{- allocation.id -}},
					warehouse: {
						id: "{{- allocation.warehouse.id -}}",
						name: "{{- allocation.warehouse.name -}}",
					},
					qtyAllocated: {{- allocation.qtyAllocated -}},
					qtyAllocatedPackage: {{- allocation.qtyAllocatedPackage -}},
				});
			{%- endfor -%}

			{%- for staging in entity.warehouseInventories if staging.qtyStaged != 0 -%}
				invCtrl.stagings.push({
					id: {{- staging.id -}},
					warehouse: {
						id: "{{- staging.warehouse.id -}}",
						name: "{{- staging.warehouse.name -}}",
					},
					qtyStaged: {{- staging.qtyStaged -}},
					qtyStagedPackage: {{- staging.qtyStagedPackage -}},
				});
			{%- endfor -%}
			{%- for inventory in entity.inventories if inventory.qtyOnHand != 0 -%}
				{%- set mismatch = "false" -%}
				{%- if entity.designatedWarehouseNumber -%}
					{%- if inventory.storageLocation.warehouseNumber|default('')|upper != entity.designatedWarehouseNumber|default('')|upper -%}
						{%- set mismatch = "true" -%}
						invCtrl.hasMismatch = true;
					{%- endif -%}
				{%- endif -%}
				invCtrl.inventories.push({
					id: {{- inventory.id -}},
					storageLocation: {
						id: "{{- inventory.storageLocation.id -}}",
						fullLocation: "{{- inventory.storageLocation.fullLocation -}}",
						warehouseNumber: "{{- inventory.storageLocation.warehouseNumber|default('') -}}",
						warehouse: {
							id: "{{- inventory.storageLocation.warehouse.id -}}",
							name: "{{- inventory.storageLocation.warehouse.name -}}"
						}
					},
					qtyOnHand: {{- inventory.qtyOnHand -}},
					qtyOnHandPackage: {{- inventory.qtyOnHandPackage -}},
					lotNumber: "{{- inventory.lotNumber|default('') -}}",
					palletId: "{{- inventory.palletId|default('') -}}",
					productionDate: "{% if inventory.productionDate %}{{- utils.formatDate(inventory.productionDate) -}}{% endif %}",
					factoryDate: "{% if inventory.factoryDate %}{{- utils.formatDate(inventory.factoryDate) -}}{% endif %}",
					productionDateForm: "{% if inventory.productionDate %}{{- inventory.productionDate|date('m/d/Y') -}}{% endif %}",
					factoryDateForm: "{% if inventory.factoryDate %}{{- inventory.factoryDate|date('m/d/Y') -}}{% endif %}",
					isMismatched: {{- mismatch -}}
				});
			{%- endfor -%}

			{%- for code in entity.codes -%}
				codeCtrl.codes.push({
					id: {{- code.id -}},
					customer: "{{- code.customer.id -}}",
					customerName: "{{- code.customer.name -}}",
					code: "{{- code.code -}}",
					alias: "{{- code.alias -}}",
				});
			{%- endfor -%}

			{% if entity.isTracked == false %}
				invCtrl.isTracked = false;
				$( ".tracking" ).hide();
			{% else %}
				invCtrl.isTracked = true;
			{% endif %}
		{% endautoescape %}
	</script>
{% endblock %}
