{% extends 'CICoreBundle::login_layout.html.twig' %}

{% block right_side %}

<div class="signin-form">
	{% for flashMessage in app.session.flashbag.get("two_factor") %}
		<div class="alert alert-danger">
			{{ flashMessage|trans }}
		</div>
	{% endfor %}
	
	<div class="password-reset-form" id="password-reset-form">
		<div class="signin-text">
			<span>Two-Factor Authentication</span>
		</div> 
		
		<!-- Form -->
		<form class="form" action="" method="POST">
			<div class="form-group w-icon">
				<input type="text" name="_auth_code" id="_auth_code" class="form-control input-lg" placeholder="Enter {{ "scheb_two_factor.auth_code"|trans }}">
				<span class="fa fa-key signin-form-icon"></span>
			</div> <!-- / Email -->
			
			<div class="form-actions">
				<input type="submit" value="LOGIN" class="signin-btn bg-primary">
				<a href="{{ path('fos_user_security_logout') }}" class="forgot-password">Cancel</a>
			</div> <!-- / .form-actions -->
		</form>
		<!-- / Form -->
	</div>
</div>
{% endblock %}
