{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active"> Order Picking Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h1>{{ FAIcon('file', 'page-header-icon') }} Order Picking Report</h1>
				</div>

				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					{% if params %}
						{% set exportParams = [] %}
						
						{% if params.warehouse %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_orderpickingreportfiltertype[warehouse]' : params.warehouse.id }) %}
						{% endif %}
						
						{% if params.customer %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_orderpickingreportfiltertype[customer]' : params.customer.id }) %}
						{% endif %}
						
						{% if params.date %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_orderpickingreportfiltertype[date]' : params.date|date('m/d/Y') }) %}
						{% endif %}

						<div class="pull-right">
							<a class="btn btn-default btn-labeled btn-sm" href="{{ path('get_order_picking_list_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="row search-filters">
			{{ form_start(search_form, { 'action' : path('get_order_picking_list'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.warehouse) }}
					{{ form_row(search_form.customer) }}
					{{ form_row(search_form.date) }}
					{{ form_row(search_form.search) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		
		{% if params %}
			{% if pagination.getPaginationData['totalCount'] > 0 %}
				<div id="display-count" class="pull-right">
					{{ macros.paginationCount(pagination) }}
				</div>      		
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'op.id', 'Order Picking #') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 's.id', 'DR #') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sl.warehouseNumber', 'Warehouse Number') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'c.shortName', 'Customer') }}</th>
								<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'p.name', 'Product') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'opi.lotNumber', 'Lot #') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'opi.productionDate', 'Production Date') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'opi.palletId', 'Pallet ID') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sl.fullLocation', 'Storage Location') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'opi.quantity', 'Quantity') }}</th>
								<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'op.date', 'Order Picking Date') }}</th>
							</tr>
						</thead>
						<tbody>
						{% for data in pagination %}
						{% set entity = data[0] %}
						<tr>
								<td>{{ entity.orderPicking.id }}</td>
								<td>{{ entity.orderPicking.shipping.id }}</td>
								<td>{{ entity.storageLocation.warehousenumber }}</td>
								<td>{{ entity.orderPicking.shipping.salesOrder.customer.shortname }}</td>
								<td>{{ entity.shippingItem.salesOrderItem.quotation.product.name }}</td>
								<td>{{ data.lotNumber }}</td>
								<td>{{ utils.formatDate(data.productionDate) }}</td>
								<td>{{ data.palletId }}</td>
								<td>{{ entity.storageLocation.fullLocation }}</td>
								<td>{{ data.quantity }}</td>
								<td>{{ utils.formatDate(entity.orderPicking.date) }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
					{{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}