{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macro %}

{% block breadcrumbs %}
<li>Inventory</li>
<li class="active">Inventory Log</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<h1>{{ FAIcon('history', 'page-header-icon') }} Inventory Log</h1>
		</div>
		<div class="col-xs-6 col-sm-4 col-sm-offset-2">
			<div class="pull-right">
				<a class="btn btn-labeled btn-default btn-sm" href="{{ path('inventorylog') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a>
			</div>
		</div>
	</div>
</div>            
	
<!-- filter section -->
<div class="row">
	<div class="col-md-12">
		{{ form_start(search_form, {'action': path('inventorylog'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
			<div class="col-md-5 col-sm-5">
				{{ bootstrap_set_style('horizontal') }}
				{{ form_row(search_form.type) }}
				{{ form_row(search_form.product) }}
				<div class="form-group row">
					<div class="col-lg-8 col-lg-offset-4">
						{{ form_widget(search_form.search) }}
					</div>
				</div>
			</div>
					
			<div class="col-md-5 col-sm-5">
				{{ form_row(search_form.dateFrom) }}
				{{ form_row(search_form.dateTo) }}
			</div>
		{{ form_end(search_form) }}
	</div>
</div>
<!-- end filter section -->

<div class="row">
	<div class="col-md-12">
	{% if pagination.getPaginationData['totalCount'] > 0 %}
		<div id="display-count" class="pull-right">
			{{ macros.paginationCount(pagination) }}
		</div>
		<div class="table-responsive">
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th class="col-sm-1">Type</th>
						<th class="col-sm-2">Date</th>
						<th class="col-sm-1">Storage Location</th>
						<th class="col-sm-1">Pallet ID</th>
						<th class="col-sm-2">SKU</th>
						<th class="col-sm-1">On Hand</th>
						<th class="col-sm-1">Change</th>
						<th class="col-sm-1">User</th>
						<th class="col-sm-2">Notes</th>
					</tr>
				</thead>
				<tbody>
				{% for entity in pagination %}
					{% set entityType = entity.getTransTypeLabel %}
					<tr>
						<td>
						{% if entity.quantity > 0 %}
							{% set type = 'in' %}
							{{ label_primary(type|upper) }}
						{% elseif entity.quantity < 0 %}
							{% set type = 'out' %}
							{{ label_warning(type|upper) }}
						{% endif %}
						</td>
						<td>{{ utils.formatDateTime(entity.createdAt) }}</td>
						<td>{{ entity.inventory.storageLocation.fullLocation }}</td>
						<td>{{ entity.inventory.palletId }}</td>
						<td><a href="{{ path('product_show', {'id':entity.product.id}) }}">{{ entity.product.sku }}</a></td>
						<td>{{ entity.balance|decimal }}</td>
						<td>
							{% if type == 'in' %}
								<span class="text-primary">{{ FAIcon('arrow-up') }} {{ entity.quantity|decimal }}</span>
							{% elseif type == 'out' %}
								<span class="text-warning">{{ FAIcon('arrow-down') }} {{ (entity.quantity * -1)|decimal }}</span>
							{% endif %}
						</td>
						<td>{{ entity.createdBy.firstName|default }} {{ entity.createdBy.lastName|default }}</td>
						<td>
							<span class="label">{{ entityType['type']|upper }}</span>
							{{ entity.memo|nl2br }} 
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{{ knp_pagination_render(pagination) }}
		</div>
	{% else %}
		<div class="alert">
			No results found.
		</div>
	{% endif %}
	</div>
</div>
{% endblock content %}