{% macro item(item) %}
	<td>
		<label class="checkbox">
			{{ form_widget(item.isIncluded) }}
			<span class="lbl">&nbsp;</span>
		</label>
	</td>
	<td>
		<div ng-class="{ 'has-error' : item.errors.quantity.length > 0 }">
			{{ form_widget(item.quantity) }}
			<ul class="help-block" ng-show="item.errors.quantity">
				<li class="text-danger" ng-repeat="error in item.errors.quantity">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
	</td>
	<td>
		{{ form_widget(item.shippingItem) }}
		<span ng-bind="item.product.name"></span>
	</td>
	<td>
		<div ng-class="{ 'has-error' : item.errors.lotNumber.length > 0 }">
			{{ form_widget(item.lotNumber) }}
			<ul class="help-block" ng-show="item.errors.lotNumber">
				<li class="text-danger" ng-repeat="error in item.errors.lotNumber">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
	</td>
	<td>
		<div ng-class="{ 'has-error': item.errors.productionDate.length > 0 }">
			{{ form_widget(item.productionDate) }}
			<span ng-bind="item.productionDate"></span>

			<ul class="help-block" ng-show="item.errors.productionDate">
				<li class="text-danger" ng-repeat="error in item.errors.productionDate">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
	</td>
	<td>
		<div ng-class="{ 'has-error' : item.errors.palletId.length > 0 }">
			{{ form_widget(item.palletId) }}
			<ul class="help-block" ng-show="item.errors.palletId">
				<li class="text-danger" ng-repeat="error in item.errors.palletId">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
	</td>
	<td>
		<div ng-class="{ 'has-error' : item.errors.remarks.length > 0 }">
			{{ form_widget(item.remarks) }}
			<ul class="help-block" ng-show="item.errors.remarks">
				<li class="text-danger" ng-repeat="error in item.errors.remarks">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
	</td>
	<td>
		<div ng-class="{ 'has-error' : item.errors.correctiveAction.length > 0 }">
			{{ form_widget(item.correctiveAction) }}
			<ul class="help-block" ng-show="item.errors.correctiveAction">
				<li class="text-danger" ng-repeat="error in item.errors.correctiveAction">
					<small ng-bind="error"></small>
				</li>
			</ul>
		</div>
	</td>
{% endmacro %}

{% macro initScript(form) %}
	{% import 'CICoreBundle::utils.html.twig' as utils %}
	
	<script>
	{% autoescape 'js' %}
		var items = {};
		{% for key, item in form.items %}
			
			var errors = {
				quantity: [
					{%- if item.quantity.vars.errors|length > 0 -%}
						{%- for error in item.quantity.vars.errors -%}
							"{{ error.message }}",
						{%- endfor -%}
					{%- endif -%}
				],
			};
			
			items[{{ key }}] = {
				isIncluded: {% if item.vars.value.isIncluded %}true{% else %}false{% endif %},
				quantity: "{{ item.vars.value.quantity|default(0) }}",
				shippingItem: "{{ item.vars.value.shippingItem.id|default }}",
				product: {
					id: "{{ item.vars.value.shippingItem.salesOrderItem.quotation.product.id|default }}",
					name: "{{ item.vars.value.shippingItem.salesOrderItem.quotation.product.displayName|default }}",
				},
				packaging: {
					description: "{{ item.vars.value.shippingItem.salesOrderItem.quotation.product.packaging.description }}",
				},
				lotNumber: {
					label: "{{ item.vars.value.lotNumber }}"
				},
				lotNumbers: {
					{% for key, choice in item.lotNumber.vars.choices %}
						{{ key }} : {  label: "{{ choice.label }}", },
					{% endfor %}
				},
				palletId: "{{ item.vars.value.palletId }}",
				productionDate: "{{ utils.formatDate(item.vars.value.productionDate|default, 'Y-m-d') }}",
				errors: errors
			};
		{% endfor %}
	{% endautoescape %}
	</script>
{% endmacro %}
