{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Backload:macro.html.twig' as macro %}

{% block breadcrumbs %}
	<li>Sales</li>
	<li><a href="{{ path('backload') }}">Backloads</a></li>
	<li class="active">New</li>
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>{{ FAIcon('reply-all', 'page-header-icon') }} New Backload</h1>
	</div>

	{% if form_errors(form) is not empty %}
		{{ form_errors(form) }}<br/>
	{% endif %}

	{{ form_start(form, { 'action' : path('backload_create'), 'method': 'POST', 'attr': { 'class' : 'form-horizontal', 'novalidate' : 'novalidate', 'ng-controller' : 'BackloadController', 'ng-init' : 'init()' } }) }}
		{{ bootstrap_set_style('horizontal') }}
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group row">
								{{ form_label(form.shipping) }}
								<div class="col-lg-8">
									{{ form_widget(form.shipping) }}
									<p class="form-control-static"><a href="{{ path('shipping_show', { 'id' : entity.shipping.id }) }}">{{ entity.shipping.id }}</a></p>
								</div>
							</div>

							<div class="form-group row">
								<label class="control-label col-lg-4">Sales Order #</label>
								<div class="col-lg-8">
									<p class="form-control-static"><a href="{{ path('salesorder_show', { 'id' : entity.shipping.salesOrder.id }) }}">{{ entity.shipping.salesOrder.id }}</a></p>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group row">
								<label class="control-label col-lg-4">Customer</label>
								<div class="col-lg-8">
									<p class="form-control-static"><a href="{{ path('customer_show', { 'id' : entity.shipping.salesOrder.customer.id }) }}">{{ entity.shipping.salesOrder.customer.name }}</a></p>
								</div>
							</div>
							{{ form_row(form.date) }}
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="table-responsive">
						<table class="table table-primary item-collection">
							<thead>
								<tr>
									<th></th>
									<th class="col-md-1 text-right">Quantity</th>
									<th class="col-md-2">Product</th>
									<th class="col-md-2">Lot Number</th>
									<th class="col-md-1">Production Date</th>
									<th class="col-md-2">Pallet ID <small>(optional)</small></th>
									<th class="col-md-2">Remarks <small>(optional)</small></th>
									<th class="col-md-2">Corrective Action <small>(optional)</small></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-cloak ng-repeat="(key, item) in form.items" ng-class="{% verbatim %}{ success: item.isIncluded }{% endverbatim %}">
									{{ macro.item(form.items.vars.prototype) }}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<br/><br/>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(form.save) }}
						<a href="{{ path('shipping_show', { 'id' : entity.shipping.id }) }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
		{{ form_widget(form._token) }}
	</form>
{% endblock %}

{% block javascripts %}
	{{ macro.initScript(form) }}
	<script src="{{ asset('assets/js/angular/backload.js') }}"></script>
{% endblock %}
