{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Backload:macro.html.twig' as macro %}

{% block breadcrumbs %}
	<li>Sales</li>
	<li><a href="{{ path('backload') }}">Backloads</a></li>
	<li class="active">View</li>
{% endblock %}

{% block content %}
	<div class="page-header">
		<div class="row">
			<div class="col-sm-6">
				<h1>
					{{ FAIcon('reply-all', 'page-header-icon') }} Backload # {{ entity.id }}
				</h1>
				{% if entity.forPutAway and entity.active %}
					<span class="label label-success">For Put Away</span>
				{% elseif not entity.active %}
					<span class="label label-danger">Void</span>
				{% endif %}
			</div>

			<div class="col-sm-6">
				<div class="pull-right btn-toolbar">
					{% if entity.active %}
						{% if is_expr_granted("hasAnyRole('ROLE_BACKLOAD_CHANGE_STATUS')") and entity.activePutAways|length == 0 %}
							<a class="btn btn-outline btn-danger" href="{{ path("backload_change_status", {'id' : entity.id, 'status' : constant('CI\\InventoryBundle\\Entity\\Backload::STATUS_INACTIVE')}) }}">{{ FAIcon('warning') }} Void</a>
						{% endif %}
					{% else %}
						<a class="btn btn-outline btn-default disabled" href="#">{{ FAIcon('ban') }} Void</a>
					{% endif %}

					{% if entity.checkForPutAway %}
						<div class="btn-group">
							<a class="btn btn-outline btn-info" href="{{ path('backload_for_put_away', { 'id' : entity.id }) }}">{{ FAIcon('archive') }} Set as For Put Away</a>
						</div>
					{% endif %}

					{% if entity.isEditable %}
						<div class="btn-group btn-group-md">
							<a href="{{ path('backload_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
						</div>
					{% endif %}

					<div class="btn-group btn-group-md">
						<div class="btn-group">
							<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More {{ FAIcon('caret-down') }}</a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('backload_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
								{% if entity.isDeletable %}
									<li><a href="{{ path('backload_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
								{% endif %}
							</ul>
						</div>
						<div class="btn-group">
							<a class="btn btn-default" href="{{ path('backload') }}">{{ FAIcon('th-large') }} List All</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<table class="table table-no-border profile">
						<tr>
							<th class="col-xs-4">Delivery #</th>
							<td><a href="{{ path('shipping_show', { 'id' : entity.shipping.id }) }}">{{ entity.shipping.id }}</a></td>
						</tr>
						<tr>
							<th>Sales Order #</th>
							<td><a href="{{ path('salesorder_show', { 'id' : entity.shipping.salesOrder.id }) }}">{{ entity.shipping.salesOrder.id }}</a></td>
						</tr>
					</table>
				</div>
				<div class="col-md-6 col-xs-12">
					<table class="table table-no-border profile">
						<tr>
							<th class="col-xs-4">Customer</th>
							<td><a href="{{ path('customer_show', { 'id' : entity.shipping.salesOrder.customer.id }) }}">{{ entity.shipping.salesOrder.customer.name }}</a></td>
						</tr>
						<tr>
							<th>Date</th>
							<td>{{ utils.formatDate(entity.date) }}</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-light">
							<thead>
								<tr>
									<th class="col-md-1 text-right">Quantity</th>
									<th class="col-md-3">Product</th>
									<th class="col-md-1">Lot Number</th>
									<th class="col-md-2">Production Date</th>
									<th class="col-md-1">Pallet ID</th>
									<th class="col-md-2">Remarks</th>
									<th class="col-md-2">Corrective Action</th>
								</tr>
							</thead>
							<tbody>
								{% for item in entity.items %}
									<tr>
										<td class="text-right">{{ item.quantity|decimal(2) }}</td>
										<td>
											<a href="{{ path('product_show', { 'id' : item.shippingItem.salesOrderItem.quotation.product.id }) }}">
												{{ item.shippingItem.productName }}
											</a>
										</td>
										<td>{{ item.lotNumber }}</td>
										<td>{{ utils.formatDate(item.productionDate) }}</td>
										<td>{{ item.palletId }}</td>
										<td>{{ item.remarks|nl2br }}</td>
										<td>{{ item.correctiveAction|nl2br }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row">
				<div class="panel panel-default custom-panel">
					<div class="panel-heading">
						<span class="panel-title">{{ FAIcon('archive', 'panel-title-icon') }}Put Away Status</span>
					</div> <!-- / .panel-heading -->
					<div class="panel-body">
						<div class="panel-padding no-padding-vr">
							{% if entity.putAways|length == 0 %}
								<div class="item">
									<span>
										There are no put aways found for this backload.
									</span>
								</div>
							{% endif %}
							
							{% for pa in entity.putAways %}
								<div class="item">
									<a class="item-link" href="{{ path('putaway_show', { 'id' : pa.id }) }}">{{ utils.formatDate(pa.date) }}</a> 
									<span class="small">{{ pa.id }}</span><br/>
								</div>
							{% endfor %}
						</div>
					</div> <!-- / .panel-body -->
					{% if entity.forPutAway and entity.active %}
						{% if not entity.activePutAways|length > 0 %}
							<div class="panel-footer">
								<a class="btn btn-primary btn-sm btn-block" href="{{ path('putaway_new', { 'transactionId' : entity.id, 'type' : constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_BACKLOAD') }) }}">{{ FAIcon('plus') }} Add New</a>
							</div>
						{% endif %}
						
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
