{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active"> Purchase Order Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <div class="row">
	            <div class="col-xs-6 col-sm-6">
    	        <h1>{{ FAIcon('file', 'page-header-icon') }}  Purchase Order Report</h1>
    	        </div>
    	        
    	        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
    	        	{% if params %}
						{% set exportParams = [] %}
						
						{% if params.poId %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_poreportfilter[poId]' : params.poId }) %}
						{% endif %}
						
						{% if params.supplier %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_poreportfilter[supplier]' : params.supplier.id }) %}
						{% endif %}
						
						{% if params.products %}
							{% for p in params.products %}
								{% set exportParams = exportParams | merge( { ('ci_inventorybundle_poreportfilter[products][' ~ loop.index0 ~ ']') : p.id } ) %}
							{% endfor %}
						{% endif %}
						
						{% if params.dateFrom %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_poreportfilter[dateFrom]' : params.dateFrom|date('m/d/Y') }) %}
						{% endif %}
						
						{% if params.dateTo %}
							{% set exportParams = exportParams | merge({ 'ci_inventorybundle_poreportfilter[dateTo]' : params.dateTo|date('m/d/Y') }) %}
						{% endif %}
					
						<div class="pull-right">
						    <a class="btn btn-default btn-labeled btn-sm" href="{{ path('get_purchase_order_export', exportParams) }}">{{ FAIcon('print', 'btn-label') }} Export to PDF</a>
						</div>
					{% endif %}
                </div>
            </div>
	    </div>
	   
	    
		<div class="row search-filters">
            {{ form_start(search_form, { 'action' : path('get_purchase_order'), 'method' : 'GET', 'attr' : {'class' : 'form-horizontal' } }) }}
		 	    {{ bootstrap_set_style('horizontal') }}
		 		<div class="col-md-5">
					{{ form_row(search_form.poId) }}
					{{ form_row(search_form.supplier) }}
					{{ form_row(search_form.products) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
            {{ form_end(search_form) }}
		</div>
		
		{% if params %}
		    {% if pagination.getPaginationData['totalCount'] > 0 %}
		        <div id="display-count" class="pull-right">
	             	{{ macros.paginationCount(pagination) }}
    			</div>      		
	    		<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'po.poId', 'PO #') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'po.poDate', 'PO Date') }}</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'po.cnPf', 'Ref. No.') }}</th>
							    <th class="col-md-2">{{ utils.sortableTableHeader(pagination, 's.name', 'Supplier') }}</th>
							    <th class="col-md-4">Items</th>
							    <th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'po.terms', 'Terms') }}</th>
							    <th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'po.deliveryDate', 'Estimated Delivery Date') }}</th>
							</tr>
				        </thead>
				        <tbody>
				        {% for entity in pagination %}
							<tr>
								<td><a href="{{ path('purchaseorder_show', { 'id' : entity.id }) }}">{{ entity.poId }}</a></td>
								<td>{{ utils.formatDate(entity.poDate) }}</td>
								<td>{{ entity.cnPf }}</td>
								<td>{{ entity.supplier.name }}</td>
								<td>
									<ul>
									{% for item in entity.items %}
										<li>{{ item.product.displayName }} - {{ item.quantity|decimal }} kg</li>
									{% endfor %}
									</ul>
								</td>
								<td>{{ entity.terms }}</td>
								<td>{{ utils.formatDate(entity.deliveryDate) }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="pull-right">
				    {{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
			<br/>
			<div class="alert">
				No results found.
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}