{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Accounts</li>
<li><a href="{{ path('customer') }}">Customers</a></li>
<li><a href="{{ path('customer_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<small>Customer ID #{{ entity.id }}</small>
	<br/>
    <h1>{{ FAIcon('user', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

{{ form_errors(edit_form) }}

{{ form_start(edit_form, {'action': path('customer_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-7">
		  	{{ form_row(edit_form.name) }}
            {{ form_row(edit_form.shortName) }}
			{{ form_row(edit_form.contactDetails) }}
			{{ form_row(edit_form.salesAgent) }}
			{{ form_row(edit_form.terms) }}
			{{ form_row(edit_form.tin) }}
			{{ form_row(edit_form.ewt) }}
    		{{ form_row(edit_form.memo) }}
			
			<div class="form-group form-actions">
			    <div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(edit_form.save) }}
            		<a href="{{ path('customer_show', { 'id': entity.id }) }}" class="btn btn-outline">Back</a>
            	</div>
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}