{% extends 'CICoreBundle::layout.html.twig' %}
{% import _self as selfMacro %}

{% block breadcrumbs %}
<li>Accounts</li>
<li><a href="{{ path('customer') }}">Customers</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('user', 'page-header-icon') }} New Customer</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}<br/>
{% endif %}

{{ form_start(form, {'action': path('customer_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-7">
					{{ form_row(form.name) }}
		            {{ form_row(form.shortName) }}
					{{ form_row(form.contactDetails) }}
					{{ form_row(form.salesAgent) }}
					{{ form_row(form.terms) }}
					{{ form_row(form.tin) }}
					{{ form_row(form.ewt) }}
		    		{{ form_row(form.memo) }}
		    	</div>
			</div>
			
			<br/>
    		
    		<div class="row" ng-controller="TableCollectionController">
				<div class="col-md-12">
					<div class="table-responsive">
		    			<table class="table table-primary table-striped table-collection" data-prototype="{{ selfMacro.branchRow(form.branches.vars.prototype)|e }}">
							<thead>
								<tr>
									<th class="col-sm-1">Main</th>
									<th class="col-sm-2">Name</th>
								    <th class="col-sm-3">Address</th>
								    <th class="col-sm-2">Area</th>
								    <th class="col-sm-3">Contact Details</th>
								    <th class="col-sm-1"></th>
								</tr>
					        </thead>
					        <tbody>
						        {% for key, branch in form.branches %}
									{{ selfMacro.branchRow(branch, key) }}
								{% endfor %}
							</tbody>
						</table>
						
						<a class="btn btn-outline" ng-click="addRow()">{{ FAIcon('plus') }} Add Branch</a>
					</div>
				</div>
			</div>
			
			<br/>
    		
    		<div class="row">
			    <div class="col-sm-12">
			        <div class="form-actions">
						{{ form_widget(form.save) }}
				        <a href="{{ path('customer') }}" class="btn btn-default">Back</a>
				    </div>
			    </div>
			</div>
		</div>
	</div>
	
{{ form_widget(form._token) }}
</form>
{% endblock content %}

{% macro branchRow(branch, key) %}
<tr data-key="{{ key|default(0) }}">
	<td>
		<label class="checkbox">
			{{ form_widget(branch.isMain) }}
			<span class="lbl">&nbsp;</span>
		</label>
		{{ form_errors(branch.isMain) }}
	</td>
	<td>{{ form_widget(branch.name) }} {{ form_errors(branch.name) }}</td>
	<td>{{ form_widget(branch.address) }} {{ form_errors(branch.address) }}</td>
	<td>{{ form_widget(branch.area) }} {{ form_errors(branch.area) }}</td>
	<td>{{ form_widget(branch.contactDetails) }} {{ form_errors(branch.contactDetails) }}</td>
	<td class="text-right">
		<p class="form-control-static">
			<delete-button></delete-button>
		</p>
	</td>
</tr>
{% endmacro %}

{% block javascripts %}
	<script src="{{ asset('assets/js/angular/table_collection.js') }}"></script>
{% endblock %}
