{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Accounts</li>
<li><a href="{{ path('customer') }}">Customers</a></li>
<li class="active">{{ entity.name }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="btn-group pull-right btn-group-sm">
		{% if is_expr_granted("hasAnyRole('ROLE_CUSTOMER_UPDATE')") %}
			<a href="{{ path('customer_edit', { 'id': entity.id }) }}" class="btn">{{ FAListIcon('pencil') }} Edit</a>
		{% else %}
			<a href="{{ path('customer_revision', { 'id': entity.id }) }}" class="btn">{{ FAListIcon('info-circle') }} View Logs</a>
		{% endif %}
		
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			{% if is_expr_granted("hasAnyRole('ROLE_CUSTOMER_UPDATE')") %}
				<li><a href="{{ path('customer_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
			{% endif %}
			
			{% if is_expr_granted("hasRole('ROLE_CUSTOMER_DELETE')") %}
				{{ macros.delete('customer_confirm_delete', entity) }}
			{% endif %}
				
			{% if is_expr_granted("hasAnyRole('ROLE_CUSTOMER_CHANGE_STATUS')") %}
				{{ macros.changeStatus('customer_confirm_change_status', entity) }}
			{% endif %}
			
			<li><a href="{{ path('customer_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>			
		</ul>
	</div>
	<small>Customer ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ FAIcon('user', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row profile">
	<div class="col-md-4">
		<table class="table table-no-border">
			<tbody>
				<tr>
					<th class="col-xs-4">Name</th>
					<td>{{ entity.name }}</td>
				</tr>
				<tr>
					<th>Short Name</th>
					<td>{{ entity.shortName }}</td>
				</tr>
				<tr>
					<th>Contact Details</th>
					<td>{{ entity.contactDetails|nl2br }}</td>
				</tr>
				<tr>
					<th>Sales Agent</th>
					<td>{{ entity.salesAgent.name }}</td>
				</tr>
				<tr>
					<th>TIN</th>
					<td>{{ entity.tin }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="col-md-4">
		 <table class="table view-record table-no-border">
			<tbody>
				<tr>
					<th class="col-xs-4">Terms</th>
					<td>
					{% set terms = entity.terms %}
					{% transchoice terms %}
					 %terms% day|%terms% days
					{% endtranschoice %}
					</td>
				</tr>
				<tr>
					<th>EWT</th>
					<td>{{ entity.translateEwt }}</td>
				</tr>
				<tr>
					<th>Memo</th>
					<td>{{ entity.memo|nl2br }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		
		<ul class="nav nav-tabs">
			<li class="active"><a href="#branches" data-toggle="tab">Branches</a></li>
			{% if is_expr_granted("hasAnyRole('ROLE_CUSTOMER_FILE_DOWNLOAD')") %}
				<li><a href="#files" data-toggle="tab">Attachments</a></li>
			{% endif %}
			<li><a href="#recent-sales-orders" data-toggle="tab">Recent Sales Orders</a></li>
			<li><a href="#recent-delivery-receipts" data-toggle="tab">Recent Delivery Receipts</a></li>
			<li><a href="#recent-collections" data-toggle="tab">Recent Collections</a></li>
		</ul>
		
		<div class="tab-content">
			{# branches tab #}
			<div class="tab-pane fade in active" id="branches" ng-controller="BranchController">
				{% if entity.branches|length > 0 %}
				<div class="table-responsive">
					<table class="table table-hover table-collection">
						<thead>
							<tr>
								<th class="col-md-1">Actions</th>
								<th class="col-md-1">Main</th>
								<th class="col-md-2">Name</th>
								<th class="col-md-3">Address</th>
								<th class="col-md-2">Area</th>
								<th class="col-md-3">Contact Details</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="branch in branches" ng-if="branches.length > 0">
								<td class="actions">
									<button ng-click="edit(branch.id, $index)" class="btn btn-default btn-xs">{{ FAIcon('pencil') }}</button>
									<a ng-disabled="branches.length == 1 || branch.isMain" controller-name="BranchController" class="btn btn-xs delete-btn delete-popover" delete-popover entity-id="branch.id" index="$index">{{ FAIcon('trash') }}</a>
								</td>
								<td ng-bind="branch.isMainText"></td>
								<td ng-bind="branch.name"></td>
								<td ng-bind-html="branch.address|nl2br"></td>
								<td ng-bind="branch.area"></td>
								<td ng-bind-html="branch.contactDetails|nl2br"></td>
							</tr>
						</tbody>
					</table>
				</div>
				{% endif %}
				
				<div class="pull-left">
					<button ng-click="add()" class="btn btn-sm btn-success btn-labeled">
						{{ FAIcon('plus', 'btn-label') }}Add Branch
					</button>
				</div>
				
			</div>
			{# end branches tab #}

			{# files tab #}
			{% if is_expr_granted("hasAnyRole('ROLE_CUSTOMER_FILE_DOWNLOAD')") %}
				<div class="tab-pane fade" id="files">
					<h4>Attachments 
						{% if is_expr_granted("hasAnyRole('ROLE_CUSTOMER_FILE_UPLOAD')") %}<a href="{{ path('customer_file', {'id':entity.id}) }}" class="btn btn-outline btn-primary btn-xs">{{ FAIcon('plus') }}</a>{% endif %}
						</h4>
					{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}

					{% if entity.files|length > 0 %}
						{% set count = 0 %}
						<div class="panel colourable">
							<div class="panel-heading">
								<span class="panel-title"><i class="panel-title-icon fa fa-picture-o"></i>Images</span>
							</div>
							<div class="panel-body">
							{% for file in entity.files if ((file.name|split('.'))|last)|lower in imageExtensions %}
								{% set fileName = file.name|split('.') %}
								{% set count = count + 1 %}
								<div class="padding-sm col-md-2">
									<a href="{{ path('customer_file_download', { 'id': file.id }) }}" class="thumbnail" data-toggle="tooltip" title="{{ file.name }}" data-placement="bottom">
										<img src="{{ asset(file.webFilePath) | imagine_filter('image_list_thumbnail_square') }}" />
									</a>
								</div>
							{% endfor %}
							{% if count == 0 %}
								<span class="text-bg">No images yet</span>
							{% endif %}
							</div>
						</div>

						{% set count = 0 %}
						<div class="panel colourable">
							<div class="panel-heading">
								<span class="panel-title"><i class="panel-title-icon fa fa-file"></i>Other Files</span>
							</div>
							<div class="panel-body">
							{% for file in entity.files if ((file.name|split('.'))|last)|lower not in imageExtensions %}
								{% set fileName = file.name|split('.') %}
								{% set count = count + 1 %}
								<a href="{{ path('customer_file_download', { 'id': file.id }) }}" class="col-md-12">
									{{ file.name }}
								</a>
							{% endfor %}
							{% if count == 0 %}
								<span class="text-bg">No non-image files yet</span>
							{% endif %}
							</div>
						</div>
					{% else %}
						<div class="item">
							No attachments yet.
						</div>
					{% endif %}
				</div>
			{% endif %}
			{# end files tab #}
			
			{# sales order block #}
			<div class="tab-pane fade" id="recent-sales-orders">
				<div class="table-responsive">	
					{% if recentTransactions["salesOrders"]|length > 0 %}
						<table class="table table-hover table-collection">
							<thead>
								<tr>
									<th class="col-md-2">Status</th>
									<th class="col-md-1">SO #</th>
									<th class="col-md-2">Date</th>
									<th class="col-md-1">PO #</th>
									<th class="col-md-2 amount">Total</th>
									<th class="col-md-4"></th>
								</tr>
							</thead>
							<tbody>
								{% for salesOrder in recentTransactions["salesOrders"] %}
								 	<tr>
									 	<td>{{ salesOrder|renderStatusTag }}</td>
									 	<td><a href="{{ path('salesorder_show', { 'id':salesOrder.id }) }}">{{ salesOrder.refCode }}</a></td>
									 	<td>{{ utils.formatDate(salesOrder.date) }}</td>
									 	<td>{{ salesOrder.poRefCode }}</td>
									 	{% if not is_expr_granted("hasAnyRole('ROLE_TOTAL_NOT_SHOWN')") %}
											<td class="amount">{{ salesOrder.total|number_format(2) }}</td>
										{% else %}
											<td></td>
										{% endif %}	
										<td></td>
									 </tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<tr>No Sales Order yet</tr>
					{% endif %}
				</div>		
			</div>
			{# sales order block #}
			
			{# delivery receipt block #}
			<div class="tab-pane fade" id="recent-delivery-receipts">
				<div class="table-responsive">
					{% if recentTransactions["deliveryReceipts"]|length > 0 %}
						<table class="table table-hover table-collection">
							<thead>
								<tr>
									<th class="col-md-1">DR #</th>
									<th class="col-md-1">SI #</th>
									<th class="col-md-1">SO #</th>
									<th class="col-md-3">Branch</th>
									<th class="col-md-1">SO Created By</th>
									<th class="col-md-1">Has Attention</th>
									<th class="col-md-2">Delivery Date</th>
									<th class="col-md-2">Memo</th>
								</tr>
							</thead>
							<tbody>
								{% for deliveryReceipt in recentTransactions["deliveryReceipts"] %}
								 	<tr>
									 	<td><a href="{{ path('shipping_show', { 'id': deliveryReceipt.id }) }}">{{ deliveryReceipt.drId }}</a>{{ deliveryReceipt|renderTags}}</td>				 	
									 	<td>{{ deliveryReceipt.siRefCode }}</td>
									 	<td><a href="{{ path('salesorder_show', { 'id': deliveryReceipt.salesOrder.id }) }}">{{ deliveryReceipt.salesOrder.refCode }}</a></td>
									 	<td>{{ deliveryReceipt.branch.name }}</td>
									 	<td>{{ deliveryReceipt.salesOrder.ownedBy.name }}</td>
									 	<td>
										 	{% if deliveryReceipt.attention %}
												<span class="warning">Yes</span>
											{% else %}
												<span class="success">No</span>
											{% endif %}
										</td>
									 	<td>{{ utils.formatDate(deliveryReceipt.deliveryDate) }}</td>
									 	<td>{{ deliveryReceipt.memo|nl2br }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<tr>No delivery receipts yet</tr>
					{% endif %}
				</div>	
			</div>
			{# delivery receipt block #}
			
			{# collection block #}
			<div class="tab-pane fade" id="recent-collections">
				
			</div>
			{# collection block #}
		</div>
	</div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('assets/js/angular/branch.js') }}"></script>
	<script>
		{% autoescape 'js' %}
			$('[data-toggle="tooltip"]').tooltip();
			branchCtrl.branches = [];
			branchCtrl.customerId = {{ entity.id }};
			
			{% for branch in entity.branches %}
				branchCtrl.branches.push({
					id: {{ branch.id }},
					isMain: {% if branch.isMain %}true{% else %}false{% endif %},
					isMainText: "{% if branch.isMain %}Yes{% else %}No{% endif %}",
					name: "{{ branch.name }}",
					address: "{{ branch.address }}",
					area: "{{ branch.area }}",
					contactDetails: "{{ branch.contactDetails }}"
				});
			{% endfor %}
		{% endautoescape %}
	</script>
{% endblock %}
