{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Dashboard</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <h1>{{ FAIcon('dashboard') }} Dashboard</h1>
	    </div>
	    
	    {% if (is_granted('ROLE_LIST_SALES_AGENT') or is_granted('ROLE_LIST_SHIPPING')) or is_granted('ROLE_SALES_ACTIVITY') %}
	    	<div class="row">
	    		{% if is_granted('ROLE_LIST_SALES_AGENT') %}
		    	<div class="col-md-4">
		    		<div class="panel">
		    			<div class="panel-heading">
		    				<span class="panel-title">
		    					<strong>List of Sales Agents that didn't Submit Activity on time.</strong>
		    				</span>
		    			</div>
		    			<div class="panel-body">
		    				<div class="dashboard-table-container">
			    				<div class="dashboard-table">
									{% if salesAgent|length > 0 %}
					    				<table class="table table-condensed">
					    					<thead>
					    						<th class="col-md-2">First Name</th>
					    						<th class="col-md-2">Last Name</th>
					    					</thead>
					    					<tbody>
					    						{% for a in salesAgent %}
						    						<tr>
						    							<td>{{ a.firstName }}</td>
						    							<td>{{ a.lastName }}</td>
						    						</tr>
					    						{% endfor %}
					    					</tbody>
					    				</table>
					    			{% else %}
						    			<h4 class="text-muted">No results found.</h4>
				    				{% endif %}
			    				</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    	{% endif %}
		    	
		    	{% if is_granted('ROLE_SALES_ACTIVITY') %}
		    	<div class="col-md-4">
		    		<div class="panel">
		    			<div class="panel-heading">
		    				<span class="panel-title">
		    					<strong>Sales Activities</strong>
		    				</span>
		    			</div>
		    			<div class="panel-body">
		    				<div class="dashboard-table-container">
			    				<div class="dashboard-table">
			    					{% if salesActivities|length > 0%}
			    						{% set latest = salesActivities|first %}
				    					{% if date(latest.date|date_modify("+1days")|date("F d, Y")) < date("now"|date("F d, Y")) %}
											<div class="alert alert-danger">
												<p>Please submit your report within 24 hours. <br/>
												<a href="{{ path('salesactivity_new') }}" class="alert-link">{{ FAIcon('pencil') }} Add Activity</a>
												</p>
											</div>
				    					{% endif %}
				    					<ul class="list-group no-margin">
					    				{% for day in 0..6 %}													
											{% set isFound = false %}
											{% set date = "now"|date_modify("-" ~ day ~ " days") %}
						    				{% set count = 0 %}
						    				{% set id = '' %}
						    				
											{% for sa in salesActivities %}
					    						{% if date|date("F d, Y") == sa.date|date("F d, Y") %}
													{% set isFound = true %}
													{% set count = sa.sai %}
													{% set id = sa.sa_id %}
					    						{% endif %}
				    						{% endfor %}
					    					
											<li class="list-group-item no-border-hr padding-xs-hr{% if loop.first %} no-border-t{% elseif loop.last %} no-border-b{% endif %}">
												{% if isFound %}
													<a href="{{ path('salesactivity_show', {'id' : id }) }}">{{ date|date("D, F d, Y") }}</a> 

													{% for salesactivity in salesAgentActivities %}
														{% if salesactivity.id == id %}
															{% if salesactivity.hasComments %}
																<span class="label label-warning"> Comments</span>
															{% endif %}
															{% if salesactivity.getReadFlag %}
																<span class="label"> Read by Manager</span>
															{% endif %}
														{% endif %}
													{% endfor %}

													<span class="label pull-right label-success sales-activity-count">{{ count }}</span>
												{% else %}
													{{ date|date("D, F d, Y") }} <span class="label pull-right label-danger">{{ count }}</span>
												{% endif %} 
											</li>
										{% endfor %}
										</ul>
					    			{% else %}
						    			<h4 class="text-muted">No results found.</h4>
				    				{% endif %}
			    				</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    	{% endif %}
		    </div>
	    {% endif %}
	    
	    {% if is_granted('ROLE_LIST_SHIPPING') %}
			<div class="row">
		    	<div class="col-md-6">
		    		<div class="panel">
		    			<div class="panel-heading">
		    				<span class="panel-title">
								<strong>List of Deliveries w/ Attention</strong>
		    				</span>
		    			</div>
		    			<div class="panel-body">
		    				<div class="dashboard-table-container">
			    				<div class="dashboard-table">
									{% if shippingAttention|length > 0 %}
				    					
					    				<table class="table table-condensed">
					    					<thead>
					    						<th class="col-md-2">DR #</th>
					    						<th class="col-md-2">SO Ref Code</th>
					    						<th class="col-md-2">Delivery Date</th>
					    					</thead>
					    					<tbody>
					    						{% for s in shippingAttention %}
						    						<tr>
						    							<td><a href="{{ path('shipping_show', {'id' : s.s_id }) }}">{{ s.drId }}</a></td>
						    							<td>{{ s.refCode }}</td>
						    							<td>{{  utils.formatDate(s.deliveryDate) }}</td>
						    						</tr>
					    						{% endfor %}
					    					</tbody>
					    				</table>
					    			{% else %}
						    			<h4 class="text-muted">No results found.</h4>
				    				{% endif %}
			    				</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		{% endif %}	    
	    
{# 	    	<div class="col-md-6">#}
{# 	    		<div class="panel">#}
{# 	    			<div class="panel-heading">#}
{# 	    				<span class="panel-title">#}
{# 	    					<strong>Transfers or For Productions</strong>#}
{# 	    				</span>#}
{# 	    			</div>#}
	    			
{# 	    			<div class="panel-body">#}
{# 	    				<div class="dashboard-table-container">#}
{# 		    				<div class="dashboard-table">#}
{# 		    				{% if productions|length > 0 %}#}
{# 			    				<table class="table table-condensed">#}
{# 			    					<thead>#}
{# 			    						<th class="col-md-5">Type</th>#}
{# 			    						<th class="col-md-2">Status</th>#}
{# 			    						<th class="col-md-5">APW/ATW No.</th>#}
{# 			    					</thead>#}
{# 			    					<tbody>#}
{# 			    						{% for prod in productions %}#}
{# 			    						<tr>#}
{# 			    							<td>{{ prod.transactionType }}</td>#}
{# 			    							<td>{{ prod|renderStatusTag }}</td>#}
{# 			    							<td><a href="{{ path('production_show', { 'id' : prod.id }) }}">{{ prod.apwNo }}</a></td>#}
{# 			    						</tr>#}
{# 			    						{% endfor %}#}
{# 			    					</tbody>#}
{# 			    				</table>#}
{# 			    			{% else %}#}
{# 				    			<h4 class="text-muted">No results found.</h4>#}
{# 		    				{% endif %}#}
{# 		    				</div>#}
{# 	    				</div>#}
{# 	    			</div>#}
	    			
{# 	    			<div class="panel-footer text-center text-xs">#}
{# 	    				<a href="{{ path('production') }}" class="text-muted text-bold">VIEW ALL TRANSFER OR FOR PRODUCTION</a>#}
{# 	    			</div>#}
{# 	    		</div>#}
{# 	    	</div>#}
{# 	    </div>#}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
init.push(function () {
	$( ".dashboard-table-container" ).slimScroll({ height: 400, alwaysVisible: false, color: "#888", allowPageScroll: false });
})
</script>
{% endblock %}