{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Shipping:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('shipping') }}">Deliveries</a></li>
<li><a href="{{ path('shipping_show', { 'id' : entity.id }) }}">{{ entity.id }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('truck', 'page-header-icon') }} Delivery # {{ entity.id }}</h1>
	{{ entity|renderStatusTag }}
</div>

{% if form_errors(edit_form) is not empty %}
	{{ form_errors(edit_form) }}<br/>
{% endif %}

{{ form_start(edit_form, { 'action' : path('shipping_update', { 'id' : entity.id }), 'method' : 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate', 'ng-controller' : 'ShippingController' } }) }}
	<div class="row">
		{{ bootstrap_set_style('horizontal') }}
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">	
					<div class="form-group row">
						{{ form_label(edit_form.salesOrder) }}
						<div class="col-lg-8">
							{{ form_widget(edit_form.salesOrder) }}
							<p class="form-control-static">{{ entity.salesOrder.refCode }}</p>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-lg-4 control-label">Customer</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ entity.salesOrder.customer.shortName }}</p>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-4 control-label">Warehouse</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ entity.salesOrder.warehouse.name }}</p>
						</div>
					</div>
					
					{{ form_row(edit_form.branch) }}
					{{ form_row(edit_form.drId) }}
					{{ form_row(edit_form.siRefCode) }}
					
					<div class="form-group row">
						<label class="control-label col-lg-4"></label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ form_row(edit_form.attention) }}</p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-5">
					{{ form_row(edit_form.deliveryDate) }}
					{{ form_row(edit_form.truck) }}
					{{ form_row(edit_form.driver) }}
					{{ form_row(edit_form.memo) }}
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="table-responsive">
						<table class="table table-primary item-collection">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th class="col-md-2 text-center">Quantity</th>
									<th class="col-md-1 text-center">Delivered</th>
									<th class="col-md-1 text-center">Balance</th>
									<th class="col-md-2">Product</th>
									<th class="col-md-1">Packaging</th>
									<th class="col-md-2">Description</th>
									<th class="col-md-2">Remarks <small>(optional)</small></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-cloak ng-repeat="(key, item) in form.items" ng-class="{% verbatim %}{ success: item.isIncluded }{% endverbatim %}">
									{{ macro.item(edit_form.items.vars.prototype) }}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(edit_form.saveAsDraft) }}
						{{ form_widget(edit_form.saveAsPending) }}
						<a href="{{ path('shipping_show', { 'id' : entity.id }) }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
	    </div>
    </div>
    {{ form_widget(edit_form._token) }}
</form>
{% include 'CIInventoryBundle:Misc:typeahead.template.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ macro.generateValues(edit_form, entity) }}
	<script src="{{ asset('assets/js/angular/shipping.js') }}"></script>
{% endblock %}