{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Sales</li>
<li class="active">Deliveries</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h1>{{ FAIcon('truck', 'page-header-icon') }} Deliveries</h1>
				</div>
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					<div class="pull-right">
						<a class="btn btn-default btn-labeled btn-sm" href="{{ path('shipping') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
					</div>
				</div>
			</div>
		</div>
		
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('shipping'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.drId) }}
					{{ form_row(search_form.siRefCode) }}
					{{ form_row(search_form.soId) }}
					{{ form_row(search_form.status) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
					{{ form_row(search_form.customer) }}
					{{ form_row(search_form.ownedBy) }}
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="bulk-actions" class="pull-left hidden">
				<span id="bulk-indicator" class="text-bg">Bulk Actions:</span>
				<a id="bulk-action-for-delivery" class="btn btn-default btn-sm" data-status="{{ constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_PENDING') }}">{{ FAIcon('check-circle') }} For Delivery</a>
				<a id="bulk-action-deliver" class="btn btn-success btn-sm" data-status="{{ constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_DELIVERED') }}">{{ FAIcon('truck') }} Deliver</a>
				<a id="bulk-action-fulfill" class="btn btn-info btn-sm" data-status="{{ constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_FULFILLED') }}">{{ FAIcon('thumbs-up') }} Fulfill</a>
			</div>
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1"><input type="checkbox" class="check-all"> Actions</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'dr.drId', 'DR #') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'dr.siRefCode', 'SI #') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'so.refCode', 'SO #') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'c.shortName', 'Customer') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'b.name', 'Branch') }}</th>
							<th class="col-md-1">SO Created By</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'dr.attention', 'Has Attention') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'dr.deliveryDate', 'Delivery Date') }}</th>
							<th class="col-md-2">Memo</th>
						</tr>
					</thead>
					<tbody>
					{% for entity in pagination %}
						<tr>
							<td class="actions">
								<input type="checkbox" class="bulk-checkbox" data-shipping-id="{{ entity.id }}">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('shipping_show', { 'id': entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
										{% if entity.isEditable %}
											<li><a href="{{ path('shipping_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{% endif %}				
									</ul>
								</div>
								<span class="shipping-tooltip text-danger padding-xs-hr tooltip-danger text-bg hidden" data-shipping-id="{{ entity.id }}" data-toggle="tooltip" data-placement="right" title="">
									<i class="fa fa-warning"></i>
								</span>
							</td>
							<td><a href="{{ path('shipping_show', { 'id': entity.id }) }}">{{ entity.drId }}</a>{{ entity|renderTags }}</td>
							<td>{{ entity.siRefCode }}</td>
							<td><a href="{{ path('salesorder_show', { 'id': entity.salesOrder.id }) }}">{{ entity.salesOrder.refCode }}</a></td>
							<td>{{ entity.salesOrder.customer.shortName }}</td>
							<td>{{ entity.branch.name }}</td>
							<td>{{ entity.salesOrder.ownedBy.name }}</td>
							<td>
								{% if entity.attention %}
									<span class="warning">Yes</span>
								{% else %}
									<span class="success">No</span>
								{% endif %}
							</td>
							<td>{{ utils.formatDate(entity.deliveryDate) }}</td>
							<td>{{ entity.memo|nl2br }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>
		{% else %}
		<div class="alert">
			No results found.
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
	<script src="{{ asset('assets/js/shipping.js') }}"></script>
{% endblock %}