{% macro item(item) %}
<td>
	<label class="checkbox">
		{{ form_widget(item.isIncluded) }}
		<span class="lbl">&nbsp;</span>
	</label>
</td>
<td>
	{{ form_widget(item.quantity) }}
	<div class="form-control-static">
	    <small>kg</small>
    </div> 
    
    <br ng-if="item.errors.quantity"/>
    <ul class="help-block text-left" ng-show="item.errors.quantity">
		<li class="text-danger" ng-repeat="error in item.errors.quantity">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>

<td class="text-center">
    <p class="form-control-static">
    	<span class="badge badge-success" ng-bind="item.delivered|number:2"></span>
    </p>
</td>
<td class="text-center">
	<p class="form-control-static">
	    <span class="badge badge-warning" ng-bind="item.maxQty|number:2"></span>
	</p>
</td>
<td>
	{{ form_widget(item.salesOrderItem) }}
	<p class="form-control-static" ng-bind="item.product"></p>
</td>
<td>
	<p class="form-control-static" ng-bind="item.packagingName"></p>
</td>
<td>
    <p class="form-control-static">
    	(ANGLR_ (form.items[key].quantity / form.items[key].kgsUnit) | number: 2 _ANGLR x ANGLR_ form.items[key].packagingDescription _ANGLR)
    </p>
</td>
<td>
	{{ form_widget(item.remarks) }}
    <br ng-if="item.errors.remarks"/>
    <ul class="help-block text-left" ng-show="item.errors.remarks">
		<li class="text-danger" ng-repeat="error in item.errors.remarks">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>

{% endmacro %}

{% macro generateValues(form, entity) %}
<script>
	var items = {};
	
	{% for key, item in form.items %}
		var errors = {
			quantity: [
				{% if item.quantity.vars.errors|length > 0 %}
					{% for error in item.quantity.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			],
			remarks: [
				{% if item.remarks.vars.errors|length > 0 %}
					{% for error in item.remarks.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			],
		};

		items[{{ key }}] = {
			salesOrderItem: "{{ item.vars.value.salesOrderItem.id }}",
			isIncluded: {% if item.vars.value.isIncluded %}true{% else %}false{% endif %},
			quantity: "{{ item.vars.value.quantity }}",
			maxQty: "{{ item.vars.value.salesOrderItem.getMaxQtyAllowedToDeliver(item.vars.value) }}",
			delivered: "{{ item.vars.value.salesOrderItem.getTotalDelivered(item.vars.value) }}",
			product: "{{ item.vars.value.salesOrderItem.quotation.product.sku }}",
			remarks: "{{ item.vars.value.remarks }}",
			packagingName : "{{ item.vars.value.salesOrderItem.quotation.product.packaging.name|default("kg") }}",
			packagingDescription : "{{ item.vars.value.salesOrderItem.quotation.product.packaging.description }}",
			kgsUnit : "{{ item.vars.value.salesOrderItem.quotation.product.packaging.kgsUnit|default(1) }}",	
			noResults: false,
			errors: errors,
		};
	{% endfor %}

	var Warehouse = "{{ entity.salesOrder.warehouse.id }}";

</script>
{% endmacro %}