{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Shipping:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('shipping') }}">Deliveries</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('truck', 'page-header-icon') }} New Delivery</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}<br/>
{% endif %}

{{ form_start(form, { 'action' : path('shipping_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate', 'ng-controller' : 'ShippingController' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">	
					<div class="form-group row">
						{{ form_label(form.salesOrder) }}
						<div class="col-lg-8">
							{{ form_widget(form.salesOrder) }}
							<p class="form-control-static">{{ entity.salesOrder.refCode }}</p>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-lg-4 control-label">Customer</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ entity.salesOrder.customer.shortName }}</p>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-4 control-label">Warehouse</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ entity.salesOrder.warehouse.name }}</p>
						</div>
					</div>
					
					{{ form_row(form.branch) }}
					{{ form_row(form.drId) }}
					{{ form_row(form.siRefCode) }}

					<div class="form-group row">
						<label class="control-label col-lg-4"></label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ form_row(form.attention) }}</p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-5">
					{{ form_row(form.deliveryDate) }}
					{{ form_row(form.truck) }}
					{{ form_row(form.driver) }}
					{{ form_row(form.memo) }}
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="table-responsive">
						<table class="table table-primary item-collection">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th class="col-md-2 text-center">Quantity</th>
									<th class="col-md-1 text-center">Delivered</th>
									<th class="col-md-1 text-center">Balance</th>
									<th class="col-md-2">Product</th>
									<th class="col-md-1">Packaging</th>
									<th class="col-md-2">Description</th>
									<th class="col-md-2">Remarks <small>(optional)</small></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-cloak ng-repeat="(key, item) in form.items" ng-class="{% verbatim %}{ success: item.isIncluded }{% endverbatim %}">
									{{ macro.item(form.items.vars.prototype) }}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(form.saveAsDraft) }}
						{{ form_widget(form.saveAsPending) }}
						<a href="{{ path('salesorder_show', { 'id' : entity.salesOrder.id }) }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_widget(form._token) }}
</form>
{% include 'CIInventoryBundle:Misc:typeahead.template.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ macro.generateValues(form, entity) }}
	<script src="{{ asset('assets/js/angular/shipping.js') }}"></script>
{% endblock %}