{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('shipping') }}">Deliveries</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>{{ FAIcon('truck', 'page-header-icon') }} Delivery # {{ entity.id }}</h1>
			{{ entity|renderShippingTag }}
		</div>
		
		<div class="col-sm-6">
			<div class="pull-right btn-toolbar">
				<div class="btn-group">
					{% if entity.status == constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_DRAFT') and not entity.attention and is_expr_granted("hasAnyRole('ROLE_SHIPPING_DELIVERED')") %}
						<a class="btn btn-outline btn-default" href="{{ path("shipping_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_PENDING')}) }}">{{ FAIcon('check-circle') }} For Delivery</a>
					{% elseif entity.status == constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_PENDING') and not entity.attention and is_expr_granted("hasAnyRole('ROLE_SHIPPING_DELIVERED')") and entity.isFullyPicked %}
						<a class="btn btn-outline btn-success" href="{{ path("shipping_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_DELIVERED')}) }}">{{ FAIcon('truck') }} Deliver</a>
					{% endif %}

					{% if entity.status == constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_DELIVERED') and is_expr_granted("hasAnyRole('ROLE_SHIPPING_FULFILLED')") %}
						<a class="btn btn-outline btn-info" href="{{ path("shipping_change_status", {'id':entity.id, 'status':constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_FULFILLED')}) }}">{{ FAIcon('thumbs-up') }} Fulfill</a>
					{% endif %}
				</div>
				
				<div class="btn-group btn-group-md">
					{% if entity.isEditable and is_expr_granted("hasAnyRole('ROLE_SHIPPING_UPDATE')") %}
						<a href="{{ path('shipping_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
					{% endif %}
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">{{ FAIcon('print') }} Print {{ FAIcon('caret-down') }}</a>
						<ul class="dropdown-menu">
							{% if is_expr_granted("hasAnyRole('ROLE_SHIPPING_PRINT_DR')") %}
								<li><a href="{{ path('shipping_export', { 'id': entity.id, 'type' : constant('CI\\InventoryBundle\\Entity\\Shipping::TYPE_DR') }) }}">{{ FAIcon('file') }} Delivery Receipt</a></li>
							{% endif %}
							{% if is_expr_granted("hasAnyRole('ROLE_SHIPPING_PRINT_SI')") %}
								<li><a href="{{ path('shipping_export', { 'id': entity.id, 'type' : constant('CI\\InventoryBundle\\Entity\\Shipping::TYPE_SI') }) }}">{{ FAIcon('file') }} Sales Invoice</a></li>	
							{% endif %}
						</ul>
					</div>
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More {{ FAIcon('caret-down') }}</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('shipping_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
							{% if entity.isEditable and  is_expr_granted("hasAnyRole('ROLE_SHIPPING_DELETE')") and entity.status == constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_DRAFT') %}
								<li><a href="{{ path('shipping_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				
				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('shipping') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-md-4">SO #</th>
						<td><a href="{{ path('salesorder_show', { 'id' : entity.salesOrder.id }) }}">{{ entity.salesOrder.refCode }}</a></td>
					</tr>
					<tr>
						<th>Customer</th>
						<td>{{ entity.salesOrder.customer.shortName }}</td>
					</tr>
					<tr>
						<th>Warehouse</th>
						<td>{{ entity.salesOrder.warehouse.name|default }}</td>
					</tr>
					<tr>
						<th>Branch</th>
						<td>{{ entity.branch.name }}</td>
					</tr>
					<tr>
						<th>DR #</th>
						<td>{{ entity.drId }}</td>
					</tr>
				</table>
			</div>
			
			<div class="col-md-5 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-md-4">SI #</th>
						<td>{{ entity.siRefCode }}</td>
					</tr>
					<tr>
						<th>Delivery Date</th>
						<td>{{ utils.formatDate(entity.deliveryDate) }}</td>
					</tr>
					<tr>
						<th>Has Attention</th>
						<td>{% if entity.attention %}Yes{% else %}No{% endif %}</td>
					</tr>
					<tr>
						<th>Truck</th>
						<td>{{ entity.truck }}</td>
					</tr>
					<tr>
						<th>Driver</th>
						<td>{{ entity.driver }}</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-light">
						<thead>
							<tr>
								<th class="col-md-1">Quantity</th>
								<th class="col-md-1">Delivered</th>
								<th class="col-md-1">Balance</th>
								<th class="col-md-3">Product</th>
								<th class="col-md-1">Packaging</th>
								<th class="col-md-3">Description</th>
								<th class="col-md-2">Remarks</th>
							</tr>
						</thead>
						<tbody>
							{% for item in entity.items %}
								<tr>
									<td class="text-right">{{ item.quantity|decimal }} <small class="text-muted">kg</small></td>
									<td class="text-right">{{ item.salesOrderItem.totalDelivered|decimal }}</td>
									<td class="text-right">{{ item.salesOrderItem.getMaxQtyAllowedToDeliver|decimal }}</td>
									<td>
										<a href="{{ path('product_show', { 'id' : item.salesOrderItem.quotation.product.id }) }}">
											{{ item.salesOrderItem.quotation.product.sku }} {{ item.salesOrderItem.quotation.product.name }}
										</a>
										<br/>
										<small>Total Picked: {{ item.pickedQuantity|decimal }}</small>
									</td>
									<td>{{ item.salesOrderItem.quotation.product.packaging.description }}</td>
									<td><small class="text-muted">({{ (item.quantity / item.salesOrderItem.quotation.product.packaging.kgsUnit)|round(2) }} x {{ item.salesOrderItem.quotation.product.packaging.description  }})</small></td>
									<td>{{ item.remarks|default('')|nl2br }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-1">
				{% if entity.memo %}
					<div class="well">
						<p>
							<strong>Memo</strong><br/>
							{{ entity.memo|nl2br }}
						</p>
					</div>
				{% endif %}
			</div>
		</div>
		
		{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>
	
	<div class="col-md-3">
		<div class="row">
			<div class="panel panel-default custom-panel">
				<div class="panel-heading">
					<span class="panel-title">{{ FAIcon('hand-o-right', 'panel-title-icon') }}Order Picking Status</span>
				</div> <!-- / .panel-heading -->
				<div class="panel-body">
					<div class="panel-padding no-padding-vr">
						{% if entity.salesOrder.qtyDelivered == entity.salesOrder.qtyOrdered and constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_PENDING') == entity.status %}
							<div class="item">
								<span>
									There is no remaining balance. All items are fully delivered.
								</span>
							</div>
						{% elseif entity.orderPickings|length == 0 %}
							<div class="item">
								<span>
									There are no order pickings found for this delivery receipt.
								</span>
							</div>
						{% endif %}
						
						{% for op in entity.orderPickings %}
							<div class="item">
								<a class="item-link" href="{{ path('orderpicking_show', { 'id' : op.id }) }}">{{ utils.formatDate(op.date) }}</a> 
								<span class="small">{{ op.id }}</span><br/>
							</div>
						{% endfor %}
					</div>
				</div> <!-- / .panel-body -->
				{% if constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_PENDING') == entity.status and not entity.isFullyPicked and entity.salesOrder.qtyDelivered < entity.salesOrder.qtyOrdered and entity.attention != true %}
					<div class="panel-footer">
						<a class="btn btn-primary btn-sm btn-block" href="{{ path('orderpicking_new', { 'shippingId' : entity.id }) }}">{{ FAIcon('plus') }} Add New</a>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default custom-panel">
				<div class="panel-heading">
					<span class="panel-title">{{ FAIcon('reply-all', 'panel-title-icon') }}Backload Status</span>
				</div> <!-- / .panel-heading -->
				<div class="panel-body">
					<div class="panel-padding no-padding-vr">
						{% if entity.backloads|length == 0 %}
							<div class="item">
								<span>
									There are no backloads found for this delivery receipt.
								</span>
							</div>
						{% endif %}
						
						{% for bl in entity.backloads %}
							<div class="item">
								{% if bl.forPutAway and bl.active %}
									<span class="label label-success item-status">For Put Away</span>
								{% elseif not bl.active %}
									<span class="label label-danger item-status">Void</span>
								{% endif %}
								<a class="item-link" href="{{ path('backload_show', { 'id' : bl.id }) }}">{{ utils.formatDate(bl.date) }}</a> 
								<span class="small">{{ bl.id }}</span><br/>
							</div>
						{% endfor %}
					</div>
				</div> <!-- / .panel-body -->
				
				{% if constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_DELIVERED') == entity.status or constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_FULFILLED') == entity.status %}
					<div class="panel-footer">
						<a class="btn btn-primary btn-sm btn-block" href="{{ path('backload_new', { 'shippingId' : entity.id }) }}">{{ FAIcon('plus') }} Add New</a>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default custom-panel">
				<div class="panel-heading">
					<span class="panel-title">{{ FAIcon('undo', 'panel-title-icon') }}Sales Return Status</span>
				</div> <!-- / .panel-heading -->
				<div class="panel-body">
					<div class="panel-padding no-padding-vr">
						{% if entity.salesReturns|length == 0 %}
							<div class="item">
								<span>
									There are no sales returns found for this delivery receipt.
								</span>
							</div>
						{% endif %}
						
						{% for sr in entity.salesReturns %}
							<div class="item">
								{{ sr|renderStatusTag('item-status') }}
								<a class="item-link" href="{{ path('salesreturn_show', { 'id' : sr.id }) }}">{{ utils.formatDate(sr.returnDate) }}</a> 
								<span class="small">{{ sr.id }}</span><br/>
								<span class="item-text2">{{ sr.memo|nl2br }}</span>
							</div>
						{% endfor %}
					</div>
				</div> <!-- / .panel-body -->
				
				{% if constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_DELIVERED') == entity.status or constant('CI\\InventoryBundle\\Entity\\Shipping::STATUS_FULFILLED') == entity.status %}
				<div class="panel-footer">
					<a class="btn btn-primary btn-sm btn-block" href="{{ path('salesreturn_new', { 'shippingId' : entity.id }) }}">{{ FAIcon('plus') }} Add New</a>
				</div>
				{% endif %}
			</div>
		</div>

		{% if is_expr_granted("hasAnyRole('ROLE_SHIPPING_FILE_DOWNLOAD')") %}
			<div class="row">
				<div class="panel panel-default custom-panel">
					<div class="panel-heading">
						<span class="panel-title">{{ FAIcon('paperclip', 'panel-title-icon') }}Attachments</span>
					</div>

					<div class="panel-body">
						<div class="panel-padding no-padding-vr">
						{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}
						{% if entity.files|length > 0 %}
							{% for file in entity.files %}
								{% set fileName = file.name|split('.') %}
								<div class="item">
									<a href="{{ path('shipping_file_download', { 'id': file.id }) }}" class="thumbnail">
										{% if (fileName|last)|lower in imageExtensions %}
											<img src="{{ asset(file.webFilePath) | imagine_filter('image_thumbnail') }}" />
										{% else %}
											{{ file.name }}
										{% endif %}
									</a>
									<span class="item-text1">{{ file.name }}</span><br/>
									<span class="item-text2"></span>
								</div>
							{% endfor %}
						{% else %}
							<div class="item">
								No attachments yet.
							</div>
						{% endif %}
						</div>
					</div>
					{% if is_expr_granted("hasAnyRole('ROLE_SHIPPING_FILE_UPLOAD')") %}
						<div class="panel-footer">
							<a class="btn btn-primary btn-sm btn-block" href="{{ path('shipping_file', { 'id' :entity.id }) }}">{{ FAIcon('upload') }} Upload</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}