{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('industry') }}">Industries</a></li>
<li><a href="{{ path('industry_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
<li class="active"><a href="{{ path('industry_edit', { 'id' : entity.id }) }}">Edit</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
	<small>Industry ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

{% if form_errors(edit_form) is not empty %}
	{{ form_errors(edit_form) }}<br/>
{% endif %}

{{ form_start(edit_form, {'action': path('industry_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-7">
			{{ form_row(edit_form.name) }}
			{{ form_row(edit_form.description) }}
			
			<div class="form-group form-actions">
				<div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(edit_form.save) }}
					<a href="{{ path('industry_show', { 'id' : entity.id }) }}" class="btn btn-default">Back</a>
				</div>
			</div>
		</div>
	</div>
	
{{ form_widget(edit_form._token) }}
</form>
{% endblock content %}