{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li class="active">Industries</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('industry') }} Industries</h1>
			<div class="pull-right">
				<a class="btn btn-success btn-labeled btn-sm" href="{{ path('industry_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('industry') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>

		<!-- search form -->
		{{ macros.searchFilter(search_form, 'industry') }}
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			 <div id="display-count" class="pull-right">
				 {{ macros.paginationCount(pagination) }}
			</div>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Action</th>
							<th class="col-md-7">{% if pagination.isSorted('i.name') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'Name', 'i.name') }}{% if pagination.isSorted('i.name') %}</em>{% endif %}</th>
							<th class="col-md-4">{% if pagination.isSorted('i.description') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'Description', 'i.description') }}{% if pagination.isSorted('i.description') %}</em>{% endif %}</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
							<tr>
								<td class="actions">
									<div class="btn-group btn-group-sm">
										<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAIcon('cog') }}</button>
										<ul class="dropdown-menu">
											<li><a href="{{ path('industry_show', {'id':entity.id}) }}">{{ FAIcon('search-plus') }} View</a></li>
											<li><a href="{{ path('industry_edit', { 'id': entity.id }) }}">{{ FAIcon('pencil') }} Edit</a></li>
											{{ macros.changeStatus('industry_confirm_change_status', entity) }}
										</ul>
									</div>
								</td>
								<td><a href="{{ path('industry_show', { 'id' : entity.id }) }}">{{ entity.name }}</a>{{ entity|renderTags }}</td>
								<td>{{ entity.description|nl2br }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}