{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Accounts</li>
<li><a href="{{ path('industry') }}">Industries</a></li>
<li class="active"><a href="{{ path('industry_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="btn-group pull-right btn-group-sm">
		<a href="{{ path('industry_edit', { 'id': entity.id }) }}" class="btn btn-primary">{{ FAListIcon('pencil') }} Edit</a>
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="{{ path('industry_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
			<li><a href="{{ path('industry_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
			{{ macros.changeStatus('industry_confirm_change_status', entity) }}
			{{ macros.delete('industry_confirm_delete', entity) }}
		</ul>
	</div>
	<small>Industry ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row">
	<div class="col-md-4">
		<table class="table table-no-border profile">
			<tbody>
				<tr>
					<th>Name</th>
					<td>{{ entity.name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ entity.description|nl2br }}</td>
				</tr>
			</tbody>
		 </table>
	 </div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock %}