<div class="row last-updated-date">
	<div class="col-md-12">
		<p>
		{% if entity.updatedAt and entity.createdAt != entity.updatedAt %}
		<small class="text-muted"><i>Last updated on {{ entity.updatedAt|date('F d, Y \\a\\t g:i:s a') }} by {{ entity.updatedBy }}</i></small><br/>
		{% endif %}
		<small class="text-muted"><i>Created on {{ entity.createdAt|date('F d, Y \\a\\t g:i:s a') }} by {{ entity.createdBy }}</i></small><br/>
		</p>
	</div>
</div>