{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Admin</li>
<li class="active"><a href="{{ path('user') }}">Users</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
				<h1>{{ FAIcon('user') }} Users</h1>
				</div>
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					<div class="pull-right">
						<a class="btn btn-success btn-labeled btn-sm" href="{{ path('fos_user_registration_register') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
						<a class="btn btn-default btn-labeled btn-sm" href="{{ path('user') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
					</div>
				</div>
			</div>
		</div>
	
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-2">Access</th>
							<th class="col-md-2">Name</th>
							<th class="col-md-2">Roles</th>
							<th class="col-md-2">Email</th>	
							<th class="col-md-3">Contact Number</th>
						</tr>
					</thead>
					<tbody>
					{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ FAIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('user_edit', { 'id': entity.id }) }}">{{ FAIcon('pencil') }} Edit</a></li>
										<li><a href="{{ path('user_login_history', { 'id': entity.id }) }}">{{ FAIcon('clock-o') }} Login History</a></li>
										<li class="divider"></li>
										<li><a href="{{ path('user_generate_qr_code', { 'id': entity.id }) }}">{{ FAIcon('qrcode') }} Generate QR Code</a></li>
										{% if entity.enableTwoFactor %}
											<li><a href="{{ path('user_manage_auth', { 'id': entity.id, 'auth' : constant('CI\\CoreBundle\\Entity\\User::AUTH_DISABLE') }) }}">{{ FAIcon('toggle-on') }} Disable Two Factor Authentication</a></li>
										{% else %}
											<li><a href="{{ path('user_manage_auth', { 'id': entity.id, 'auth' : constant('CI\\CoreBundle\\Entity\\User::AUTH_ENABLE') }) }}">{{ FAIcon('toggle-off') }} Enable Two Factor Authentication</a></li>
										{% endif %}
										{% if entity.enabled %}
											<li><a href="{{ path('user_manage_access', { 'id': entity.id, 'access' : constant('CI\\CoreBundle\\Entity\\User::ACCESS_DEACTIVATE') }) }}">{{ icon('remove') }} Deactivate</a></li>
										{% else %}
											<li><a href="{{ path('user_manage_access', { 'id': entity.id, 'access' : constant('CI\\CoreBundle\\Entity\\User::ACCESS_REACTIVATE') }) }}">{{ FAIcon('check') }} Reactivate</a></li>
										{% endif %}
										{% if is_granted('ROLE_SUPER_ADMIN') and app.user.id != entity.id %}
											<li><a href="{{ path('dashboard') }}?_switch_user={{ entity.username }}">{{ FAIcon('retweet') }} Switch to {{ entity.username }}</a></li>
										{% endif %}
										<li><a href="{{ path('user_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash') }} Delete</a></li>
									</ul>
								</div>
							</td>
							<td>
								{% if entity.enabled %}
									<span class="label label-success">Enabled</span>
								{% else %}
									<span class="label label-important">Disabled</span>
								{% endif %}
							</td>
							<td><a href="{{ path('user_show', { 'id' : entity.id }) }}">{{ entity.firstName }} {{ entity.lastName }}</a></td>
							<td>
								{% for role in entity.displayRoles %}
									{{ role }}{% if not loop.last %}, {% endif %}
								{% endfor %}
							</td>
							<td>{{ entity.email }}</td>
							<td>{{ entity.contactNumber }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>
		{% else %}
		<div class="alert">
			No results found.
		</div>
		{% endif %}			
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}