{% extends "CICoreBundle::layout.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Login History <small>User: {{ user.username }}</small></h1>
		</div>
			
		<p class="pull-right">Displaying {{ pagination.getPaginationData['currentItemCount'] }} of {{ pagination.getPaginationData['totalCount'] }}</p>
		
		{% if (pagination.getPaginationData['totalCount']) > 0 %}
			<div class="table-responsive">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th class="col-sm-3">Log ID</th>
							<th class="col-sm-3">Date</th>
							<th class="col-sm-3">IP Address</th>
						</tr>
					</thead>
					<tbody>
					{% for log in pagination %}
						<tr>
							<td>{{ log.id }}</td>
							<td>{{ utils.formatDateTime(log.loggedAt) }}</td>
							<td>{{ log.ip }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
			{{ knp_pagination_render(pagination) }}
			</div>
		{% else %}
			<div class="alert alert-warning">No login histor for this user.</div>
		{% endif %}
	</div>
</div>
{% endblock content %}