{% import 'CICoreBundle::utils.html.twig' as utils %}
{% include 'CIInventoryBundle:PDF:reportPdfStyles.html.twig' %}

<html>
    <body>
        <h1 class="text-center">SALES FORECAST</h1>
        <br/>
        <br/>
        <table>
            <tbody>
                <tr>
                    <th width="18%">Sales Forecast #:</th>
                    <td class="text-bold">{{ rows.id }}</td>
                </tr>
                <tr>
                    <th width="10%">Customer:</th>
                    <td class="text-bold">{{ rows.customer.shortName }}</td>
                </tr>
                <tr>
                    <th>Product:</th>
                    <td class="text-bold">{{ rows.product.displayName }}</td>
                </tr>
                <tr>
                    <th>Year:</th>
                    <td class="text-bold">{{ rows.year }}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <br/>
        <br/>
        <table class="table-report">
            <tbody>
                <tr>
                    <th width="20%">MONTH</th>
                    <th width="40%">QUANTITY</th>
                    <th width="40%">AMOUNT</th>
                </tr>
                <tr>
                    <td class="text-center">January</td>
                    <td class="pull-right">{{ rows.janQty }} kg</td>
                    <td class="pull-right">{{ rows.janAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">February</td>
                    <td class="pull-right">{{ rows.febQty }} kg</td>
                    <td class="pull-right">{{ rows.febAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">March</td>
                    <td class="pull-right">{{ rows.marQty }} kg</td>
                    <td class="pull-right">{{ rows.marAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">April</td>
                    <td class="pull-right">{{ rows.aprQty }} kg</td>
                    <td class="pull-right">{{ rows.aprAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">May</td>
                    <td class="pull-right">{{ rows.mayQty }} kg</td>
                    <td class="pull-right">{{ rows.mayAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">June</td>
                    <td class="pull-right">{{ rows.junQty }} kg</td>
                    <td class="pull-right">{{ rows.junAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">July</td>
                    <td class="pull-right">{{ rows.julQty }} kg</td>
                    <td class="pull-right">{{ rows.julAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">August</td>
                    <td class="pull-right">{{ rows.augQty }} kg</td>
                    <td class="pull-right">{{ rows.augAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">September</td>
                    <td class="pull-right">{{ rows.sepQty }} kg</td>
                    <td class="pull-right">{{ rows.sepAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">October</td>
                    <td class="pull-right">{{ rows.octQty }} kg</td>
                    <td class="pull-right">{{ rows.octAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">November</td>
                    <td class="pull-right">{{ rows.novQty }} kg</td>
                    <td class="pull-right">{{ rows.novAmt }}</td>
                </tr>
                <tr>
                    <td class="text-center">December</td>
                    <td class="pull-right">{{ rows.decQty }} kg</td>
                    <td class="pull-right">{{ rows.decAmt }}</td>
                </tr>
                <br/>
            </tbody>
        </table>
        <br/>
        <table>
                <tr>
                    <td class="totals" colspan="2">TOTAL QUANTITY</td>
                    <td class="totals">{{ rows.totalQty|decimal(2) }}</td>
                </tr>
                <tr>
                    <td class="totals" colspan="2">TOTAL AMOUNT</td>
                    <td class="totals">{{ rows.totalAmt|decimal(2) }}</td>
                </tr>

        </table>
    </body>
</html>
