{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Sales</li>
<li class="active">Sales Forecasts</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('line-chart', 'page-header-icon') }} Sales Forecasts</h1>
			<div class="pull-right">
				<a class="btn btn-success btn-labeled btn-sm" href="{{ path('salesforecast_select') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('salesforecast') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('salesforecast'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.year) }}
					{{ form_row(search_form.customer) }}
					{{ form_row(search_form.product) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'sf.id', 'ID') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'c.shortName', 'Customer') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'p.sku', 'Product') }}</th>
							<th class="col-md-2 amount">Total Quantity <small class="text-muted">(KG)</small></th>
							<th class="col-md-2 amount">Total Amount <small class="text-muted">(PHP)</small></th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('salesforecast_show', { 'id':entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('salesforecast_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
									</ul>
								</div>
							</td>
							<td><a href="{{ path('salesforecast_show', { 'id':entity.id }) }}">{{ entity.id }}</a>{{ entity|renderTags }}</td>
							<td><a href="{{ path('customer_show', { 'id':entity.customer.id }) }}">{{ entity.customer.shortName }}</a></td>
							<td><a href="{{ path('product_show', { 'id':entity.product.id }) }}">{{ entity.product.displayName }}</a></td>
							<td class="amount">{{ entity.totalQty|decimal(2) }}</td>
							<td class="amount">{{ entity.totalAmt|decimal(2) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}