{% macro monthFields(form) %}
<div class="col-sm-6">
	<table class="table table-primary table-collection">
		<thead>
			<tr>
				<th class="col-sm-1"></th>
				<th class="col-sm-2 text-center">Quantity <small>(KG)</small></th>
				<th class="col-sm-2 text-center">Amount <small>(PHP)</small></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-right"><p class="form-control-static">January</p></td>
				<td>{{ form_row(form.janQty) }}</td>
				<td>{{ form_row(form.janAmt) }}</td>
			</tr>
			<tr>
				<td class="text-right"><p class="form-control-static">February</p></td>
				<td>{{ form_row(form.febQty) }}</td>
				<td>{{ form_row(form.febAmt) }}</td>
			</tr>
			<tr>
				<td class="text-right"><p class="form-control-static">March</p></td>
				<td>{{ form_row(form.marQty) }}</td>
				<td>{{ form_row(form.marAmt) }}</td>
			</tr>
			<tr>
				<td class="text-right"><p class="form-control-static">April</p></td>
				<td>{{ form_row(form.aprQty) }}</td>
				<td>{{ form_row(form.aprAmt) }}</td>
			</tr>
			<tr>
				<td class="text-right"><p class="form-control-static">May</p></td>
				<td>{{ form_row(form.mayQty) }}</td>
				<td>{{ form_row(form.mayAmt) }}</td>
			</tr>
			<tr>
				<td class="text-right"><p class="form-control-static">June</p></td>
				<td>{{ form_row(form.junQty) }}</td>
				<td>{{ form_row(form.junAmt) }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-sm-6">
	<table class="table table-primary table-collection">
		<thead>
			<tr>
				<th class="col-sm-1"></th>
				<th class="col-sm-2 text-center">Quantity <small>(KG)</small></th>
				<th class="col-sm-2 text-center">Amount <small>(PHP)</small></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-right"><p class="form-control-static">July</p></td>
				<td>{{ form_row(form.julQty) }}</td>
				<td>{{ form_row(form.julAmt) }}</td>
			</tr>
			<tr>
				<td class="text-right"><p class="form-control-static">August</p></td>
				<td>{{ form_row(form.augQty) }}</td>
				<td>{{ form_row(form.augAmt) }}</td>
			</tr>
			<tr>
				<td class="text-right"><p class="form-control-static">September</p></td>
				<td>{{ form_row(form.sepQty) }}</td>
				<td>{{ form_row(form.sepAmt) }}</td>
			</tr>
			<tr>
				<td class="text-right"><p class="form-control-static">October</p></td>
				<td>{{ form_row(form.octQty) }}</td>
				<td>{{ form_row(form.octAmt) }}</td>
			</tr>
			<tr>
				<td class="text-right"><p class="form-control-static">November</p></td>
				<td>{{ form_row(form.novQty) }}</td>
				<td>{{ form_row(form.novAmt) }}</td>
			</tr>
			<tr>
				<td class="text-right"><p class="form-control-static">December</p></td>
				<td>{{ form_row(form.decQty) }}</td>
				<td>{{ form_row(form.decAmt) }}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endmacro %}

{% macro initScript(form) %}
<script type="text/javascript">
var inventory = angular.module( "inventory" );

inventory.config( function( $interpolateProvider ) {
	$interpolateProvider.startSymbol( "ANGLR_" ).endSymbol( "_ANGLR" );
});

var sfCtrl = inventory.controller( "SalesForecastController", function( $scope, $http ) {
	$scope.totalQty = 0;
	$scope.totalAmt = 0;

	$scope.form = {
		janQty: "{{ form.janQty.vars.value }}", janAmt: "{{ form.janAmt.vars.value }}",
		febQty: "{{ form.febQty.vars.value }}", febAmt: "{{ form.febAmt.vars.value }}",
		marQty: "{{ form.marQty.vars.value }}", marAmt: "{{ form.marAmt.vars.value }}",
		aprQty: "{{ form.aprQty.vars.value }}", aprAmt: "{{ form.aprAmt.vars.value }}",
		mayQty: "{{ form.mayQty.vars.value }}", mayAmt: "{{ form.mayAmt.vars.value }}",
		junQty: "{{ form.junQty.vars.value }}", junAmt: "{{ form.junAmt.vars.value }}",
		julQty: "{{ form.julQty.vars.value }}", julAmt: "{{ form.julAmt.vars.value }}",
		augQty: "{{ form.augQty.vars.value }}", augAmt: "{{ form.augAmt.vars.value }}",
		sepQty: "{{ form.sepQty.vars.value }}", sepAmt: "{{ form.sepAmt.vars.value }}",
		octQty: "{{ form.octQty.vars.value }}", octAmt: "{{ form.octAmt.vars.value }}",
		novQty: "{{ form.novQty.vars.value }}", novAmt: "{{ form.novAmt.vars.value }}",
		decQty: "{{ form.decQty.vars.value }}", decAmt: "{{ form.decAmt.vars.value }}",
	};

	$scope.computeTotals = function() {
		$scope.totalQty =
			( $.removeFloatCommas( $scope.form.janQty ) || 0 ) + ( $.removeFloatCommas( $scope.form.febQty ) || 0 ) +
			( $.removeFloatCommas( $scope.form.marQty ) || 0 ) + ( $.removeFloatCommas( $scope.form.aprQty ) || 0 ) +
			( $.removeFloatCommas( $scope.form.mayQty ) || 0 ) + ( $.removeFloatCommas( $scope.form.junQty ) || 0 ) +
			( $.removeFloatCommas( $scope.form.julQty ) || 0 ) + ( $.removeFloatCommas( $scope.form.augQty ) || 0 ) +
			( $.removeFloatCommas( $scope.form.sepQty ) || 0 ) + ( $.removeFloatCommas( $scope.form.octQty ) || 0 ) +
			( $.removeFloatCommas( $scope.form.novQty ) || 0 ) + ( $.removeFloatCommas( $scope.form.decQty ) || 0 )
		;
		
		$scope.totalAmt =
			( $.removeFloatCommas( $scope.form.janAmt ) || 0 ) + ( $.removeFloatCommas( $scope.form.febAmt ) || 0 ) +
			( $.removeFloatCommas( $scope.form.marAmt ) || 0 ) + ( $.removeFloatCommas( $scope.form.aprAmt ) || 0 ) +
			( $.removeFloatCommas( $scope.form.mayAmt ) || 0 ) + ( $.removeFloatCommas( $scope.form.junAmt ) || 0 ) +
			( $.removeFloatCommas( $scope.form.julAmt ) || 0 ) + ( $.removeFloatCommas( $scope.form.augAmt ) || 0 ) +
			( $.removeFloatCommas( $scope.form.sepAmt ) || 0 ) + ( $.removeFloatCommas( $scope.form.octAmt ) || 0 ) +
			( $.removeFloatCommas( $scope.form.novAmt ) || 0 ) + ( $.removeFloatCommas( $scope.form.decAmt ) || 0 )
		;
	};

	$scope.computeTotals();
});
</script>
{% endmacro %}
janQty: {{ form.janQty.vars.value }},