{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:SalesForecast:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('salesforecast') }}">Sales Forecasts</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('line-chart', 'page-header-icon') }} New Sales Forecast</h1>
</div>

{% if form_errors(form) %}
	{{ form_errors(form) }}
	<br>
{% endif %}

{{ form_start(form, {'action': path('salesforecast_create'), 'method': 'POST', 'attr': {
	'id':'sf-ctrl',
	'class': 'form-horizontal',
	'novalidate' : 'novalidate',
	'ng-controller' : 'SalesForecastController'
} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-5">
					<div class="form-group row">
						{{ form_label(form.customer) }}
						<div class="col-lg-8">
							{{ form_widget(form.customer) }}
							<p class="form-control-static">{{ entity.customer.shortName }}</p>
						</div>
					</div>
					<div class="form-group row">
						{{ form_label(form.product) }}
						<div class="col-lg-8">
							{{ form_widget(form.product) }}
							<p class="form-control-static">{{ entity.product.displayName }}</p>
						</div>
					</div>
					{{ form_row(form.year) }}
				</div>
				
				<div class="col-md-5">
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				{{ macro.monthFields(form) }}
			</div>
			
			<div class="row">
				<div class="col-sm-4 col-sm-offset-8">
					<ul class="totals">
						<li>
							<span class="descr">TOTAL QTY</span> 
							<span ng-bind="totalQty|number:2" class="amount grand-total"></span>
						</li>
						<li>
							<span class="descr">TOTAL AMT</span> 
							<span ng-bind="totalAmt|number:2" class="amount grand-total"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(form.save) }}
				<a href="{{ path('salesforecast') }}" class="btn btn-default">Back</a>
			</div>
		</div>
	</div>
{{ form_widget(form._token) }}
</form>
{% endblock content %}

{% block javascripts %}
{{ macro.initScript(form) }}
{% endblock %}