{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('salesforecast') }}">Sales Forecasts</a></li>
<li class="active">Select</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('line-chart', 'page-header-icon') }} Select Sales Forecast</h1>
</div>

{% if form_errors(form) %}
	{{ form_errors(form) }}
	<br>
{% endif %}

{{ form_start(form, {'action': path('salesforecast_select_redirect'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-5">
					{{ form_row(form.customer) }}
					{{ form_row(form.product) }}
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(form.next) }}
				<a href="{{ path('salesforecast') }}" class="btn btn-default">Back</a>
			</div>
		</div>
	</div>
{{ form_widget(form._token) }}
</form>
{% endblock content %}