{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Sales</li>
<li><a href="{{ path('salesforecast') }}">Sales Forecasts</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}

<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>{{ FAIcon('line-chart', 'page-header-icon') }} Sales Forecast #{{ entity.id }}</h1>
		</div>

		<div class="col-sm-6">
			<div class="pull-right btn-toolbar">
				<div class="btn-group btn-group-md">
					{% if is_expr_granted("hasAnyRole('ROLE_SALESFORECAST_UPDATE')") %}
						<a href="{{ path('salesforecast_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
					{% endif %}
					<a href="{{ path('salesforecast_export', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('print') }} Print</a>
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('salesforecast_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
							{% if is_expr_granted("hasAnyRole('ROLE_SALESFORECAST_DELETE')") %}
								<li class="divider"></li>
								<li><a href="{{ path('salesforecast_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('salesforecast') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-5 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th class="col-xs-4">Customer</th>
						<td><a href="{{ path('customer_show', { 'id':entity.customer.id }) }}">{{ entity.customer.shortName }}</a></td>
					</tr>
					<tr>
						<th>Product</th>
						<td><a href="{{ path('product_show', { 'id':entity.product.id }) }}">{{ entity.product.displayName }}</a></td>
					</tr>
					<tr>
						<th>Year</th>
						<td>{{ entity.year }}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4 col-xs-12">
			</div>
		</div>

		<div class="row">
			<h4 class="padding-sm">Forecast Data</h4>
			<div class="col-md-6">
				<div class="table-responsive">
					<table class="table table-light">
						<thead>
							<tr>
								<th class="col-sm-1"></th>
								<th class="col-sm-2 text-right">Quantity <small>(KG)</small></th>
								<th class="col-sm-2 text-right">Amount <small>(PHP)</small></th>
							</tr>
						</thead>
						<tbody class="text-right">
							<tr>
								<td>January</td>
								<td>{{ entity.janQty }}</td>
								<td>{{ entity.janAmt }}</td>
							</tr>
							<tr>
								<td>February</td>
								<td>{{ entity.febQty }}</td>
								<td>{{ entity.febAmt }}</td>
							</tr>
							<tr>
								<td>March</td>
								<td>{{ entity.marQty }}</td>
								<td>{{ entity.marAmt }}</td>
							</tr>
							<tr>
								<td>April</td>
								<td>{{ entity.aprQty }}</td>
								<td>{{ entity.aprAmt }}</td>
							</tr>
							<tr>
								<td>May</td>
								<td>{{ entity.mayQty }}</td>
								<td>{{ entity.mayAmt }}</td>
							</tr>
							<tr>
								<td>June</td>
								<td>{{ entity.junQty }}</td>
								<td>{{ entity.junAmt }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-md-6">
				<div class="table-responsive">
					<table class="table table-light">
						<thead>
							<tr>
								<th class="col-sm-1"></th>
								<th class="col-sm-2 text-right">Quantity <small>(KG)</small></th>
								<th class="col-sm-2 text-right">Amount <small>(PHP)</small></th>
							</tr>
						</thead>
						<tbody class="text-right">
							<tr>
								<td>July</td>
								<td>{{ entity.julQty }}</td>
								<td>{{ entity.julAmt }}</td>
							</tr>
							<tr>
								<td>August</td>
								<td>{{ entity.augQty }}</td>
								<td>{{ entity.augAmt }}</td>
							</tr>
							<tr>
								<td>September</td>
								<td>{{ entity.sepQty }}</td>
								<td>{{ entity.sepAmt }}</td>
							</tr>
							<tr>
								<td>October</td>
								<td>{{ entity.octQty }}</td>
								<td>{{ entity.octAmt }}</td>
							</tr>
							<tr>
								<td>November</td>
								<td>{{ entity.novQty }}</td>
								<td>{{ entity.novAmt }}</td>
							</tr>
							<tr>
								<td>December</td>
								<td>{{ entity.decQty }}</td>
								<td>{{ entity.decAmt }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-xs-offset-1">
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<ul class="totals">
					<li>
						<span class="descr">TOTAL QTY</span>
						<span class="amount grand-total">{{ entity.totalQty|decimal(2) }}</span>
					</li>
					<li>
						<span class="descr">TOTAL AMT</span>
						<span class="amount grand-total">{{ entity.totalAmt|decimal(2) }}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% if is_expr_granted("hasAnyRole('ROLE_SALESFORECAST_FILE_DOWNLOAD')") %}
	<div class="row padding-sm">
		<h4>Attachments
			{% if is_expr_granted("hasAnyRole('ROLE_SALESFORECAST_FILE_UPLOAD')") %}
				<a href="{{ path('salesforecast_file', {'id':entity.id}) }}" class="btn btn-outline btn-primary btn-xs">{{ FAIcon('plus') }}</a>
			{% endif %}
		</h4>
		{% set imageExtensions = ['jpeg', 'jpg', 'png'] %}

		{% if entity.files|length > 0 %}
			{% set count = 0 %}
			<div class="panel colourable">
				<div class="panel-heading">
					<span class="panel-title"><i class="panel-title-icon fa fa-picture-o"></i>Images</span>
				</div>
				<div class="panel-body">
				{% for file in entity.files if ((file.name|split('.'))|last)|lower in imageExtensions %}
					{% set fileName = file.name|split('.') %}
					{% set count = count + 1 %}
					<div class="padding-sm col-md-2">
						<a href="{{ path('salesforecast_file_download', { 'id': file.id }) }}" class="thumbnail" title="{{ file.name }}">
							<img src="{{ asset(file.webFilePath) | imagine_filter('image_list_thumbnail_square') }}" />
						</a>
					</div>
				{% endfor %}
				{% if count == 0 %}
					<span class="text-bg">No images yet</span>
				{% endif %}
				</div>
			</div>

			{% set count = 0 %}
			<div class="panel colourable">
				<div class="panel-heading">
					<span class="panel-title"><i class="panel-title-icon fa fa-file"></i>Other Files</span>
				</div>
				<div class="panel-body">
				{% for file in entity.files if ((file.name|split('.'))|last)|lower not in imageExtensions %}
					{% set fileName = file.name|split('.') %}
					{% set count = count + 1 %}
					<a href="{{ path('salesforecast_file_download', { 'id': file.id }) }}" class="col-md-12">
						{{ file.name }}
					</a>
				{% endfor %}
				{% if count == 0 %}
					<span class="text-bg">No non-image files yet</span>
				{% endif %}
				</div>
			</div>
		{% else %}
			<div class="item">
				No attachments yet.
			</div>
		{% endif %}
	</div>
{% endif %}

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}

{% endblock content %}
