{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:PutAway:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li><a href="{{ path('putaway') }}">Put Aways</a></li>
<li><a href="{{ path('putaway_show', { 'id' : entity.id }) }}">{{ entity.id }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('archive', 'page-header-icon') }} Put Away # {{ entity.id }}</h1>
	{{ entity|renderStatusTag }}
</div>

{% if form_errors(edit_form) is not empty %}
	{{ form_errors(edit_form) }}<br/>
{% endif %}

{{ form_start(edit_form, {'action': path('putaway_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate', 'ng-controller' : 'PutAwayController' } }) }}
	<div class="row">
		{{ bootstrap_set_style('horizontal') }}
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">
					{% if entity.putAwayType == constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') %}
						<div class="form-group row">
							{{ form_label(edit_form.receiveOrder) }}
							<div class="col-lg-8">
								{{ form_widget(edit_form.receiveOrder) }}
								<p class="form-control-static">{{ entity.receiveOrder.id }}</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-lg-4 required">
								PO #
							</label>
							<div class="col-lg-8">
								<p class="form-control-static">{{ entity.receiveOrder.purchaseOrder.poId }}</p>
							</div>
						</div>
					{% else %}
						<div class="form-group row">
							{{ form_label(edit_form.backload) }}
							<div class="col-lg-8">
								{{ form_widget(edit_form.backload) }}
								<p class="form-control-static">{{ entity.backload.id }}</p>
							</div>
						</div>
					{% endif %}
					<div class="form-group row">
						<label class="control-label col-lg-4 required">
							Warehouse Assigned to PO
						</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ entity.warehouse.name }}</p>
						</div>
					</div>

					{{ form_row(edit_form.putAwayType) }}
				</div>
				<div class="col-sm-6">	
					{{ form_row(edit_form.date) }}
				</div>
			</div>
			
			<br>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="table-responsive">
						{% if edit_form.items.vars.errors|length %}
						<div class="alert alert-danger">
						{{ form_errors(edit_form.items) }}
						</div>
						{% endif %}
						<table class="table table-primary item-collection">
							<thead>
								<tr>
									<th></th>
									<th>Storage Location</th>
									<th>Pallet ID</th>
									<th>Product</th>
									<th>Lot No.</th>
									<th>Production Date</th>
									<th>Qty</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-cloak ng-repeat="(key, item) in form.items" ng-class="{% verbatim %}{ success: item.isIncluded }{% endverbatim %}">
									{{ macro.item(edit_form.items.vars.prototype, edit_form.vars.value.putAwayType) }}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(edit_form.save) }}
						<a href="{{ path('putaway_show', { 'id' : entity.id }) }}" class="btn btn-default">Back</a>
					</div>
				</div>
			</div>
	    </div>
    </div>
    {{ form_widget(edit_form._token) }}
</form>
{% include 'CIInventoryBundle:Misc:typeahead.template.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ macro.generateValues(edit_form, entity, utils) }}
	<script src="{{ asset('assets/js/angular/put_away.js') }}"></script>
{% endblock %}