{% import 'CICoreBundle::utils.html.twig' as utils %}
{% include 'CIInventoryBundle:PDF:reportPdfStyles.html.twig' %}

<html>
	<body>
		<h1 class="text-center">PUT AWAY</h1>
		<p class="pull-right"><b>DATE:</b> {{ utils.formatDate(rows.date) }}</p>
		<br/>
		<br/>
		<table>
			<tbody>
				<tr>
					<th width="9%">Put Away #: </th>
					<td class="text-bold">{{ rows.id }}</td>
				</tr>
				<tr>
					<th width="5%">RO #: </th>
					<td class="text-bold">{{ rows.receiveOrder.id }}</td>
				</tr>
				<tr>
					<th width="19%">Warehouse Assigned to PO: </th>
					<td class="text-bold">{{ rows.warehouse.name }}</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<br/>
		<br/>
		<table class="table-report">
			<tbody>
				<tr>
					<th width="15%">Storage Location</th>
					<th width="8%">Pallet ID</th>
					<th width="14%">Product Barcode</th>
					<th width="33%">Product Name</th>
					<th width="7%">Lot No.</th>
					<th width="14%">Production Date</th>
					<th width="9%">Quantity</th>
				</tr>
				{% for item in rows.items %}
					<tr>
						<td>{{ item.storageLocation.fullLocation }}</td>
						<td class="text-center">{{ item.palletId }}</td>
						<td class="text-center">{{ item.product.barcode }}</td>
						<td class="text-center">{{ item.product.name }}</td>
						<td class="text-center">{{ item.lotNumber }}</td>
						<td>{{ utils.formatDate(item.productionDate) }}</td>
						<td class="pull-right">{{ item.quantity|number_format(2) }} kg</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
