{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li class="active">Put Aways</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<h1>{{ FAIcon('archive', 'page-header-icon') }} Put Aways</h1>
				</div>
				<div class="col-xs-6 col-sm-4 col-sm-offset-2">
					<div class="pull-right">
						<a class="btn btn-default btn-labeled btn-sm" href="{{ path('putaway') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('putaway'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.pwNo) }}
					{{ form_row(search_form.transactionNo) }}
					{{ form_row(search_form.productSku) }}
					{{ form_row(search_form.status) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-6">
					{{ form_row(search_form.type) }}
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'pw.id', 'PW #') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'pw.putAwayType', 'Type') }}</th>
							<th class="col-md-2">Transaction #</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'pw.date', 'Date') }}</th>
							<th class="col-md-4">Products Stored <span class="icon-tooltip" title="Whenever you use the Product SKU filter, this will only show the Products with the matching SKUs." data-toggle="tooltip" data-placement="top"><i class="fa fa-info-circle" ></i></span></th>
						</tr>
					</thead>
					<tbody>
					{% for entity in pagination %}
						<tr>
							<td>
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('putaway_show', { 'id': entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
										{% if entity.isEditable %}
											<li><a href="{{ path('putaway_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{% endif %}				
			            			</ul>
								</div>
							</td>
							<td><a href="{{ path('putaway_show', { 'id': entity.id }) }}">{{ entity.id }}</a>{{ entity|renderTags }}</td>
							<td>
								{% if entity.putAwayType == constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') %}
									Receive Order
								{% else %}
									Backload
								{% endif %}
							</td>
							<td>
								{% if entity.putAwayType == constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') %}
									{{ entity.receiveOrder.id }}
								{% else %}
									{{ entity.backload.id }}
								{% endif %}
							</td>
							<td>{{ utils.formatDate(entity.date) }}</td>
							<td><span class="text-xs">{{ entity.productsPreview|nl2br }}</span></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>
		{% else %}
		<div class="alert">
			No results found.
		</div>
		{% endif %}
		
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
	<script>
		$('.icon-tooltip').tooltip();	
	</script>
{% endblock %}