{% macro item(item, type) %}
<td>
	<label class="checkbox">
		{{ form_widget(item.isIncluded) }}
		<span class="lbl">&nbsp;</span>
	</label>
</td>
<td>
	{{ form_widget(item.storageLocationFromScan) }}

	{% if type == constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') %}
		{{ form_widget(item.receiveOrderItem) }}
	{% else %}
		{{ form_widget(item.backloadItem) }}
	{% endif %}
	
	<br ng-if="item.errors.storageLocationFromScan"/>
	<ul class="help-block text-left" ng-show="item.errors.storageLocationFromScan || !isValidStorageLocation(item.storageLocationFromScan)">
		<li class="text-danger" ng-repeat="error in item.errors.storageLocationFromScan">
			<small ng-bind="error"></small>
		</li>
		<li class="text-danger" ng-show="!isValidStorageLocation(item.storageLocationFromScan)">
			<small>This is not one of the storage locations in the Warehouse.</small>
		</li>
	</ul>
</td>
<td>
	{{ form_widget(item.palletId) }}
	
	<br ng-if="item.errors.palletId"/>
	<ul class="help-block text-left" ng-show="item.errors.palletId">
		<li class="text-danger" ng-repeat="error in item.errors.palletId">
			<small ng-bind="error"></small>
		</li>
	</ul>
</td>
<td>
	<p ng-if="type == 'RO'" class="form-control-static">
		<span ng-bind="item.roItem.product.sku"></span>&nbsp;
		<span ng-bind="item.roItem.product.name"></span>
	</p>
	<p ng-if="type == 'BL'" class="form-control-static">
		<span ng-bind="item.backloadItem.product.sku"></span>&nbsp;
		<span ng-bind="item.backloadItem.product.name"></span>
	</p>
</td>
<td>
	<p ng-if="type == 'RO'" class="form-control-static">
		<span ng-bind="item.roItem.lotNumber"></span>
	</p>
	<p ng-if="type == 'BL'" class="form-control-static">
		<span ng-bind="item.backloadItem.lotNumber"></span>
	</p>
</td>
<td>
	<p ng-if="type == 'RO'" class="form-control-static">
		<span ng-bind="item.roItem.productionDate"></span>
	</p>
	<p ng-if="type == 'BL'" class="form-control-static">
		<span ng-bind="item.backloadItem.productionDate"></span>
	</p>
</td>
<td>
	<p ng-if="type == 'RO'" class="form-control-static">
		<span ng-bind="item.roItem.quantity|number:2"></span>
	</p>
	<p ng-if="type == 'BL'" class="form-control-static">
		<span ng-bind="item.backloadItem.quantity|number:2"></span>
	</p>
</td>
{% endmacro %}

{% macro generateValues(form, entity, utils) %}
<script>
	{% autoescape 'js' %}
	var type = "{{ entity.putAwayType }}";
	var items = {};
	var roItems = {};
	var backloadItems = {};
	
	{% for key, item in form.items %}
		var errors = {
			storageLocationFromScan: [
				{% if item.storageLocationFromScan.vars.errors|length > 0 %}
					{% for error in item.storageLocationFromScan.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			],
			palletId: [
				{% if item.palletId.vars.errors|length > 0 %}
					{% for error in item.palletId.vars.errors %}
						"{{ error.message }}",
					{% endfor %}
				{% endif %}
			]
		};

		items[{{ key }}] = {
			isIncluded: {% if item.vars.value.isIncluded %}true{% else %}false{% endif %},
			storageLocationFromScan: "{{ item.vars.value.storageLocationFromScan|default }}",
			palletId: "{{ item.vars.value.palletId|default }}",
			{% if entity.putAwayType == constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') %}
				roItem: {
					id: "{{ item.vars.value.receiveOrderItem.id }}",
					product: {
						id: "{{ item.vars.value.receiveOrderItem.product.id }}",
						sku: "{{ item.vars.value.receiveOrderItem.product.sku }}",
						barcode: "{{ item.vars.value.receiveOrderItem.product.barcode }}",
						name: "{{ item.vars.value.receiveOrderItem.product.name }}",
					},
					palletId: "{{ item.vars.value.receiveOrderItem.palletId }}",
					productionDate: "{{ utils.formatDate(item.vars.value.receiveOrderItem.productionDate) }}",
					lotNumber: "{{ item.vars.value.receiveOrderItem.lotNumber }}",
					quantity: "{{ item.vars.value.receiveOrderItem.quantity }}",
					maxQty: "{{ item.vars.value.receiveOrderItem.getMaxQtyAllowedToPutAwayFromPW(entity) }}",
					totalPutAway: "{{ item.vars.value.receiveOrderItem.getTotalPutAwayFromPW(entity) }}",
					totalReturned: "{{ item.vars.value.receiveOrderItem.getTotalReturned() }}"
				},
			{% else %}
				backloadItem: {
					id: "{{ item.vars.value.backloadItem.id }}",
					product: {
						id: "{{ item.vars.value.backloadItem.shippingItem.salesOrderItem.quotation.product.id }}",
						sku: "{{ item.vars.value.backloadItem.shippingItem.salesOrderItem.quotation.product.sku }}",
						barcode: "{{ item.vars.value.backloadItem.shippingItem.salesOrderItem.quotation.product.barcode }}",
						name: "{{ item.vars.value.backloadItem.shippingItem.salesOrderItem.quotation.product.name }}",
					},
					palletId: "{{ item.vars.value.backloadItem.palletId }}",
					productionDate: "{{ utils.formatDate(item.vars.value.backloadItem.productionDate) }}",
					lotNumber: "{{ item.vars.value.backloadItem.lotNumber }}",
					quantity: "{{ item.vars.value.backloadItem.quantity }}",
				},
			{% endif %}
			errors: errors
		};
	{% endfor %}

	{% if entity.putAwayType == constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') %}
		{% for key, item in entity.receiveOrder.items %}
			roItems[{{ key }}] = {
				id: "{{ item.id }}",
				product: {
					id: "{{ item.product.id }}",
					sku: "{{ item.product.sku }}",
					barcode: "{{ item.product.barcode }}",
					name: "{{ item.product.name }}",
				},
				palletId: "{{ item.palletId }}",
				productionDate: "{{ utils.formatDate(item.productionDate) }}",
				lotNumber: "{{ item.lotNumber }}",
				quantity: "{{ item.quantity }}",
				maxQty: "{{ item.getMaxQtyAllowedToPutAwayFromPW(entity) }}",
				totalPutAway: "{{ item.getTotalPutAwayFromPW(entity) }}",
				totalReturned: "{{ item.getTotalReturned() }}"
			};
		{% endfor %}
	{% else %}
		{% for key, item in entity.backload.items %}
			backloadItems[{{ key }}] = {
				id: "{{ item.id }}",
				product: {
					id: "{{ item.shippingItem.salesOrderItem.quotation.product.id }}",
					sku: "{{ item.shippingItem.salesOrderItem.quotation.product.sku }}",
					barcode: "{{ item.shippingItem.salesOrderItem.quotation.product.barcode }}",
					name: "{{ item.shippingItem.salesOrderItem.quotation.product.name }}",
				},
				palletId: "{{ item.palletId }}",
				productionDate: "{{ utils.formatDate(item.productionDate) }}",
				lotNumber: "{{ item.lotNumber }}",
				quantity: "{{ item.quantity }}",
			};
		{% endfor %}
	{% endif %}

	{% if entity.putAwayType == constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') %}
		var Warehouse = "{{ entity.receiveOrder.warehouse.id }}";
		var RoNo = "{{ entity.receiveOrder.id }}";
		var backloadNo = "";
		var possibleStorageLocations = {};

		{% for key, storageLocation in entity.receiveOrder.warehouse.storageLocations %}
			{% if storageLocation.active %}
				possibleStorageLocations[{{ key }}] = "{{ storageLocation.fullLocation }}";
			{% endif %}
		{% endfor %}
	{% else %}
		var Warehouse = "{{ entity.backload.shipping.salesOrder.warehouse.id }}";
		var backloadNo = "{{ entity.backload.id }}";
		var RoNo = "";
		var possibleStorageLocations = {};

		{% for key, storageLocation in entity.backload.shipping.salesOrder.warehouse.storageLocations %}
			{% if storageLocation.active %}
				possibleStorageLocations[{{ key }}] = "{{ storageLocation.fullLocation }}";
			{% endif %}
		{% endfor %}
	{% endif %}
	{% endautoescape %}
</script>
{% endmacro %}