{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:PutAway:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li><a href="{{ path('putaway') }}">Put Aways</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('archive', 'page-header-icon') }} New Put Away</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}
{% endif %}

{{ form_start(form, { 'action' : path('putaway_create', { 'type' : entity.putAwayType }), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate', 'ng-controller' : 'PutAwayController' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">
					{% if entity.putAwayType == constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') %}
						<div class="form-group row">
							{{ form_label(form.receiveOrder) }}
							<div class="col-lg-8">
								{{ form_widget(form.receiveOrder) }}
								<p class="form-control-static">{{ entity.receiveOrder.id }}</p>
							</div>
						</div>
					{% else %}
						<div class="form-group row">
							{{ form_label(form.backload) }}
							<div class="col-lg-8">
								{{ form_widget(form.backload) }}
								<p class="form-control-static">{{ entity.backload.id }}</p>
							</div>
						</div>
					{% endif %}

					<div class="form-group row">
						<label class="control-label col-lg-4 required">
							Warehouse
						</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{ entity.warehouse.name }}</p>
						</div>
					</div>

					{{ form_row(form.putAwayType) }}
				</div>
				<div class="col-sm-6">	
					{{ form_row(form.date) }}
				</div>
			</div>
			
			<br>
			<input type="file" id="scannerFileUpload" accept=".txt" class="hidden" on-read-file="parseScannerText($fileContent)">
			<a href="#" id="scannerFileUploadLink">Upload Barcode Data (Put Away)</a>​
			<br>
			<br>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="table-responsive">
						{% if form.items.vars.errors|length %}
						<div class="alert alert-danger">
						{{ form_errors(form.items) }}
						</div>
						{% endif %}
						<table class="table table-primary item-collection">
							<thead>
								<tr>
									<th></th>
									<th>Storage Location</th>
									<th>Pallet ID</th>
									<th>Product</th>
									<th>Lot No.</th>
									<th>Production Date</th>
									<th>Qty</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-cloak ng-repeat="(key, item) in form.items" ng-class="{% verbatim %}{ success: item.isIncluded }{% endverbatim %}">
									{{ macro.item(form.items.vars.prototype, entity.putAwayType) }}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-actions">
						{{ form_widget(form.save) }}
						{% if entity.putAwayType == constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') %}
							<a href="{{ path('purchaseorder_show', { 'id' : entity.purchaseOrder.id }) }}" class="btn btn-default">Back</a>
						{% else %}
							<a href="{{ path('backload_show', { 'id' : entity.backload.id }) }}" class="btn btn-default">Back</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_widget(form._token) }}
</form>
{% include 'CIInventoryBundle:Misc:typeahead.template.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ macro.generateValues(form, entity, utils) }}
	<script src="{{ asset('assets/js/angular/put_away.js') }}"></script>
	<script>
		$(document).ready(function(){
			$("#scannerFileUploadLink").on('click', function(e){
				e.preventDefault();
				$("#scannerFileUpload").trigger('click');
			});
		});
	</script>
{% endblock %}