{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Purchasing</li>
<li><a href="{{ path('putaway') }}">Put Aways</a></li>
<li class="active">View</li>
{% endblock breadcrumbs %}

{% block content %}
{% set warehouseParent = '' %}

<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>{{ FAIcon('archive', 'page-header-icon') }} Put Away # {{ entity.id }}</h1>
			{{ entity|renderStatusTag }}
		</div>

		<div class="col-sm-5">
			<div class="pull-right btn-toolbar">
				<div class="btn-group btn-group-md">
					{% if entity.isEditable and is_expr_granted("hasAnyRole('ROLE_PUTAWAY_UPDATE')") %}
						<a href="{{ path('putaway_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
					{% endif %}
					<a href="{{ path('putaway_export', { 'id': entity.id }) }}" class="btn btn-default">{{ FAIcon('print') }} Print</a>
					<div class="btn-group">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">More {{ FAIcon('caret-down') }}</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('putaway_revision', { 'id': entity.id }) }}">{{ FAIcon('info-circle') }} View Logs</a></li>
							{% if is_expr_granted("hasAnyRole('ROLE_PUTAWAY_DELETE')") %}
								<li><a href="{{ path('putaway_confirm_delete', { 'id': entity.id }) }}">{{ FAIcon('trash-o') }} Delete</a></li>
							{% endif %}
						</ul>
					</div>
				</div>

				<div class="btn-group btn-group-md">
					<a class="btn btn-default" href="{{ path('putaway') }}">{{ FAIcon('th-large') }} List All</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border profile">
					{% if entity.putAwayType == constant('CI\\InventoryBundle\\Entity\\PutAway::TYPE_RECEIVE_ORDER') %}
						{% set warehouseParent = 'PO' %}
						<tr>
							<th class="col-md-4">RO #</th>
							<td><a href="{{ path('receiveorder_show', { 'id' : entity.receiveOrder.id }) }}">{{ entity.receiveOrder.id }}</a></td>
						</tr>
					{% else %}
						{% set warehouseParent = 'SO' %}
						<tr>
							<th class="col-md-4">Backload #</th>
							<td><a href="{{ path('backload_show', { 'id' : entity.backload.id }) }}">{{ entity.backload.id }}</a></td>
						</tr>
					{% endif %}
					<tr>
						<th>Warehouse Assigned to {{ warehouseParent }}</th>
						<td><a href="{{ path('warehouse_show', { 'id' : entity.warehouse.id }) }}">{{ entity.warehouse.name }}</a></td>
					</tr>
				</table>
			</div>
			<div class="col-md-6 col-xs-12">
				<table class="table table-no-border profile">
					<tr>
						<th>Date</th>
						<td>{{ utils.formatDate(entity.date) }}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-light">
						<thead>
							<tr>
								<th class="col-md-2">Storage Location</th>
								<th class="col-md-2">Pallet ID</th>
								<th class="col-md-4">Product</th>
								<th class="col-md-2">Lot No.</th>
								<th class="col-md-1">Production Date</th>
								<th class="col-md-1 text-right">Qty</th>
							</tr>
						</thead>
						<tbody>
							{% for item in entity.items %}
								<tr>
									<td><a href="{{ path('storagelocation_show', { 'id' : item.storagelocation.id }) }}">{{ item.storagelocation.fullLocation }}</a></td>
									<td>{{ item.palletId }}</td>
									<td><a href="{{ path('product_show', { 'id' : item.product.id }) }}">{{ item.product.sku }} {{ item.product.name }}</a></td>
									<td>{{ item.lotNumber }}</td>
									<td>{{ utils.formatDate(item.productionDate) }}</td>
									<td class="text-right">{{ item.quantity|decimal }} <small class="text-muted">kg</small></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
	</div>
</div>
{% endblock content %}
