{% form_theme form 'CICoreBundle::custom_fos_form.html.twig' %}

<div class="page-header">
    <h1>{{ FAIcon('user') }} Edit Profile</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}
{% endif %}

{{ form_start(form, {'action': path('fos_user_profile_edit'), 'method': 'POST', 'attr': {'class': 'form-horizontal fos_user_profile_edit' } }) }}
	<div class="row">
		{{ bootstrap_set_style('horizontal') }}
		<div class="col-sm-12">	 
			 <div class="row">
                <div class="col-sm-5">
					{{ form_row(form.firstName) }}
					{{ form_row(form.lastName) }}
					{{ form_row(form.gender) }}
					{{ form_row(form.birthDate) }}
					{{ form_row(form.contactNumber) }}
                </div>
    			<div class="col-sm-5 col-sm-offset-1">
					{{ form_row(form.username) }}
					{{ form_row(form.email) }}
					{% if is_granted('ROLE_OWNER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
						{{ form_row(form.roles, { 'align_with_widget': true } ) }}
					{% endif %}
					{{ form_row(form.current_password) }}
					{{ form_row(form.enableTwoFactor) }}
					{{ form_widget(form._token) }}
    			</div>
	    	</div>
			
			<div class="row">
			    <div class="col-sm-12">
			        <div class="form-actions">
			        	<button type="submit" class="btn btn-primary submit-button" data-loading-text="Updating..." value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" >{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
		               	<a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">Back</a>
		        	</div>
			    </div>
			</div>
	    </div>	
	</div>
{{ form_rest(form) }}

