{% extends "CICoreBundle::layout.html.twig" %}

{% block breadcrumbs %}
<li>Admin</li>
<li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
<li class="active"><a href="{{ path('fos_user_profile_show') }}">Edit</a></li>
{% endblock %}

{% block fos_user_content %}
	{% include "CICoreBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
<script>
$(document).ready(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true,
		todayHighlight: true,
	});
});  
</script>
{% endblock %}