{% extends "FOSUserBundle::layout.html.twig" %}

{% block breadcrumbs %}
<li>Admin</li>
<li class="active"><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
{% endblock %}

{% block fos_user_content %}
	{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}