<div class="page-header">
    <div class="row">
        <div class="col-sm-7">
            <h1>{{ FAIcon('user') }} Profile</h1>
        </div>
        
        <div class="col-sm-5">
            <div class="pull-right">
                <div class="btn-group">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default">{{ FAIcon('pencil') }} Edit</a>
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-default">{{ FAIcon('lock') }} Change Password</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="row">
   			<div class="col-md-5 col-xs-12">
   			    <table class="table table-no-border profile">
   			    	<tr>
   			    		<th class="col-xs-4">{{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }}</th>
   			    		<td>{{ user.firstname }}</td>
   			    	</tr>   	
   			    	<tr>
				 		<th>{{ 'profile.show.lastname'|trans({}, 'FOSUserBundle') }}</th>
				 		<td>{{ user.lastname }}</td>
				 	</tr>
				 	<tr>
				    	<th>{{ 'profile.show.gender'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.gender }}</td>
				    </tr>
				 	<tr>
				    	<th>{{ 'profile.show.birthdate'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ utils.formatDate(user.birthdate) }}</td>
				    </tr>
				 	<tr>
				    	<th>{{ 'profile.show.contactnumber'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.contactnumber }}</td>
				    </tr>		        
   			    </table>
   			</div>
   			<div class="col-md-6 col-xs-12">
   			    <table class="table table-no-border profile">
   			    	<tr>
				    	<th class="col-xs-4">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.email }}</td>
				    </tr>
	    			<tr>
				    	<th>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
				    	<td>{{ user.username }}</td>
				    </tr>
				 	<tr> 	
				    	<th>{{ 'profile.show.roles'|trans({}, 'FOSUserBundle') }} </th>
				    	<td>
					 		<ul>
						 		{% for role in user.displayRoles %}
						 			<li>{{ role }}</li>
						 		{% endfor %}
					 		</ul>
				 		</td>
				    </tr>
				    <tr>
				    	<th>Enable Two Factor Authentication</th>
				    	<td>{{ label(user.enableTwoFactor ? 'Yes' : 'No') }}</td>
				    </tr>
				    {% if user.enableTwoFactor %}
						{% if user.getGoogleAuthenticatorSecret is null %}
							<tr>
								<th></th>
								<td>
									<a href="{{ path('profile_generate_qr_code') }}" class="btn btn-default">{{ FAIcon('qrcode') }} Generate QR Code</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<th>QR Code</th>
								<td><img src="{{ url }}"/></td>
							</tr>
						{% endif %}
					{% endif %}
			    </table>
   			</div>
   		</div>
		
        {% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': user } %}
	</div>
</div>