{% block form_label %}
{% spaceless %}
	{% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
	{% set label_col = label_col|default(4) %}
	
	{% if attr.optional_text is defined %}
        {% set optional_text = attr.optional_text %}
	{% else %}
		{% set optional_text = true %}
    {% endif %}

    <label class="control-label col-lg-{{ label_col }}" for="{{ id }}">
    	{{ id|trans([], 'FOSUserBundle') }}
    	{% if required == false and optional_text == true %}
			<small class="optional text-muted">(optional)</small>
		{% endif %}
	</label>
{% endspaceless %}
{% endblock form_label %}

{% block form_row %}
{% spaceless %}
	{% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}

    {% set label_col = label_col|default(4) %}
    {% set widget_col = widget_col|default(8) %}

    <div class="form-group row{% if errors %} has-error{% endif %}">
        {{ form_label(form, label|default(null)) }}
        
        <div class="col-lg-{{ widget_col }}">
			{{ block('form_input_group') }}
			{% if errors %} 
				{{ form_errors(form) }}
			{% endif %}
		</div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_input_group %}
{% spaceless %}
    {% if attr.input_group is defined and attr.input_group is not empty %}
        {% set input_group = attr.input_group %}
    {% endif %}
    {% set input_group = input_group|default({}) %}
    {% if input_group is not empty %}
        {% set ig_size_class = '' %}
        {% if input_group.size is defined and input_group.size == 'large' %}
            {% set ig_size_class = ' input-group-lg' %}
        {% endif  %}
        {% if input_group.size is defined and input_group.size == 'small' %}
            {% set ig_size_class = ' input-group-sm' %}
        {% endif  %}
        <div class="input-group{{ ig_size_class }} {% if attr.datepicker is defined %}date{% endif %}">
            {% if input_group.prepend is defined and input_group.prepend is not empty %}
                <span class="input-group-addon">{{ input_group.prepend }}</span>
            {% endif %}
            {{ form_widget(form) }}
            {% if input_group.append is defined and input_group.append is not empty %}
                <span class="input-group-addon">{% if attr.datepicker is defined %}<span class="fa fa-{{ input_group.append }}"></span>{% else %}{{ input_group.append }}{% endif %}</span>
            {% endif %}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endspaceless %}
{% endblock form_input_group %}