{% extends '::base.html.twig' %}
{% import 'CICoreBundle::utils.html.twig' as utils %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block title %}Inventory{% endblock %}

{% block body %}
<div id="main-wrapper">
	<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
		<!-- Main menu toggle -->
		<button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
		
		<div class="navbar-inner">
			<!-- Main navbar header -->
			<div class="navbar-header">
				<!-- Logo -->
				<a href="{{ path("dashboard") }}" class="navbar-brand">
					<div><img src="{{ asset('assets/img/logo-one.png') }}" /></div>
					COMQUEST
				</a>
	
				<!-- Main navbar toggle -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
	
			</div> <!-- / .navbar-header -->
	
			<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
				<div>
					
					<div class="right clearfix">
						<ul class="nav navbar-nav pull-right right-navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
									<img src="{{ asset("assets/img/default_profile.jpg") }}" alt="">
									<span>{{ app.user.getName }}</span>
								</a>
								<ul class="dropdown-menu">
									{% if is_granted('ROLE_ADMIN') %}
										<li><a href="{{ path('fos_user_registration_register') }}">{{ icon('user') }}&nbsp;&nbsp;User Registration</a></li>
										<li><a href="{{ path('user') }}">{{ FAIcon('list-ul') }}&nbsp;&nbsp;List Users</a></li>
										<li class="divider"></li>
									{% endif %}
									{% if is_expr_granted("hasAnyRole('ROLE_SALESACTIVITY_LIST')") %}
										<li><a href="{{ path('salesactivity') }}">{{ FAIcon('tasks') }}&nbsp;&nbsp;My Sales Activities</a></li>
									{% endif %}
									<li><a href="{{ path('fos_user_profile_show') }}">{{ icon('user') }}&nbsp;&nbsp;Profile</a></li>
									{# <li><a href="#">{{ icon('cog') }}&nbsp;&nbsp;Account Settings</a></li> #}
									<li class="divider"></li>
									<li><a href="{{ path('fos_user_security_logout') }}">{{ icon('off') }}&nbsp;&nbsp;{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
									{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
										<li class="divider"></li>
										<li><a href="{{ path('user') }}?_switch_user=_exit">{{ icon('retweet') }}&nbsp;&nbsp;Back to Admin Account</a></li>
									{% endif %}
								</ul>
							</li>
						</ul> <!-- / .navbar-nav -->
					</div> <!-- / .right -->
				</div>
			</div> <!-- / #main-navbar-collapse -->
		</div> <!-- / .navbar-inner -->
	</div> <!-- / #main-navbar -->
	<!-- /2. $END_MAIN_NAVIGATION -->
		
	<div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<ul class="navigation">
				<li>
					<a href="{{ path("dashboard") }}"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
				</li>
				
				{% if is_expr_granted("hasAnyRole('ROLE_SUPPLIER_LIST', 'ROLE_CUSTOMER_LIST')") %}
					<li class="mm-dropdown mm-dropdown-root">
						<a href="#">{{ FAIcon("users", "menu-icon") }}<span class="mm-text mmc-dropdown-delay animated fadeIn">Accounts</span></a>
						<ul class="mmc-dropdown-delay animated fadeInLeft">
							{% if is_granted('ROLE_SUPPLIER_LIST') %}
								<li><a href="{{ path('supplier') }}"><span class="mm-text">Suppliers</span></a></li>
							{% endif %}
							{% if is_granted('ROLE_CUSTOMER_LIST') %}
								<li><a href="{{ path('customer') }}"><span class="mm-text">Customers</span></a></li>
							{% endif %}
						</ul>
					</li>
				{% endif %}
				
				{% if is_expr_granted("hasAnyRole('ROLE_PRODUCT_LIST', 'ROLE_WAREHOUSE_LIST')") %}
				<li class="mm-dropdown mm-dropdown-root">
					<a href="#">{{ FAIcon("shopping-cart", "menu-icon") }}<span class="mm-text">Inventory</span></a>
					<ul class="mmc-dropdown-delay animated fadeInLeft">
						{% if is_granted('ROLE_PRODUCT_LIST') %}
							<li><a href="{{ path('product') }}"><span class="mm-text">Products</span></a></li>
						{% endif %}
						{% if is_granted('ROLE_WAREHOUSE_LIST') %}
    						<li><a href="{{ path("warehouse_dashboard") }}"><span class="mm-text">Warehouse Dashboard</span></a></li>
    						<li><a href="{{ path('inventorylog') }}"><span class="mm-text">Inventory Log</span></a></li>
						{% endif %}
					</ul>
				</li>
				{% endif %}
					
				{% if is_expr_granted("hasAnyRole('ROLE_PURCHASEORDER_LIST', 'ROLE_RECEIVEORDER_LIST','ROLE_PUTAWAY_LIST', 'ROLE_PURCHASERETURN_LIST')") %}
					{% set links = {
						0 : { "path" : path('purchaseorder'), "label" : "Purchase Orders" },
						1 : { "path" : path('receiveorder'), "label" : "Receive Orders" },
						2 : { "path" : path('putaway') , "label" : "Put Aways" },
						3 : { "path" : path('purchasereturn') , "label" : "Shipment Discrepancy Notices" },
					} %}
					
					{% set access = [] %}
					{% if is_granted('ROLE_PURCHASEORDER_LIST') %}
						{% set access = access|merge([0]) %}
					{% endif %}
					{% if is_granted('ROLE_RECEIVEORDER_LIST') %}
						{% set access = access|merge([1]) %}
					{% endif %}
					{% if is_granted('ROLE_PUTAWAY_LIST') %}
						{% set access = access|merge([2]) %}
					{% endif %}
					{% if is_granted('ROLE_PURCHASERETURN_LIST') %}
						{% set access = access|merge([3]) %}
					{% endif %}
					
					{{ macros.navListItem("Purchasing", "credit-card", access, links) }}
				{% endif %}
				
				{% if is_expr_granted("hasAnyRole('ROLE_QUOTATION_LIST', 'ROLE_SALESORDER_LIST', 'ROLE_SHIPPING_LIST', 'ROLE_ORDERPICKING_LIST', 'ROLE_BACKLOAD_LIST', 'ROLE_SALESRETURN_LIST', 'ROLE_SALESFORECAST_LIST')") %}
					{% set links = {
						0 : { "path" : path('quotation') , "label" : "Quotations" },
						1 : { "path" : path('salesorder') , "label" : "Sales Orders" },
						2 : { "path" : path('shipping') , "label" : "Deliveries" },
						3 : { "path" : path('orderpicking') , "label" : "Order Pickings" },
						4 : { "path" : path('backload') , "label" : "Backloads" },
						5 : { "path" : path('salesreturn') , "label" : "Sales Returns" },
						6 : { "path" : path('salesforecast') , "label" : "Sales Forecasts" },
					} %}
					
					{% set access = [] %}
					{% if is_granted('ROLE_QUOTATION_LIST') %}
						{% set access = access|merge([0]) %}
					{% endif %}
					{% if is_granted('ROLE_SALESORDER_LIST') %}
						{% set access = access|merge([1]) %}
					{% endif %}
					{% if is_granted('ROLE_SHIPPING_LIST') %}
						{% set access = access|merge([2]) %}
					{% endif %}
					{% if is_granted('ROLE_ORDERPICKING_LIST') %}
						{% set access = access|merge([3]) %}
					{% endif %}
					{% if is_granted('ROLE_BACKLOAD_LIST') %}
						{% set access = access|merge([4]) %}
					{% endif %}
					{% if is_granted('ROLE_SALESRETURN_LIST') %}
						{% set access = access|merge([5]) %}
					{% endif %}
					{% if is_granted('ROLE_SALESFORECAST_LIST') %}
						{% set access = access|merge([6]) %}
					{% endif %}
						
					{{ macros.navListItem("Sales", "money", access, links) }}
				{% endif %}
				
				{% if is_expr_granted("hasAnyRole('ROLE_SALES_ACTIVITY_REPORT', 'ROLE_SALES_ACTIVITY_CUSTOMER_REPORT', 'ROLE_SALES_ORDER_REPORT', 'ROLE_DELIVERY_REPORT', 'ROLE_INVENTORY_REPORT', 'ROLE_SALES_FORECAST_REPORT', 'ROLE_PRICE_LIST_REPORT', 'ROLE_SALES_FORECAST_REPORT', 'ROLE_RECEIVING_REPORT', 'ROLE_PUTAWAY_REPORT', 'ROLE_STAGING_INVENTORY_REPORT', 'ROLE_ORDER_PICKING_REPORT')") %}
					{% set links = {
						0 : { "path" : path('salesactivity_report'), "label" : "Sales Activity Report" },
						1 : { "path" : path('salesactivity_report_customer'), "label" : "Sales Activity Customer Report" },
						2 : { "path" : path('get_purchase_order') , "label" : "Purchase Order Report" },
						3 : { "path" : path('get_sales_order_list'), "label" : "Sales Order Report" },
						4 : { "path" : path('salesreport_deliveryschedule'), "label" : "Delivery Schedule Report" },
						5 : { "path" : path('get_inventory_list'), "label" : "Inventory Report" },
						6 : { "path" : path('get_warehouse_inventory'), "label" : "Warehouse Inventory Report" },
						7 : { "path" : path('quotationreport_pricehistory') , "label" : "Price History Report" },
						8 : { "path" : path('salesreport_salesforecast'), "label" : "Sales Forecast Report" },
						9 : { "path" : path('get_receive_order_item_receiving_list'), "label" : "Receiving Report" },
						10 : { "path" : path('get_sales_by_customer_and_sales_agent_report'), "label" : "Sales By Customer & Sales Agent Report" },
						11 : { "path" : path('get_sales_item_supplier'), "label" : "Sales by Item & by Supplier Report" },
						12 : { "path" : path('get_sales_by_customer_and_industry_report'), "label" : "Sales by Customer & by Industry Report" },
						13 : { "path" : path('get_put_away_item_putaway_list'), "label" : "Put Away Report" },
						14 : { "path" : path('get_staging_inventory_list'), "label" : "Staging Inventory Report" },
						15 : { "path" : path('get_order_picking_list'), "label" : "Order Picking Report" }
					} %}
					
					{% set access = [] %}
					{% if is_granted('ROLE_SALES_ACTIVITY_REPORT') %}
						{% set access = access|merge([0]) %}
					{% endif %}
					{% if is_granted('ROLE_SALES_ACTIVITY_CUSTOMER_REPORT') %}
						{% set access = access|merge([1]) %}
					{% endif %}
					{% if is_granted('ROLE_PURCHASE_ORDER_REPORT') %}
						{% set access = access|merge([2]) %}
					{% endif %}
					{% if is_granted('ROLE_SALES_ORDER_REPORT') %}
						{% set access = access|merge([3]) %}
					{% endif %}
					{% if is_granted('ROLE_DELIVERY_REPORT') %}
						{% set access = access|merge([4]) %}
					{% endif %}
					{% if is_granted('ROLE_INVENTORY_REPORT') %}
						{% set access = access|merge([5]) %}
					{% endif %}
					{% if is_granted('ROLE_WAREHOUSE_INVENTORY_REPORT') %}
						{% set access = access|merge([6]) %}
					{% endif %}
					{% if is_granted('ROLE_PRICE_LIST_REPORT') %}
						{% set access = access|merge([7]) %}
					{% endif %}
					{% if is_granted('ROLE_SALES_FORECAST_REPORT') %}
						{% set access = access|merge([8]) %}
					{% endif %}
					{% if is_granted('ROLE_RECEIVING_REPORT') %}
						{% set access = access|merge([9]) %}
					{% endif %}
					{% if is_granted('ROLE_SALES_CUSTOMER_AGENT_REPORT') %}
						{% set access = access|merge([10]) %}
					{% endif %}
					{% if is_granted('ROLE_SALES_ITEM_SUPPLIER_REPORT') %}
						{% set access = access|merge([11]) %}
					{% endif %}
					{% if is_granted('ROLE_SALES_CUSTOMER_INDUSTRY_REPORT') %}
						{% set access = access|merge([12]) %}
					{% endif %}
					{% if is_granted('ROLE_PUTAWAY_REPORT') %}
						{% set access = access|merge([13]) %}
					{% endif %}
					{% if is_granted('ROLE_STAGING_INVENTORY_REPORT') %}
						{% set access = access|merge([14]) %}
					{% endif %}
					{% if is_granted('ROLE_ORDER_PICKING_REPORT') %}
						{% set access = access|merge([15]) %}
					{% endif %}
					{{ macros.navListItem("Reports", "folder-open", access, links) }}
				{% endif %}
				
				{% if is_expr_granted("hasAnyRole('ROLE_CATEGORY_LIST', 'ROLE_PACKAGING_LIST', 'ROLE_INDUSTRY_LIST', 'ROLE_CURRENCY_LIST')") %}
				<li class="mm-dropdown mm-dropdown-root">
					<a href="#">{{ FAIcon("cogs", "menu-icon") }}<span class="mm-text mmc-dropdown-delay animated fadeIn">Settings</span></a>
					<ul class="mmc-dropdown-delay animated fadeInLeft">
						{% if is_granted('ROLE_CATEGORY_LIST') %}
							<li><a href="{{ path('category') }}"><span class="mm-text">Categories</span></a></li>
						{% endif %}
						{% if is_granted('ROLE_PACKAGING_LIST') %}
							 <li><a href="{{ path('packaging') }}"><span class="mm-text">Packaging</span></a></li>
						{% endif %}					
						{% if is_granted('ROLE_CURRENCY_LIST') %}
							<li><a href="{{ path('currency') }}"><span class="mm-text">Currencies</span></a></li>
						{% endif %}
						{% if is_granted('ROLE_INDUSTRY_LIST') %}
							<li><a href="{{ path('industry') }}"><span class="mm-text">Industries</span></a></li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<li><a href="{{ path('fos_user_group_list') }}"><span class="mm-text">Roles</span></a></li>
						{% endif %}
						{% if is_granted('ROLE_WAREHOUSE_LIST') %}
							<li><a href="{{ path('warehouse') }}"><span class="mm-text">Warehouses</span></a></li>
						{% endif %}
						{% if is_granted('ROLE_STORAGELOCATION_LIST') %}
							<li><a href="{{ path('storagelocation') }}"><span class="mm-text">Storage Locations</span></a></li>
						{% endif %}
					</ul>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
	
	<div id="content-wrapper">
		<div id="pa-page-alerts-box">
		{% for key, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="alert alert-page pa_page_alerts_default alert-{{ key }} alert-dark" data-animate="true">
					{{ message|trans({}, 'FOSUserBundle') }}
					<button type="button" class="close" data-dismiss="alert">×</button>
				</div>
			{% endfor %}
		{% endfor %}
		</div>
		{% if block('breadcrumbs') %}
		<ul class="breadcrumb breadcrumb-page">

			{% block breadcrumbs %}{% endblock breadcrumbs %}

		</ul>
		{% endif %}
		
		{% block content %}{% block fos_user_content %}{% endblock fos_user_content %}{% endblock content %}
		
		<div id="main-menu-bg"></div>
	</div>
	<!-- Footer -->
	<div id="footer" class="text-center text-default">{% block footer %}<p><small>&copy; Copyright 2015 Comquest. All rights reserved.</small></p>{% endblock footer %}</div>
</div> <!-- main wrapper -->
{% endblock body %}

{% block layout_scripts %}
<script type="text/javascript">
	var init = [];
	init.push(function () {
		$('#main-navbar-notifications').slimScroll({ height: 250 });
		$('#main-navbar-messages').slimScroll({ height: 250 });
	});

	window.PixelAdmin.start(init);
</script>
<script src="{{ asset('assets/js/sidebar.js') }}"></script>

{% block javascripts %}{% endblock %}
{% endblock %}