{% extends '::base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/pages.min.css') }}">
<style>
.page-signin .password-reset-form {
	display: block;
	position: inherit;
	padding: 0 0 0 0;
}
</style>
{% endblock %}

{% block bodyClass %}page-signin{% endblock %}

{% block fos_login %}
<div id="page-signin-bg">
	<!-- Background overlay -->
	<div class="overlay"></div>
	<img src="{{ asset('assets/img/bg-login.jpg') }}" alt="">
</div>

<!-- Container -->
<div class="signin-container">

	<!-- Left side -->
	<div class="signin-info">
		<div class="logo text-center">
			Inventory
		</div>
	</div>
	<!-- / Left side -->

	<!-- Right side -->
	{% block right_side %}
	{% endblock right_side %}
	<!-- Right side -->
</div>
<!-- / Container -->
	
<div class="footer">
    <p>&copy; Copyright 2015 Creating Info. All rights reserved.</p>
</div>
{% endblock %}

{% block layout_scripts %}
<script type="text/javascript">
var init = [];
// Resize BG
init.push(function () {
	var $ph  = $('#page-signin-bg'),
		$img = $ph.find('> img');

	$(window).on('resize', function () {
		$img.attr('style', '');
		if ($img.height() < $ph.height()) {
			$img.css({
				height: '100%',
				width: 'auto'
			});
		}
	});
});
window.PixelAdmin.start(init);
</script>
{% block javascripts %}{% endblock %}
{% endblock %}