{%- macro formatDate(dateValue, customFormat) -%}
	{%- set format = 'M d, Y' -%}
	{%- if customFormat is not empty -%}
		{%- set format = customFormat -%}
	{%- endif -%}
	{%- if dateValue -%}
		{{ dateValue|date(format) }}
	{%- endif -%}
{%- endmacro -%}

{%- macro formatDateTime(dateValue, customFormat) -%}
	{%- set format = 'M d, Y @ H:i:s' -%}
	{%- if customFormat is not empty -%}
		{%- set format = customFormat -%}
	{%- endif -%}
	{%- if dateValue -%}
		{{ dateValue|date(format) }}
	{%- endif -%}
{%- endmacro -%}

{% macro imageThumbnail(form, image, label, form_input_name, fileName) %}
<div class="image-container">
	{% set imageClass = '' %}
	{% set hasLabel = label|default(1) %}
	{% set imageExtensions = ['jpeg', 'jpg', 'png', 'gif'] %}
	{% set ext = image|split('.') %}
	{% set inputName = form_input_name ? form_input_name ~ ':' : '' %}
	
	{% if image %}
	{% set imageClass = 'hide' %}
	<div class="image-thumbnail">
		<div class="form-group row">
			{% if hasLabel == 1 %}{{ form_label(form[inputName ~ 'file']) }}{% endif %}
			<div class="col-lg-8">
				{% if (ext|last)|lower in imageExtensions %}
					<a href="{{ asset(image) }}" target="_blank">
				    	<img class="img-thumbnail" src="{{ asset(image)|imagine_filter('image_thumbnail') }}" />
				    </a>
				{% else %}
					{{ fileName|default('file.' ~ ext|last) }}
				{% endif %}
			    <a class="btn btn-danger btn-xs change-image-btn">{{ FAIcon("times") }} Remove</a>
		    </div>
		</div>
	</div>
    {% endif %}
    
    {{ form_widget(form[inputName ~ 'changeImage']) }}
    
	<div class="file-input-container {{ imageClass }}">
   		{{ form_row(form[inputName ~ 'file']) }}
   	</div>
   	{% if hasLabel == 1 %}
   	<p class="col-md-offset-4 text-muted">Please ensure resolution has aspect ratio of 16:10, 16:9 or 4:3 to avoid cropping.</p>
   	{% endif %}
</div>
{% endmacro %}

{% macro sortableTableHeader(pagination, rel, label) %}
	{% if pagination.isSorted(rel) %}<em>{% endif %}{{ knp_pagination_sortable(pagination, label, rel) }}{% if pagination.isSorted(rel) %}</em>{% endif %}
{% endmacro %}

{% macro activeLabel(entity) %}
	{% if not entity.active %} {{ label_danger('Inactive') }}{% endif %}
{% endmacro %}

{% macro newLabel(entity) %}
	{% if entity.createdAt|date("m/d/Y") == "now"|date("m/d/Y") %} {{ label_warning('New') }}{% endif %}
{% endmacro %}

{% macro fileUploadPreview() %}
{% spaceless %}
<div class="dz-preview dz-file-preview">
	<div class="dz-details">
		<div class="dz-filename"><span data-dz-name></span></div>
		<div class="dz-size">File size: <span data-dz-size></span></div>
		<div class="dz-thumbnail-wrapper">
			<div class="dz-thumbnail">
				<img data-dz-thumbnail>
				<span class="dz-nopreview">No preview</span>
				<div class="dz-success-mark">{{ FAIcon("check-circle-o") }}</div>
				<div class="dz-error-mark">{{ FAIcon("times-circle-o") }}</div>
				<div class="dz-error-message"><span data-dz-errormessage></span></div>
			</div>
		</div>
	</div>
	<div class="progress progress-striped active">
		<div class="progress-bar progress-bar-success" data-dz-uploadprogress></div>
	</div>
</div>
{% endspaceless %}
{% endmacro %}