{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li class="active">Storage Locations</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <h1>{{ FAIcon('cube') }} Storage Locations</h1>
            <div class="pull-right">
        		<a class="btn btn-success btn-labeled btn-sm" href="{{ path('storagelocation_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
        		<a class="btn btn-default btn-labeled btn-sm" href="{{ path('storagelocation') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
            </div>
	    </div>
	    
	    <!-- search form -->
	    {{ macros.searchFilter(search_form, 'storagelocation') }}
	    <!-- end of search form -->
	    
	    {% if pagination.getPaginationData['totalCount'] > 0 %}
	         <div id="display-count" class="pull-right">
	             {{ macros.paginationCount(pagination) }}
    		</div>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Action</th>
							<th class="col-md-1">{% if pagination.isSorted('sl.id') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'Storage Location #', 'sl.id') }}{% if pagination.isSorted('sl.id') %}</em>{%  endif %}</th>
							<th class="col-md-3">{% if pagination.isSorted('w.name') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'Warehouse', 'w.name') }}{% if pagination.isSorted('w.name') %}</em>{%  endif %}</th>
							<th class="col-md-3">{% if pagination.isSorted('sl.fullLocation') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'Full Location', 'sl.fullLocation') }}{% if pagination.isSorted('sl.fullLocation)') %}</em>{%  endif %}</th>
							<th class="col-md-1">{% if pagination.isSorted('sl.warehouseNumber') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'Warehouse Number', 'sl.warehouseNumber') }}{% if pagination.isSorted('sl.warehouseNumber') %}</em>{%  endif %}</th>
							<th class="col-md-1">{% if pagination.isSorted('sl.lane') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'Lane', 'sl.lane') }}{% if pagination.isSorted('sl.lane') %}</em>{%  endif %}</th>
							<th class="col-md-1">{% if pagination.isSorted('sl.row') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'Row', 'sl.row') }}{% if pagination.isSorted('sl.row') %}</em>{%  endif %}</th>
							<th class="col-md-1">{% if pagination.isSorted('sl.highLevelNumber') %}<em>{% endif %}{{ knp_pagination_sortable(pagination, 'High Level Number', 'sl.highLevelNumber') }}{% if pagination.isSorted('sl.highLevelNumber') %}</em>{%  endif %}</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
							<tr>
								<td class="actions">
									<div class="btn-group btn-group-sm">
										<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAIcon('cog') }}</button>
										<ul class="dropdown-menu">
											<li><a href="{{ path('storagelocation_show', {'id':entity.id}) }}">{{ FAIcon('search-plus') }} View</a></li>
											<li><a href="{{ path('storagelocation_edit', { 'id': entity.id }) }}">{{ FAIcon('pencil') }} Edit</a></li>
											{{ macros.changeStatus('storagelocation_confirm_change_status', entity) }}
										</ul>
									</div>
								</td>
								<td><a href="{{ path('storagelocation_show', { 'id' : entity.id }) }}">{{ entity.id }}</a>{{ entity|renderTags }}</td>
								<td>{{ entity.warehouse.name }}</td>
								<td>{{ entity.fullLocation }}</td>
								<td>{{ entity.warehouseNumber }}</td>
								<td>{{ entity.lane }}</td>
								<td>{{ entity.row }}</td>
								<td>{{ entity.highLevelNumber }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
		    	{{ knp_pagination_render(pagination) }}
		    </div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block javascripts %}
	<script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}