{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('storagelocation') }}">Storage Locations</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('cube', 'page-header-icon') }} New Storage Location</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}<br/>
{% endif %}

{{ form_start(form, {'action': path('storagelocation_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-7">
			{{ form_row(form.warehouse) }}
			{{ form_row(form.warehouseNumber) }}
			{{ form_row(form.lane) }}
			{{ form_row(form.row) }}
			{{ form_row(form.highLevelNumber) }}
			<div class="form-group form-actions">
				<div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(form.save) }}
					<a href="{{ path('storagelocation') }}" class="btn btn-default">Back</a>
				</div>
			</div>
		</div>
	</div>
	
{{ form_widget(form._token) }}
</form>
{% endblock content %}