{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('storagelocation') }}">Storage Locations</a></li>
<li class="active"><a href="{{ path('storagelocation_show', { 'id' : entity.id }) }}">Storage Location # {{ entity.id }}</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="btn-group pull-right btn-group-sm">
        <a href="{{ path('storagelocation_edit', { 'id': entity.id }) }}" class="btn btn-primary">{{ FAListIcon('pencil') }} Edit</a>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="{{ path('storagelocation_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
			<li><a href="{{ path('storagelocation_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
			{{ macros.changeStatus('storagelocation_confirm_change_status', entity) }}
		</ul>
	</div>
	<small>Storage Location ID #{{ entity.id }}</small>
	<br/>
	<h1>{{ entity.fullLocation }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row">
	<div class="col-md-4">
		<table class="table table-no-border profile">
		    <tbody>
		        <tr>
		            <th>Warehouse</th>
		            <td>{{ entity.warehouse.name }}</td>
		        </tr>
		        <tr>
		            <th>Warehouse Number</th>
		            <td>{{ entity.warehouseNumber }}</td>
		        </tr>
		        <tr>
		            <th>Lane</th>
		            <td>{{ entity.lane }}</td>
		        </tr>
		        <tr>
		            <th>Row</th>
		            <td>{{ entity.row }}</td>
		        </tr>
		        <tr>
		            <th>High Level Number</th>
		            <td>{{ entity.highLevelNumber }}</td>
		        </tr>
	        </tbody>
	     </table>
	 </div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock %}